.hero-figure {
    position: relative;
    z-index: 1;
    margin: 25px 0;
    padding-bottom: 36.9666%;
    text-align: center;
}

.hero-figure::before {
	content: '';
	position: absolute;
	z-index: -1;
	top: -45px;
	right: -5px;
	width: 160px;
	height: 80px;
	background: url('../../images/pattern-plus.png');
}

.hero-figure .hero-figure-img {
    position: absolute;
    top: 0;
    left: 50%;
	height: 100%;
    max-width: none;
    transform: translateX(-50%);
}


@media (min-width: 1200px) {
    .hero-figure {
        margin: 45px 0;
    }

    .hero-figure::before {
		top: -74px;
		right: 21.68%;
		width: 478px;
		height: 401px;
	}
}