.nano > .nano-content {
    padding-right: 30px;
}

.nano > .nano-pane {
    right: 1px;
    width: 2px;
    background: rgba(21, 29, 40, 0.3);
}

.nano > .nano-pane > .nano-slider {
    cursor: pointer;
    width: 4px;
    margin-left: -1px;
    margin-right: -1px;
    background: #FFC725;
}

@media (min-width: 1200px) {
    .nano > .nano-content {
        padding-right: 50px;
    }
}