.catalog-grid {
	@extend .reset-list;
	cursor: default;
	display: flex;
	flex-wrap: wrap;
}

.catalog-card {
	position: relative;
	margin: 0 auto 40px;
	border: 1px solid $medium-gray;
	text-align: center;
	.catalog-link {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.catalog-thumb {
		position: relative;
		border: 20px solid transparent;
		padding-bottom: 110%;
		.catalog-img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			max-width: 100%;
			max-height: 100%;
			margin: auto;
		}
	}

	.catalog-body {
		margin: -5px 0 0;
		padding: 0 10px;
		.catalog-title {
			overflow: hidden;
			display: flex;
		    align-items: center;
		    justify-content: center;
			height: 40px;
		    margin: 4px 0 10px;
		    line-height: 0.9;
		}
		.btn-more {
			margin-bottom: -20px;
		}
	}

	&:hover {
		.catalog-title {
			color: $dark-secondary;
		}
		.btn-more {
			background-color: $dark-secondary;
		}
	}
}