$base-font: "Rubik", sans-serif;
$base-heading:  'Rubik', sans-serif;
$secondary-heading: 'Pattaya', sans-serif;


$default: #000;
$default-heading: #424242;
$secondary: #c37b40;
$dark-secondary: #9b5a24;
$link-color: $secondary;


$black:  #898686;
$dark-gray: #4a4a4a;
$medium-gray: #ebebeb;
$light-gray: #f8f8f8;