@media (max-width: 1199px) {
	.e6-title {
		font-size: 40px;
	}

	/* section style */
	.e6-style {
		height: 685px;
	}

	.e6-style .e6-media-figure {
		width: 300px;
		height: 570px;
	}
	/* section style end */


	/* section notifications */
	.e6-notifications .e6-title {
		top: 160px;
	}
	/* section notifications end */


	/* section camera */
	.e6-camera .e6-media-figure {
		width: 955px;
		height: 269px;
	}
	/* section camera end */


	/* section flashlight */
	.e6-flashlight .e6-media-figure::after {
		width: 80px;
	}
	/* section flashlight end */
}

@media (max-width: 991px) {
	.e6-landing {
		-webkit-background-size: 130% auto;
    	background-size: 130% auto;
	}

	.e6-landing .container {
		padding-left: 40px;
		padding-right: 40px;
	}

	.e6-title {
		font-size: 30px;
	}


	.e6-phone-figure {
		width: 300px;
		height: 570px;
	}

	.e6-phone-figure .e6-phone-notification-calls-block {
		top: 180px;
		width: 54px;
		height: 38px;
	}

	.e6-phone-figure .e6-phone-notification-calls-block .e6-phone-notification-media {
		width: 54px !important;
		height: 38px !important;
	}

	.e6-phone-figure .e6-phone-notification-email-block {
		top: 286px;
		width: 48px;
		height: 34px;
	}

	.e6-phone-figure .e6-phone-notification-email-block .e6-phone-notification-media {
		width: 48px !important;
		height: 34px !important;
	}

	.e6-phone-figure .e6-phone-notification-battery-block {
		top: 400px;
		width: 54px;
		height: 38px;
	}

	.e6-phone-figure .e6-phone-notification-battery-block .e6-phone-notification-media {
		width: 54px !important;
		height: 28px !important;
	}

	
	/* section  style */
	.e6-style {
		height: 600px;
	}

	.e6-style .e6-title {
		top: 265px;
	}

	.e6-style .e6-description {
		top: 260px;
	}

	.e6-style .e6-media-figure {
		width: 240px;
		height: 475px;
	}
	/* section  style end */


	/* section  notifications end */
	.e6-notification-block {
		font-size: 18px;
	}

	.e6-notification-block .e6-notification-thumbnail {
		flex: 0 0 45px;
		width: 45px;
		max-width: 45px;
		margin-right: 15px;
	}

	.e6-notification-block .e6-notification-media {
		max-width: 45px;
	}

	.e6-notifications {
		height: 730px;
	}

	.e6-notifications .e6-title {
		top: 135px;
	}

	.e6-notifications .e6-description {
		top: 260px;
	}

	.e6-notifications .e6-notification-calls-block {
		top: 370px;
	}

	.e6-notifications .e6-notification-email-block {
		top: 432px;
	}

	.e6-notifications .e6-notification-battery-block {
		top: 490px;
	}
	/* section  notifications end */

	/* section  emergency */
	.e6-emergency {
		height: 680px;
	}

	.e6-emergency .e6-title {
		top: 235px;
	}

	.e6-emergency .e6-description {
		top: 400px;
	}

	.e6-emergency .e6-media-figure {
		top: 30px;
		width: 300px;
		height: 605px;
	}
	/* section  emergency end */

	/* section  camera */
	.e6-camera {
		height: 600px;
	}

	.e6-camera .e6-title {
		top: 55px;
	}

	.e6-camera .e6-description {
		top: 145px;
	}

	.e6-camera .e6-media-figure {
		top: 255px;
		width: 735px;
		height: 208px;
	}
	/* section  camera end */


	/* section  flashlight */
	.e6-flashlight {
		height: 760px;
	}

	.e6-flashlight .e6-title {
		top: 255px;
	}

	.e6-flashlight .e6-description {
		top: 340px;
	}

	.e6-flashlight .e6-media-figure {
		width: 300px;
		height: 685px;
	}

	.e6-flashlight .e6-media-figure::after {
		top: 225px;
		left: 285px;
		width: 50px;
	}
	/* section  flashlight end */


	/* section  materials */
	.e6-materials {
		height: 700px;
	}

	.e6-materials .e6-title {
		top: 175px;
	}

	.e6-materials .e6-description {
		top: 305px;
	}

	.e6-materials .e6-media-figure {
		width: 1109px;
		height: 1185px;
	}
	/* section  materials end */

	/* section  design */
	.e6-design {
		height: 560px;
	}

	.e6-design .e6-title {
		top: 105px;
	}

	.e6-design .e6-description {
		top: 200px;
	}

	.e6-design .e6-media-figure {
	    width: 580px;
    	height: 610px;
	}

	.e6-design .e6-media-centered-block {
		width: 122px;
    	height: 424px;
	}

	.e6-design .e6-media-red-block {
		width: 230px;
    	height: 183px;
	}

	.e6-design .e6-media-gray-block {
		width: 218px;
    	height: 165px;
	}

	.e6-design .e6-media-blue-block {
		width: 226px;
    	height: 208px;
	}
	/* section  design end */


	/* section  features */
	.e6-features-grid .e6-feature-item {
		flex: 0 0 33.3333%;
		max-width: 33.3333%;
	}
	/* section  features end */
}

@media (max-width: 767px) {
	.e6-landing {
		-webkit-background-size: 200% auto;
    	background-size: 200% auto;
	}

	.e6-landing .container {
		padding-left: 20px;
		padding-right: 20px;
	}

	.e6-landing .content-inner {
		margin-bottom: 40px;
		text-align: center;
	}


	.e6-title {
		margin: 0 0 15px;
		font-size: 30px !important;
		line-height: 1.35;
	}

	.e6-description {
		margin: 0 0 20px;
		font-size: 18px;
		line-height: 1.5;
	}


	.e6-phone-figure {
		width: 265px;
		height: 504px;
	}


	.e6-style .content-wrapper.d-flex,
	.e6-notifications .content-wrapper.d-flex,
	.e6-emergency .content-wrapper.d-flex,
	.e6-camera .content-wrapper.d-flex,
	.e6-flashlight .content-wrapper.d-flex, 
	.e6-materials .content-wrapper.d-flex,
	.e6-design .content-wrapper.d-flex  {
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.e6-style .e6-title,
	.e6-notifications .e6-title,
	.e6-emergency .e6-title,
	.e6-camera .e6-title,
	.e6-flashlight .e6-title,
	.e6-materials .e6-title,
	.e6-design .e6-title  {
		max-width: 260px;
		font-size: 30px;
	}

	.e6-style .e6-description,
	.e6-notifications .e6-description,
	.e6-emergency .e6-description,
	.e6-camera .e6-description,
	.e6-flashlight .e6-description,
	.e6-materials .e6-description,
	.e6-design .e6-description  {
		max-width: 315px;
	}


	/* section style */
	.e6-style {
		height: 780px;
	}

	.e6-style .e6-title {
		top: 40px;
		text-align: left;
	}

	.e6-style .e6-description {
		top: 130px;
	}

	.e6-style .e6-media-figure {
		top: 265px;
	}
	/* section style end */


	/* section notifications */
	.e6-notification-block {
		font-size: 16px;
	}

	.e6-notification-block .e6-notification-thumbnail {
		flex: 0 0 40px;
		width: 40px;
		max-width: 40px;
		margin-right: 10px;
	}

	.e6-notification-block .e6-notification-media {
		max-width: 40px;
	}


	.e6-notifications {
		height: 830px;
	}

	.e6-notifications .e6-title {
		top: 40px;
	}

	.e6-notifications .e6-description {
		top: 170px;
	}

	.e6-notifications .e6-notification-calls-block {
		top: 270px;
	}

	.e6-notifications .e6-notification-email-block {
		top: 320px;
	}

	.e6-notifications .e6-notification-battery-block {
		top: 365px;
	}

	.e6-notifications .e6-media-figure {
		top: 430px;
	}
	/* section notifications end */


	/* section emergency */
	.e6-emergency {
		height: 650px;
	}

	.e6-emergency .e6-title {
		top: 40px;
	}

	.e6-emergency .e6-description {
		top: 215px;
	}

	.e6-emergency .e6-media-figure {
		top: 300px;
	}
	/* section emergency end */


	/* section camera */
	.e6-camera {
		height: 660px;
	}

	.e6-camera .e6-title, 
	.e6-camera .e6-subtitle, 
	.e6-camera .e6-description {
		text-align: left;
	}

	.e6-camera .e6-title {
		top: 40px;
	}

	.e6-camera .e6-description {
		top: 135px;
	}

	.e6-camera .e6-media-figure {
		top: 295px;
	}
	/* section camera end */


	/* section flashlight */
	.e6-flashlight {
		height: 640px;
	}

	.e6-flashlight .e6-title {
		top: 40px;
	}

	.e6-flashlight .e6-description {
		top: 175px;
	}

	.e6-flashlight .e6-media-figure {
		top: 325px;
	}
	/* section flashlight end */


	/* section materials end */
	.e6-materials .e6-title {
		top: 40px;
	}

	.e6-materials .e6-description {
		top: 215px;
	}

	.e6-materials .e6-media-figure {
		top: 50px;
		bottom: auto;
		width: 800px;
		height: 854px;
	}
	/* section materials */

	/* section design */
	.e6-design {
		height: 600px;
	}

	.e6-design .e6-title {
		top: 40px;
	}

	.e6-design .e6-description {
		top: 140px;
	}

	.e6-design .e6-media-figure {
		top: 420px;
		width: 350px;
    	height: 350px;
	}

	.e6-design .e6-media-centered-block {
		width: 84px;
    	height: 288px;
	}

	.e6-design .e6-media-red-block {
		width: 155px;
		height: 124px;
	}

	.e6-design .e6-media-gray-block {
		width: 138px;
		height: 105px;
	}

	.e6-design .e6-media-blue-block {
		width: 146px;
		height: 135px;
	}
	/* section design end */


	/* section features */
	.e6-features-grid .e6-feature-item {
		flex: 0 0 50%;
		max-width: 50%;
	}
	/* section  features end */
}


@media (max-width: 375px) {
	.e6-title {
		font-size: 24px !important;
	}

	.e6-style .e6-title,
	.e6-notifications .e6-title,
	.e6-emergency .e6-title,
	.e6-camera .e6-title,
	.e6-flashlight .e6-title,
	.e6-materials .e6-title,
	.e6-design .e6-title  {
		font-size: 30px !important;
	}

	/* section  features */
	.e6-features-grid .e6-feature-item {
		flex: 0 0 100%;
		max-width: 100%;
	}
	/* section  features end */
}

@media (min-width: 1200px) {
	.e6-landing  .flex-lg-nowrap {
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
	}
}