.station-card {
	padding: 15px;
	border-left: 5px solid transparent;
	background-color: #fff;
	box-shadow: 4px 13px 15px 1px rgba(187, 186, 186, 0.39);
	transition: border-color 300ms ease;
	font-size: 16px;
	@media (min-width: 1280px) {
		padding: 25px 25px 20px;
	}

	.station-media {
		display: block;
		flex: 0 0 100%;
		max-width: 100%;
		height: 140px;
		margin: 0 0 10px;
		background-color: #f2f2f2;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		text-decoration: none;
		@media (min-width: 768px) {
			flex: 0 0 80px;
			max-width: 80px;
			height: 80px;
			margin: 0 10px 10px 0;
		}
		@media (min-width: 992px) {
			flex: 0 0 140px;
			max-width: 140px;
			height: 140px;
			margin: 0 20px 20px 0;
		}
		@media (min-width: 1280px) {
			flex: 0 0 170px;
			max-width: 170px;
			height: 170px;
		}
	}

	.station-title {
		display: inline-block;
		margin: 0 0 5px;
		font-size: 16px;
		font-weight: 700;
		@media (min-width: 992px) {
			margin: 0 0 10px;
			font-size: 18px;
		}
		@media (min-width: 1280px) {
			font-size: 20px;
		}
	}

	.station-address {
		margin: 5px 0;
	}

	.station-review {
		position: relative;
		margin: 5px 0;
		&:before {
			content: '\e90f';
			font-family: 'icomoon';
		}
	}

	.station-info {
		margin: 0;
		padding: 0;
		li {
			margin: 0;
			padding: 3px 0;
			&:before {
				display: none;
			}

			a[href^="tel:"] {
				font-weight: 700;
			}

			i {
				display: inline-block;
				width: 20px;
			}
		}
	}

	&:hover {
		border-left-color: $danger;
		.station-title {
			color: $danger;
		}
	}
}