$base-font: "Open Sans", sans-serif;
$base-heading:  'Open Sans', sans-serif;


$default: #393e43;
$default-heading: #393e43;
$link-color: #50bef8;

$info: #50bef8;
$primary: #0589cd;

$dark-gray: #3d4857;
$medium-gray: #f1f1f1;
$light-gray: #e1e1e1;