.header-nav {
    padding: 20px 20px;
}

.header-nav .nav-item {
    padding-left: 27px;
    padding-right: 27px;
}

.header-nav .nav-item:first-child {
    padding-left: 0;
}

.header-nav .nav-item:last-child {
    padding-right: 0;
}