@media (min-width: 768px) {
	.modal-dialog {
		max-width: 660px;
	}

	.modal-content {
		padding: 40px 30px;
	}

	.modal-title {
		margin: 0 0 35px;
	}
}

@media (min-width: 992px) {
	.modal-dialog {
		max-width: 800px;
	}

	.modal-content {
		padding: 40px 60px;
	}
}

@media (min-width: 1200px) {
	.modal-dialog {
		max-width: 970px;
	}

	.modal-content {
		padding: 60px 100px;
	}

	.modal-title {
		font-size: 36px;
	}
}