$base-font: "Roboto", sans-serif;
$base-secondary: "Lato", sans-serif;
$base-heading:  'Roboto', serif;


$default: #000;
$default-heading: #000;
$link-color: #0087d5;

$danger: #e08b8c;
$success: #86bbae;
$primary: #6ab8da;
$warning: #ff9d00;
$light-warning: #ffc000;
/* $warning: #f6df62; */
$info: #97c2da;
$purple: #8f81bc;


$secondary:  #7a7878;
$dark-gray: #8b8b8b;
$gray: #cccccb;
$light-gray: #e3e3e3;