@media (min-width: 768px) {
	.news-card {
		font-size: 16px;
	}
	
	.news-card .news-header {
		margin: 0 0 30px;
	}

	.news-card .news-title {
		margin: 0 0 15px;
		font-size: 18px;
	}

	.news-card .news-time {
		margin: 0 0 15px;
		font-size: 16px;
	}
}