.header-box {
	padding: 5px 0 10px;
	background: #000;
	color: #fff;
	a {
		font-size: 14px;
		font-weight: 400;
		color: #fff;
		text-decoration: none;
		&:hover {
			color: darken(#fff, 15%);
		}
	}

	.header-inner {
		display: flex;
		align-items: center;
	}

	.header-side-left {
		@media (max-width: 991px) {
			flex: 1 1 auto;
		}
	}
	
	.header-side-center {
		flex: 1 1 auto;
		padding-left: 25px;
		padding-right: 25px;
		@media (max-width: 991px) {
			display: none;
		}
	}
	.header-side-right {
		text-align: right;
	}
}

.logo-box {
	max-width: 260px;
	margin: 5px 0;
	@media (max-width: 1024px) {
		max-width: 240px;
	}
	@media (max-width: 991px) {
		max-width: 160px;
	}

	.logo-img {
		max-height: 70px;
	}
}

.header-contact-list {
	@extend .reset-list;
	width: calc(100% - 95px);
	margin: 0 0 25px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	text-align: center;
	li {
		display: inline-block;
		padding: 0 4px 0 8px;
		border-left: 1px solid #fff;
		&:first-child {
			border-left: none;
		}

		a {
		}
	}
}

.header-nav {
	.header-nav-list {
		@extend .reset-list;
		display: flex;
	    justify-content: space-around;
	    align-items: center;
	    font-size: 14px;
	    font-weight: 600;
		li {
			a {
				i {
					// @extend .h3;
					display: inline-block;
					margin: 0 5px 0 0;
					font-size: 22px;
					font-weight: 400;
					color: #a9b0ba;
					vertical-align: middle;
					line-height: 0.5em;
				}

				img {
					display: inline-block;
					margin: 0 4px;
					height: 20px;
				}
			}
		}

		.dropdown-menu {
			margin: 10px 0 0;
			background: #000;
			li {
				border-bottom: 1px solid #3b3b3b;
				a {
					color: #fff;
				}

				&:last-child {
					border-bottom: none;
				}
				&:hover {
					a {
						background: #000;
						color: darken(#fff, 15%);
					}
				}
			}
		}
	}
}


.user-actions {
	@extend .reset-list;
	margin-bottom: 25px;
	font-size: 10px;
	font-weight: 400;
	line-height: 1;
	@media (max-width: 991px) {
		display: inline-block;
		margin: 0;
		font-size: 18px;
		vertical-align: middle;
	}

	li {
		display: inline-block;
		position: relative;
		@media (max-width: 991px) {
			padding: 0 8px;
		}

		&:before {
			display: inline-block;
			content: '/';
			font-size: 12px;
			padding: 0 4px;
			@media (max-width: 991px) {
				display: none;
			}
		}
		&:first-child:before {
			display: none;
		}

		a {
			font-size: inherit;
			text-transform: uppercase;
		}
	}

	.action-registration,
	.action-login {
		@media (max-width: 991px) {
			display: none;
		}
	}
	.action-search {
		display: none;
		@media (max-width: 991px) {
			display: inline-block;
		}
	}
}

.form-search-plan {
	@extend .transition;	
	position: relative;
	height: 22px;
	@media (max-width: 991px) {
		height: 50px;
	}
	@media (max-width: 991px) {
		position: absolute;
		z-index: 99;
		top: 0;
		left: 0;
		right: 0;
		transform: translateY(-150px);
		text-align: left;
	}
	&.form-search-plan-active {
		transform: translateY(50px);
	}

	.search-plan--input,
	.search-plan--button {
		height: 22px;
		vertical-align: top;
		@media (max-width: 991px) {
			height: 50px;
		}
	}
	.search-plan--input {
		width: 115px;
		padding: 0 30px 0 5px;
		border: none;
		background: #fff;
		font-size: 11px;
		font-weight: 300;
		color: #000;
		&::placeholder {
			color: #000;
		}

		@media (max-width: 991px) {
			width: 100%;
			padding: 0 55px 0 5px
		}
	}
	.search-plan--button {
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		width: 25px;
		border: none;
		background: $primary;
		font-size: 10px;
		font-weight: 600;
		text-transform: uppercase;
		text-align: center;
		@media (max-width: 991px) {
			width: 50px;
		}
	}
}


.header-toggle {
	display: none;
	position: relative;
	z-index: 102;
	width: 30px;
	min-width: initial;
	padding: 0;
	border: none;
	background: none !important;
	vertical-align: middle;
	@media (max-width: 991px) {
		display: inline-block;
	}

	span {
		@extend .transition;
		display: block;
		height: 2px;
		width: 30px;
		margin: 6px 0;
		background: #fff;
	}
	&.header-toggle-close {
		span {
			position: absolute;
			margin: 0;

			&:nth-child(1) {
				transform: rotate(45deg);
			}
			&:nth-child(3) {
				transform: rotate(-45deg);
			}
			&:nth-child(2) {
				display: none;
			}
		}
	}
}

// mobile offcanvas
.mobile-offcanvas {
	@extend .transition;
	opacity: 0;
	position: fixed;
	z-index: 101;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: scroll;
	padding: 20px 0;
	background: rgba(#000, .9);
	transform: translateX(100%);
	color: #fff;
	&.mobile-offcanvas-active {
		opacity: 1;
		transform: translateX(0);
	}

	a {
		font-size: 14px;
		color: #fff;
	}

	.offcanvas-header,
	.offcanvas-footer {
		padding: 25px 20px;
		text-align: center;
	}

	.offcanvas-body {
		padding: 10px 20px;
	}

	.offcanvas-actions,
	.offcanvas-contact-list {
		@extend .reset-list;
		li {
			display: inline-block;
			padding: 0 8px;
		}
	}

}

.offcanvas-menu-list {
	@extend .reset-list;
	li {
		padding: 8px 0;
		.dropdown-menu {
			position: relative;
			width: 100%;
			margin: 5px 0 15px;
			padding: 0;
			background: none;
			> li {
				padding: 0;
				> a {
					color: #fff;
					&:hover {
						background: none;
						color: darken(#fff, 15%);
					}
				}
			}
		}
	}
}





