.section-about {
	padding-top: 30px;
	padding-bottom: 30px;
}

.section-about .section-header {
	margin-bottom: 0;
}

.section-about .about-description {
	margin: 15px 0;
}

.section-about .about-lead {
	margin: 0 0 30px;
	padding: 20px 15px;
	background-color: #f7a91b;
	font-weight: 800;
	color: #163344;
	letter-spacing: -0.4px;
}


@media (min-width: 576px) {
	.section-about {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.section-about .about-lead {
		padding: 30px 25px;
	}
}


@media (min-width: 992px) {
	.section-about {
		padding-top: 50px;
		padding-bottom: 95px;
	}

	.section-about .section-header {
		margin-bottom: 65px;
	}

	.section-about .about-description {
		margin: 15px 0 50px;
	}

	.section-about .about-lead {
		margin: 0;
	}
}