.section-sms {
	padding-top: 30px;
	padding-bottom: 30px;
	background-position: center 100px;
	background-repeat: no-repeat;
	background-color: #fff;
	background-size: 130%;
}

.section-sms .section-header {
	margin-bottom: 30px;
}


.section-sms .sms-grid  {
	margin-bottom: 40px;
}

.section-sms .sms-grid .sms-item {
	position: relative;
}

.section-sms .sms-grid .sms-item::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 2px;
	border-radius: 2px;
	background-color: #ebebeb;
}

.section-sms .sms-grid .sms-item:nth-child(2n+2)::after,
.section-sms .sms-grid .sms-item:last-child::after {
	display: none;
}


.section-sms .sms-lead {
	margin: 20px 0;
	font-size: 16px;
	font-weight: 700;
	color: #163344;
	text-transform: uppercase;
	letter-spacing: 0.6px;
}

.section-sms .sms-lead span {
	font-weight: 900;
	color: #f2a112;
}


.section-sms .sms-hint {
	font-size: 16px;
	font-weight: 300;
	color: #000000;
	line-height: 1.5;
}

@media (min-width: 576px) {
	.section-sms {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.section-sms .section-header {
		margin-bottom: 50px;
	}

	
	.section-sms .sms-grid .sms-item::after {
		width: 3px;
	}
	
	.section-sms .sms-grid .sms-item:nth-child(2n+2)::after {
		display: block;
	} 

	.section-sms .sms-grid .sms-item:nth-child(3n+3)::after {
		display: none;
	}


	.section-sms .sms-lead {
		margin: 40px 0;
		font-size: 18px;
	}
}

@media (min-width: 768px) {
	.section-sms {
		background-size: 120%;
	}
}


@media (min-width: 992px) {
	.section-sms .sms-lead {
		font-size: 20px;
	}
}


@media (min-width: 1200px) {
	.section-sms .sms-lead {
		font-size: 24px;
	}
}

@media (min-width: 1366px) {
	.section-sms {
		background-size: 140%;
	}
}

@media (min-width: 1680px) {
	.section-sms {
		background-size: 100%;
	}
}