.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.top {
	flex: 1 0 auto;
}
.bottom {
	flex: 0 0 auto;
}

.container {
	@media (min-width: 1240px) {
		width: 1240px;
	}
	@media (max-width: 991px) {
		width: 100%;
	}
}


.content-wrapper  {
	padding-top: 40px;
	padding-bottom: 80px;
	section,
	article {
		padding: 0;
	}

	> .container {
		@media (min-width: 992px) {
			width: 940px;
		}
		@media (min-width: 1240px) {
			width: 1220px;
		}
	}

	.page-top,
	.content-inner {
		padding-bottom: 55px;
		background: #fff;
	}

	.page-top {
		padding: 25px 20px 15px;
		@media (max-width: 767px) {
			padding-left: 0;
			padding-right: 0;
		}
	}
	.content-inner {
		padding-left: 30px;
		padding-right: 30px;
		@media (max-width: 767px) {
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	.page-header {
		min-height: 100px;
		@media (max-width: 767px) {
			min-height: 70px;
		}
		
		.page-title {
			@extend .h2;
			display: inline-block;
			margin: 0;
			padding: 15px 0 0;
			border-bottom: 2px solid $success;
			font-weight: 500;
			color: $success;
			letter-spacing: 1.4px;
			line-height: 1.5;
			text-transform: uppercase;
		}
	}

	&.content-with-aside {
		.content {
			display: flex;
			flex-direction: row-reverse;
			@media (max-width: 767px) {
				flex-direction: column-reverse;
			}
		}

		.content-aside {
			background: #f8f8f8;
		}
		.content-inner  {
			padding-left: 30px;
			padding-right: 10px;
			@media (max-width: 767px) {
				padding: 15px 10px;
			}
		}

		.page-header {
			min-height: 70px;
			.page-title {
				padding: 15px 0 10px;
				border-color: transparent;
			}
		}
	}

	.content-header {
		display: flex;
    	justify-content: space-between;
    	margin: 0 0 20px;
		font-size: 14px;
	}
}

.content-wrapper + section {
	padding-top: 0;
}


.action-arrow {
	@extend .transition;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 0 0 5px;
	background: $medium-gray;
	vertical-align: middle;
	font-size: 16px;
	color: #fff;
	line-height: 20px;
	text-align: center;
}


.section-light {
	background: url('../img/bg-light.png') $light-gray;
}
.section-medium {
	background: url('../img/bg-medium.png') $medium-gray;
}
.section-dark {
	background: url('../img/bg-dark.png') $black;
}

.block {
	overflow: hidden;
	padding: 15px 25px 25px;
	background: #fff;
	.block-header {
		display: flex;
	    justify-content: space-between;
	    align-items: center;
	    margin: 0 0 15px;
	    @media (max-width: 767px) {
	    	display: block;
	    }

		.block-title {
			display: inline-block;
			margin: 10px 0;
			padding: 0 0 5px;
			border-bottom: 2px solid $success;
			color: $success;
			letter-spacing: 1.4px;
			text-transform: uppercase;
		}
		.block-action {
			@extend .transition;
			display: block;
			font-size: 14px;
			color: $medium-gray;
			text-transform: uppercase;
			text-decoration: none;
			line-height: 1;
			letter-spacing: 0.6px;
			i {
				@extend .action-arrow;
				position: relative;
				top: -1px;
			}

			&:hover i {
				background: $dark-gray;
			}
		}

		&.text-center {
			flex-direction: column;
			justify-content: center;
		}
	}
	.block-body {
		position: relative;
		&:before,
		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}
}


.category,
.date,
.author,
.status,
.views,
.likes {
	display: inline-block;
	margin: 0;
	color: $medium-gray;
	vertical-align: middle;
}

.category {
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
}
.status {
	&.status-new {
		color: $danger !important;
	}
}

.views,
.likes {
	font-size: 12px;
	font-weight: 500;
	i {
		margin: 0 10px 0 0;
		font-size: 14px;
	}
}
.likes {
	a {
		color: inherit;
		&:hover {
			color: $link-color;
			text-decoration: none;
		}
	}

	&.likes-invert {
		a {
			display: flex;
			flex-direction: row-reverse;
		}
		i {
			margin: 0 0 0 10px;
		}
	}
}


.info-list {
	@extend .reset-list;
	color: $medium-gray !important;
	li {
		position: relative;
		display: inline-block;
		&:after {
			content: '';
			display: inline-block;
			width: 1px;
			height: 12px;
			margin: 0 10px;
			background: $medium-gray;
			vertical-align: middle;
		}

		&:last-child:after {
			display: none;
		}
	}
}
.count-list {
	@extend .reset-list;
	display: flex;
	justify-content: space-between;
}


.stretch-grid {
	 align-items: stretch;
	.stretch-item {
		display: inline-block;
		flex-direction: column;
    	align-items: stretch;
		.stretch-card {
			height: 100%;
		}
	}
}



.article-card {
	position: relative;
	padding-bottom: 60px;
	border: 1px solid $light-gray;
	.article-statusbar {
		min-height: 46px;
		padding: 15px 10px 15px;
	}

	.article-header {
		padding: 10px 20px 0 10px;
		.article-title {
			margin: 0 0 15px;
			a {
				color: inherit;
				&:hover {
					color: $link-color;
				}
			}
		}
	}
	.article-info {
		margin: 0 0 5px;
	}

	.article-thumb {
		position: relative;
		padding-bottom: 61%;
		background-size: cover;
		background-position: center;
		.article-thumb-link {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}

	.article-body {
		padding: 0 10px;
		text-align: justify;
	}

	.article-footer {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 46px;
		padding: 15px 10px;
		border-top: 1px solid $light-gray;
	}
}

.article-card-hero {
	.article-header {
		@media (min-width: 992px) {
			padding-top: 0;
		}
	}

	.article-thumb {
		float: left;
		width: calc(50% - 20px);
		margin: 0 20px 10px 0;
		padding-bottom: 30%;
		@media (max-width: 991px) {
			float: none;
			width: 100%;
			margin: 0;
			padding-bottom: 61%;
		}
	}
}


.references-box {
	min-height: 120px;
	margin: 20px 0 0;
	padding: 20px 0;
	border-top: 1px solid $light-gray;
}

.references-block {
	margin: 0 0 20px;
	.references-title {
		margin: 0;
		font-weight: 500;
		color: $medium-gray;
	}

	.references-list {
		margin: 0;
		font-size: 14px;
		color: $medium-gray;
		li {
			padding-top: 5px;
			padding-bottom: 5px;
			a {
				font-size: 15px;
			}
		}
	}
}

.share-box {
	padding: 25px 0 0;
	.share-header {
		margin-bottom: 20px;
	}
}
.share-list {
	overflow: hidden;
	margin: 0 0 -20px;
	@extend .reset-list;
	.share-item {
		margin-bottom: 20px;
		color: $medium-gray;
	}
}
.share-link {
	display: flex;
    align-items: center;
	border: 1px solid $light-gray;
	color: $medium-gray;
	.share-icon {
		flex: 0 0 38px;
	}
	.share-text {
		flex: 1;
		padding: 0 12px;
	}

	&:hover {
		color: $link-color;
	}
}


.form-search {
	overflow: hidden;
	max-width: 320px;
	vertical-align: top;
	.search-input {
		float: left;
		width: calc(100% - 45px);
	}
	.search-button {
		@extend .transition;
		min-width: initial;
		height: 45px;
		width: 45px;
		padding: 0;
		background: $medium-gray;
		font-size: 24px;
		line-height: 1;
		&:before {
			display: none;
		}

		&:hover {
			background: $success;
		}
	}

	&.form-search-fluid {
		max-width: 100%;
		width: 100%;
	}
}

.form-filter {
	min-height: 45px;
	margin: 0 0 45px;
}

.dropdown-menu {
	border: none;
	border-radius: 0;
	box-shadow: none;
}

.breadcrumb {
	@extend .reset-list;
	cursor: default;
	li {
		display: inline-block;
		font-size: 14px;
		color: $medium-gray;
		&:after {
			content: '/';
			display: inline-block;
			margin: 0 0 0 4px;
			vertical-align: middle;
			color: $default-heading;
		}
		&:last-child:after {
			display: none;
		}

		a {
			color: $default-heading;
			text-decoration: none;
			&:hover {
				color: $link-color;
			}
		}
	}
}

.pagination {
	@extend .reset-list;
	cursor: default;
	li {
		display: inline-block;
		min-width: 32px;
		font-size: 21px;
		font-weight: 500;
		color: $default-heading;
		text-align: center;
		a {
			display: block;
			min-width: 32px;
			height: 32px;
			color: inherit;
			line-height: 32px;
			&:hover {
				color: $link-color;
				text-decoration: none;
			}
		}

		&.active {
			a {
				cursor: default;
				background: $success;
				color: #fff !important;
			}
		}
	}
}

.label {
	display: inline-block;
	min-width: 70px;
	padding: 11px 10px 8px;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
}
.label-default {
	background: #935050;
	color: #fff;
}



// text

.slick-slider {
	outline: none;
	margin: 0 !important;
	* {
		outline: none;
	}
}
.slick-dots {
	position: absolute;
	z-index: 3;
	left: 35px;
	bottom: 30px;
	width: initial;
	li {
		width: 15px;
		height: 15px;
		button {
			width: 15px;
			min-width: initial;
			height: 15px;
			min-height: auto;
			padding: 0;
			border: 4px solid #fff;
			background: #fff;
			&:before {
				display: none;
			}
		}
		&.slick-active {
			button {
				background: $success;
			}
		}
	}
}


// select
.select2-container {
	height: 45px !important; 
	margin-bottom: 20px;
}
.select2-selection  {
	outline: none;
	height: 45px !important;
	border: 1px solid $light-gray !important;
	border-radius: 0 !important;
	.select2-selection__rendered {
		padding-left: 15px !important;
		padding-right: 60px !important;
		color: $medium-gray !important;
		line-height: 45px !important;
	}
	.select2-selection__arrow {
		top: 0px !important;
		right: 0px !important;
		width: 45px !important;
		height: 45px !important;
		background: $medium-gray !important;
		b {
			top: 50% !important;
			left: 50% !important;
			width: 15px !important;
			height: 25px !important;
			margin: 0 !important;
			border: none !important;
			transform: translate(-50%, -50%) !important;
			&:before {
				font-family: 'icon-font';
				content: '\f103';
				font-size: 24px;
				font-weight: 300;
				color: #fff;
			}
		}
	}
}

.select2-search--dropdown {
	display: none !important;
}
.select2-dropdown  {
	border-color: $light-gray;
	border-radius: 0;
	.select2-results__option  {
		@extend .transition;
		width: calc(100% - 45px);
		padding-left: 15px;
		padding-right: 15px;
		background: none !important;
		font-size: 15px;
		color: $medium-gray !important;
		&:hover {
			color: $success !important;
		}
	}
}

// select2 open 
.select2-container--open {
	.select2-selection {
		.select2-selection__arrow {
			b:before {
				content: '\f102';
			}
		}
	}
}

.fancybox-navigation {
	button {
		min-width: auto;
		&:before {
			display: none;
		}
	}
}