.error-box {
	.error-inner {
		@media (max-width: 991px) {
			display: flex;
			flex-direction: column-reverse;
		}
	}

	.error-message {
		margin: 0 0 30px;
		line-height: 1.5;
		.error-title {
			margin-bottom: 5px;
		}
	}

	.error-img {
		position: relative;
		top: -40px;
		@media (max-width: 991px) {
			top: 0;
			display: block;
			width: 80%;
			max-width: 180px;
			margin: 0 auto 15px;
			text-align: center;
		}
	}
}