.section-hero {
	overflow: hidden;
	position: relative;
	display: flex;
	align-items: flex-end;
	min-height: 790px;
	padding-top: 210px;
	padding-bottom: 210px;
	background-position: center;
	background-size: cover;
	clip-path: polygon(0 0, 100% 0, 100% 86.667%, 79% 100%, 0 89.68%);
	@include media-breakpoint-down(lg) {
		min-height: 400px;
		padding-top: 140px;
		padding-bottom: 140px;
	}

	.hero-title {
		position: relative;
		margin: 0;
		padding: 0 25px;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: 6px;
			border-radius: 3px;
			background-color: #ed203d;
		}
	}

	.hero-btn {
		margin: 15px 0;
		@include media-breakpoint-down(lg) {
			margin-top: 50px;
		}
	}
}


.section-about {
	margin-top: -35px;
	@include media-breakpoint-down(sm) {
		margin-top: 0;
	}

	.about-description {
		color: #000000;
		font-size: 19px;
		font-weight: 500;
		line-height: 38px;
	}

	.about-btn  {
		margin: 35px 0;
	}
}


.section-services {
	position: relative;
	overflow: hidden;
	padding-bottom: 100px;
    background-position: -6% 37%;
    background-size: 55%;
    background-repeat: no-repeat;
    @include media-breakpoint-down(lg) {
    	background-position-x: -48%;
    }
    @include media-breakpoint-down(sm) {
    	background-image: none !important;
    }

    .services-btn {
		position: relative;
		top: -12px;
		@include media-breakpoint-down(sm) {
			top: 0;
			margin: 25px 0;
		}
	}
}

.services-grid {
	margin-top: -15px;
	.service-item {}
}

.service-card {
	display: flex;
	margin: 20px 0;
	.service-icon {
		flex: 0 0 100px;
		max-width: 100px;
		padding-top: 20px;
		font-size: 70px;
		color: $danger;
		@include media-breakpoint-down(sm) {
			flex: 0 0 40px;
			max-width: 40px;
			padding-top: 0;
			font-size: 30px;
		}
	}

	.service-description {
		font-size: 19px;
		font-weight: 500;
		line-height: 39px;
		@include media-breakpoint-down(sm) {
			font-size: 14px;
			line-height: 1.8;
		}
	}
}

.form-service {
	margin: 85px 0 10px;
	@include media-breakpoint-down(sm) {
		margin: 35px 0 10px;
	}
}


.section-research {
	margin-top: -100px;
	padding-top: 120px;
	padding-bottom: 75px;
	background-color: #f2f4f6;
	clip-path: polygon(0 110px, 72% 0, 100% 65px, 100% 100%, 0 100%);
}

.research-block-title {
	margin: 5px 0 35px;
	font-size: 21px;
	font-weight: 800;
	line-height: 34px;
}

.swiper-research {
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: 50px;
	padding-bottom: 67px;
	.swiper-slide {
		padding: 0 10px;
	}
}

.research-card {
	overflow: hidden;
	position: relative;
	display: block;
	height: 290px;
	border-radius: 30px;
	border-bottom-left-radius: 0;
	background-color: #fff;
	text-decoration: none;

	.research-title {
		position: absolute;
		top: 15px;
		left: 10px;
		font-weight: 400;
		line-height: 34px;
	}

	.research-price {
		position: absolute;
		left: 15px;
		bottom: 30px;
		font-size: 21px;
		font-weight: 400;
		line-height: 34px;
		color: $danger;
		&:after {
			content: '';
			position: absolute;
			left: -15px;
			bottom: 0;
			width: calc(100% + 15px);
			height: 2px;
			background-color: $danger;
		}
	}

	.research-thumbnail {
		position: absolute;
		top: 90px;
		bottom: 90px;
		left: 30px;
		right: 30px;
		img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			max-width: 100%;
			max-height: 100%;
			margin: auto;
		}	
	}
}


.section-news {
	padding-top: 60px;
	padding-bottom: 70px;
}

.swiper-news {
	margin-top: 10px;
	margin-left: -10px;
	margin-right: -10px;
	padding-bottom: 50px;
	.swiper-slide {
		padding: 0 10px;
	}
}

.news-card {
	position: relative;
	.news-header {}
	.news-body {}
	.news-footer {
		padding: 17px 0;
	}

	.news-thumbnail {
		position: relative;
		padding-bottom: 62%;
		background-position: center;
		background-size: cover;
		.news-thumbnail-link {
			position: absolute;
			z-index: 9;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}

	.news-title {
		margin: 13px 0 3px;
		font-weight: 500;
		line-height: 24px;
		a {
			color: inherit;
			text-decoration: none;
			&:hover {
				color: $danger;
			}
		}
	}

	.news-date {
		margin: 0;
		color: #b9c9d1;
		font-size: 16px;
		font-weight: 300;
		line-height: 34px;
	}

	.news-description {
		color: #000000;
		font-family: Montserrat;
		font-size: 16px;
		font-weight: 300;
		line-height: 23px;
	}
}