$heading-font: 'Roboto', sans-serif;
$base-font: 'Roboto', sans-serif;


// $main-color: #274966;
// $secondary-color: #7da1ba;

$main-color: #bf4949;
$secondary-color: #2e85c1;

$info: #e9f0f3;

$default: #4a4c51;
$default-heading: $secondary-color;
