.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.top {
	flex: 1 0 auto;
}
.bottom {
	flex: 0 0 auto;
}


.section-header {
	margin-bottom: 15px;
	text-align: center;
	.section-title {
		position: relative;
		margin-top: 0;
		margin-bottom: 25px;
		padding: 0 0 15px;
		font-size: 68px;
		font-weight: 900;
		text-transform: none;
		letter-spacing: 1.5px;
		word-spacing: 5px;
		&:after {
			content: '';
			position: absolute;
			left: 50%;
			bottom: 0;
			width: 80px;
			height: 2px;
			border-radius: 5px;
			background: rgba(0,0,0, .1);
			transform: translateX(-50%);
		}
	}
}

.cards-grid {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	.card-item {
		margin-bottom: 50px;
	}
}
.card {
	@extend .transition;
	position: relative;
	overflow: hidden;
	border-radius: $global-radius;
	padding-bottom: 140%;
	box-shadow: $global-shadow;
	background-size: cover;
	background-position: center;
	&:after {
		@extend .overlay-dark;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.card-link {
		position: absolute;
		z-index: 9;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.card-inner {
		position: absolute;
		z-index: 1;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 15px 25px;
	}

	.card-title {
		margin: 5px 0;
		font-weight: 500;
		color: #fff;
		text-shadow: 0 1px 2px rgba(0,0,0,.20);
	}

	&:hover {
		box-shadow: $global-shadow-hover;
		transform: translateY(-3px);
	}

	&.card-hero {
		padding-bottom: 64.7%;
	}
}

.card-outline {
	&:after {
		display: none;
	}

	.fa {
		display: inline-block;
		margin: 15px 0px;
		font-size: 38px;
	}

	.card-inner {
		position: absolute;
		width: 80%;
		top: 55px;
		left: 50%;
		transform: translateX(-50%);
		font-family: $base-secondary;
		font-size: 24px;
		color: $default;
		text-align: center;
	}
	.card-title {
		color: $default;
	}
}

.section-gray {
	background: rgba(#e8e8e8, .3);
}

.slick-slider {
	outline: none;
	* {
		outline: none;
	}
}



@keyframes sliding {
    from {
    	transform: translateY(0px);
    }
    50% {
    	transform: translateY(-3px);
    }
    to {
		transform: translateY(0px);
    }
}


@keyframes heading {
    from {
    	transform: translateY(-120px);
    }
    to {
		transform: translateY(0px);
    }
}