/* product media */
.product-detail-media .product-figure {
	position: relative;
	display: block;
	padding-bottom: calc(119% - 20px);
	border: 10px solid transparent;
	text-decoration: none;
}

.product-detail-media .product-figure:hover {
	text-decoration: none;
}

.product-detail-media .product-img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}

/* product thumbnails */
.product-detail-thumbnails .product-thumbnail {
	position: relative;
	width: 100%;
	padding-bottom: calc(119% - 10px);
	border: 5px solid transparent;
}

.product-detail-thumbnails .product-img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}

.product-detail-thumbnails .slick-list {
	margin: 0 25px;
}

.product-detail-thumbnails .slick-arrow {
	min-width: 35px;
	width: 35px;
	border-radius: 5px;
    background: rgba(0, 0, 0, 0.1);
}

.product-detail-thumbnails .slick-prev {
	left: 0;
}

.product-detail-thumbnails .slick-next {
	right: 0;
}

/* product colors */
.product-detail-colors .product-model {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.product-detail-colors .product-model img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}

.product-detail-colors .slide-item {
	text-align: center;
}

.product-detail-colors .slick-arrow {
	min-width: 35px;
	width: 35px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.1);
}

.product-detail-colors .slick-arrow.slick-disabled {
	opacity: 0;
	visibility: hidden;
}

/* product support */
.product-detail-support {
	margin-top: 20px;
	margin-bottom: 20px;
}

.product-detail-support .product-support-button {
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 22px;
	color: #777777;
	text-decoration: none;
	white-space: nowrap;
}

.product-detail-support .product-support-button:hover {
	color: #000;
}


/* media queries */
@media (max-width: 1199px) {
	/* product media */
	.product-detail-media .product-figure {
	    padding-bottom: calc(110% - 20px);
	}

	/* product thumbnails */
	.product-detail-thumbnails .slick-arrow {
		width: 30px;
		min-width: 30px;
	}
	

	/* product colors */
	.product-detail-colors .product-model {
		width: 86px;
		height: 86px;
	}

	.product-detail-colors .slick-arrow {
		width: 30px;
		min-width: 30px;
	}

	.product-detail-colors .slick-prev {
		left: 0;
	    transform: translate(-100%, -50%);
	}

	.product-detail-colors .slick-next {
		right: 0;
	    transform: translate(100%, -50%);
	}
	
	
	/* product support */
	.product-detail-support .product-support-button {
		font-size: 20px;
	}
}

@media (max-width: 1024px) {
	/* product support */
	.product-detail-support  img {
		max-height: 40px;
	}

	.product-detail-support .product-support-button {
		font-size: 18px;
	}
}

@media (max-width: 991px) {
	/* product colors */
	.product-detail-colors .product-model {
		width: 80px;
		height: 80px;
	}

	/* product support */
	.product-detail-support img {
		max-height: 36px;
	}

	.product-detail-support .product-support-button {
		font-size: 16px;
	}
}

@media (max-width: 767px) {
	.product-detail-slider {
		max-width: 425px;
		margin-left: auto;
		margin-right: auto;
	}


	/* product colors */
	.product-detail-colors .product-model {
		width: 60px;
		height: 60px;
	}

	.product-detail-colors .slick-list {
		margin-left: -15px;
		margin-right: -15px;
		padding-left: 15px;
	}

	.product-detail-colors .slide-item {
		padding-left: 5px;
		padding-right: 5px;
	}
}