$heading-font: 'Roboto', sans-serif;
$base-font: 'Roboto', sans-serif;

$default: #9d9e9f;
$default-heading: #284a54;

$danger:  #c63d19;
$warning:  #ff4800;
$success: #1db7a7;

$dark-primary: #263238;
$primary: #2a81ac;
$info: #358db8;
$light-info: #e3eff4;

$dark-gray: #706e6e;
$gray: #999999;
$light-gray: #f9f9f9;
