.breadcrumb {
	margin: 10px 0;
	padding: 0;
	background-color: transparent;
	&-item {
		position: relative;
		font-size: 16px;
		font-weight: 400;
		letter-spacing: 0.8px;
		color: $default;
		&:before {
			content: '>' !important;
			display: inline-block;
			vertical-align: middle;
			padding: 0 6px !important;
		}

		&:first-child:before {
			display: none;
		}

		&.active {
			color: $default;
		}
	}

	&-link {
		color: $default;
		text-decoration: none;
		&:hover {
			color: $secondary;
		}
	}
}