.price {
	display: inline-block;
	vertical-align: middle;
	margin-left: 25px;
	margin-right: 25px;
	font-size: 20px;
	letter-spacing: 1px;
	@media (max-width: 767px) {
		display: block;
		margin: 15px 0;
	}
	
	b {
		background-image: -webkit-linear-gradient(right, #f8d947 0%, #ff6c24 100%);
	    -webkit-background-clip: text;
    	-webkit-text-fill-color: transparent;
		font-size: 210%;
		vertical-align: middle;
	}
}