.section-portfolio {
	overflow: hidden;
}

.slider-project-media {
	&.slick-dotted.slick-slider {
		margin-bottom: 40px;
	}

	.slide-item {
		position: relative;
	}
}


.slider-project-thumbnails {
	position: absolute;
	top: 0;
	left: 8.5%;
	right: 8.5%;
	transform: translateY(-50%);
	@media (max-width: 991px) {
		display: none;
	}

	.slick-list,
	.slick-track {
		margin: 0;
	    transform: translate3d(0, 0, 0) !important;
	}

	.slide-item {
		cursor: pointer;
		margin: 0 15px 0 0;
	}
}


.slider-project-media-controls {
	margin: 35px 0 15px;
	@media (max-width: 767px) {
		display: none;
	}

	.slick-arrow {
		margin: 0;
	}
}

.slider-project-media-counts {
	display: inline-block;
	vertical-align: middle;
	margin: 0 20px;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 0.35px;
	span {
		font-size: 20px;
		font-weight: 700;
		letter-spacing: 0.5px;
	}
}