.service-card {
	position: relative;
	top: 0;
	padding: 55px 25px;
	background-color: #fff;
	box-shadow: none;
	transition: top 300ms ease, box-shadow 300ms ease;
	@media (max-width: 1024px) {
		padding: 25px;
	}

	.service-icon {
		font-size: 36px;
	}

	.service-title {
		margin: 20px 0 10px;
		font-size: 20px;
		font-weight: 700;
		letter-spacing: 1;
	}

	.service-body {
		line-height: 1.75;
	}

	&:hover {
		top: -10px;
		box-shadow: 2px 14px 25px 4px rgba(148, 148, 147, 0.26);
	}
}