$default: #000;
$default-heading: #000;

$gray: #ebebeb;
$light-gray: #f6f6f6;

$primary:  #2faeed;

$base-font: 'Roboto', sans-serif;
$base-heading: 'Roboto', sans-serif;
$secondary-font: 'Lobster', sans-serif;