.custom-control-label {
	font-size: 14px;
	line-height: 24px;
	color: #474747;
}

.custom-control-label a {
	color: inherit;
	text-decoration: none;
}

.custom-control-label a:hover {
	color: #474747;
	text-decoration: underline;
}

.custom-checkbox .custom-control-label::before {
	border-radius: 0;
}

.custom-control-input:checked ~ .custom-control-label::before {
	border: 1px solid rgba(51, 51, 51, 0.4);
	border-radius: 0;
	background-color: transparent;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
	background: no-repeat url('../../images/icons/icon-check.svg') center;
	background-size: contain;
}


.custom-control-input:focus ~ .custom-control-label::before {
	box-shadow: none;
}

.custom-control-input:focus:not(:checked)~.custom-control-label::before {
	border-color: rgba(51, 51, 51, 0.4);
}


.custom-file,
.custom-file .custom-file-input,
.custom-file .custom-file-label {
	height: 55px;
	background-color: transparent;
}

.custom-file {
	outline: none;
}

.custom-file .custom-file-label {
	margin: 0;
	padding: 0 20px;
	border: 1px solid #626262;
	border-radius: 0;
	font-size: 16px;
	color: inherit;
	letter-spacing: 0.8px;
	line-height: 53px;
}

.custom-file .custom-file-label::after {
	content: '\e901';
	font-family: 'icomoon';
	height: 53px;
	padding: 0 20px;
	border: none;
	border-radius: 0;
	background: none;
	font-size: 14px;
	line-height: 55px;
}