// page home
.section-hero {
	.container-fluid {
		@include media-breakpoint-down(sm) {
			min-height: 735px;
		}
	}

	.hero-video-wrapper {
		video {
			@include media-breakpoint-down(sm) {
			    width: 300%;
    			height: 300%;
			}
		}
	}

	.hero-title {
		@include media-breakpoint-down(sm) {
			margin: 1rem 0;
		}
	}
	.hero-description {
		@include media-breakpoint-down(sm) {
			margin: 0.3rem 0;
		}
	}
	.hero-scroll-link {
		@include media-breakpoint-down(sm) {
			background: rgba($heading, .2);
		}
	}
}

.page-home {
	.section-hero {
		.container {
			@include media-breakpoint-down(sm) {
				padding-bottom: 14rem;
			}
		}
	}
}


.section-feature  {
	padding-top: 2px;
}
.feature-grids {
	.feature-col {
		@include media-breakpoint-down(sm) {
			padding-left: 0;
			padding-right: 0;
		}
		.feature-item {
			@include media-breakpoint-down(sm) {
				border-left: none;
				border-right: none;
			}
		}
	}
	.feature-aside {
		@include media-breakpoint-only(md) {
			flex-direction: row;
		}
		.feature-item {
			@include media-breakpoint-only(md) {
				flex: 0 0 50%;
			}
		}
	}

	.project-card.project-higlight {
		@include media-breakpoint-down(sm) {
			padding-top: 0;
			padding-bottom: 0;
		}
		.project-inner {
			.project-content {
				@include media-breakpoint-down(sm) {
					flex: 0 0 auto;
					padding-left: 3rem;
					padding-right: 3rem;
					padding-bottom: 0.5rem;
				}
			}
			.project-category {
				@include media-breakpoint-down(sm) {
					margin: 0.6rem 0;
				}
			}
			.project-btn {
				@include media-breakpoint-down(sm) {
					margin: 0.5rem 0;
				}
			}
		}
		.project-picture {
			@include media-breakpoint-down(sm) {
				flex: 0 0 auto;
				padding-left: 2rem;
				padding-right: 2rem;
			}
		}
	}
}


.services-grid {
	@include media-breakpoint-down(sm) {
		flex-direction: column;
		margin-bottom: -30px;
	}
	[class*="col"] {
		@include media-breakpoint-down(sm) {
			flex: 0 0 auto;
		}
	}
}
.service-card {
	@include media-breakpoint-down(sm) {
		max-width: 100%;
		margin-bottom: 30px;
	}
}


.section-jumbotron + .section-projects {
	@include media-breakpoint-down(sm) {
		padding-top: 5px;
	}
}


.projects-grid {
	.project-item {
		@include media-breakpoint-only(md) {
			&:nth-child(n+4) {
				display: none;
			}
		}
		@include media-breakpoint-down(sm) {
			border-left: 0;
			border-right: 0;
			&:nth-child(n+3) {
				display: none;
			}
		}
	}
}


.section-highlights-articles {
	@include media-breakpoint-down(md) {
		padding-top: 3rem;
	}
	.section-header {
		.section-title {
			@include media-breakpoint-down(md) {
				font-size: 2.5rem;
				line-height: 3.438rem;
			}
		}
	}
}
.highlights-articles-grid  {
	.highlight-article-col {
		@include media-breakpoint-down(sm) {
			padding-left: 0;
			padding-right: 0;
		}
		.highlight-article-item  {
			@include media-breakpoint-down(sm) {
				border-left: 0;
				border-right: 0;
			}
		}

		.article-card.article-hero {
			@include media-breakpoint-down(sm) {
				flex-direction: row !important;
			}
			.article-content {
				@include media-breakpoint-down(sm) {
					padding: 1.5rem 1.5rem 1.5rem 2rem;
				}
			}
			.article-title {
				@include media-breakpoint-down(sm) {
					font-size: 1.063rem;
					line-height: 1.688rem;
				}
			}
			.article-data,
			.article-description {
				@include media-breakpoint-down(sm) {
					display: none;
				}
			}
			.article-btn {
				@include media-breakpoint-down(sm) {
					bottom: 1.75rem;
				}
			}
		}
	}
	.highlight-article-aside {
		@include media-breakpoint-only(md) {
			flex-direction: row;
		}
		.highlight-article-item {
			@include media-breakpoint-only(md) {
				flex: 0 0 50%;
			}
		}
	}
}









