.page-news {
	.header-box {
		.header-toggler-category {
			@include media-breakpoint-down(sm) {
				display: none;
			}
		}
	}
}

.section-hero.section-hero-news  {
	.hero-news-figure {
		@include media-breakpoint-down(sm) {
			margin-left: -$mobile-padding;
			margin-right: -$mobile-padding;
		}
	}
}
.section-hero.section-hero-news.section-hero-sm {
	.container,
	.hero-news-figure  {
		@include media-breakpoint-down(sm) {
			min-height: 252px;
		}
	}
}


.section-news {
	@include media-breakpoint-down(sm) {
		padding-top: 0;
	}

	.loader {
		@include media-breakpoint-down(sm) {
			margin-bottom: -10px;
		}
	}
}
.section-related-news {
	@include media-breakpoint-down(sm) {
		padding-top: 65px;
	}
	.section-header.header-sm {
		@include media-breakpoint-down(sm) {
			margin-bottom: 1rem;
		}
	}
}

.post.post-news {
	@include media-breakpoint-down(sm) {
		padding-top: 3.5rem;
		border-bottom: 1px solid $gray-300;
	}

	.post-title {
		@include media-breakpoint-down(sm) {
			margin: 0.75rem 0 2.15rem;
			font-size: 1.5625rem;
			line-height: 2.5rem;
		}
	}
}