.section-hero.section-hero-project {
	.container {
		@include media-breakpoint-down(sm) {
			min-height: 655px;
			justify-content: flex-start;
			padding-top: 2.7rem;
			padding-bottom: 0;
		}
	}

	.hero-project-description {
		@include media-breakpoint-down(sm) {
			margin: 1.3rem 0 0;
			font-size: 1.0625rem;
			line-height: 1.7;
			word-spacing: 0;		}
	}
	.hero-project-info {
		@include media-breakpoint-down(sm) {
			margin: 0;
		}
	}
	.hero-project-picture  {
		@include media-breakpoint-down(sm) {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			flex: 0 0 100%;
			height: 345px;
			padding-left: $mobile-padding / 1.8;
			padding-right: $mobile-padding / 1.8;
			transform: translateY(0);
		}
		img {
			@include media-breakpoint-down(sm) {
				max-height: 238px;
			}
		}
	}
}

.section-related-projects {
	@include media-breakpoint-down(sm) {
		display: none;
	}
}