$heading-font: 'Montserrat', sans-serif;
$base-font: 'Montserrat', sans-serif;

$default: #586978;
$default-heading: #675776;

// $main-purple: #9a8da4;
// $main-brown: #b7677f;


$purple: #685777;
$dark-purple: #594967;
$light-purple: #675676;

$pink: #f27280;
$dark-pink: #c2748c;
$light-pink: #f9f5f6;

$info: #5a83a7;

$gray:  #e7e4e5;
$dark-gray: #c6c6c6;
$light-gray: #f9f5f6;