.contact {
	a[href^="tel:"] {
		font-size: 24px;
		font-weight: 700;
		color: $danger;
		text-decoration: none;
		letter-spacing: 0.6px;
		i {
			display: inline-block;
			vertical-align: baseline;
			margin-right: 8px;
		}

		&:hover {
			color: $danger;
			text-decoration: none;
		}
	}
}