.section-contact {
	overflow: hidden;
	position: relative;
	z-index: 1;
	padding-top: 45px;
	padding-bottom: 45px;
	background-color: #1d1d1d;
	background-repeat: no-repeat;
	background-position: top right;
	font-size: 16px;
	color: #fcfafa;
}

.section-contact-locations {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 50%;
	width: 1177px;
	height: 531px;
	background: url('../../images/section-contact/section-contact-bg.png') no-repeat 0 0;
	transform: translateX(-40%);
}


.section-contact-location {
	position: absolute;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #f26680;
}

.section-contact-location::before {
	content: '';
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #f26680;
	transform: translate(-50%,-50%);
	animation: 1.7s pulse infinite .9s ease-in-out;
}

.section-contact-location.city-bryansk {
    top: 138px;
    left: 675px;
}

.section-contact-location.city-haifa {
    top: 210px;
    left: 680px;
}


.section-contact .section-title {
	color: #fcfafa;
}


.section-contact .contact-grid {
	margin-bottom: -20px;
}

.section-contact .contact-grid .contact-item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-bottom: 30px;
}


@keyframes pulse {
	0% {
		transform: translate(-50%,-50%) scale(0);
		opacity: .6;
	}

	to { 
		transform: translate(-50%,-50%) scale(1);
		opacity: 0;
	}
}


@media (min-width: 768px) {
	.section-contact {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	.section-contact-locations {
		transform: translateX(-34%);
	}
}

@media (min-width: 992px) {
	.section-contact {
		padding-top: 130px;
		padding-bottom: 130px;
	}

	.section-contact-locations {
		transform: translateX(-23.5%);
	}
}