.section-about {
	position: relative;
	overflow: hidden;
	padding-top: 45px;
	padding-bottom: 45px;
}

.section-about .section-header {
	margin-bottom: 0;
}

.section-about .section-title {
	font-family: 'Lato';
	font-size: 16px;
	font-weight: 400;
	color: #272626;
	letter-spacing: 0.4px;
	text-transform: none;
}

.section-about .about-description {
	margin: 25px 0 35px;
	font-family: "Oswald";
	font-weight: 900;
	font-size: 24px;
	color: #272626;
	line-height: 1.52;
	letter-spacing: 0;
}


@media (min-width: 768px) {
	.section-about {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	.section-about .about-description {
		margin: 35px 0 45px;
		font-size: 32px;
	}
}

@media (min-width: 992px) {
	.section-about {
		padding-top: 140px;
		padding-bottom: 140px;
	}

	.section-about .about-description {
		margin: 45px 0 55px;
		font-size: 36px;
	}
}