.section-research {
	overflow: hidden;
}

.portrait-grid {
	margin-top: 65px;
	margin-bottom: 25px;
}

.portrait-hint {
	max-width: 340px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}