.section-services {
	overflow: hidden;
	padding-top: 45px;
	padding-bottom: 45px;
}

.services-grid {
	position: relative;
	margin-left: -35px;
	margin-right: -35px;
	margin-bottom: -20px;
}

.services-grid .service-item {
	position: static;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-bottom: 30px;
}

.services-grid-bg {
	content: '';
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(255,255,255,.04);
	transition: .5s cubic-bezier(.785,.135,.15,.86);
}


@media (min-width: 768px) {
	.section-services {
		padding-top: 80px;
		padding-bottom: 80px;
	}
} 

@media (min-width: 992px) {
	.section-services {
		padding-top: 130px;
		padding-bottom: 130px;
	}
}

@media (min-width: 1200px) {
	.services-grid {
		margin-left: -15px;
		margin-right: -15px;
	}
}