$base-font: Arial, "Helvetica Neue", Helvetica, sans-serif;
$base-heading: Arial, "Helvetica Neue", Helvetica, sans-serif;
$secondary-font: 'Roboto',  sans-serif;


$default: #868686;
$default-heading: #12283e;
$link-color: #50bef8;

$success: #58f158;
$warning: #ffdd2d;
$danger: #ed261c;
$primary: #678cb2;
$info: #e0edfb;

$medium-gray: #c9c9c9;
$light-gray: #f5f5f5;