@font-face {
  font-family: 'Play';
  src: url("../fonts/play/Play-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Play';
  src: url("../fonts/play/Play-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot");
  src: url("../fonts/icomoon/icomoon.eot#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf") format("truetype"), url("../fonts/icomoon/icomoon.woff") format("woff"), url("../fonts/icomoon/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-call:before {
  content: "\e900"; }

.icon-clock:before {
  content: "\e901"; }

.icon-close:before {
  content: "\e902"; }

.icon-arrow-left:before {
  content: "\e903"; }

.icon-arrow-right:before {
  content: "\e904"; }

.icon-arrow-up:before {
  content: "\e905"; }

.icon-arrow-down:before {
  content: "\e906"; }

.icon-menu:before {
  content: "\e907"; }

.icon-navigation:before {
  content: "\e908"; }

.icon-camera:before {
  content: "\e909"; }

.icon-pin:before {
  content: "\e90a"; }

.icon-play-button:before {
  content: "\e90b"; }

.icon-quote:before {
  content: "\e90c"; }

.icon-search:before {
  content: "\e90d"; }

.icon-star:before {
  content: "\e90e"; }

.icon-support:before {
  content: "\e90f"; }

.icon-tick:before {
  content: "\e910"; }

.reset-list, .nav-list {
  cursor: default;
  margin: 0;
  padding: 0;
  list-style: none; }
  .reset-list li, .nav-list li {
    padding-top: 0;
    padding-bottom: 0; }
    .reset-list li:before, .nav-list li:before {
      display: none; }

html,
body {
  background-color: #fff;
  font-family: 'Play', sans-serif;
  font-size: 16px;
  color: #515067;
  line-height: 1.5; }
  @media (min-width: 992px) {
    html,
    body {
      font-size: 18px; } }

body {
  padding-top: 55px; }
  @media (min-width: 768px) {
    body {
      padding-top: 70px; } }
  @media (min-width: 992px) {
    body {
      padding-top: 95px; } }

h1,
.h1,
.section-display.hero .display-title {
  margin: 0 0 0.364em;
  font-size: 34px;
  font-weight: 700; }
  @media (min-width: 768px) {
    h1,
    .h1,
    .section-display.hero .display-title {
      font-size: 40px; } }
  @media (min-width: 992px) {
    h1,
    .h1,
    .section-display.hero .display-title {
      font-size: 55px; } }

h2,
.h2,
.section-display .display-title {
  margin: 0 0 0.313em;
  font-size: 30px;
  font-weight: 700; }
  @media (min-width: 768px) {
    h2,
    .h2,
    .section-display .display-title {
      font-size: 36px; } }
  @media (min-width: 992px) {
    h2,
    .h2,
    .section-display .display-title {
      font-size: 48px; } }

h3,
.h3 {
  margin: 0 0 0.375em;
  font-size: 26px;
  font-weight: 700; }
  @media (min-width: 768px) {
    h3,
    .h3 {
      font-size: 34px; } }
  @media (min-width: 992px) {
    h3,
    .h3 {
      font-size: 40px; } }

h4,
.h4 {
  margin: 0 0 0.5em;
  font-size: 24px;
  font-weight: 700; }
  @media (min-width: 768px) {
    h4,
    .h4 {
      font-size: 30px; } }

h5,
.h5 {
  font-size: 20px; }
  @media (min-width: 768px) {
    h5,
    .h5 {
      font-size: 24px; } }

p {
  margin: 0; }
  p:not(:last-of-type) {
    margin-bottom: 1em; }

a {
  color: #515067;
  text-decoration: none;
  -webkit-transition: color 300ms ease;
  -o-transition: color 300ms ease;
  transition: color 300ms ease; }
  a:hover {
    color: #eb3f57;
    text-decoration: none; }

img {
  max-width: 100%; }

ul {
  margin: 0.833em 0 0.833em 1.333em;
  padding: 0;
  list-style: none; }
  ul li {
    position: relative;
    margin: 0.778em 0;
    padding: 0 0 0 32px; }
    ul li:before {
      content: '';
      position: absolute;
      top: 0.556em;
      left: 0;
      width: 0.611em;
      height: 0.722em;
      background-color: #eb3f57; }

.lead {
  font-size: 1.25em;
  line-height: 1.26; }
  .lead:not(:last-of-type) {
    margin-bottom: .5em; }
  @media (min-width: 992px) {
    .lead {
      font-size: 1.444em; } }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.clear {
  float: none;
  clear: both; }

.breadcrumb {
  margin: 0;
  padding: 0;
  background-color: transparent; }
  .breadcrumb-item {
    margin: 0;
    padding: 0; }
    .breadcrumb-item:before {
      display: none; }
  .breadcrumb-link {
    opacity: .8;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: opacity 300ms ease;
    -o-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
    color: #fbfafd;
    text-decoration: none; }
    .breadcrumb-link:hover {
      opacity: 1;
      color: #fbfafd;
      text-decoration: none; }
    .breadcrumb-link i {
      margin-right: 12px; }

label {
  margin: 5px 0;
  font-size: 0.889em;
  line-height: 1.25; }

input,
textarea,
button {
  outline: none !important; }

input:not([type='search']):not([type='checkbox']):not([type='radio']):not([type='file']),
textarea {
  display: block;
  width: 100%;
  height: 54px;
  padding: 0 15px;
  border: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  background-color: #ecebf2;
  font-size: 18px;
  font-weight: 400; }

.custom-checkbox input[type="checkbox"] {
  display: none; }

.custom-checkbox input[type="checkbox"] + label {
  cursor: pointer;
  position: relative;
  display: -ms-flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 20px;
  margin: 0;
  padding: 0 0 0 30px;
  font-size: 15px;
  color: #515067; }

.custom-checkbox input[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 15px;
  height: 15px;
  border: 1px solid #cac9cf;
  background-color: transparent;
  font-family: 'icomoon';
  font-size: 10px;
  color: #cac9cf; }

.custom-checkbox input[type="checkbox"] + label sup {
  top: 0;
  font-size: 13px;
  color: #e51a56; }

.custom-checkbox input[type="checkbox"]:checked + label:before {
  content: '\e910'; }

.custom-checkbox.lg input[type="checkbox"] + label {
  min-height: 20px;
  padding: 0 0 0 30px;
  font-size: 14px;
  line-height: 1.25; }
  @media (min-width: 768px) {
    .custom-checkbox.lg input[type="checkbox"] + label {
      min-height: 35px;
      padding: 0 0 0 50px; } }

.custom-checkbox.lg input[type="checkbox"] + label:before {
  width: 20px;
  height: 20px;
  border: none;
  background-color: #ecebf2;
  font-size: 11px;
  color: #515067; }
  @media (min-width: 768px) {
    .custom-checkbox.lg input[type="checkbox"] + label:before {
      width: 35px;
      height: 35px; } }

.custom-checkbox.privacy input[type="checkbox"] + label {
  color: rgba(81, 80, 103, 0.5); }

input[type="file"] {
  font-size: 16px; }

.custom-file {
  height: auto; }

.inputfile {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  width: 0.1px;
  height: 0.1px; }

.inputfile + label {
  cursor: pointer;
  display: inline-block;
  margin: 0; }

.inputfile + label * {
  pointer-events: none; }

.inputfile + label i {
  display: inline-block;
  vertical-align: middle;
  margin-right: 9px;
  font-size: 125%; }

.inputfile + label span {
  display: inline-block;
  border-bottom: 1px solid #515067; }

.inputfile:focus + label span,
.inputfile + label:hover span {
  border-bottom-color: transparent; }

.inputfile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px; }

textarea {
  resize: none;
  height: 86px;
  padding: 10px 15px; }

button {
  cursor: pointer; }

.btn {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  display: inline-block;
  margin: 0;
  padding: 12px 15px;
  border: 2px solid #eb3f57;
  -webkit-border-radius: 0;
          border-radius: 0;
  background-color: #eb3f57;
  font-weight: 700;
  color: #fbfafd;
  text-decoration: none;
  letter-spacing: 0.45px;
  line-height: 1;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0) scale(1);
      -ms-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
  -webkit-transition: opacity 0.9s ease 0.5s, -webkit-transform 0.9s ease 0.5s;
  transition: opacity 0.9s ease 0.5s, -webkit-transform 0.9s ease 0.5s;
  -o-transition: transform 0.9s ease 0.5s, opacity 0.9s ease 0.5s;
  transition: transform 0.9s ease 0.5s, opacity 0.9s ease 0.5s;
  transition: transform 0.9s ease 0.5s, opacity 0.9s ease 0.5s, -webkit-transform 0.9s ease 0.5s; }
  @media (min-width: 768px) {
    .btn {
      min-width: 250px;
      padding: 17px 30px; } }
  .btn.btn-auto {
    min-width: auto; }
  .btn.btn-sm {
    min-width: auto;
    padding: 13px 20px;
    font-size: 16px; }
  .btn:before,
  .btn .btn-text {
    z-index: 1;
    display: inline-block;
    -webkit-transition: opacity .25s ease,-webkit-transform .25s ease;
    transition: opacity .25s ease,-webkit-transform .25s ease;
    -o-transition: opacity .25s ease,transform .25s ease;
    transition: opacity .25s ease,transform .25s ease;
    transition: opacity .25s ease,transform .25s ease,-webkit-transform .25s ease; }
  .btn:before {
    content: attr(data-text);
    opacity: 0;
    position: absolute;
    -webkit-transform: translate3d(50%, 0, 0);
            transform: translate3d(50%, 0, 0); }
  .btn .btn-overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 140%;
    background-color: #d83a50;
    -webkit-transform: translate3d(100%, 0, 0) skew(0deg);
            transform: translate3d(100%, 0, 0) skew(0deg);
    -webkit-transition: opacity .3s ease,-webkit-transform .5s ease;
    transition: opacity .3s ease,-webkit-transform .5s ease;
    -o-transition: transform .5s ease,opacity .3s ease;
    transition: transform .5s ease,opacity .3s ease;
    transition: transform .5s ease,opacity .3s ease,-webkit-transform .5s ease; }
  .btn:hover {
    color: #fbfafd;
    text-decoration: none; }
    .btn:hover:before {
      opacity: 1;
      -webkit-transform: translateZ(0);
              transform: translateZ(0); }
    .btn:hover .btn-overlay {
      opacity: 1;
      -webkit-transform: translate3d(10%, 0, 0) skew(-20deg);
              transform: translate3d(10%, 0, 0) skew(-20deg); }
    .btn:hover .btn-text {
      opacity: 0;
      -webkit-transform: translate3d(-50%, 0, 0);
              transform: translate3d(-50%, 0, 0); }
  .btn.btn-secondary {
    border-color: #4f4c60;
    background-color: #4f4c60; }
    .btn.btn-secondary .btn-overlay {
      background-color: #383544; }
      .btn.btn-secondary .btn-overlay:hover {
        color: #fbfafd;
        text-decoration: none; }
  .btn.btn-outline {
    background-color: transparent;
    color: #eb3f57; }
    .btn.btn-outline .btn-overlay {
      background-color: #eb3f57; }
    .btn.btn-outline:hover {
      color: #fbfafd;
      text-decoration: none; }

.field-rating {
  cursor: default;
  white-space: nowrap; }
  .field-rating input {
    display: none; }
    .field-rating input + label {
      cursor: pointer;
      color: #eb3f57; }
    .field-rating input:checked + label ~ label {
      color: #c9c9ca; }

.form-group {
  margin-bottom: 20px; }

.form-group-rating {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 54px;
  padding: 0 15px;
  background-color: #f0eff5; }
  .form-group-rating .field-rating {
    margin: 0 0 0 10px; }

.form-review textarea {
  height: 128px; }

.nav-list .nav-item {
  margin: 0;
  padding: 0; }

.nav-list .nav-link {
  padding: 5px 0;
  text-decoration: none; }
  .nav-list .nav-link:hover {
    text-decoration: none; }

.slick-slider {
  outline: none; }
  .slick-slider * {
    outline: none; }

.slick-arrow {
  z-index: 9;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 42px;
  height: 42px;
  background: #eb3f57; }
  @media (min-width: 992px) {
    .slick-arrow {
      width: 83px;
      height: 67px; } }
  .slick-arrow:hover, .slick-arrow:focus, .slick-arrow:active {
    background: #d83a50; }
  .slick-arrow:before {
    font-family: 'icomoon'; }

.slick-prev:before {
  content: '\e903'; }

.slick-next:before {
  content: '\e904'; }

.modal-dialog {
  max-width: 975px; }

.modal-content {
  border: none;
  -webkit-border-radius: 0;
          border-radius: 0; }
  @media (min-width: 768px) {
    .modal-content {
      padding-top: 15px;
      padding-bottom: 15px; } }

.modal-header {
  padding: 15px 45px 15px 15px;
  border: none; }
  @media (min-width: 768px) {
    .modal-header {
      padding-left: 40px;
      padding-right: 40px; } }
  @media (min-width: 992px) {
    .modal-header {
      padding: 25px 100px; } }

.modal-body {
  padding: 0 15px 15px; }
  @media (min-width: 768px) {
    .modal-body {
      padding-left: 40px;
      padding-right: 40px; } }
  @media (min-width: 992px) {
    .modal-body {
      padding-left: 100px;
      padding-right: 100px; } }

.modal .close {
  opacity: 1;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  font-size: 17px;
  color: #eb3f57;
  line-height: 1; }
  @media (min-width: 768px) {
    .modal .close {
      top: 20px;
      right: 25px; } }

.modal input:not([type='search']):not([type='checkbox']):not([type='radio']):not([type='file']) {
  height: 35px;
  font-size: 16px; }

label {
  margin: 5px 0;
  font-size: 0.889em;
  line-height: 1.25; }

input,
textarea,
button {
  outline: none !important; }

input:not([type='search']):not([type='checkbox']):not([type='radio']):not([type='file']),
textarea {
  display: block;
  width: 100%;
  height: 54px;
  padding: 0 15px;
  border: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  background-color: #ecebf2;
  font-size: 18px;
  font-weight: 400; }

.custom-checkbox input[type="checkbox"] {
  display: none; }

.custom-checkbox input[type="checkbox"] + label {
  cursor: pointer;
  position: relative;
  display: -ms-flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 20px;
  margin: 0;
  padding: 0 0 0 30px;
  font-size: 15px;
  color: #515067; }

.custom-checkbox input[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 15px;
  height: 15px;
  border: 1px solid #cac9cf;
  background-color: transparent;
  font-family: 'icomoon';
  font-size: 10px;
  color: #cac9cf; }

.custom-checkbox input[type="checkbox"] + label sup {
  top: 0;
  font-size: 13px;
  color: #e51a56; }

.custom-checkbox input[type="checkbox"]:checked + label:before {
  content: '\e910'; }

.custom-checkbox.lg input[type="checkbox"] + label {
  min-height: 20px;
  padding: 0 0 0 30px;
  font-size: 14px;
  line-height: 1.25; }
  @media (min-width: 768px) {
    .custom-checkbox.lg input[type="checkbox"] + label {
      min-height: 35px;
      padding: 0 0 0 50px; } }

.custom-checkbox.lg input[type="checkbox"] + label:before {
  width: 20px;
  height: 20px;
  border: none;
  background-color: #ecebf2;
  font-size: 11px;
  color: #515067; }
  @media (min-width: 768px) {
    .custom-checkbox.lg input[type="checkbox"] + label:before {
      width: 35px;
      height: 35px; } }

.custom-checkbox.privacy input[type="checkbox"] + label {
  color: rgba(81, 80, 103, 0.5); }

input[type="file"] {
  font-size: 16px; }

.custom-file {
  height: auto; }

.inputfile {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  width: 0.1px;
  height: 0.1px; }

.inputfile + label {
  cursor: pointer;
  display: inline-block;
  margin: 0; }

.inputfile + label * {
  pointer-events: none; }

.inputfile + label i {
  display: inline-block;
  vertical-align: middle;
  margin-right: 9px;
  font-size: 125%; }

.inputfile + label span {
  display: inline-block;
  border-bottom: 1px solid #515067; }

.inputfile:focus + label span,
.inputfile + label:hover span {
  border-bottom-color: transparent; }

.inputfile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px; }

textarea {
  resize: none;
  height: 86px;
  padding: 10px 15px; }

button {
  cursor: pointer; }

.btn {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  display: inline-block;
  margin: 0;
  padding: 12px 15px;
  border: 2px solid #eb3f57;
  -webkit-border-radius: 0;
          border-radius: 0;
  background-color: #eb3f57;
  font-weight: 700;
  color: #fbfafd;
  text-decoration: none;
  letter-spacing: 0.45px;
  line-height: 1;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0) scale(1);
      -ms-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
  -webkit-transition: opacity 0.9s ease 0.5s, -webkit-transform 0.9s ease 0.5s;
  transition: opacity 0.9s ease 0.5s, -webkit-transform 0.9s ease 0.5s;
  -o-transition: transform 0.9s ease 0.5s, opacity 0.9s ease 0.5s;
  transition: transform 0.9s ease 0.5s, opacity 0.9s ease 0.5s;
  transition: transform 0.9s ease 0.5s, opacity 0.9s ease 0.5s, -webkit-transform 0.9s ease 0.5s; }
  @media (min-width: 768px) {
    .btn {
      min-width: 250px;
      padding: 17px 30px; } }
  .btn.btn-auto {
    min-width: auto; }
  .btn.btn-sm {
    min-width: auto;
    padding: 13px 20px;
    font-size: 16px; }
  .btn:before,
  .btn .btn-text {
    z-index: 1;
    display: inline-block;
    -webkit-transition: opacity .25s ease,-webkit-transform .25s ease;
    transition: opacity .25s ease,-webkit-transform .25s ease;
    -o-transition: opacity .25s ease,transform .25s ease;
    transition: opacity .25s ease,transform .25s ease;
    transition: opacity .25s ease,transform .25s ease,-webkit-transform .25s ease; }
  .btn:before {
    content: attr(data-text);
    opacity: 0;
    position: absolute;
    -webkit-transform: translate3d(50%, 0, 0);
            transform: translate3d(50%, 0, 0); }
  .btn .btn-overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 140%;
    background-color: #d83a50;
    -webkit-transform: translate3d(100%, 0, 0) skew(0deg);
            transform: translate3d(100%, 0, 0) skew(0deg);
    -webkit-transition: opacity .3s ease,-webkit-transform .5s ease;
    transition: opacity .3s ease,-webkit-transform .5s ease;
    -o-transition: transform .5s ease,opacity .3s ease;
    transition: transform .5s ease,opacity .3s ease;
    transition: transform .5s ease,opacity .3s ease,-webkit-transform .5s ease; }
  .btn:hover {
    color: #fbfafd;
    text-decoration: none; }
    .btn:hover:before {
      opacity: 1;
      -webkit-transform: translateZ(0);
              transform: translateZ(0); }
    .btn:hover .btn-overlay {
      opacity: 1;
      -webkit-transform: translate3d(10%, 0, 0) skew(-20deg);
              transform: translate3d(10%, 0, 0) skew(-20deg); }
    .btn:hover .btn-text {
      opacity: 0;
      -webkit-transform: translate3d(-50%, 0, 0);
              transform: translate3d(-50%, 0, 0); }
  .btn.btn-secondary {
    border-color: #4f4c60;
    background-color: #4f4c60; }
    .btn.btn-secondary .btn-overlay {
      background-color: #383544; }
      .btn.btn-secondary .btn-overlay:hover {
        color: #fbfafd;
        text-decoration: none; }
  .btn.btn-outline {
    background-color: transparent;
    color: #eb3f57; }
    .btn.btn-outline .btn-overlay {
      background-color: #eb3f57; }
    .btn.btn-outline:hover {
      color: #fbfafd;
      text-decoration: none; }

.field-rating {
  cursor: default;
  white-space: nowrap; }
  .field-rating input {
    display: none; }
    .field-rating input + label {
      cursor: pointer;
      color: #eb3f57; }
    .field-rating input:checked + label ~ label {
      color: #c9c9ca; }

.form-group {
  margin-bottom: 20px; }

.form-group-rating {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 54px;
  padding: 0 15px;
  background-color: #f0eff5; }
  .form-group-rating .field-rating {
    margin: 0 0 0 10px; }

.form-review textarea {
  height: 128px; }

.logo {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.45px; }
  .logo-link {
    color: #fbfafd;
    text-decoration: none; }
    .logo-link:hover {
      color: #fbfafd;
      text-decoration: none; }

.search-toggler {
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  border: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  margin: 0;
  padding: 0;
  background-color: transparent; }

.form-search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.45px; }
  .form-search input,
  .form-search button {
    height: 48px;
    border: none;
    -webkit-border-radius: 0;
            border-radius: 0; }
  .form-search input {
    width: 100%;
    padding: 0 15px;
    font-weight: 400;
    letter-spacing: 0; }
    .form-search input::-webkit-input-placeholder {
      color: rgba(81, 80, 103, 0.5); }
    .form-search input::-moz-placeholder {
      color: rgba(81, 80, 103, 0.5); }
    .form-search input:-ms-input-placeholder {
      color: rgba(81, 80, 103, 0.5); }
    .form-search input::-ms-input-placeholder {
      color: rgba(81, 80, 103, 0.5); }
    .form-search input::placeholder {
      color: rgba(81, 80, 103, 0.5); }
  .form-search button {
    padding: 0 20px;
    background-color: #eb3f57;
    font-weight: 700;
    color: #fbfafd;
    white-space: nowrap;
    -webkit-transition: background-color 300ms ease;
    -o-transition: background-color 300ms ease;
    transition: background-color 300ms ease; }
    @media (min-width: 992px) {
      .form-search button {
        padding: 0 35px; } }
    .form-search button i {
      display: inline-block;
      vertical-align: middle;
      margin: 0 0 0 2px; }
      @media (min-width: 992px) {
        .form-search button i {
          margin: 0 0 0 6px; } }
    .form-search button:hover {
      background-color: #d83a50; }

.search-mobile {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  -o-transition: transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease; }
  .search-mobile.open {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0); }
  .search-mobile .form-search input,
  .search-mobile .form-search button {
    height: 55px; }
  .search-mobile .form-search input {
    font-size: 14px; }
  .search-mobile .form-search button i {
    margin: 0; }

.contact a[href^="tel:"] {
  font-size: 24px;
  font-weight: 700;
  color: #eb3f57;
  text-decoration: none;
  letter-spacing: 0.6px; }
  .contact a[href^="tel:"] i {
    display: inline-block;
    vertical-align: baseline;
    margin-right: 8px;
    font-size: 76%; }
  .contact a[href^="tel:"]:hover {
    color: #eb3f57;
    text-decoration: none; }

.offcanvas {
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100vh;
  background-color: #fff;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  -o-transition: transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease; }
  @media (min-width: 768px) {
    .offcanvas {
      max-width: 80vw; } }
  @media (min-width: 992px) {
    .offcanvas {
      max-width: 785px; } }
  .offcanvas.open {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0); }
  .offcanvas-close {
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    border: none;
    -webkit-border-radius: 0;
            border-radius: 0;
    background-color: transparent;
    font-size: 17px;
    color: #eb3f57;
    line-height: 1; }
  .offcanvas-header, .offcanvas-body {
    padding: 10px 15px; }
    @media (min-width: 768px) {
      .offcanvas-header, .offcanvas-body {
        padding: 17px 40px; } }
    @media (min-width: 992px) {
      .offcanvas-header, .offcanvas-body {
        padding: 30px 115px; } }
  .offcanvas-header {
    background-color: #ecebf2; }
  .offcanvas-title {
    margin: 0;
    font-size: 24px;
    font-weight: 700; }
    @media (min-width: 992px) {
      .offcanvas-title {
        font-size: 30px; } }
    .offcanvas-title a {
      color: inherit;
      text-decoration: none; }
      .offcanvas-title a:hover {
        text-decoration: underline; }
  .offcanvas-location i {
    display: inline-block;
    vertical-align: baseline;
    margin-right: 8px;
    font-size: 16px;
    color: #eb3f57; }
  .offcanvas-menu {
    margin: 10px -5px; }
    @media (min-width: 768px) {
      .offcanvas-menu {
        margin-left: -10px;
        margin-right: -10px; } }
    @media (min-width: 992px) {
      .offcanvas-menu {
        margin-left: -15px;
        margin-right: -15px; } }
    .offcanvas-menu-item {
      margin-bottom: 10px;
      padding-left: 5px;
      padding-right: 5px; }
      @media (min-width: 768px) {
        .offcanvas-menu-item {
          margin-bottom: 20px;
          padding-left: 10px;
          padding-right: 10px; } }
      @media (min-width: 992px) {
        .offcanvas-menu-item {
          padding-left: 15px;
          padding-right: 15px; } }
    .offcanvas-menu-link {
      overflow: hidden;
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      height: 65px;
      padding: 10px 25px 10px 15px;
      background-color: #ecebf2;
      font-size: 13px;
      text-decoration: none; }
      @media (min-width: 768px) {
        .offcanvas-menu-link {
          height: 77px;
          padding: 10px 35px 10px 20px; } }
      .offcanvas-menu-link:after {
        content: '\e904';
        position: absolute;
        top: 50%;
        right: 10px;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        font-family: 'icomoon';
        font-size: 12px; }
        @media (min-width: 768px) {
          .offcanvas-menu-link:after {
            right: 20px;
            font-size: 16px; } }
      .offcanvas-menu-link:hover {
        background-color: #eb3f57;
        color: #fcfbfb !important; }
        .offcanvas-menu-link:hover:after {
          color: #fcfbfb; }

.rating-label {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px; }

.rating-list {
  display: inline-block;
  vertical-align: middle;
  font-size: 21px;
  color: #eb3f57; }
  .rating-list .inactive {
    color: #c9c9ca; }
  .rating-list.sm {
    font-size: 16px; }

.alert {
  margin: 0;
  padding: 20px 0;
  border: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  background-color: #ecebf2; }
  @media (min-width: 768px) {
    .alert {
      padding-top: 50px;
      padding-bottom: 50px; } }
  @media (min-width: 992px) {
    .alert {
      padding-top: 70px;
      padding-bottom: 70px; } }

/* sections */
.section-display {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 410px;
  padding-top: 45px;
  padding-bottom: 40px;
  background-color: #515067;
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-background-size: cover;
          background-size: cover;
  color: #fbfafd; }
  .section-display:before {
    content: '';
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: -webkit-linear-gradient(127deg, #eb3f57 0%, #515067 60%);
    background-image: -o-linear-gradient(127deg, #eb3f57 0%, #515067 60%);
    background-image: linear-gradient(-37deg, #eb3f57 0%, #515067 60%); }
  .section-display .display-title {
    margin: 20px 0;
    letter-spacing: 0.55px;
    line-height: 1.09; }
    .section-display .display-title span {
      color: #eb3f57; }
  .section-display .display-subtitle {
    margin: -15px 0 25px;
    font-size: 18px; }
    @media (min-width: 768px) {
      .section-display .display-subtitle {
        font-size: 20px; } }
    @media (min-width: 992px) {
      .section-display .display-subtitle {
        font-size: 24px; } }
  .section-display.hero {
    min-height: 300px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media (min-width: 768px) {
      .section-display.hero {
        min-height: 400px; } }
    @media (min-width: 992px) {
      .section-display.hero {
        min-height: 560px; } }
    .section-display.hero .display-subtitle {
      margin: 0; }

.section-about {
  overflow: hidden; }
  .section-about .media {
    position: relative;
    max-width: 370px;
    margin: 15px auto 0; }
    @media (min-width: 768px) {
      .section-about .media {
        height: 100%;
        max-width: none;
        margin: 0; } }
    @media (min-width: 768px) {
      .section-about .media img {
        position: absolute;
        max-width: none;
        max-height: 100%; } }

.section-catalog {
  background-color: #ecebf2; }

.catalog-grid {
  margin: 15px -10px; }
  @media (min-width: 992px) {
    .catalog-grid {
      margin-left: -15px;
      margin-right: -15px; } }
  .catalog-grid .catalog-item {
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px; }
    @media (min-width: 992px) {
      .catalog-grid .catalog-item {
        padding-left: 15px;
        padding-right: 15px; } }

.section-data {
  overflow: hidden;
  padding-bottom: 0;
  background-color: #ecebf2; }
  .section-data .section-content {
    padding-bottom: 50px; }
    @media (min-width: 768px) {
      .section-data .section-content {
        padding-bottom: 70px; } }
    @media (min-width: 992px) {
      .section-data .section-content {
        padding-bottom: 100px; } }
    .section-data .section-content .btn {
      margin-top: 15px; }
      @media (min-width: 768px) {
        .section-data .section-content .btn {
          margin-top: 30px; } }
      @media (min-width: 992px) {
        .section-data .section-content .btn {
          margin-top: 40px; } }
  .section-data .media {
    position: relative;
    height: 100%; }
    .section-data .media img {
      position: absolute;
      left: 0;
      bottom: 0;
      max-width: none;
      max-height: 100%; }

.video-grid {
  margin-top: 30px;
  margin-bottom: 15px; }

.reviews-grid {
  margin-bottom: 30px; }
  .reviews-grid .review-item {
    margin-top: 12px;
    margin-bottom: 12px; }

@media (min-width: 768px) {
  .section-services {
    padding-top: 55px;
    padding-bottom: 55px; } }

.services-group:not(:last-child) {
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .services-group:not(:last-child) {
      margin-bottom: 50px; } }

.services-list {
  margin: 0;
  padding: 0;
  list-style: none; }
  @media (min-width: 768px) {
    .services-list {
      -webkit-column-count: 2;
         -moz-column-count: 2;
              column-count: 2;
      -webkit-column-gap: 30px;
         -moz-column-gap: 30px;
              column-gap: 30px; } }
  @media (min-width: 992px) {
    .services-list {
      -webkit-column-count: 3;
         -moz-column-count: 3;
              column-count: 3; } }
  .services-list .service-item {
    margin: 0;
    padding: 0; }
    .services-list .service-item:before {
      display: none; }
    .services-list .service-item .service {
      display: inline-block;
      padding-top: 2px;
      padding-bottom: 2px; }

.section-results {
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #f2f2f2; }
  .section-results .results-content {
    position: relative;
    z-index: 9; }
  .section-results .result-map-wrapper {
    height: 200px;
    margin: 0 0 -15px; }
    @media (min-width: 768px) {
      .section-results .result-map-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        height: auto;
        background-color: #f2f2f2; } }
  .section-results #result-map {
    height: inherit; }
    @media (min-width: 768px) {
      .section-results #result-map {
        position: -webkit-sticky !important;
        position: sticky !important;
        top: 70px;
        height: -webkit-calc(100vh - 70px);
        height: calc(100vh - 70px);
        width: 100%; } }

.results-list {
  margin: 40px 0;
  padding: 0; }
  .results-list .result-item {
    margin: 20px 0;
    padding: 0; }
    .results-list .result-item:before {
      display: none; }

/* station */
@media (min-width: 768px) {
  .station-info-grid .staiton-info:first-child {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0; }
  .station-info-grid .staiton-info:nth-child(2) {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }
  .station-info-grid .staiton-info:nth-child(3) {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
  .station-info-grid .staiton-info:nth-child(4) {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3; } }

.staiton-info {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 400;
  color: #fefeff; }
  @media (min-width: 768px) {
    .staiton-info {
      font-size: 20px; } }
  @media (min-width: 992px) {
    .staiton-info {
      font-size: 24px; } }
  .staiton-info a {
    color: inherit;
    text-decoration: none; }
    .staiton-info a:hover {
      color: #fefeff;
      text-decoration: underline; }
  .staiton-info i:not(.icon-star) {
    display: inline-block;
    width: 25px; }
    @media (min-width: 768px) {
      .staiton-info i:not(.icon-star) {
        width: 36px; } }
  .staiton-info .rating-list .inactive {
    color: #fefeff; }

.station-gallery {
  overflow: hidden; }
  @media (min-width: 768px) {
    .station-gallery {
      padding-top: 55px;
      padding-bottom: 55px; } }

.gallery {
  margin: 55px -5px 0; }
  @media (min-width: 768px) {
    .gallery {
      margin-left: -10px;
      margin-right: -10px; } }
  @media (min-width: 992px) {
    .gallery {
      margin-left: -15px;
      margin-right: -15px; } }
  .gallery-slider {
    position: relative;
    max-width: 1620px;
    margin: 0 auto; }
    .gallery-slider:before, .gallery-slider:after {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      bottom: 0; }
      @media (min-width: 480px) {
        .gallery-slider:before, .gallery-slider:after {
          width: 15vw; } }
      @media (min-width: 992px) {
        .gallery-slider:before, .gallery-slider:after {
          width: -webkit-calc(100vw - 880px);
          width: calc(100vw - 880px); } }
      @media (min-width: 1200px) {
        .gallery-slider:before, .gallery-slider:after {
          width: -webkit-calc(100vw - 1175px);
          width: calc(100vw - 1175px);
          max-width: 500px; } }
    .gallery-slider:before {
      left: 0;
      background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0)));
      background: -webkit-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 100%);
      background: -o-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 100%);
      background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%); }
    .gallery-slider:after {
      right: 0;
      background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(white));
      background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
      background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 100%); }
    .gallery-slider .slide-item {
      padding-left: 5px;
      padding-right: 5px; }
      @media (min-width: 768px) {
        .gallery-slider .slide-item {
          padding-left: 10px;
          padding-right: 10px; } }
      @media (min-width: 992px) {
        .gallery-slider .slide-item {
          padding-left: 15px;
          padding-right: 15px; } }
    .gallery-slider .slick-prev {
      left: 15px; }
      @media (min-width: 768px) {
        .gallery-slider .slick-prev {
          left: 30px; } }
      @media (min-width: 992px) {
        .gallery-slider .slick-prev {
          left: -webkit-calc(50% - (930px / 2));
          left: calc(50% - (930px / 2)); } }
      @media (min-width: 1200px) {
        .gallery-slider .slick-prev {
          left: -webkit-calc(50% - (1175px / 2));
          left: calc(50% - (1175px / 2)); } }
    .gallery-slider .slick-next {
      right: 15px; }
      @media (min-width: 768px) {
        .gallery-slider .slick-next {
          right: 30px; } }
      @media (min-width: 992px) {
        .gallery-slider .slick-next {
          right: -webkit-calc(50% - (930px / 2));
          right: calc(50% - (930px / 2)); } }
      @media (min-width: 1200px) {
        .gallery-slider .slick-next {
          right: -webkit-calc(50% - (1175px / 2));
          right: calc(50% - (1175px / 2)); } }

.station-services {
  background-color: #4f4c60;
  color: #fcfcfe; }

.station-services-grid .service-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px; }
  @media (min-width: 576px) {
    .station-services-grid .service-item {
      margin-top: 15px;
      margin-bottom: 15px; } }

.station-service {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 8px 10px;
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: 700;
  text-align: center; }

@media (min-width: 768px) {
  .station-contact {
    padding-top: 45px; } }

#station-map {
  height: 410px;
  -webkit-box-shadow: 4px 13px 15px 1px rgba(187, 186, 186, 0.39);
          box-shadow: 4px 13px 15px 1px rgba(187, 186, 186, 0.39);
  background-color: #4f4c60; }

/* cards */
.catalog-card {
  display: block;
  background-color: #fff;
  text-decoration: none;
  text-align: center; }
  .catalog-card .catalog-figure {
    position: relative;
    padding-bottom: 80px;
    border: 10px solid transparent; }
    @media (min-width: 992px) {
      .catalog-card .catalog-figure {
        padding-bottom: 140px; } }
    .catalog-card .catalog-figure img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      max-width: 100%;
      max-height: 100%;
      margin: auto; }
  .catalog-card .catalog-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 54px;
    margin: 0;
    padding: 5px;
    -webkit-transition: background-color 300ms ease;
    -o-transition: background-color 300ms ease;
    transition: background-color 300ms ease;
    font-size: 16px;
    font-weight: 400;
    color: #4f4c60;
    text-align: center; }
    @media (min-width: 992px) {
      .catalog-card .catalog-title {
        height: 64px;
        font-size: 20px; } }
  .catalog-card:hover {
    text-decoration: none; }
    .catalog-card:hover .catalog-title {
      background-color: #eb3f57;
      color: #fbfafd; }

.video-card {
  position: relative;
  display: block;
  margin-bottom: 30px;
  padding-bottom: 62%;
  background-color: #515067;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  text-decoration: none; }
  .video-card:before {
    content: '';
    position: absolute;
    opacity: 0.6;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: -webkit-linear-gradient(227deg, #515067 0%, #eb3f57 100%);
    background-image: -o-linear-gradient(227deg, #515067 0%, #eb3f57 100%);
    background-image: linear-gradient(-137deg, #515067 0%, #eb3f57 100%);
    -webkit-transition: opacity 300ms ease;
    -o-transition: opacity 300ms ease;
    transition: opacity 300ms ease; }
  .video-card .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 54px;
    height: 54px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #fff;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 20px;
    color: #eb3f57;
    line-height: 1; }
    @media (min-width: 992px) {
      .video-card .play-button {
        width: 74px;
        height: 74px;
        font-size: 26px; } }
    .video-card .play-button:before {
      content: '';
      opacity: 0.13;
      position: absolute;
      top: -5px;
      left: -5px;
      right: -5px;
      bottom: -5px;
      border: 2px solid #ffffff;
      -webkit-border-radius: 50%;
              border-radius: 50%; }
    .video-card .play-button i {
      display: inline-block;
      margin-left: .25em; }
  .video-card.sm {
    padding-bottom: 60.4%; }
  .video-card:hover {
    text-decoration: none; }
    .video-card:hover .play-button {
      background-color: #eb3f57;
      color: #fff; }

.gallery-card {
  position: relative;
  padding-bottom: 100%;
  background-color: #515067;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover; }

.review-card {
  position: relative;
  z-index: 1;
  padding: 10px 25px 20px 15px;
  border-left: 4px solid #eb3f57;
  background-color: #fff;
  -webkit-box-shadow: 4px 13px 15px 1px rgba(187, 186, 186, 0.39);
          box-shadow: 4px 13px 15px 1px rgba(187, 186, 186, 0.39); }
  @media (min-width: 768px) {
    .review-card {
      padding: 25px 65px 40px 60px;
      border-width: 12px; } }
  .review-card:before {
    content: '\e90c';
    position: absolute;
    z-index: -1;
    top: 20px;
    right: 10%;
    font-family: 'icomoon';
    font-size: 40px;
    line-height: 1;
    color: rgba(236, 235, 242, 0.8); }
    @media (min-width: 768px) {
      .review-card:before {
        font-size: 88px; } }

.review-name {
  font-size: 16px;
  font-weight: 700; }
  @media (min-width: 768px) {
    .review-name {
      float: left;
      margin: 0 80px 0 0;
      font-size: 20px; } }

.review-date {
  clear: both;
  font-size: 16px;
  color: rgba(81, 80, 103, 0.5); }

.station-card {
  padding: 15px;
  border-left: 5px solid transparent;
  background-color: #fff;
  -webkit-box-shadow: 4px 13px 15px 1px rgba(187, 186, 186, 0.39);
          box-shadow: 4px 13px 15px 1px rgba(187, 186, 186, 0.39);
  -webkit-transition: border-color 300ms ease;
  -o-transition: border-color 300ms ease;
  transition: border-color 300ms ease;
  font-size: 16px; }
  @media (min-width: 1280px) {
    .station-card {
      padding: 25px 25px 20px; } }
  .station-card .station-media {
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    height: 140px;
    margin: 0 0 10px;
    background-color: #f2f2f2;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
            background-size: cover;
    text-decoration: none; }
    @media (min-width: 768px) {
      .station-card .station-media {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 80px;
            -ms-flex: 0 0 80px;
                flex: 0 0 80px;
        max-width: 80px;
        height: 80px;
        margin: 0 10px 10px 0; } }
    @media (min-width: 992px) {
      .station-card .station-media {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 140px;
            -ms-flex: 0 0 140px;
                flex: 0 0 140px;
        max-width: 140px;
        height: 140px;
        margin: 0 20px 20px 0; } }
    @media (min-width: 1280px) {
      .station-card .station-media {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 170px;
            -ms-flex: 0 0 170px;
                flex: 0 0 170px;
        max-width: 170px;
        height: 170px; } }
  .station-card .station-title {
    display: inline-block;
    margin: 0 0 5px;
    font-size: 16px;
    font-weight: 700; }
    @media (min-width: 992px) {
      .station-card .station-title {
        margin: 0 0 10px;
        font-size: 18px; } }
    @media (min-width: 1280px) {
      .station-card .station-title {
        font-size: 20px; } }
  .station-card .station-address {
    margin: 5px 0; }
  .station-card .station-review {
    position: relative;
    margin: 5px 0; }
    .station-card .station-review:before {
      content: '\e90f';
      font-family: 'icomoon'; }
  .station-card .station-info {
    margin: 0;
    padding: 0; }
    .station-card .station-info li {
      margin: 0;
      padding: 3px 0; }
      .station-card .station-info li:before {
        display: none; }
      .station-card .station-info li a[href^="tel:"] {
        font-weight: 700; }
      .station-card .station-info li i {
        display: inline-block;
        width: 20px; }
  .station-card:hover {
    border-left-color: #eb3f57; }
    .station-card:hover .station-title {
      color: #eb3f57; }

.header {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #4f4c60;
  color: #fbfafd; }
  @media (min-width: 992px) {
    .header .logo {
      margin-left: 35px;
      margin-right: 35px; } }
  .header .search-toggler {
    color: #fbfafd; }

.menu-toggler {
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 55px;
  height: 55px;
  margin: 0;
  padding: 0;
  border: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  background: #eb3f57;
  -webkit-transition: height 300ms ease;
  -o-transition: height 300ms ease;
  transition: height 300ms ease;
  -webkit-transition: background-color 300ms ease;
  -o-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  font-size: 25px;
  color: #fff;
  line-height: 1; }
  @media (min-width: 768px) {
    .menu-toggler {
      width: 70px;
      height: 70px; } }
  @media (min-width: 992px) {
    .menu-toggler {
      width: 95px;
      height: 95px; } }
  .menu-toggler:hover {
    background-color: #d83a50; }

@media (min-width: 992px) {
  .header-fixed .menu-toggler {
    height: 70px; } }

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%; }

.content {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

.footer {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

section {
  padding-top: 30px;
  padding-bottom: 50px; }
  @media (min-width: 768px) {
    section {
      padding-top: 50px;
      padding-bottom: 70px; } }
  @media (min-width: 992px) {
    section {
      padding-top: 90px;
      padding-bottom: 110px; } }

.container {
  max-width: 100%; }
  @media (min-width: 768px) {
    .container {
      padding-left: 30px;
      padding-right: 30px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1280px) {
    .container {
      max-width: 1235px; } }

@media (min-width: 992px) {
  .container-fluid {
    padding-left: 30px;
    padding-right: 30px; } }

.bg0 {
  display: none;
  cursor: pointer;
  opacity: .5;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4f4c60; }

body.overlay .bg0 {
  display: block; }

.footer {
  background-color: #4f4c60;
  color: rgba(251, 250, 253, 0.8); }
  .footer-content {
    padding-top: 35px;
    padding-bottom: 35px; }
  .footer-copyright {
    padding: 18px 0;
    background-color: #eb3f57;
    color: rgba(251, 250, 253, 0.5); }
  @media (min-width: 992px) {
    .footer-add {
      margin-top: 10px;
      margin-bottom: 10px; } }
  .footer .logo {
    font-size: 24px;
    letter-spacing: 0.6px; }
  .footer .nav-link {
    color: rgba(251, 250, 253, 0.8); }
    .footer .nav-link:hover {
      color: #fbfafd; }
  .footer .contact {
    margin-top: 15px;
    margin-bottom: 15px; }
    @media (min-width: 576px) {
      .footer .contact {
        margin-top: 0; } }
