.header-contact {
    color: #231D1A;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.1;
    text-decoration: none;
}

.header-contact:hover {
    color: #231D1A;
    text-decoration: none;
}

@media (min-width: 768px) {
    .header-contact {
        font-size: 18px;
    }
}

@media (min-width: 992px) {
    .header-contact {
        font-size: 20px;
    }
}