.header-wrapper {
    min-height: 120px;
}

.header-wrapper .container-fluid {
    max-width: 1740px;
}

.header-statusbar-wrapper {
    min-height: 70px;
    padding: 5px 0;
    background-color: #fff;
    line-height: 1.5;
}

.header-main-wrapper {
    position: relative;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 50px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #111111;
}

.header-main-wrapper.is-sticky {
    position: fixed;
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(142, 142, 142, 0.5);
}

@media (min-width: 768px) {
    .header-wrapper {
        min-height: 105px;
    }

    .header-statusbar-wrapper {
        min-height: 55px;
    }
}

@media (min-width: 992px) {
    .header-wrapper {
        min-height: 120px;
    }

    .header-statusbar-wrapper {
        min-height: 40px;
        padding: 12px 0;
        line-height: 1.15;
    }
    
    .header-main-wrapper {
        min-height: 80px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}