$heading-font: 'Montserrat', sans-serif;
$base-font: 'Montserrat', sans-serif;

$default: #000;
$default-heading: #391658;

$main-color: #391658;
$secondary-color: #a54c1b;

$info: #5a83a7;

$dark: #0a0210;
$gray:  #ebebeb;
$dark-gray: #c6c6c6;