$default: #000;
$default-heading: #000;



$info: #36b5c1;
$dark-info: #2c959f;
$warning: #e5a22e;
$danger: #d60a48;
$light-danger: #fb2768;

$gray: #d6d6d2;
$dark-gray: #cfcfca;
$light-gray: #e1e1e1;
$secondary:  #c7c7c2;


$base-font: 'Montserrat', sans-serif;
$base-secondary: 'Athelas',  sans-serif;
$base-heading: 'Bebas', sans-serif;