.page-service-site .section-approach .approach-image-figure {
	margin-top: 30px;
	margin-bottom: 30px;
}

@media (min-width: 1200px) {
	.page-service-site .section-approach .approach-image-figure {
		margin-top: -110px;
		margin-bottom: 0;
	}
}