.footer-box {
	@extend .header-box;
	display: block !important;
	border-top: 2px solid $light-gray;
	@media (max-width: 991px) {
		padding-bottom: 40px;
	}
	@media (max-width: 767px) {
		padding-left: 5px;
		padding-right: 5px;
	} 


	.footer-inner {
		@extend .header-inner;
		@media (max-width: 991px) {
			display: block;
			// flex-direction: column;
		}

		&:before,
		&:after {
			content: '';
			display: table;
			clear: both;
		}

		.footer-left {
			@extend .header-left;
			@media (max-width: 991px) {
				border: none;
			}
		}
		.footer-center  {
			@extend  .header-center;
			// .footer-upper  {
			// 	@extend .header-upper ;
			// 	@media (max-width: 991px) {
			// 		display: block;
			// 		// flex-direction: column;
			// 	}

			// 	&:after {
			// 		@media (max-width: 991px) {
			// 			display: none;
			// 		}
			// 	}
			// }

			// .footer-bottom  {
			// 	@extend .header-bottom ;
			// 	@media (max-width: 991px) {
			// 		display: block;
			// 		// flex-direction: column;
			// 	}
			// }
		}

		.footer-right {
			@extend  .header-right;
		}
	}
}

.footer-logo {
	@extend .header-logo;
	margin-top: 55px;
	@media (max-width: 991px) {
		margin-top: 25px;
		text-align: center;
	}

	.footer-logo-img {
		@extend .header-logo-img;
		@media (max-width: 767px) {
			width: 120px;
		}
	}
}


.footer-nav {
	@extend .header-nav;
	@media (max-width: 991px) {
		width: 100%;
		padding: 10px 0;
		border: none;
	}
}
.footer-nav-list {
	@extend .header-nav-list;
	@media (max-width: 767px) {
		display: block;
		// flex-direction: column;
		padding: 0 10px;
	}

	li {
		@media (max-width: 767px) {
			display: block;
			padding: 5px 0;
		}
	}
}


.footer-social {
	@extend .header-social;
	@media (max-width: 991px) {
		display: none;
		padding: 10px 0;
		text-align: center;
	}
}

.footer-services {
	@extend .header-services;
	padding-top: 30px;
	padding-bottom: 30px;
	@media (max-width: 991px) {
		width: 100%;
		border: none;
	}
	@media (max-width: 767px) {
		padding-top: 15px;
		padding-bottom: 15px;
	}
}
.footer-services-list {
	@extend .header-services-list;
	@media (max-width: 767px) {
		display: block;
		width: 100%;
		// flex-direction: column;
	}

	.footer-service-item {
		@extend .header-service-item ;
		@media (max-width: 767px) {
			width: 100%;
			padding-top: 5px;
			padding-bottom: 5px;
		}
	}
}


.footer-service-card {
	@extend .header-service-card;
	@media (max-width: 767px) {
		width: 100%;
	}
	
	.footer-service-thumbnail {
		@extend .header-service-thumbnail;
	}
}


.footer-contact {
	@extend .header-contact ;
	@media (max-width: 991px) {
		max-width: 270px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	.footer-contact-phone {
		@extend .header-contact-phone;
		margin-bottom: 5px;
	}

	.footer-contact-hint {
		margin: 10px 0 5px;
	}
}

