.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.upper-part {
	flex: 1 0 auto;
}
.down-part {
	flex: 0 0 auto;
}


.container {
	@media (min-width: 1200px) {
		width: 1200px;
	}
}


.offcanvas-open {
	overflow: hidden;
}


.section-header {
	.section-title {
		@extend .h3;
		@extend .text-gradient;
	}
}



.promo-box {
	padding: 15px 0;
	background: $secondary-color;
	font-size: 21px;
	font-weight: 500;
	color: #fff;
	text-align: center;
	@media (max-width: 1024px) {
		font-size: 16px;
	}
	@media (max-width: 767px) {
		text-align: center;
	}

	.btn {
		margin: 10px 5px;
		vertical-align: middle;
	}

	.form-promo {
		.form-title {
			text-align: right;
			@media (max-width: 767px) {
				text-align: center;
			}
		}

		.btn {
			margin: 0;
		}
	}

	.calc-hint {
		margin-bottom: 10px;
		padding-bottom: 20px;
		border-bottom: 2px solid  #d6531a;
	}

	&.promo-box-lg {
		padding: 40px 0;
	}
}



.social-list {
	@extend .reset-list;
	cursor: default;
	font-size: 28px;
	li {
		display: inline-block;
		padding: 0 5px;
		a {
			color: #e2e4e7;
			&:hover {
				color: $main-color;
			}
		}
	}
}



.modal {
	input {
		display: block;
	}

	.modal-dialog {
		@media (min-width: 768px) {
			width: 640px;
		}
		@media (min-width: 992px) {
			width: 800px;
		}
		&.modal-lg {
			@media (min-width: 768px) {
				width: 740px;
			}
			@media (min-width: 992px) {
				width: 940px;
			}
			@media (min-width: 1199px) {
				width: 1070px;
			}
		}

		.modal-content {
			border: none;
			border-radius: 0;
			background: #fff;
		}
	}

	.modal-header {
		position: relative;
		padding: 10px 30px;
		border: none;
		.modal-title {
			@extend .h2;
			@extend .text-gradient;
			margin: 10px 0;
			font-weight: 500;
		}
		.modal-subtitle {
			margin: 0;
			font-size: 15px;
			color: $main-color;
		}

		.close {
			position: absolute;
			top: -16px;
			right: -16px;
			width: 32px;
			height: 32px;
			border: none;
			margin: 0;
			padding: 0;
			background: url('../img/icons/icon-close.svg') no-repeat 0 0 ;
			background-size: contain;
		}
	}
	.modal-body {
		padding: 10px 30px 40px;
	}
}
.modal-backdrop {
	@extend .gradient-dark-horizontal  ;
}
.modal-backdrop.in {
	opacity: 0.9;
}


.form-modal {
	// .form-group {
	// 	input {
	// 		width: 100%;
	// 	}
	// }

	// .row:last-child {
	// 	padding-top: 20px;
	// }
}


.estimate-box {
	.estimate-body {}
	.estimate-footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 0;
	}
	
	.estimate-total,
	.estimate-back,
	.estimate-order {
		// flex: 0 0 auto;
	}

	.estimate-total {
		@extend .h3;
		@extend .text-gradient;
		flex: 0 0 auto;
		padding: 0 10px;
		font-weight: 500;
		color: $main-color;
		b {
			font-weight: 900;
		}
	}
	.estimate-back {
		flex: 0 0 180px;
		padding: 0;
		border: none;
		background: none;
		text-align: left;
		i {
			font-size: 12px;
			vertical-align: middle;
		}
	}

	.estimate-order {
		flex: 0 0 180px;
	}

}
.estimate-hint {
	width: 100%;
	padding: 15px 0 0;
}



// slider 
.slick-slider {
	outline: none !important;
	* {
		outline: none !important;
	}
}


.slick-arrow {
	z-index: 1;
	width: 80px;
	height: 60px;
	border: 2px solid $light-gray;
	background-color: #ffffff !important;
	@media (max-width: 767px) {
		width: 60px;
		height: 45px;
	}

	&:before {
		font-family: 'icomoon';
		font-size: 20px;
		color: #b1a79f;
		@media (max-width: 767px) {
			font-size: 16px;
		}
	}

	&.slick-prev {
		&:before {
			content: '\e912';
		}
	}
	&.slick-next {
		&:before {
			content: '\e911';
		}
	}
}


.slick-dots {
	@extend .reset-list;
	li {
		button {
			@extend .transition;
			width: 17px;
			height: 15px;
			border-radius: 5px;
			background: $light-gray;
			&:before {
				display: none;
			}
		}

		&.slick-active {
			button {
				background: $secondary-color;
			}
		}
	}
}


