.article {
	margin-top: 25px;
	margin-bottom: 25px;
	p {
		margin: 0;
	}
}

.article-thumbnail {
	position: relative;
	margin-bottom: 25px;
	padding-bottom: 45%;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	&:after {
		content: '';
		opacity: 0.6;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: linear-gradient(to right, rgba(25,4,32,1) 0%,rgba(100,33,84,1) 100%);
	}

	.article-title {
		@extend .h3;
		position: absolute;
		z-index: 1;
		left: 50px;
		bottom: 45px;
		width: 85%;
		max-width: 750px;
		margin: 0;
		color: #fff;
		line-height: 1.3;
	}
}