$heading-font: 'Montserrat', sans-serif;
$base-font: 'Montserrat', sans-serif;


// $main-color: #274966;
// $secondary-color: #7da1ba;

$main-color: #69466d;
$secondary-color: #f2672b;

$dark-warning: #d6531a;
$warning: #f79516;
$purple: #a8849f;

$primary:  #42648b;
$info: #e9f0f3;

$default: #3e3d40;
$default-heading: $secondary-color;

$gray: #b7b7b7;
$light-gray: #ebebeb;