.photogallery-slideshow-box {
	.photogallery-info {
		margin: 0 0 25px;
		padding: 10px 10px 15px;
	}
}
.photogallery-slideshow {
	display: flex;
	flex-wrap: wrap;
	margin: 0 0 20px;
	@media (max-width: 767px) {
		margin: 0;
	}

	.slideshow-item {
		margin: 0 0 15px;
		img {
			width: 100%;
		}
	}
}