.footer-box {
	padding: 25px 0 30px;
	background: rgba(0,0,0, .9);
	color: #fff;
	@media (max-width: 767px) {
		text-align: center;
	}
}

.footer-copyright {
	float: left;
	margin: 15px 0;
	@media (max-width: 767px) {
		float: none;
	}

	p {
		margin: 0;
	}
}

.footer-social  {
	float: right;
	margin: 15px 0;
	@media (max-width: 767px) {
		float: none;
	}
}