.contact-box {
	.contact-message {
		margin: 0 0 15px;
		line-height: 1.5;
	}
}

.form-contact {
	margin: 20px 0 55px;
	textarea {
		margin-bottom: 15px;
	}
	button {
		@media (max-width: 991px) {
			float: left;
		}
	}
}

.captcha {
	display: inline-block;
	margin: 0 20px 0 0;
	vertical-align: top;
	@media (max-width: 991px) {
		display: block;
		margin: 0 0 20px;
		text-align: left;
	}

	.captcha-img {
		width: 165px;
		height: 45px;
		margin: 0 20px 0 0;
		vertical-align: top;
	}
	.captcha-input {
		width: 100px;
		text-align: center;
	}
}


.subscribe-box {
	margin: 0 0 50px;
	.subscribe-header {
		margin-bottom: 10px;
	}
	.subscribe-list {
		@extend .reset-list;
		margin: 0 0 -20px;
		li {
			margin-bottom: 20px;
			font-size: 16px;

			img {
				display: inline-block;
				margin: 0 5px 0 0;
				vertical-align: middle;
			}
		}
	}
}

.donate-box {
	.donate-header {
		.donate-title {
			display: inline-block;
			margin: 0 20px 0 0;
		}
	}
}