.books-grid {
	.books-item {
		margin: 0 0 20px;
		@media (max-width: 768px) {
			width: 100%;
		}
	}
}

.book-card {
	position: relative;
	overflow: hidden;
	max-width: 475px;
	margin: auto;
	padding-bottom: 60px;
	.book-header {
		.book-title {
			a {
				color: inherit;
				&:hover {
					color: $link-color;
				}
			}
		} 
	}

	.book-thumb {
		width: calc(50% - 20px);
		float: left;
		margin: 0 15px 5px 0;
		padding-bottom: 70%;
		background-size: contain;
		background-repeat: no-repeat;
		@media (max-width: 991px) {
			width: 100%;
			margin: 0 0 20px;
			padding-bottom: 280px;
		}
	}
	
	.book-body {
		.book-author {
			margin: 0;
			font-weight: 500;
		}
		.book-edition {
			margin: 0;
			color: $medium-gray;
		}
		.book-description {
			margin: 5px 0 0;
		}
	}

	.book-footer {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 46px;
		padding: 15px 10px;
		border-top: 1px solid $light-gray;
	}

	/* .book-footer {
		@extend .card-footer;
		.book-footer-info {
			@extend .card-count-info;
		}
	} */
}