.header-box {
	position: relative;
	z-index: 999;
	.container {
		@media (max-width: 1199px) {
			width: 100%;
		}
	}
}
.header-statubar {
	border-bottom: 5px solid #fff;
	padding-top: 15px;
	/* background-color: $dark-gray; */
	background-image: url("../img/header-statusbar-bg.png");
	background-size: cover;
	@media (max-width: 767px) {
		padding-bottom: 10px;
	} 

	.header-statusbar-inner {
		display: flex;
		align-items: center;
	}
}

.header-logo {
	a {
		display: inline-block;
	}
	img {
		display: block;
	}
}
.header-logo-desktop {
	@media (max-width: 991px) {
		display: none;
	}
}
.header-logo-mobile {
	display: none;
	@media (max-width: 991px) {
		display: block;
	}
	@media (max-width: 767px) {
		flex: 1;
	}
}

.header-message {
	position: relative;
	flex: 1;
	padding: 0 30px 0 20px;
	line-height: 1;
	@media (max-width: 767px) {
		display: none;
	}

	.message-title {
		margin: 0;
		color: $info;
		text-shadow: 0 1px 1px rgba(61, 72, 87, 0.46);
		text-transform: uppercase;
		letter-spacing: 1.14px;
	}
	.message-label {
		position: relative;
		float: right;
		margin-bottom: 10px;
		@media (max-width: 991px)  {
			float: none;
		}
	}
}

.header-contact {
	margin: -10px 0 0;
	text-align: right;

	.contact-phone {
		color: #fff;
		a {
			font-size: 30px;
			font-weight: 700;
			color: inherit;
			text-transform: uppercase;
			text-shadow: 0 1px 1px rgba(61, 72, 87, 0.46);
			letter-spacing: 1.05px;
			span {
				font-size: 18px;
				letter-spacing: 0.63px;
			}
		}
	}
	.contact-phone-desktop {
		@media (max-width: 767px) {
			display: none;
		} 
	}
	.contact-phone-mobile {
		display: none;
		padding: 8px 0 0;
		vertical-align: middle;
		color: $link-color;
		@media (max-width: 767px) {
			display: inline-block;
		} 
	}

	.contact-map {
		font-size: 16px;
		font-weight: 300;
		@media (max-width: 767px) {
			display: inline-block;
			margin: 0 0 0 15px;
			padding: 8px 0 0;
			vertical-align: middle;
			font-size: 0;
		}

		i {
			font-size: 30px;
		}
	}
}


// header menu
.navbar-toggle {
	min-height: auto;
	min-width: 40px;
	margin: 0 0 0 20px;
	border: 1px solid $link-color;
	border-radius: 0;
	&:before,
	&:after {
		display: none;
	}

	span {
		background-color: $link-color;
	}
}

.header-navbar  {
	@extend .vertical-gradient;
	min-height: 35px;
	margin: 0;
	border: 0;
	border-radius: 0;
	background-color: #3d4857;

	.header-collapse {

	}
	.header-nav {
		> li {
			transform: skewX(-20deg);
			box-shadow: 0 6px 10px rgba(94, 110, 113, 0.3);

			> a {
				padding: 7px 25px;
				background: none !important;
				font-size: 20px;
				color: #fff !important;
				transform: skewX(20deg); 
				@media (max-width: 1024px) {
					font-size: 16px;
				}

				.caret {
					display: none !important;
				}
			}

			&:hover,
			&.open,
			&.active {
				@extend .horizontal-gradient-green;
				> a {
					color: #fff
				}
			}
		}
	}
}