@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");
.reset-list, .social-list, .header-nav-list, .header-mobile .header-mobile-nav-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.transition, a, button,
.btn {
  -webkit-transition: 300ms ease;
  transition: 300ms ease; }

@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/PTSans-Regular/PTSans-Regular.eot");
  src: url("../fonts/PTSans-Regular/PTSans-Regular.woff") format("woff"), url("../fonts/PTSans-Regular/PTSans-Regular.ttf") format("truetype"), url("../fonts/PTSans-Regular/PTSans-Regular.svg#PTSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/PTSans-Bold/PTSans-Bold.eot");
  src: url("../fonts/PTSans-Bold/PTSans-Bold.woff") format("woff"), url("../fonts/PTSans-Bold/PTSans-Bold.ttf") format("truetype"), url("../fonts/PTSans-Bold/PTSans-Bold.svg#PTSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important; }

html,
body {
  position: relative;
  height: 100%;
  font-family: "PT Sans", sans-serif, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; }

body {
  padding: 60px 0 0; }

.mobile-header-open {
  overflow: hidden;
  height: 100%; }

section {
  padding-top: 40px;
  padding-bottom: 40px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  color: #575757;
  line-height: 1.5; }

h1,
.h1 {
  font-size: 40px; }

h2,
.h2 {
  font-size: 36px; }

h3,
.h3,
.section-partners .section-header .section-title {
  font-size: 30px; }

h4,
.h4 {
  font-size: 24px; }

h5,
.h5 {
  font-size: 18px; }

h6,
.h6 {
  font-size: 15px; }

p {
  margin: 0 0 30px; }

button,
.btn {
  display: inline-block;
  outline: none;
  cursor: pointer;
  min-width: 103px;
  border: 1px solid #c7c7c7;
  border-radius: 0;
  padding: 6px 15px 5px;
  background: none;
  font-style: 16px;
  font-weight: 400;
  color: #575757;
  text-align: center; }
  button:hover,
  .btn:hover {
    background: #c7c7c7; }

.btn-active, .product-card:hover .btn {
  background: #c7c7c7; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%; }

.top {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

.bottom {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

@media (min-width: 1280px) {
  .container {
    width: 1220px; } }

.section-header {
  min-height: 69px;
  margin: 0 0 20px;
  text-align: center; }
  .section-header .section-title {
    margin: 0 0 15px;
    text-transform: uppercase;
    letter-spacing: 2px; }

.social-list {
  cursor: default;
  margin: 0 -5px; }
  .social-list li {
    display: inline-block;
    margin: 0 5px; }
    .social-list li a {
      display: inline-block;
      width: 29px;
      height: 29px;
      border-radius: 50%;
      font-size: 16px;
      color: #fff;
      text-align: center;
      line-height: 30px; }
      .social-list li a.icon-vk {
        background: #4e76a1; }
      .social-list li a.icon-odnoklassniki {
        background: #f28532; }
      .social-list li a.icon-facebook {
        background: #3c5a96; }
      .social-list li a.icon-twitter {
        background: #1dabed; }
      .social-list li a.icon-google-plus {
        background: #ce4432; }

.dropdown-menu {
  margin: 0;
  padding: 4px 0;
  background: rgba(0, 0, 0, 0.8);
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none; }
  .dropdown-menu li a {
    display: block;
    position: relative;
    min-height: 30px;
    padding: 4px 25px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    -webkit-transition: 300ms ease;
    transition: 300ms ease; }
    .dropdown-menu li a:before {
      display: inline-block;
      margin: 0 5px 0 0;
      font-family: 'FontAwesome';
      content: '\f0da';
      font-size: 0;
      color: #fff;
      -webkit-transition: 300ms ease;
      transition: 300ms ease; }
  .dropdown-menu li:hover a {
    font-weight: 700;
    color: #fff;
    background: none; }
    .dropdown-menu li:hover a:before {
      font-size: 16px; }

.slick-slider {
  outline: none; }
  .slick-slider * {
    outline: none; }
  .slick-slider .slick-arrow {
    z-index: 1;
    width: 55px;
    min-width: 55px;
    height: 100%;
    background: rgba(0, 0, 0, 0.9); }
    .slick-slider .slick-arrow:before {
      font-family: 'FontAwesome';
      font-size: 30px;
      color: #fff; }
  .slick-slider .slick-prev {
    left: -55px; }
    .slick-slider .slick-prev:before {
      content: '\f104'; }
  .slick-slider .slick-next {
    right: -55px; }
    .slick-slider .slick-next:before {
      content: '\f105'; }
  .slick-slider .slick-dots {
    position: relative;
    bottom: 0;
    padding: 10px 0;
    background: #e8e8e8;
    line-height: 1; }
    .slick-slider .slick-dots li {
      width: 12px;
      height: 12px;
      min-width: 12px;
      vertical-align: middle;
      line-height: 1; }
      .slick-slider .slick-dots li button {
        width: inherit;
        height: inherit;
        min-width: inherit;
        padding: 0;
        background: #c7c7c7; }
        .slick-slider .slick-dots li button:before {
          display: none; }
      .slick-slider .slick-dots li.slick-active button {
        background: #848484; }

.header-box {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px); }
  .header-box .header-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 60px; }

.header-logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

@media (max-width: 1024px) {
  .header-nav {
    display: none; } }

.header-nav-list {
  cursor: default; }
  .header-nav-list > li {
    display: inline-block; }
    .header-nav-list > li > a {
      display: inline-block;
      padding: 19px 30px 17px;
      font-size: 16px;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase; }
      @media (max-width: 1199px) {
        .header-nav-list > li > a {
          padding-left: 15px;
          padding-right: 15px; } }
    .header-nav-list > li.open > a, .header-nav-list > li:hover > a {
      background: rgba(0, 0, 0, 0.8); }
    .header-nav-list > li.open > a {
      font-weight: 700; }

.header-social {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right; }
  @media (max-width: 1024px) {
    .header-social {
      display: none; } }
  .header-social li a {
    background: #fff !important;
    color: #000; }
  .header-social li:hover a {
    background: #e8e8e8 !important; }

.header-toggle {
  display: none;
  width: 28px; }
  @media (max-width: 1024px) {
    .header-toggle {
      display: block; } }
  .header-toggle span {
    display: block;
    height: 2px;
    margin: 6px 0;
    background: #fff; }

.header-mobile {
  overflow: scroll;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px 0;
  background: black;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-transform: translateY(-100vh);
      -ms-transform: translateY(-100vh);
          transform: translateY(-100vh);
  -webkit-transition: 300ms ease;
  transition: 300ms ease; }
  .header-mobile .header-mobile-close {
    position: absolute;
    z-index: 9;
    top: -2px;
    right: 15px;
    min-width: initial;
    padding: 0;
    border: none;
    font-size: 34px;
    color: #c7c7c7;
    line-height: 1; }
    .header-mobile .header-mobile-close:hover {
      color: #fff;
      background: none; }
  .header-mobile .header-mobile-logo {
    opacity: .7; }
  .header-mobile .header-mobile-nav-list {
    margin: 40px 0; }
    .header-mobile .header-mobile-nav-list li {
      border-bottom: 1px solid rgba(199, 199, 199, 0.3); }
      .header-mobile .header-mobile-nav-list li a {
        display: block;
        padding: 12px 0;
        color: #c7c7c7;
        text-decoration: none; }
        .header-mobile .header-mobile-nav-list li a:hover {
          color: #fff; }
  .header-mobile .header-mobile-social {
    text-align: center; }
    .header-mobile .header-mobile-social li a {
      background: rgba(199, 199, 199, 0.3); }
    .header-mobile .header-mobile-social li:hover a {
      background: rgba(199, 199, 199, 0.5); }
  .header-mobile.header-mobile-active {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0); }

.footer-box {
  padding: 25px 0 30px;
  background: rgba(0, 0, 0, 0.9);
  color: #fff; }
  @media (max-width: 767px) {
    .footer-box {
      text-align: center; } }

.footer-copyright {
  float: left;
  margin: 15px 0; }
  @media (max-width: 767px) {
    .footer-copyright {
      float: none; } }
  .footer-copyright p {
    margin: 0; }

.footer-social {
  float: right;
  margin: 15px 0; }
  @media (max-width: 767px) {
    .footer-social {
      float: none; } }

.section-hero {
  overflow: hidden;
  margin-bottom: 40px;
  padding-top: 0 !important;
  padding-bottom: 0 !important; }
  @media (max-width: 767px) {
    .section-hero {
      display: none; } }

.slider-hero {
  margin: 0 0 36px !important; }
  .slider-hero .slide-item {
    height: 405px;
    background-size: auto 405px;
    background-position: center center;
    background-color: #848484;
    background-repeat: no-repeat; }
    @media (max-width: 767px) {
      .slider-hero .slide-item {
        height: 280px;
        background-size: auto 280px; } }
    .slider-hero .slide-item .slide-link {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
  .slider-hero .slick-arrow {
    width: 33px;
    height: 90px;
    background: none;
    -webkit-transition: 300ms ease;
    transition: 300ms ease; }
    .slider-hero .slick-arrow:before {
      font-size: 90px; }
      @media (max-width: 767px) {
        .slider-hero .slick-arrow:before {
          display: none;
          font-size: 40px; } }
  .slider-hero .slick-prev {
    left: -100px; }
  .slider-hero .slick-next {
    right: -100px; }
  .slider-hero:hover .slick-prev {
    left: 25px; }
    @media (max-width: 767px) {
      .slider-hero:hover .slick-prev {
        left: 0; } }
  .slider-hero:hover .slick-next {
    right: 25px; }
    @media (max-width: 767px) {
      .slider-hero:hover .slick-next {
        right: 0; } }
  .slider-hero .slick-dots {
    position: absolute;
    bottom: -36px; }

.products-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -23px 0; }

.product-card {
  position: relative;
  max-width: 450px;
  margin: auto;
  padding: 23px 0; }
  @media (max-width: 767px) {
    .product-card {
      border-bottom: 1px solid rgba(232, 232, 232, 0.5); } }
  .product-card .product-header .product-title {
    font-weight: 700;
    color: #848484;
    text-transform: uppercase; }
    @media (max-width: 767px) {
      .product-card .product-header .product-title {
        margin: 0 0 15px;
        text-align: center; } }
    .product-card .product-header .product-title a {
      color: inherit;
      text-decoration: none; }
  .product-card .product-body {
    text-align: justify; }
  .product-card:hover .product-header .product-title {
    color: #000; }

.product-slider-wrap {
  position: relative;
  margin: 0 0 30px;
  padding-bottom: 30px; }
  @media (max-width: 1024px) {
    .product-slider-wrap {
      padding-bottom: 40px; } }

.slider-product .product-img-wrap {
  position: relative;
  border: 10px solid transparent;
  padding-bottom: calc(120% - 20px); }
  @media (max-width: 767px) {
    .slider-product .product-img-wrap {
      padding-bottom: calc(60% - 20px); } }
  @media (max-width: 475px) {
    .slider-product .product-img-wrap {
      padding-bottom: calc(80% - 20px); } }
  .slider-product .product-img-wrap .product-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto; }

.slider-product-colors {
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }
  .slider-product-colors .slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0; }
    .slider-product-colors .slick-list .slick-track {
      width: 100% !important;
      -webkit-transform: translate3d(0, 0px, 0px) !important;
              transform: translate3d(0, 0px, 0px) !important; }
  .slider-product-colors .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .slider-product-colors .slide-item {
    cursor: pointer;
    width: 13px;
    height: 13px;
    border: 1px solid #e8e8e8;
    margin: 0 3px; }
    @media (max-width: 1024px) {
      .slider-product-colors .slide-item {
        width: 24px;
        height: 24px;
        margin: 0 5px; } }
  .slider-product-colors .product-color {
    width: 11px;
    height: 11px; }
    @media (max-width: 1024px) {
      .slider-product-colors .product-color {
        width: 22px;
        height: 22px; } }
    .slider-product-colors .product-color.color-black {
      background: #000; }
    .slider-product-colors .product-color.color-brown {
      background: #555555; }
    .slider-product-colors .product-color.color-blue {
      background: #3b5b67; }
    .slider-product-colors .product-color.color-red {
      background: red; }

.achievements-grid {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 -25px; }
  .achievements-grid .achievement-item {
    position: relative;
    width: 20%;
    margin: 0 0 25px; }
    @media (max-width: 991px) {
      .achievements-grid .achievement-item {
        width: 33.333%; } }
    @media (max-width: 767px) {
      .achievements-grid .achievement-item {
        width: 100%; } }
    .achievements-grid .achievement-item .achievement-card .achievement-thumb:before, .achievements-grid .achievement-item .achievement-card .achievement-thumb:after,
    .achievements-grid .achievement-item .achievement-card .achievement-thumb:before,
    .achievements-grid .achievement-item .achievement-card .achievement-thumb:after {
      content: '';
      position: absolute;
      z-index: -1;
      top: 50%;
      width: 50%;
      height: 1px;
      background: #c7c7c7;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }
      @media (max-width: 767px) {
        .achievements-grid .achievement-item .achievement-card .achievement-thumb:before, .achievements-grid .achievement-item .achievement-card .achievement-thumb:after,
        .achievements-grid .achievement-item .achievement-card .achievement-thumb:before,
        .achievements-grid .achievement-item .achievement-card .achievement-thumb:after {
          display: none; } }
    .achievements-grid .achievement-item .achievement-card .achievement-thumb:before,
    .achievements-grid .achievement-item .achievement-card .achievement-thumb:before {
      left: -50%; }
    .achievements-grid .achievement-item .achievement-card .achievement-thumb:after,
    .achievements-grid .achievement-item .achievement-card .achievement-thumb:after {
      right: -50%; }
    @media (min-width: 992px) {
      .achievements-grid .achievement-item:nth-child(4n+1) .achievement-card .achievement-thumb:before {
        display: none; } }
    @media (min-width: 992px) {
      .achievements-grid .achievement-item:nth-child(4n+5) .achievement-card .achievement-thumb:after {
        display: none; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .achievements-grid .achievement-item:nth-child(3n+1) .achievement-card .achievement-thumb:before {
        display: none; } }
    .achievements-grid .achievement-item:first-child .achievement-card .achievement-thumb:before {
      display: none; }
    .achievements-grid .achievement-item:last-child .achievement-card .achievement-thumb:after {
      display: none; }

.achievement-card {
  max-width: 180px;
  margin: auto;
  text-align: center; }
  .achievement-card .achievement-thumb {
    position: relative;
    z-index: 1;
    width: 180px;
    height: 180px;
    margin: 0 auto 25px;
    border-radius: 50%;
    background: #c7c7c7;
    text-align: center;
    line-height: 180px; }
    @media (max-width: 1199px) {
      .achievement-card .achievement-thumb {
        width: 140px;
        height: 140px; } }
    .achievement-card .achievement-thumb img {
      position: absolute;
      top: 50%;
      left: 50%;
      max-width: 80%;
      max-height: 80%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
  .achievement-card .achievement-title {
    text-transform: uppercase; }

.slider-partners {
  position: relative;
  margin: -20px 0 0 !important; }
  @media (max-width: 1279px) {
    .slider-partners {
      margin-left: 30px !important;
      margin-right: 30px !important; } }
  @media (max-width: 991px) {
    .slider-partners {
      margin-left: 55px !important;
      margin-right: 55px !important; } }
  .slider-partners .slide-item:nth-child(2n-3) {
    background: #e8e8e8; }
  .slider-partners .slide-item:nth-child(2n+2) {
    background: #f4f4f4; }
  .slider-partners .slide-item img {
    display: inline-block; }

.partner-card {
  height: 107px;
  line-height: 107px;
  text-align: center; }

.section-about {
  padding-top: 20px;
  padding-bottom: 60px; }
