.footer-box {
	padding: 12px 0;
	background: $dark;
	color: $light;
}

.footer-nav,
.footer-copyright {
	font-size: 17px;
	@media (max-width: 767px) {
		font-size: 9px;
	}
}

.footer-nav {
	text-align: right;
}
.footer-nav-list {
	@extend .reset-list;
	margin: 0 -12px;
	li {
		display: inline-block;
		padding: 0 12px;
		a {
			color: inherit;
			&:hover {
				color: $warning;
			}
		}
	}
}