.c25-landing {
	overflow: hidden;
	max-width: 2160px;
	margin: auto;
	background-color: #fefdfd;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #000;
	line-height: 1.25;
}

.c25-landing section {
	overflow: hidden;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.c25-landing img {
	max-width: 100%;
}


.c25-landing .container {
	width: 100%;
	max-width: 1170px;
	padding-left: 40px;
	padding-right: 40px;
}


.c25-landing .d-flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.c25-landing .d-flex.row:before,
.c25-landing .d-flex.row:after {
	display: none;
}

.c25-landing .flex-nowrap {
	-webkit-flex-wrap: nowrap;
	-moz-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	-o-flex-wrap: nowrap;
	flex-wrap: nowrap;
}

.c25-landing .flex-column {
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}


.c25-landing .justify-content-center {
	justify-content: center;
}


.c25-landing .align-items-start {
	-ms-align-items: stretch;
	align-items: stretch;
}

.c25-landing .align-items-center {
	-ms-align-items: center;
	align-items: center;
}

.c25-landing .align-self-center {
	-ms-align-self: center;
	align-self: center;
}

.c25-landing .align-self-end {
	-ms-align-self: flex-end;
	align-self: flex-end;
}


.c25-title {
	margin: 0 0 20px;
	font-size: 43px;
	font-weight: 900;
	color: #000000;
	text-transform: uppercase;
}

.c25-description {
	margin: 0;
	font-size: 18px;
	font-weight: 400;
	color: #000000;
}


/* section display */
.c25-display {
	position: relative;
	z-index: 1;
	padding-top: 0;
	padding-bottom: 0;
	background: linear-gradient(to top, #eeeeee 0%, #ffffff 100%);
}

.c25-display .content-wrapper {
	height: 770px;
}

.c25-display .c25-display-typography-container {
	padding-top: 200px;
	padding-bottom: 80px;
}


#c25-display-parallax {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.c25-display-parallax-layer {
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.c25-display-parallax-layer.back {
	background-image: url('../images/section-display/section-display-parallax-back.png');
}

.c25-display-parallax-layer.front {
	background-image: url('../images/section-display/section-display-parallax-front.png');
}
/* section display end */


/* section keyboard */
.c25-keyboard {
	position: relative;
	z-index: 1;
	padding-top: 0;
	padding-bottom: 0;
	background: linear-gradient(45deg, #473f3c 0%, #1a232c 100%);
	color: #fff;
}

.c25-keyboard .content-wrapper {
	height: 760px;
}

.c25-keyboard .c25-title,
.c25-keyboard .c25-description {
	color: inherit;
}

.c25-keyboard .c25-title {
	margin: 0;
}


.c25-keyboard .c25-keyboard-image {
	height: 100%;
}

.c25-keyboard .c25-keyboard-image img {
	position: absolute;
	right: 30px;
	bottom: 85px;
	max-width: none;
}

.c25-keyboard .c25-keyboard-typography-container {
	padding-top: 210px;
	padding-bottom: 210px;
}
/* section keyboard end */


/* section ui */
.c25-ui {
	position: relative;
	z-index: 1;
	padding-top: 0;
	padding-bottom: 0;
}

.c25-ui .content-wrapper {
	height: 770px;
}

.c25-ui .c25-ui-typography-container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	padding-top: 80px;
	padding-bottom: 80px;
}

#c25-ui-parallax {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.c25-ui-parallax-layer {
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.c25-ui-parallax-layer.back {
	background-image: url('../images/section-ui/section-ui-parallax-back.png');
}

.c25-ui-parallax-layer.middle {
	background-image: url('../images/section-ui/section-ui-parallax-middle.png');
}

.c25-ui-parallax-layer.front {
	background-image: url('../images/section-ui/section-ui-parallax-front.png');
}
/* section ui end */


/* section colors */
.c25-colors {
	position: relative;
	z-index: 1;
	padding-top: 0;
	padding-bottom: 0;
}

.c25-colors .content-wrapper {
	height: 760px;
}


.c25-colors .c25-colors-image-container {
	padding-top: 60px;
	padding-bottom: 60px;
}

.c25-colors .c25-colors-image img {
	max-width: none;
	position: absolute;
}

.c25-colors .c25-colors-image img {
	z-index: 5;
	top: 50px;
	left: -1px;
}

.c25-colors .c25-colors-image img:nth-child(2), 
.c25-colors .c25-colors-image img:nth-child(3), 
.c25-colors .c25-colors-image img:nth-child(4), 
.c25-colors .c25-colors-image img:nth-child(5), 
.c25-colors .c25-colors-image img:nth-child(6),
.c25-colors .c25-colors-image img:nth-child(7),
.c25-colors .c25-colors-image img:nth-child(8),
.c25-colors .c25-colors-image img:nth-child(9),
.c25-colors .c25-colors-image img:nth-child(10),
.c25-colors .c25-colors-image img:nth-child(11),
.c25-colors .c25-colors-image img:nth-child(12),
.c25-colors .c25-colors-image img:nth-child(13),
.c25-colors .c25-colors-image img:nth-child(14),
.c25-colors .c25-colors-image img:nth-child(15),
.c25-colors .c25-colors-image img:nth-child(16) {
	display: none;
}

.c25-colors .c25-colors-image img:nth-child(17) {
	z-index: 4;
	top: 50px;
	left: 0;
}

.c25-colors .c25-colors-image img:nth-child(18) {
	z-index: 3;
	top: 50px;
	left: 0;
}

.c25-colors .c25-colors-image img:nth-child(19) {
	z-index: 2;
	top: 50px;
	left: 0;
}

.c25-colors .c25-colors-image img:nth-child(20) {
	z-index: 1;
	top: 50px;
	left: 0;
}

.c25-colors-image {
	position: absolute;
	top: 0;
	transform: translateX(300px);
	-webkit-transform: translateX(300px);
	-moz-transform: translateX(300px);
	-ms-transform: translateX(300px);
	-o-transform: translateX(300px);
}


.c25-colors .c25-colors-typography-container {
	position: relative;
	z-index: 1;
	padding-top: 155px;
	padding-bottom: 40px;
}
/* section colors end */


/* section features */
.c25-features {
	padding-top: 95px;
	padding-bottom: 95px;
}

.c25-features .c25-title {
	font-size: 35px;
	text-align: center;
}


.c25-feature-card {
	font-size: 14px;
	font-weight: 300;
	text-align: center;
	color: #434343;
}

.c25-feature-media {
	width: 110px;
	height: 110px;
	margin: 0 auto 15px;
}

.c25-feature-title {
	margin: 0 0 10px;
	font-size: 18px;
	font-weight: 900;
	line-height: 1.38;
	color: inherit;
}


.c25-features-grid {
	display: -ms-flex;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
	margin: 45px -10px -30px;
}

.c25-features-grid:before,
.c25-features-grid:after {
	display: none;
}

.c25-features-grid .c25-feature-item {
	flex: 0 0 20%;
	max-width: 20%;
	margin-bottom: 30px;
	padding-left: 10px;
	padding-right: 10px;
}
/* section features end */