.footer-wrapper .container-fluid {
    max-width: 1740px;
}

.footer-logo-wrapper {
    padding: 40px 0;
    background-color: #fff;
}

.footer-main-wrapper {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #F2F2F2;
}

@media (min-width: 992px) {
    .footer-main-wrapper {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}