.gallery-card {
	display: block;
	text-decoration: none;
}

.gallery-card:hover {
	text-decoration: none;
}

.gallery-card .gallery-media {
	margin: 0;
}

.gallery-card .gallery-media {
	width: 100%;
}