.footer-box {
	@extend .gradient-dark;
	padding: 15px 0 20px;
	font-size: 15px;
	color: #fff;
	letter-spacing: 0.75px;

	.footer-side-left,
	.footer-side-center,
	.footer-side-right {
		@media (max-width: 991px) {
			padding-top: 15px;
			padding-bottom: 15px;
			text-align: center !important;
		}
	}

	.footer-side-left {}
	.footer-side-center {
		text-align: center;
	}
	.footer-side-right {
		text-align: right;
	}
}


.footer-social {
	@media (max-width: 991px) {
		margin: 10px 0;
	}
}