$base-font: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
$base-secondary: "Bebas", sans-serif;
$base-heading:  'Roboto', serif;


$default: #495260;
$default-heading: #000;
$link-color: #8bb2d0;


$warning: #f4c629;
$primary: #a0b1c1;
$info: #8bb2d0;
$gray: #99a2b0;

$fontArial: Arial, Helvetica Neue, Helvetica, sans-serif;