input,
textarea {
	outline: none;
	display: block;
	width: 100%;
	height: 55px;
	padding: 0 15px;
	border: none;
	border-bottom: 2px solid $warning;
	border-radius: 0;
	background-color: transparent;
	font-size: 14px;
	letter-spacing: 0.7px;
	color: $text-color;
	&::placeholder {
		color: $text-color;
	}
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
	cursor: pointer;
	position: relative;
	margin: 0;
	padding: 0 0 0 35px;
	font-size: 14px;
	font-weight: 300;
	color: $secondary;
	line-height: 1.45;
	letter-spacing: 0.7px;
}

input[type="checkbox"] + label:before {
	content: '';
	position: absolute;
	top: 1px;
	left: 0;
	width: 20px;
	height: 20px;
	border: 1px solid $secondary;
	background-color: #fff;
}
input[type="checkbox"] + label:after {
	content: '\e900';
	opacity: 0;
	visibility: hidden;
	position: absolute;
    top: -6px;
    left: 2px;
    width: 20px;
    height: 20px;
	transition: opacity 300ms ease, visibility 300ms ease;
	font-family: 'icomoon';
	font-size: 24px;
}
input[type="checkbox"]:checked + label:after {
	opacity: 1;
	visibility: visible;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}

textarea {
	resize: none;
	height: 105px;
	padding-top: 15px;
	padding-bottom: 15px;
}

button {
	cursor: pointer;
	outline: none;
}


.btn {
	overflow: hidden;
	position: relative;
	outline: none;
	cursor: pointer;
	display: inline-block;
	padding: 18px 65px;
	border: none;
	border-radius: 30px;
	background-color: $warning;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	color: $text-color;
	line-height: 1;
	@include media-breakpoint-down(lg) {
		padding-left: 15px;
		padding-right: 15px;
	}

	&:before {
		content: '';
		display: block;
		position: absolute;
		height: 100%;
		width: 140%;
		top: -150px;
		left: -20%;
		opacity: 0.6;
		background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), #ffffff 40%, rgba(255, 255, 255, 0.6) 60%, rgba(255, 255, 255, 0));
		transform: rotate(-40deg);
		transition: top 0.5s cubic-bezier(0, 0.3, 1, 0.7);
	}


	&:hover {
		color: $text-color;
		text-decoration: none;
		&:before {
			top: 150px;
		}
	}

	&.btn-lg {
		padding: 23px 35px;
	}

	&.btn-sm {
		min-width: 160px;
		padding-top: 13px;
		padding-bottom: 14px;
		text-align: center;
	}

	&.btn-block {
		display: block;
		min-width: 100%;
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
}


.form-title {
	margin: 0 0 30px;
	font-size: 33px;
	font-weight: 900;
	letter-spacing: 0.82px;
	@include media-breakpoint-down(lg) {
		font-size: 26px;
	}
	@include media-breakpoint-down(sm) {
		font-size: 24px;
	}
}


.form-group {
	margin-top: 15px;
	margin-bottom: 15px;
}