.footer-contact-wrapper {
    padding: 40px 0;
    border-top: 20px solid #f3f3f3;
    background-color: #fff;
}

.contacts-grid {
    margin-bottom: -15px;
}

.contacts-grid .contact-item {
    margin-bottom: 15px;
}