@font-face {
    font-family: 'SFUI Display';
    src:  url('../fonts/SFUIDisplay-Regular/SFUIDisplay-Regular.eot');
    src:  url('../fonts/SFUIDisplay-Regular/SFUIDisplay-Regular.eot#iefix') format('embedded-opentype'),
        url('../fonts/SFUIDisplay-Regular/SFUIDisplay-Regular.ttf') format('truetype'),
        url('../fonts/SFUIDisplay-Regular/SFUIDisplay-Regular.woff') format('woff'),
        url('../fonts/SFUIDisplay-Regular/SFUIDisplay-Regular.svg#SFUIDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFUI Display';
    src:  url('../fonts/SFUIDisplay-Ultralight/SFUIDisplay-Ultralight.eot');
    src:  url('../fonts/SFUIDisplay-Ultralight/SFUIDisplay-Ultralight.eot#iefix') format('embedded-opentype'),
        url('../fonts/SFUIDisplay-Ultralight/SFUIDisplay-Ultralight.ttf') format('truetype'),
        url('../fonts/SFUIDisplay-Ultralight/SFUIDisplay-Ultralight.woff') format('woff'),
        url('../fonts/SFUIDisplay-Ultralight/SFUIDisplay-Ultralight.svg#SFUIDisplay-Ultralight') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SFUI Display';
    src:  url('../fonts/SFUIDisplay-Thin/SFUIDisplay-Thin.eot');
    src:  url('../fonts/SFUIDisplay-Thin/SFUIDisplay-Thin.eot#iefix') format('embedded-opentype'),
        url('../fonts/SFUIDisplay-Thin/SFUIDisplay-Thin.ttf') format('truetype'),
        url('../fonts/SFUIDisplay-Thin/SFUIDisplay-Thin.woff') format('woff'),
        url('../fonts/SFUIDisplay-Thin/SFUIDisplay-Thin.svg#SFUIDisplay-Thin') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SFUI Display';
    src:  url('../fonts/SFUIDisplay-Light/SFUIDisplay-Light.eot');
    src:  url('../fonts/SFUIDisplay-Light/SFUIDisplay-Light.eot#iefix') format('embedded-opentype'),
        url('../fonts/SFUIDisplay-Light/SFUIDisplay-Light.ttf') format('truetype'),
        url('../fonts/SFUIDisplay-Light/SFUIDisplay-Light.woff') format('woff'),
        url('../fonts/SFUIDisplay-Light/SFUIDisplay-Light.svg#SFUIDisplay-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SFUI Display';
    src:  url('../fonts/SFUIDisplay-Medium/SFUIDisplay-Medium.eot');
    src:  url('../fonts/SFUIDisplay-Medium/SFUIDisplay-Medium.eot#iefix') format('embedded-opentype'),
        url('../fonts/SFUIDisplay-Medium/SFUIDisplay-Medium.ttf') format('truetype'),
        url('../fonts/SFUIDisplay-Medium/SFUIDisplay-Medium.woff') format('woff'),
        url('../fonts/SFUIDisplay-Medium/SFUIDisplay-Medium.svg#SFUIDisplay-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SFUI Display';
    src:  url('../fonts/SFUIDisplay-Semibold/SFUIDisplay-Semibold.eot');
    src:  url('../fonts/SFUIDisplay-Semibold/SFUIDisplay-Semibold.eot#iefix') format('embedded-opentype'),
        url('../fonts/SFUIDisplay-Semibold/SFUIDisplay-Semibold.ttf') format('truetype'),
        url('../fonts/SFUIDisplay-Semibold/SFUIDisplay-Semibold.woff') format('woff'),
        url('../fonts/SFUIDisplay-Semibold/SFUIDisplay-Semibold.svg#SFUIDisplay-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SFUI Display';
    src:  url('../fonts/SFUIDisplay-Bold/SFUIDisplay-Bold.eot');
    src:  url('../fonts/SFUIDisplay-Bold/SFUIDisplay-Bold.eot#iefix') format('embedded-opentype'),
        url('../fonts/SFUIDisplay-Bold/SFUIDisplay-Bold.ttf') format('truetype'),
        url('../fonts/SFUIDisplay-Bold/SFUIDisplay-Bold.woff') format('woff'),
        url('../fonts/SFUIDisplay-Bold/SFUIDisplay-Bold.svg#SFUIDisplay-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SFUI Display';
    src:  url('../fonts/SFUIDisplay-Heavy/SFUIDisplay-Heavy.eot');
    src:  url('../fonts/SFUIDisplay-Heavy/SFUIDisplay-Heavy.eot#iefix') format('embedded-opentype'),
        url('../fonts/SFUIDisplay-Heavy/SFUIDisplay-Heavy.ttf') format('truetype'),
        url('../fonts/SFUIDisplay-Heavy/SFUIDisplay-Heavy.woff') format('woff'),
        url('../fonts/SFUIDisplay-Heavy/SFUIDisplay-Heavy.svg#SFUIDisplay-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}



@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon/icomoon.eot');
    src:  url('../fonts/icomoon/icomoon.eot#iefix') format('embedded-opentype'),
        url('../fonts/icomoon/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon/icomoon.woff') format('woff'),
        url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}



[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-smile:before {
  content: "\e900";
}
.icon-time:before {
  content: "\e901";
}
.icon-users:before {
  content: "\e902";
}
.icon-volume-off:before {
  content: "\e903";
}
.icon-volume-on:before {
  content: "\e904";
}
.icon-warning:before {
  content: "\e905";
}
.icon-fighting-game:before {
  content: "\e906";
}
.icon-crown:before {
  content: "\e907";
}
.icon-chest:before {
  content: "\e908";
}
.icon-chip:before {
  content: "\e909";
}
.icon-info:before {
  content: "\e90a";
}
.icon-settings:before {
  content: "\e90b";
}
.icon-stat:before {
  content: "\e90c";
}
.icon-reload:before {
  content: "\e90d";
}