.header-box {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	right: 0;
	background-color: #171a1f;
	box-shadow: 0 2px 32px rgba(2, 3, 3, 0.35);
	.header-col {
		display: flex;
		align-items: center;
		padding-left: 0;
		padding-right: 0;
	}
}

.header-logo {
	margin: 0 40px;
	@media screen and (max-width: 1680px) {
		margin: 0 15px;
	}

	img {
		width: 132px;
		@media screen and (max-width: 1680px) {
			width: 107px;
		}
	}
}

.header-nav-list {
	cursor: default;
	margin: 0;
	padding: 0;
	list-style: none;
	.header-nav-item {
		display: inline-block;
		margin: 0 25px;
		@media screen and (max-width: 1680px) {
			margin: 0 10px;
		}

		.header-nav-link {
			display: inline-block;
			padding: 26px 0 20px;
			border-bottom: 2px solid transparent;
			color: #4c5a69;
			font-size: 20px;
			font-weight: 500;
			text-decoration: none;
			@media screen and (max-width: 1680px) {
				padding: 22px 0 14px;
				font-size: 16px;
				font-weight: 500;
			}
		}
		&.active {
			.header-nav-link {
				border-bottom-color: $primary;
				color: $primary;
			}
		}
		&:hover {
			.header-nav-link {
				color: $primary;
			}
		}
	}
}


.header-lang {
	width: 80px;
	text-align: center;
	@media screen and (max-width: 1680px) {
		width: 63px;
	}

	img {
		@media screen and (max-width: 1680px) {
			max-width: 24px;
		}
	}

	.dropdown-toggle {
		cursor: pointer;
		outline: none;
		height: 80px;
		width: 80px;
		margin: 0;
		padding: 0;
		border: none;
		border-radius: 0;
		background-color: transparent;
		transition: background-color 300ms ease;
		line-height: 1;
		@media screen and (max-width: 1680px) {
			height: 63px;
			width: 63px;
		}

		&:after {
			display: none;
		}

		&:hover {
			background-color: #242b33;
		}
	}

	.dropdown-menu {
		min-width: 80px;
		text-align: center;
		@media screen and (max-width: 1680px) {
			min-width: 63px;
		}
	}
}

.header-volume {
	cursor: pointer;
	outline: none !important;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 80px;
	border: none;
	border-radius: 0;
	background-color: transparent;
	transition: background-color 300ms ease;
	font-size: 45px;
	color: #9b9d9f;
	@media screen and (max-width: 1680px) {
		width: 63px;
		height: 63px;
		font-size: 35px;
	}

	&:hover {
		background-color: #242b33;
		color: #fff;
	}
}


// header User
.header-profile-info {
	cursor: default;
	position: relative;
	margin: 0 10px 0 0;
	padding: 0 30px 0 0;
	list-style: none;
	font-size: 16px;
	font-weight: 700;
	color: #ffffff;
	@media screen and (max-width: 1680px) {
		font-size: 15px;
	}

	&:after {
		content: '';
		position: absolute;
		top: 50%;
		right: 0;
		height: 42px;
		width: 2px;
		background-image: linear-gradient(to top, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.15) 50%, rgba(0, 0, 0, 0.15) 100%);
		transform: translateY(-50%);
	}

	span {
		font-weight: 500;
		color: #36af46;
	}

	.header-profile-info-item {
		display: inline-block;
		margin: 0 8px;
		@media screen and (max-width: 1680px) {
			margin: 0 4px;
		}
	}
}

.header-user {
	min-width: 260px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	@media screen and (max-width: 1680px) {
		min-width: 205px;
	}

	.dropdown-toggle {
		cursor: pointer;
		outline: none;
		display: block;
		height: 80px;
		width: 100%;
		margin: 0 auto;
		padding: 0;
		border: none;
		border-radius: 0;
		background-color: transparent;
		@media screen and (max-width: 1680px) {
			height: 63px;
		}

		&:after {
			color: #fff;
			vertical-align: middle;
		}

		.user-pie-chart,
		.header-user-name {
			display: inline-block;
			vertical-align: middle;
		}

		.header-user-name {
			margin: 0 0 0 25px;
			color: #ffffff;
			font-size: 16px;
			font-weight: 500;
			text-shadow: 0 6px 3px rgba(0, 0, 0, 0.1);
			@media screen and (max-width: 1680px) {
				margin: 0 0 0 18px;
				font-size: 14px;
			}
		}
	}

	.dropdown-menu {
		top: 100% !important;
		right: 0;
		min-width: 260px;
		margin: 0;
		transform: none !important;
		@media screen and (max-width: 1680px) {
			min-width: 205px;
		}
		&:after {
			content: '';
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			right: 0;
			height: 40px;
			background: linear-gradient(to bottom, #161c21 0%, transparent 100%);
		}

		.dropdown-item {
			padding: 8px 15px 8px 40px;
			@media screen and (max-width: 1680px) {
				padding: 5px 15px 5px 30px;
			}

			&:before {
				content: '';
				opacity: 0;
				visibility: hidden;
				position: absolute;
				top: 50%;
				left: 15px;
				width: 4px;
				height: 4px;
				border-radius: 50%;
				background-color: $primary;
				transform: translateY(-50%);
				transition: 300ms ease;
			}

			i {
				display: inline-block;
				position: relative;
				vertical-align: middle;
				width: 45px;;
				// margin-right: 25px;
				font-size: 20px;
				@media screen and (max-width: 1680px) {
					width: 35px;
					font-size: 14px;
				}
			}
			i.icon-power {
				left: -5px;
				font-size: 32px;
			}

			&:hover {
				background-color: transparent;
				color: $primary;
				&:before {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}

