
// history
.history-wrapper {
	position: relative;
	height: 900px;
	margin: -30px -15px -30px -25px;
	.history-content {
		height: 900px;
		overflow-y: auto;
	}

	.history-shadow {
		content: '';
		opacity: 1;
		visibility: visible;
		position: absolute;
		left: 0;
		right: 15px;
		bottom: 0 !important;
		height: 150px;
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(36,43,51,1) 100%);
		transition: opacity 300ms ease, visibility 300ms ease;
	}

	&.visible:after {
		opacity: 0;
		visibility: hidden;
	}
}

.history-user {
	display: flex;
	align-items: center;
	.history-user-media {
		flex: 0 0 43px;
		max-width: 43px;
		height: 43px;
		border-radius: $global-radius;
		margin-right: 20px;
		.history-user-picture {
			width: inherit;
			height: inherit;
			border-radius: $global-radius;
		}
	}
	.history-user-name {
		flex: 1;
		color: #ffffff;
		font-family: "SFUI Display";
		font-size: 15px;
		font-weight: 600;
		line-height: 1;
		@media screen and (max-width: 1680px) {
			font-size: 14px;
		}
	}
}

.history-transaction-type {
	display: flex;
	align-items: center;
	width: 165px;
	&-media {
		flex: 0 0 25px;
		max-width: 25px;
		margin-right: 10px;
	}
	&-value {
		font-size: 15px;
		font-weight: 600;
		color: #fff;
		line-height: 1;
		@media screen and (max-width: 1680px) {
			font-size: 14px;
		}
	}
}

.history-table {
	background-color: #242b33;
	th,
	td {
	    white-space: nowrap;
	}
}

.history-transaction-table {
	tbody {
		tr:hover td:nth-last-of-type(2) {
			text-decoration: none !important;
		}

		th,
		td {
			&:first-child {
				padding-left: 25px;
				text-align: left;
				@media screen and (max-width: 1680px) {
					padding-left: 20px;
				}
			}
			&:last-child {
				padding-right: 25px;
				@media screen and (max-width: 1680px) {
					padding-right: 20px;
				}
			}

			&:nth-child(2) {
				width: 100%;
			}
		}
	}
}

// .tr-fixed{
// 	position: absolute;
// 	top: 0;
// 	width: 100%;
// 	background: #242b33;
// 	th{
// 		&:nth-of-type(1){
// 			padding-left: 65px !important;
// 			padding-right: 40px !important;
// 		}
// 		&:nth-of-type(3){
// 			padding-left: 360px !important;
// 			padding-right: 95px !important;
// 		}
// 		&:nth-of-type(5){
// 			padding-left: 95px !important;
// 			padding-right: 85px !important;
// 		}
// 		&:nth-of-type(7){
// 			padding-left: 120px !important;
// 		}
// 	}
// }

.history-table th,
.history-table td {
	vertical-align: middle;
	font-size: 15px;
	font-weight: 600;
	line-height: 1;
	text-align: center;
	@media screen and (max-width: 1680px) {
		font-size: 14px;
	}
}

.history-table th {
	height: 75px;
	border-top: none;
	color: #455260;
	@media screen and (max-width: 1680px) {
		height: 55px;
		font-size: 13px;
	}
}


.history-table td {
	height: 65px;
	padding-left: 20px;
	padding-right: 20px;
	border-top-color: #2a313b;
	color: #fff;
	@media screen and (max-width: 1680px) {
		height: 55px;
	}
}

.history-table td:first-child {
	color: $primary;
}

.history-table th:nth-child(2),
.history-table td:nth-child(2) {
	text-align: left;
}

.history-table td:nth-last-of-type(2) {
	color: $success;
}

.history-table tbody tr:hover td:nth-last-of-type(2) {
	text-decoration: underline;
}





.history-details {
	display: none;
	background-color: #2a313b;
}

.history-inventory-wrapper {
	max-height: 390px;
	margin-bottom: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	.inventory-grid {
		margin: -20px -25px 0;
		border-radius: 0;
		background-color: transparent;
		.inventory-item {
			flex: 0 0 105px;
			max-width: 105px;
			height: 100px;
			margin: 0 15px 30px;
			border: none;
			@media screen and (max-width: 1680px) {
				flex: 0 0 122px;
				max-width: 122px;
				height: 122px;
				margin: 0 6px 12px;
			}

			.inventory-card {
				cursor: default;
				@media screen and (max-width: 1680px) {
					max-width: 122px;
				}

				.inventory-label {
					@media screen and (max-width: 1680px) {
						font-size: 13px;	
					}
				}

				.inventory-thumbnail {
					@media screen and (max-width: 1680px) {
						margin-top: 14px;
					}

					.inventory-picture {
						@media screen and (max-width: 1680px) {
							max-height: 44px;
						}
					}
				}
				
				.inventory-title,
				.inventory-price {
					@media screen and (max-width: 1680px) {
						font-size: 14px;
					}
				}

				&:hover {
					border-color: transparent;
					&:after {
						opacity: 1;
						visibility: visible;
					}
					.inventory-card-inner {
						&:before,
						&:after {
							display: none;
						}
					}
				}
			}
		}
	}
}
