
// history
.history-wrapper {
	position: relative;
	height: 900px;
	padding-top: 75px;
	margin: -35px -15px -35px -25px;
	overflow-y: scroll;
	.history-shadow{
		content: '';
		opacity: 1;
		visibility: visible;
		position: absolute;
		left: 0;
		right: 25px;
		bottom: 0;
		height: 150px;
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(36,43,51,1) 100%);
		transition: opacity 300ms ease, visibility 300ms ease;
	}

	&.visible:after {
		opacity: 0;
		visibility: hidden;
	}
}

.history-user {
	display: flex;
	align-items: center;
	.history-user-media {
		flex: 0 0 43px;
		max-width: 43px;
		height: 43px;
		border-radius: $global-radius;
		margin-right: 20px;
		.history-user-picture {
			width: inherit;
			height: inherit;
			border-radius: $global-radius;
		}
	}
	.history-user-name {
		flex: 1;
		color: #ffffff;
		font-family: "SFUI Display";
		font-size: 15px;
		font-weight: 600;
		line-height: 1;
	}
}

.history-table {
	background-color: #242b33;
}

.tr-fixed{
	position: absolute;
	top: 0;
	width: 100%;
	background: #242b33;
	th{
		&:nth-of-type(1){
			padding-left: 65px !important;
			padding-right: 40px !important;
		}
		&:nth-of-type(3){
			padding-left: 360px !important;
			padding-right: 95px !important;
		}
		&:nth-of-type(5){
			padding-left: 95px !important;
			padding-right: 85px !important;
		}
		&:nth-of-type(7){
			padding-left: 120px !important;
		}
	}
}

.history-table th,
.history-table td {
	vertical-align: middle;
	font-size: 15px;
	font-weight: 600;
	line-height: 1;
	text-align: center;
}

.history-table th {
	height: 75px;
	border-top: none;
	color: #455260;
}


.history-table td {
	height: 65px;
	padding-left: 20px;
	padding-right: 20px;
	border-top-color: #2a313b;
	color: #fff;
}

.history-table th:first-child,
.history-table td:first-child {
	padding-left: 40px;
}

.history-table td:first-child {
	color: $primary;
}

.history-table th:nth-child(2),
.history-table td:nth-child(2) {
	text-align: left;
}

.history-table td:nth-last-of-type(2) {
	color: $success;
}

.history-table tbody tr:hover td:nth-last-of-type(2) {
	text-decoration: underline;
}





.history-details {
	display: none;
	background-color: #2a313b;
}

.history-inventory-wrapper {
	max-height: 390px;
	margin-bottom: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	.inventory-grid {
		margin: -20px -25px 0;
		border-radius: 0;
		background-color: transparent;
		.inventory-item {
			flex: 0 0 105px;
			max-width: 105px;
			height: 100px;
			margin: 0 15px 30px;
			border: none;
			.inventory-card {
				cursor: default;
				&:hover {
					border-color: transparent;
					&:after {
						opacity: 1;
						visibility: visible;
					}
					.inventory-card-inner {
						&:before,
						&:after {
							display: none;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 1679px){
	.tr-fixed{
		position: absolute;
		top: 0;
		width: 100%;
		background: #242b33;
		th{
			&:nth-of-type(1){
				padding-left: 65px !important;
				padding-right: 50px !important;
			}
			&:nth-of-type(3){
				padding-left: 250px !important;
				padding-right: 75px !important;
			}
			&:nth-of-type(5){
				padding-left: 70px !important;
				padding-right: 65px !important;
			}
			&:nth-of-type(7){
				padding-left: 75px !important;
			}
		}
	}
}

@media (max-width: 1439px){
	.tr-fixed{
		position: absolute;
		top: 0;
		width: 100%;
		background: #242b33;
		th{
			&:nth-of-type(1){
				padding-left: 50px !important;
				padding-right: 35px !important;
			}
			&:nth-of-type(3){
				padding-left: 230px !important;
				padding-right: 65px !important;
			}
			&:nth-of-type(5){
				padding-left: 60px !important;
				padding-right: 55px !important;
			}
			&:nth-of-type(7){
				padding-left: 70px !important;
			}
		}
	}
}

@media (max-width: 1199px){
	.tr-fixed{
		position: absolute;
		top: 0;
		width: 100%;
		background: #242b33;
		th{
			&:nth-of-type(1){
				padding-left: 50px !important;
				padding-right: 35px !important;
			}
			&:nth-of-type(3){
				padding-left: 150px !important;
				padding-right: 45px !important;
			}
			&:nth-of-type(5){
				padding-left: 40px !important;
				padding-right: 35px !important;
			}
			&:nth-of-type(7){
				padding-left: 50px !important;
			}
		}
	}
}