.hero-banner {
	position: relative;
	margin: 0 0 40px;
	border-radius: 20px;
	background-position: center;
	background-size: conver;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
	.close {
		outline: none;
		cursor: pointer;
		position: absolute;
		top: 10px;
		right: 20px;
		border: none;
		border-radius: 0;
		background: none;
	}

	.hero-banner-inner {
		min-height: 223px;
		padding: 0 50px;
	}

	.hero-banner-title {
		margin: 10px 0;
		color: #ffffff;
		font-size: 20px;
		font-weight: 700;
	}
	.hero-banner-description {
		max-width: 385px;
		margin: 0;
		color: #b6b6b6;
		font-size: 12px;
		font-weight: 400;
		span {
			font-weight: 600;
			color: $primary;
		}
	}

	.hero-banner-skin {
		text-align: center;
	}
}


.game-header {
	overflow: hidden;
	display: flex;
	align-items: center;
	padding: 14px 25px;
	border-top-left-radius: $global-radius;
	border-top-right-radius: $global-radius;
	background-color: #1c2127;
	font-size: 18px;
	font-weight: 400;
	color: #b6b6b6;
	@media screen and (max-width: 1680px) {
		padding-left: 20px;
		padding-right: 20px;
		font-size: 15px;
	}

	.game-tabs {
		margin: -14px -25px;
		flex: 1 1 auto;
		@media screen and (max-width: 1680px) {
			margin-left: -20px;
			margin-right: -20px;
		}
	}

	.game-header-info {
		cursor: default;
		margin: 0;
		padding: 0;
		list-style: none;
		.game-header-info-item {
			display: inline-block;
			margin: 0 12px;
			@media screen and (max-width: 1680px) {
				margin: 0 6px;
			}
			
			span {
				font-weight: 600;
				color: $primary;
			}

			.btn-xs {
				font-size: 12px;
			}
		}
	}
}


.game-active-display {
	margin-bottom: 35px;
	padding: 15px 30px;
	border-radius: $global-radius;
	background-color: #1c2127;
	@media screen and (max-width: 1680px) {
		padding: 15px 20px;
	}
}

.winner-line{
	overflow: hidden;
	position: relative;
	background-color: #1c2127;
	border-radius: $global-radius;
	padding: 20px 10px;
	z-index: 1;
	font-family: $base-font;
	height: 117px;
	@media screen and (max-width: 1680px) {
		height: 94px;
		padding-top: 17px;
		padding-bottom: 17px;
	}

	ul {
		width: 100%;
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		li {
			list-style: none;
			width: 74px;
			height: 74px;
			flex: 0 0 74px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: $global-radius;
			font-size: 30px;
			color: #ffffff;
			text-align: center;
			position: relative;
			@media screen and (max-width: 1680px) {
				flex: 0 0 60px;
				width: 60px;
				height: 60px;
			}

			&:nth-of-type(n+2){
				margin-left: 16px;
				@media screen and (max-width: 1680px) {
					margin-left: 12px;
				}
			}

			img{
				object-fit: cover;
				width: 100%;
				height: 100%;
				border-radius: $global-radius;
				position: absolute;
			}
		}
	}
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		background: linear-gradient(to right, #1c2127 0%, transparent 100%);
		width: 10%;
		height: 100%;
	}
	&:after{
		content: '';
		position: absolute;
		top: 0;
		right: -3px;
		z-index: 2;
		background: linear-gradient(to left, #1c2127 0%, transparent 100%);
		width: 10%;
		height: 100%;
	}
}

.win-arrow_top{
	position: absolute;
	z-index: 2;
	width: 41px;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	@media screen and (max-width: 1680px) {
		width: 34px;
	}
}

.win-arrow_bottom{
	position: absolute;
	z-index: 2;
	width: 41px;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, 50%);
	@media screen and (max-width: 1680px) {
		width: 34px;
	}
}


.top-indent{
	margin-top: 35px;
	margin-bottom: 35px;
}

.game-active-user {
	position: relative;
	display: flex;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		right: -15px;
		bottom: 0;
		width: 2px;
		background-image: linear-gradient(to top, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.15) 50%, rgba(0, 0, 0, 0.15) 100%);
	}

	.user-thumbnail {
		align-self: center;
		position: relative;
		z-index: 1;
		flex: 0 0 101px;
		max-width: 101px;
		height: 88px;
		margin-right: 30px;
		padding: 10px;
		@media screen and (max-width: 1680px) {
			flex: 0 0 80px;
			max-width: 0 0 80px;
			height: 68px;
			margin-right: 25px;
		} 

		&:after {
			content: '';
			position: absolute;
			z-index: 9;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: url('../images/page-home/section-game/active-game/active-game-user-thumbnail-bg.png') no-repeat 0 0 ;
			background-size: contain;
		}

		.user-picture {
			position: relative;
			z-index: -1;
		    width: 82px;
		    height: 68px;
		    -webkit-clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
    		clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
    		@media screen and (max-width: 1680px) {
    			width: 62px;
    			height: 48px;
    		}
		}
	}

	.user-content {
		align-self: center;
	}

	.user-name {
		margin: 0;
		font-size: 20px;
		font-weight: 700;
		color: #fff;
		line-height: 1;
		@media screen and (max-width: 1680px) {
			font-size: 19px;
		}
	}

	.user-info-list {
		cursor: default;
		margin: 7px 0;
		padding: 0;
		list-style: none;
		font-size: 14px;
		font-weight: 400;
		color: #b6b6b6;
		line-height: 1;
		@media screen and (max-width: 1680px) {
			font-size: 12px;
		}

		b {
			font-weight: 600;
		}
		span {
			color: $primary;
		}

		.user-info-item {
			padding: 3px 0;
		}
	}
}

.game-active-text {
	flex: 0 0 auto;
	padding: 0 15px;
	@media screen and (max-width: 1680px) {
		font-size: 12px;
	}
}

.round-info {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 10px 25px;
	border-radius: $global-radius;
	background-color: #1c2127;
	font-family: $base-font;
	@media screen and (max-width: 1680px) {
		padding-left: 20px;
		padding-right: 20px;
	}

	.round-info_thumbnail {
		flex: 0 0 101px;
		max-width: 100%;
		margin-right: 31px;
		@media screen and (max-width: 1680px) {
			flex: 0 0 81px;
			margin-right: 25px;
		}
	}

	.round-info_text {
		h5 {
			margin-bottom: 0;
			font-size: 24px;
			font-weight: 700;
			color: #ffffff;
			@media screen and (max-width: 1680px) {
				font-size: 19px;
			}
		}

		p{
			margin-bottom: 0;
			font-size: 18px;
			color: #b6b6b6;
			line-height: 1.3;
			@media screen and (max-width: 1680px) {
				font-size: 15px;
			}

			span{
				color: #36af46;
				font-weight: 600;
			}
		}
	}
}

.prize-info {
	display: flex;
	align-items: center;
	width: 100%;
	min-height: 107px;
	padding: 0 12px;
	box-shadow: 0 0 21px rgba(241, 191, 15, 0.15);
	border: 1px solid #f1bf0f;
	border-radius: $global-radius;
	background: #1c2127 url(../images/page-home/winner-line/bg.png) no-repeat;
	font-family: $base-font;
	.prize-info_thumbnail {
		flex: 0 0 112px;
		max-width: 112px;
		margin-right: 15px;
		@media screen and (max-width: 1680px) {
			flex: 0 0 72px;
			max-width: 72px;
		}
	}

	.prize-info_text {
		p{
			margin-bottom: 0;
			font-size: 18px;
			color: #516070;
			@media screen and (max-width: 1680px) {
				font-size: 14px;
			}

			span{
				color: #f1bf0f;
				font-weight: 600;
			}
		}
	}
}

.win-info {
	display: flex;
	align-items: center;
	width: 100%;
	min-height: 107px;
	padding: 22px 30px 18px;
	border-radius: $global-radius;
	background-color: #1c2127;
	font-family: $base-font;
	@media screen and (max-width: 1680px) {
		padding-left: 20px;
		padding-right: 20px;
	}

	.win-info_thumbnail {
		flex: 0 0 48px;
		max-width: 48px;
		margin-right: 27px;
		@media screen and (max-width: 1680px) {
			flex: 0 0 39px;
			max-width: 39px;
			margin-right: 20px;
		}
	}

	.win-info_text {
		p{
			margin-bottom: 0;
			font-size: 18px;
			color: #516070;
			line-height: 1.3;
			@media screen and (max-width: 1680px) {
				font-size: 14px;
			}

			span{
				color: #1990ea;
				font-weight: 600;
			}
		}
	}
}

.game-time {
	display: flex;
	align-items: center;
	width: 100%;
	// height: 107px;
	padding: 15px 25px 15px 29px;
	border-radius: $global-radius;
	background-color: #1c2127;
	font-family: $base-font;
	@media screen and (max-width: 1680px) {
		padding: 13px 20px;
	}

	&_text {
		flex: 1 1;
		margin-bottom: 0;
		font-size: 18px;
		color: #516070;
		line-height: 1.2;
		font-weight: 400;
		@media screen and (max-width: 1680px) {
			font-size: 14px;
		}
	}

	&_left {
		flex: 0 0 auto;
		margin-left: auto;
	}
}


.active-game-hint {
	display: flex;
	align-items: center;
	width: 100%;
	// min-height: 107px;
	padding: 20px 30px;
	border-radius: $global-radius;
	background-color: #1c2127;
	font-size: 18px;
	font-weight: 400;
	color: #516070;
	@media screen and (max-width: 1680px) {
		padding-left: 20px;
		padding-right: 20px;
		font-size: 14px;
	}

	b {
		font-weight: 600;
	}
	span {
		color: $success;
		font-weight: 600;
	}

	.game-hint-thumbnail {
		flex: 0 0 48px;
		max-width: 48px;
		margin-right: 27px;
		@media screen and (max-width: 1680px) {
			flex: 0 0 39px;
			max-width: 39px;
			margin-right: 20px;
		}
	}

	.game-hint-text {
		align-self: center;
		line-height: 1.2;
	}
}

.game-active-members {
	overflow: hidden;
	margin-top: 35px;
	margin-bottom: 35px;
	border-radius: $global-radius;
	background-color: #1c2127;
}

.game-active-members-slider {
	position: relative;
	height: 121px;
	padding: 20px 0;
	@media screen and (max-width: 1680px) {
		height: 94px;
		padding: 15px 0;
	}

	&:before,
	&:after {
		content: '';
		position: absolute;
		z-index: 3;
		top: 0;
		bottom: 0;
		width: 30%;
	}
	&:before {
		left: 0;
		background: linear-gradient(to right, rgba(28,33,39,0.65) 0%,rgba(28,33,39,0) 100%);
	}
	&:after {
		right: 0;
		background: linear-gradient(to right, rgba(28,33,39,0) 0%,rgba(28,33,39,0.65) 100%);
	}

	.slide-item {
		// width: 92px;
	}
}

.member-card {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	.member-thumbnail {
		position: relative;
		width: 92px;
		height: 81px;
		padding: 4px;
		box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
		background-color: #2e3640;
		-webkit-clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
    	clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
    	@media screen and (max-width: 1680px) {
    		width: 75px;
    		height: 67px;
    	}

		.member-picture {
			width: 84px;
			height: 73px;
			-webkit-clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
    		clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
    		@media screen and (max-width: 1680px) {
    			width: 67px;
    			height: 59px;
    		}
		}

		.member-percent {
			position: absolute;
			top: 4px;
			left: 4px;
			right: 4px;
			bottom: 4px;
			display: flex;
			align-items: flex-end;
			justify-content: center;
			-webkit-clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
    		clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
			color: #ffffff;
			font-size: 12px;
			font-weight: 600;
			@media screen and (max-width: 1680px) {
				font-size: 10px;
			}
		}
	}

	&.primary {
		.member-percent {
			background: linear-gradient(to bottom, rgba(0,0,0,0) 40%,rgba(#373dd4,1) 100%);
		}
	}
	&.info {
		.member-percent {
			background: linear-gradient(to bottom, rgba(0,0,0,0) 40%,rgba(#35d8e7,1) 100%);
		}
	}
	&.purple {
		.member-percent {
			background: linear-gradient(to bottom, rgba(0,0,0,0) 40%,rgba(#b235a9,1) 100%);
		}
	}

	&.success {
		.member-percent {
			background: linear-gradient(to bottom, rgba(0,0,0,0) 40%,rgba(#2ddd70,1) 100%);
		}
	}
	&.warning {
		.member-percent {
			background: linear-gradient(to bottom, rgba(0,0,0,0) 40%,rgba(#e68a28,1) 100%);
		}
	}
	&.danger {
		.member-percent {
			background: linear-gradient(to bottom, rgba(0,0,0,0) 40%,rgba(#dc3637,1) 100%);
		}
	}
}


.game-active-bid {
	overflow: hidden;
	position: relative;
	height: 130px;
	margin-bottom: 35px;
	padding-top: 25px;
	padding-bottom: 25px;
	border-radius: $global-radius;
	background-color: #1c2127;
	background-position: center right;
	background-size: contain;
	background-repeat: no-repeat;
	@media screen and (max-width: 1680px) {
		height: 105px;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	&:after {
		content: '';
		position: absolute;
		z-index: 10;
		top: 0;
		right: 0;
		bottom: 0;
		width: 8px;
		border-top-right-radius: $global-radius;
		border-bottom-right-radius: $global-radius;
	}
	&.epic:after {
		background-color: $epic;
	}
	&.legendary:after {
		background-color: $warning;
	}

	.bid-row {
		flex-wrap: nowrap;
	}
	.bid-user {
		display: flex;
		.bid-user-media {
			position: relative;
			flex: 0 0 75px;
			max-width: 75px;
			width: 75px;
			height: 75px;
			margin-left: 50px;
			margin-right: 35px;
			@media screen and (max-width: 1680px) {
				flex: 0 0 60px;
				max-width: 60px;
				width: 60px;
				height: 60px;
				margin-left: 35px;
				margin-right: 25px;
			}

			.bid-user-level {
				position: absolute;
				z-index: 9;
				left: 50%;
				bottom: 0;
				transform: translateX(-50%);
				color: #ffffff;
				font-size: 13px;
				font-weight: 700;
				letter-spacing: 1.29px;
				line-height: 1;
			}
		}

		.bid-user-body {
			align-self: center;
			.bid-user-name {
				margin: 10px 0;
				color: #ffffff;
				font-size: 24px;
				font-weight: 700;
				line-height: 1;
				@media screen and (max-width: 1680px) {
					font-size: 19px;
				}
			}
			.bid-user-info {
				margin: 0;
				color: #4e5c6c;
				font-size: 17px;
				font-weight: 400;
				line-height: 15.7px;
				@media screen and (max-width: 1680px) {
					font-size: 14px;
				}

				span {
					color: $primary;
				}
			}
		}
	}


	.bid-rate {
		position: relative;
		margin: 0;
		padding: 0 0 0 10px;
		list-style: none;
		color: #434f5c;
		font-size: 18px;
		font-weight: 400;
		line-height: 1;
		@media screen and (max-width: 1680px) {
			font-size: 15px;
		}

		&:before,
		&:after {
			content: '';
			position: absolute;
			height: 104px;
			top: 50%;
			width: 2px;
			background-image: linear-gradient(to top, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.15) 50%, rgba(0, 0, 0, 0.15) 100%);
			transform: translateY(-50%);
		}
		&:before {
			left: -15px;
		}
		&:after {
			right: -15px;
		}

		span {
			color: $success;
		}

		.bid-rate-item {
			padding: 5px 0;
		}
	}
}

.bid-products-slider {
	// overflow: hidden;
	position: relative;
	height: 68px;
	@media screen and (max-width: 1680px) {
		height: 50px;
	}

	&:before,
	&:after {
		content: '';
		position: absolute;
		z-index: 1;
		top: -30px;
		bottom: -30px;
		width: 30%;
		transition: opacity 300ms ease;
	}
	&:before {
		opacity: 0;
		left: 20px;
		background: linear-gradient(to right, rgba(#1c2127,1) 0%,rgba(0,0,0,0) 100%);
	}
	&:after {
		right: 0;
		background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(#1c2127,1) 100%);
	}

	.slide-item {
		padding: 0 10px;
	}

	.slick-list {
		margin-left: 20px;
		margin-right: 20px;
	}
	.slick-prev {
		opacity: 0;
		left: 0;
		transition: opacity 300ms ease;
	}

	&.scrolled {
		&:before {
			opacity: 1;
		}

		.slick-prev {
			opacity: 1;
		}
	}
}

.bid-product {
	position: relative;
	overflow: hidden;
	width: 98px;
	height: 68px;
	border-radius: 10px;
	background-color: rgba(#252c34, .3);
	box-shadow: 0 7px 8px rgba(0, 0, 0, 0.15);
	@media screen and (max-width: 1680px) {
		width: 75px;
		height: 50px;
	}

	&:after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 3px;
	}

	&.legendary {
		&:after {
			background-color: $danger;
		}
	}
	&.epic {
		&:after {
			background-color: $epic;
		}
	}
	&.rare {
		&:after {
			background-color: $rare;
		}
	}
	&.default {
		&:after {
			background-color: $default;
		}
	}

	img {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		max-width: 100%;
		max-height: 100%;
		margin: auto;
		@media screen and (max-width: 1680px) {
			max-height: 80%;
			max-width: 80%;
		}
	}
}


.active-games {
	margin-bottom: -35px;
}

.active-game-card {
	overflow: hidden;
	margin-bottom: 35px;
	padding-top: 30px;
	padding-bottom: 30px;
	border-radius: $global-radius;
	background-size: cover;
	background-position: center;
	background-color: #1c2127;

	.active-game-thumbnail {
		position: relative;
		text-align: center;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 2px;
			background-image: linear-gradient(to top, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.15) 50%, rgba(0, 0, 0, 0.15) 100%);
		}

		.active-game-pricture {
			max-width: 150px;
		}
	}

	.active-game-title {
		margin: 10px 0;
		color: #ffffff;
		font-size: 20px;
		font-weight: 700;
		line-height: 1;
		@media screen and (max-width: 1680px) {
			font-size: 16px;
		}
	}

	.active-game-status {
		cursor: pointer;
		display: inline-block;
		vertical-align: middle;
		margin: 0;
		padding: 5px 15px;
		border: none;
		border-radius: 10px;
		background-color: $primary;
		font-family: "SFUI Display";
		font-size: 12px;
		font-weight: 700;
		color: #fff;
		line-height: 1;
		text-transform: uppercase;
		@media screen and (max-width: 1680px) {
			font-size: 11px;
		}
	}

	.active-game-hash {
		display: inline-block;
		margin: 0 10px;
		vertical-align: middle;
		color: #455260;
		font-family: "SFUI Display";
		font-size: 13px;
		font-weight: 400;
		line-height: 1;
		@media screen and (max-width: 1680px) {
			font-size: 11px;
		}
	}

	&.done {
		.active-game-status {
			background-color: $success;
		}
	}
}


@keyframes progress-bar-stripes {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -3rem 0;
    }
}

.game-active-progress {
	position: relative;
	flex: 1 1 auto;
	max-width: auto;
	height: 76px;
	background-color: #242b33;
	border: 5px solid #242b33;
	border-radius: $global-radius;
	@media screen and (max-width: 1680px) {
		height: 62px;
		border-width: 3px;
	}

	.progress-bar  {
		border-radius: inherit;
		&.bg-info {
			background-color: #85f4e6 !important;
		}

		&.progress-bar-striped {
			background-image: -webkit-linear-gradient(
				-45deg, 
				rgba(255, 255, 255, 0.20) 25%, 
				transparent 25%, 
				transparent 50%, 
				rgba(255, 255, 255, 0.20) 50%, 
				rgba(255, 255, 255, 0.20) 75%, 
				transparent 75%, 
				transparent
				);
			background-size: 3rem 3rem;
		}
	}

	.game-active-progress-value {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 16px;
		font-weight: 400;
		color: #b6b6b6;
		line-height: 1;
		text-align: center;
		@media screen and (max-width: 1680px) {
			font-size: 14px;
		}

		b {
			display: block;
			font-size: 23px;
			color: #ffffff;
			@media screen and (max-width: 1680px) {
				font-size: 20px;
			}
		}
	}
}

.game-active-timer {
	flex: 0 0 172px;
	max-width: 172px;
	@media screen and (max-width: 1680px) {
		flex: 0 0 142px;
		max-width: 142px;
	}
}



// winners
.winners-grid {
	justify-content: space-between;
	.winner-item {
		display: flex;
	}
}

.winner-card {
	position: relative;
	display: flex;
	width: 100%;
	margin: -10px 0 35px;
	padding: 30px 10px 30px 20px;
	border: 2px solid transparent;
	border-radius: $global-radius;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
	background-position: center right;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: #242b33;
	transition: border-color 300ms ease;
	text-decoration: none;
	.winner-media {
		flex: 0 0 140px;
		max-width: 140px;
		margin-right: 30px;
		@media screen and (max-width: 1680px) {
			flex: 0 0 110px;
			max-width: 110px;
		}
	}
	.winner-content {
	    align-self: center;
	}

	.winner-thumbnail {
		position: relative;
		z-index: 1;
		width: 140px;
		height: 120px;
		padding: 12px 16px;
		@media screen and (max-width: 1680px) {
			width: 110px;
			height: 95px;
		}

		&:after {
			content: '';
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: url('../images/page-home/section-winner/winner-card-thumnbail-bg.png') no-repeat center top ;
			background-size: contain;
		}

		.winner-picture {
			position: relative;
			z-index: -1;
			width: 120px;
			height: 96px;
			-webkit-clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
			clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
			@media screen and (max-width: 1680px) {
				width: 90px;
				height: 71px;
			}
		}
	}


	.winner-title {
		margin: 0 0 10px;
		color: #455260;
		font-size: 18px;
		font-weight: 400;
		line-height: 1;
		@media screen and (max-width: 1680px) {
			font-size: 14px;
		}
	}

	.winner-name {
		margin: 0 0 10px;
		color: #ffffff;
		font-size: 27px;
		font-weight: 700;
		line-height: 1;
		@media screen and (max-width: 1680px) {
			font-size: 22px;
		}
	}



	.winner-details-list {
		margin: 0;
		padding: 5px;
		list-style: none;
		border-radius: $global-radius;
		background-color: #1c2127;
		font-size: 14px;
		font-weight: 400;
		color: #455260;
		@media screen and (max-width: 1680px) {
			font-size: 11px;
		}

		.winner-detail-item {
			display: inline-block;
			padding: 0 5px;
		}

		&.success {
			span {
				color: $success;
			}
		}
		&.warning {
			span {
				font-weight: 600;
				color: #f1bf0f;
			}
		}
	}

	&:hover {
		border-color: $primary;
		text-decoration: none;
	}

	&.selected {
		.winner-thumbnail {
			&:after {
				background-image: url('../images/page-home/section-winner/winner-card-thumnbail-selected-bg.png');
			}
		}

		&:hover {
			border-color: #f1c230;
		}
	}
}








