// aside navigation
.header-navigation-toggler {
	outline: none !important;
	cursor: pointer;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 80px;
	border: none;
	border-radius: 0;
	background-color: $primary;
	font-size: 20px;
	color: #fff;
}

.navigation-wrapper {
	overflow-x: hidden;
	overflow-y: auto;
	position: fixed;
	z-index: 99;
	top: 80px;
	left: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	width: 80px;
	background-color: #242b33;
	box-shadow: 2px 0 32px rgba(23, 26, 31, 0.35);
	transition: width 400ms ease;

	.navigation-top {
		flex: 1 1 auto;
		padding-top: 20px;
	}

	.navigation-bottom {
		flex: 0 0 auto;
		padding-top: 20px;
		padding-bottom: 20px;
		background-color: #1c2127;
	}
}

.navigation-menu {
	cursor: default;
	margin: 0 0 70px;
	padding: 0;
	list-style: none;
	@media screen and (max-width: 1366px) {
		margin: 0 0 23px;
	}

	&:last-child {
		margin-bottom: 0;
	}

	.navigation-item {
		margin: 0 0 23px;
		&:last-child {
			margin: 0;
		}
	}
}

.navigation-card {
	cursor: pointer !important;
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	padding: 0 10px;
	text-decoration: none !important;
	.navigation-thumbnail {
		position: relative;
		z-index: 1;
		flex: 0 0 58px;
		height: 58px;
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 58px;
		margin: 0 30px 0 0;
		transition: background-color 300ms ease, border-radius 300ms ease;
		font-size: 24px;
		color: #d4d4d4;
		i.icon-crown {
			font-size: 26px;
		}
		i.icon-chip {
			font-size: 50px;
		}
		i.icon-stat {
			font-size: 40px;
		}
		i.icon-settings {
			font-size: 44px;
		}
		i.icon-info {
			font-size: 44px;
		}

		.badge {
			position: absolute;
			top: 0;
			right: 0;
			border-radius: 50%;
			min-width: 15px;
			height: 15px;
			line-height: 8px;
		}
	}

	.navigation-content {
		position: absolute;
		opacity: 0;
		visibility: hidden;
		top: 50%;
		left: 90px;
		// left: -100%;
		flex: 0 0 160px;
		width: 160px;
		transform: translateY(-50%);
		transition: 300ms left ease, opacity 50ms ease, visibility 50ms ease;
		.navigation-title {
			display: block;
			color: #fff;
			font-size: 18px;
			font-weight: 600;
		}
		.navigation-subtitle {
			display: block;
			color: #4c5a69;
			font-size: 14px;
			font-weight: 400;
		}
	}
}

.navigation-menu.navigation-main {
	.navigation-item {
		.navigation-card {
			&:before {
				opacity: 0;
				visibility: hidden;
				content: '';
				position: absolute;
				top: 0;
				left: -6px;
				bottom: 0;
				width: 10px;
				border-radius: 5px;
				background-color: $primary;
			}

			.navigation-thumbnail {
				border-radius: 50%;
				background-color: #2d343d;
			}

			.navigation-content {
				.navigation-title {
					color: #6185ab;
				}
			}
		}
		
		&:hover,
		&.active {
			.navigation-card {
				.navigation-thumbnail {
					border-radius: 10px;
					background-color: $primary;
					box-shadow: 0 0 9px rgba(25, 144, 234, 0.25);
					color: #fff;
				}
			}
		}

		&.active {
			.navigation-card {
				&:before {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}



.navigation-wrapper.visible {
	width: 280px;
	.navigation-card {
		.navigation-content {
			opacity: 1;
			visibility: visible;
			// left: 90px;
		}
	}
}