// font
$base-font: 'SFUI Display', sans-serif;

// colors
$primary: #1990ea;

$danger: #db2525;
$success: #36af46;


$legendary: #d13639;
$epic: #9c25ca;
$rare: #2550a6;
$default: #242b33;


$global-radius: 10px;