.footer {
	overflow: hidden;
	padding: 20px 0;
	background: #3e4c5e;
	font-size: 10px;
	color: rgba(255,255,255,.5);
	@media (max-width: 640px) {
		text-align: center;
	}

	p {
		margin: 0;
	}
	
	.footer-copyright {
		float: left;
		@media (max-width: 640px) {
			float: none;
		}
	}
	.footer-developed {
		float: right;
		@media (max-width: 640px) {
			float: none;
		}
	}
}