$base-font: "GothamPro", sans-serif;
$base-heading: 'GothamPro', sans-serif;


$default: #666666;
$default-heading: #2c2a50;
$link-color: #50bef8;

$medium-gray: #c0c7c2;
$light-gray: #1b3052;

$primary:  #6a7da0;
$dark-primary: #131e32;
$danger: #e4572e;
$light-danger: #ede6d3;
$dark-danger: #bd3007;
$warning:  #ffc914;
$dark-warning: #9b7805;