.section-about {
    position: relative;
    margin: 0;
    padding: 60px 0 40px;
    background: url('../../images/bgs/bgs-logo-dark.svg') no-repeat center center;
    -webkit-background-size: calc(min(95%, 449px));
    background-size: calc(min(95%, 449px));
}

@media (min-width: 1200px) {
    .section-about {
        min-height: 550px;
        padding: 115px 0 90px;
        -webkit-background-size: 449px 400px;
        background-size: 449px 400px;
    }
}