.section-stages {
    position: relative;
    margin: 0;
    padding: 60px 0 40px;
}

.stages-grid .stage-item {
    margin-bottom: 20px;
}

@media (min-width: 1200px) {
    .section-stages {
        padding: 120px 0 100px;
    }
}