.section-paradigm {
    position: relative;
    margin: 0;
    padding: 120px 0 100px;
}

.section-paradigm .section-title {
    color: #C9B462;
}

.section-paradigm .section-description {
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}

.paradigm-grid .paradigm-item {
    margin-bottom: 30px;
}