@import url('https://fonts.googleapis.com/css?family=Exo+2:300,400,500,500i,700,900');


@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot');
  src:  url('../fonts/icomoon/icomoon.eot#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon/icomoon.woff') format('woff'),
    url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-about-1:before {
  content: "\e900";
}
.icon-about-2:before {
  content: "\e901";
}
.icon-about-3:before {
  content: "\e902";
}
.icon-about-4:before {
  content: "\e903";
}
.icon-about-5:before {
  content: "\e904";
}
.icon-about-6:before {
  content: "\e905";
}
.icon-instagram:before {
  content: "\e906";
}
.icon-twitter:before {
  content: "\e907";
}
.icon-youtube:before {
  content: "\e908";
}
.icon-vk:before {
  content: "\e909";
}
.icon-facebook:before {
  content: "\e90a";
}
.icon-checkbox:before {
  content: "\e90b";
}
.icon-close:before {
  content: "\e90c";
}
.icon-phone:before {
  content: "\e90d";
}
.icon-mail:before {
  content: "\e90f";
}
.icon-location-lg:before {
  content: "\e910";
}
.icon-location:before {
  content: "\e911";
}
.icon-phone-lg:before {
  content: "\e912";
}
.icon-service-1:before {
  content: "\e913";
}
.icon-service-2:before {
  content: "\e914";
}
.icon-service-3:before {
  content: "\e915";
}
.icon-service-4:before {
  content: "\e916";
}
.icon-service-5:before {
  content: "\e917";
}
.icon-service-6:before {
  content: "\e918";
}
.icon-service-7:before {
  content: "\e919";
}
.icon-service-8:before {
  content: "\e91a";
}
.icon-service-9:before {
  content: "\e91b";
}
.icon-service-10:before {
  content: "\e91c";
}
.icon-service-11:before {
  content: "\e91d";
}
.icon-service-12:before {
  content: "\e91e";
}
.icon-time:before {
  content: "\e91f";
}