.section-news {
	padding-top: 55px;
	padding-bottom: 120px;
	@include media-breakpoint-down(md) {
		padding-top: 55px;
		padding-bottom: 55px;
	}
	@include media-breakpoint-down(sm) {
		padding-top: 40px;
		padding-bottom: 40px;	
	}
}

.news-card {
	display: flex;
	font-size: 15px;
	font-weight: 300;
	line-height: 1.0666;
	@include media-breakpoint-down(sm) {
		flex-wrap: wrap;
	}

	.news-thumbnail {
		flex: 0 0 50%;
		max-width: 50%;
		background-position: center;
		background-size: cover;
		background-color: $light-gray;
		@include media-breakpoint-down(lg) {
			flex: 0 0 40%;
			max-width: 40%;
		}
		@include media-breakpoint-down(md) {
			flex: 0 0 150px;
			max-width: 150px;
		}
		@include media-breakpoint-down(sm) {
			flex: 0 0 100%;
			max-width: 100%;
			padding-bottom: 150px;
		}
	}

	.news-inner {
		padding: 0 0 0 15px;
		@include media-breakpoint-down(sm) {
			position: relative;
			margin-top: -25px;
			margin-left: 10px;
			margin-right: 10px;
			padding-top: 15px;
			padding-bottom: 15px;
			background-color: #fff;
		}
	}

	.news-title {
		margin: 0 0 10px;
		line-height: 1;
	}

	.news-date {
		margin: 0;
		color: $light-gray;
	}

	.news-body {
		margin: 10px 0 5px;
		line-height: 1.15;
	}
}



.news-grid {
	margin-bottom: 15px;
	.news-item {
		display: flex;
		margin-bottom: 20px;
		@include media-breakpoint-down(md) {
			margin-bottom: 35px;
		}

		.news-card {
			.news-inner {
				display: flex;
				flex-direction: column;
				.news-body {
					flex: 1 1 auto;
				}
			}
		}
	}
}