@media (max-width: 1199px) {
	/* section design */
	.k20-design {
		height: 600px;
	}

	.k20-design .k20-title {
		top: 210px;
	}

	.k20-design .k20-description {
		top: 330px;
	}

	#k20-design-parallax {
		width: 576px;
		height: 564px;
	}

	#k20-design-parallax .k20-design-parallax-layer.layer-1 {
		margin: 0 0 0 50px;
	}

	#k20-design-parallax .k20-design-parallax-layer.layer-1 .k20-design-parallax-media {
		width: 280px;
		height: 505px;
	}

	#k20-design-parallax .k20-design-parallax-layer.layer-2 {
		margin: 10px 0 0 190px;
	}

	#k20-design-parallax .k20-design-parallax-layer.layer-2 .k20-design-parallax-media {
		width: 385px;
    	height: 555px;
	}
	/* section design end */



	/* section camera */
	.k20-camera {
		height: 590px;
	}

	.k20-camera .k20-title {
    	top: 200px; 
	}

	.k20-camera .k20-description {
    	top: 320px; 
	}

	#k20-camera-parallax {
		width: 914px;
		height: 654px;
	}

	#k20-camera-parallax .k20-camera-parallax-layer.layer-1 {
		margin: 0 0 0 615px;
	}

	#k20-camera-parallax .k20-camera-parallax-layer.layer-1 .k20-camera-parallax-media {
		width: 296px;
		height: 562px;
	}

	#k20-camera-parallax .k20-camera-parallax-layer.layer-2 .k20-camera-parallax-media {
		width: 668px;
		height: 628px;
	}
	/* section camera end */


	/* section screen */
	.k20-screen {
		height: 590px;
	}

	.k20-screen .k20-title {
		top: 150px;
	}

	.k20-screen .k20-description {
		top: 320px;
	}

	.k20-screen .k20-media-figure {
		top: 105px;
		width: 700px;
		height: 480px;
	}

	.k20-screen .k20-media-figure .k20-media.layer-1 {
		width: 700px;
    	height: 480px;
	}

	.k20-screen .k20-media-figure .k20-media.layer-2 {
		top: 50px;
		left: 90px;
		width: 500px;
		height: 282px;
	}
	/* section screen end */


	/* section battery */
	.k20-battery {
		height: 590px;
	}

	.k20-battery .k20-title {
		top: 220px;
	}

	.k20-battery .k20-description {
		top: 340px;
	}

	.k20-battery .k20-battery-size {
		top: 210px;
		font-size: 100px;
	}
	
	.k20-battery .k20-battery-size span {
		margin: 0 0 0 -20px;
		font-size: 26px;
	}

	#k20-battery-parallax {
		width: 246px;
		height: 564px;
	}

	#k20-battery-parallax .k20-battery-parallax-layer.layer-1 .k20-battery-parallax-media {
		width: 246px;
		height: 564px;
	}
	/* section battery end */


	/* section flashlight */
	.k20-flashlight {
		height: 590px;
	}

	.k20-flashlight .k20-title {
		top: 190px;
	}

	.k20-flashlight .k20-description {
		top: 310px;
	}

	#k20-flashlight-parallax {
		top: 310px;
		width: 530px;
		height: 250px;
	}

	#k20-flashlight-parallax .k20-camera-parallax-layer.layer-1 .k20-camera-parallax-media {
		width: 530px;
		height: 250px;
	}
	/* section flashlight end */
}

@media (max-width: 991px) {
	.k20-landing .container {
		padding-left: 40px;
		padding-right: 40px;
	}

	.k20-title {
		font-size: 34px;
	}


	/* section design */
	.k20-design {
		height: 540px;
	}

	.k20-design .k20-title {
		top: 220px;
	}

	.k20-design .k20-description {
		top: 320px;
	}

	#k20-design-parallax {
		width: 480px;
		height: 504px;
	}

	#k20-design-parallax .k20-design-parallax-layer.layer-1 {
		margin: 0 0 0 15px;
	}

	#k20-design-parallax .k20-design-parallax-layer.layer-1 .k20-design-parallax-media {
		width: 252px;
		height: 454px;
	}

	#k20-design-parallax .k20-design-parallax-layer.layer-2 {
		margin: 10px 0 0 130px;
	}

	#k20-design-parallax .k20-design-parallax-layer.layer-2 .k20-design-parallax-media {
		width: 346px;
		height: 499px;
	}
	/* section design end */


	/* section camera */
	.k20-camera {
		height: 540px;
	}

	.k20-camera .k20-title {
		top: 170px;
	}

	.k20-camera .k20-description {
		top: 270px;
	}

	#k20-camera-parallax {
		width: 822px;
		height: 564px;
	}

	#k20-camera-parallax .k20-camera-parallax-layer.layer-1 {
		margin: 0 0 0 550px;
	}

	#k20-camera-parallax .k20-camera-parallax-layer.layer-1 .k20-camera-parallax-media {
		width: 266px;
		height: 505px;
	}

	#k20-camera-parallax .k20-camera-parallax-layer.layer-2 .k20-camera-parallax-media {
		width: 600px;
		height: 564px;
	}
	/* section camera end */


	/* section screen */
	.k20-screen {
		height: 540px;
	}

	.k20-screen .k20-title {
		top: 130px;
	}

	.k20-screen .k20-description {
		top: 270px;
	}

	.k20-screen .k20-media-figure {
		top: 105px;
		width: 560px;
		height: 384px;
	}

	.k20-screen .k20-media-figure .k20-media.layer-1 {
		width: 560px;
		height: 384px;
	}

	.k20-screen .k20-media-figure .k20-media.layer-2 {
		top: 40px;
		left: 72px;
		width: 400px;
		height: 225px;
	}
	/* section screen end */


	/* section battery */
	.k20-battery {
		height: 540px;
	}

	.k20-battery .k20-title {
		top: 200px;
	}

	.k20-battery .k20-description {
		top: 300px;
	}

	.k20-battery .k20-battery-size {
		font-size: 70px;
	}

	.k20-battery .k20-battery-size span {
		margin: 0 0 0 -10px;
		font-size: 20px;
	}

	#k20-battery-parallax {
		width: 220px;
		height: 504px;
	}

	#k20-battery-parallax .k20-battery-parallax-layer.layer-1 .k20-battery-parallax-media {
		width: 220px;
		height: 504px;
	}
	/* section battery end */


	/* section flashlight */
	.k20-flashlight {
		height: 540px;
	}

	.k20-flashlight .k20-title {
		top: 170px;
	}

	.k20-flashlight .k20-description {
		top: 270px;
	}


	#k20-flashlight-parallax {
		top: 280px;
		width: 478px;
    	height: 225px;
	}

	#k20-flashlight-parallax .k20-flashlight-parallax-layer.layer-1 .k20-flashlight-parallax-media {
		width: 478px;
    	height: 225px;
	}
	/* section flashlight end */


	/* section  features */
	.k20-features-grid .k20-feature-item {
		flex: 0 0 33.3333%;
		max-width: 33.3333%;
	}
	/* section  features end */
}

@media (max-width: 767px) {
	.k20-landing .container {
		padding-left: 20px;
		padding-right: 20px;
	}

	.k20-landing .content-inner {
		margin-bottom: 40px;
		text-align: center;
	}


	.k20-title {
		margin: 0 0 15px;
		font-size: 24px !important;
		line-height: 1.35;
	}

	.k20-description {
		margin: 0 0 20px;
		font-size: 18px;
		line-height: 1.5;
	}


	.k20-title[data-aos],
	.k20-subtitle[data-aos],
	.k20-description[data-aos] {
		transform: translate(0, 100px);
	}

	.k20-title[data-aos].aos-animate,
	.k20-subtitle[data-aos].aos-animate,
	.k20-description[data-aos].aos-animate {
		transform: translate(0);
	}

	.k20-design .content-wrapper.d-flex,
	.k20-camera .content-wrapper.d-flex,
	.k20-screen .content-wrapper.d-flex,
	.k20-battery .content-wrapper.d-flex,
	.k20-flashlight .content-wrapper.d-flex {
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}


	.k20-design .k20-title,
	.k20-design .k20-subtitle,
	.k20-design .k20-description,
	.k20-camera .k20-title,
	.k20-camera .k20-subtitle,
	.k20-camera .k20-description,
	.k20-screen .k20-title,
	.k20-screen .k20-subtitle,
	.k20-screen .k20-description,
	.k20-battery .k20-title,
	.k20-battery .k20-subtitle,
	.k20-battery .k20-description,
	.k20-flashlight .k20-title,
	.k20-flashlight .k20-subtitle,
	.k20-flashlight .k20-description {
		max-width: 320px;
	}


	/* section design */
	.k20-design {
		height: 790px;
	}

	.k20-design .k20-title {
		top: 40px;
	}

	.k20-design .k20-description {
		top: 115px;
	}

	#k20-design-parallax {
		top: 185px;
		left: 15px;
		right: 15px;
		width: 320px;
		height: 580px;
		margin: auto;
	}
	
	#k20-design-parallax .k20-design-parallax-layer.layer-1 {
		margin: 0 0 0 -15px;
	}

	#k20-design-parallax .k20-design-parallax-layer.layer-2 {
		margin: 80px 0 0 0;
	}
	/* section design end */



	/* section camera */
	.k20-camera {
		height: 730px;
	}

	.k20-camera .k20-title {
		top: 40px;
	}

	.k20-camera .k20-description {
		top: 115px;
	}

	#k20-camera-parallax {
		top: 185px;
		left: 15px;
		right: 15px;
		width: 320px;
		margin: auto;
	}

	#k20-camera-parallax .k20-camera-parallax-layer.layer-1 {
		margin: 0;
	}

	#k20-camera-parallax .k20-camera-parallax-layer.layer-2 {
		display: none !important;
	}
	/* section camera end */


	/* section screen */
	.k20-screen {
		height: 600px;
	}

	.k20-screen .k20-title {
		top: 40px;
	}

	.k20-screen .k20-description {
		top: 150px;
	}

	.k20-screen .k20-media-figure {
		top: 295px;
		left: -20px;
	}

	.k20-screen .k20-media-figure .k20-media.layer-1 {
		width: 448px;
    	height: 307px;
	}

	.k20-screen .k20-media-figure .k20-media.layer-2 {
		top: 32px;
		left: 56px;
		width: 320px;
		height: 180px;
	}
	/* section screen end */


	/* section battery */
	.k20-battery {
		height: 570px;
	}

	.k20-battery .k20-typography-left-container {
		text-align: left;
	}

	.k20-battery .k20-title {
		top: 40px;
	}

	.k20-battery .k20-description {
		top: 85px;
	}

	.k20-battery .k20-battery-size {
		top: 300px;
		left: 15px;
		right: 15px;
		font-size: 40px;
		text-align: center;
		white-space: normal;
	}

	.k20-battery .k20-battery-size span {
		font-size: 14px;
		margin: 0 0 0 -5px;
	}

	#k20-battery-parallax {
		top: 155px;
		left: 15px;
		right: 15px;
		width: 320px;
		margin: auto;
	}

	#k20-battery-parallax .k20-battery-parallax-layer.layer-1 .k20-battery-parallax-media {
		margin: auto;
	}
	/* section battery end */


	/* section flashlight */
	.k20-flashlight {
		height: 460px;
	}

	.k20-flashlight .k20-title {
		top: 40px;
	}

	.k20-flashlight .k20-description {
		top: 85px;
	}

	#k20-flashlight-parallax {
		top: 220px;
		left: 15px;
		right: 15px;
		width: 430px;
		height: 202px;
		margin: auto;
	}

	#k20-flashlight-parallax .k20-flashlight-parallax-layer.layer-1 {
		margin: 0 0 0 -100px;
	}

	#k20-flashlight-parallax .k20-flashlight-parallax-layer.layer-1 .k20-flashlight-parallax-media {
		width: 430px;
    	height: 202px;
	}
	/* section flashlight end */


	/* section features */
	.k20-features-grid .k20-feature-item {
		flex: 0 0 50%;
		max-width: 50%;
	}
	/* section  features end */
}

@media (max-width: 375px) {
	/* section  features */
	.k20-features-grid .k20-feature-item {
		flex: 0 0 100%;
		max-width: 100%;
	}
	/* section  features end */
}

@media (min-width: 1200px) {
	.k20-landing  .flex-lg-nowrap {
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
	}
}