.footer-box {
	overflow: hidden;
	padding: 20px 0;
	.footer-inner {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		@media (max-width: 767px) {
			flex-direction: column;
		}
	}
	.footer-side-left {
		flex: 1 1 auto;
	}
	.footer-side-center {
		@extend .header-side-center;
		position: relative;
		@media (max-width: 767px) {
			width: 100%;
		}

		&:after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100vw;
			border-bottom: 2px solid $gray;
		}
	}
	.footer-side-right {
		@extend .header-side-right;
	}
}

.footer-logo {
	@extend .header-logo;
	@media (max-width: 767px) {
		margin: auto;
	}

	.footer-logo-img {
		@extend .header-logo-img;
	}
}

.footer-nav {
	@extend .header-nav-list;
	@media (max-width: 767px) {
		margin: 2rem 0
	}

	li {
		@media (max-width: 767px) {
			display: block;
		}
		&:before {
			@media (max-width: 767px) {
				display: none;
			}
		}

		a {
			padding-top: 15px;
			@media (max-width: 767px) {
				padding: 10px 0;
			}
		}
	}
}


.footer-phone {
	@extend .header-phone;
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
	vertical-align: middle;
	@media (max-width: 767px) {
		padding-left: 0;
		padding-right: 0;
	}
}

.footer-social {
	display: inline-block;
	padding: 10px 0;
	vertical-align: middle;
	@media (max-width: 767px) {
		padding-left: 0;
		padding-right: 0;
	}
}