.sprite {
	display: inline-block;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
}

.sprite-icon-heart {
    width: 44px;
    height: 40px;
    background-position: -10px -10px;
}

.sprite-icon-printer {
    width: 51px;
    height: 71px;
    background-position: -74px -10px;
}

.sprite-icon-share {
    width: 59px;
    height: 55px;
    background-position: -145px -10px;
}
