@media (max-width: 767.98px) {
  section {
    padding-top: 4rem;
    padding-bottom: 4rem; } }

@media (max-width: 767.98px) {
  section:last-child {
    padding-bottom: 3px; } }

@media (max-width: 991.98px) {
  h1,
  .h1 {
    font-size: 2.5rem;
    line-height: 3.438rem; } }

@media (max-width: 991.98px) {
  h2,
  .h2 {
    font-size: 1.875rem;
    line-height: 2.813rem; } }

@media (max-width: 991.98px) {
  h3,
  .h3 {
    font-size: 1.875rem; } }

@media (max-width: 767.98px) {
  ul.disc-list li {
    margin: 1rem 0; } }

@media (max-width: 991.98px) {
  .text-lead {
    font-size: 1.063rem;
    line-height: 1.875rem; } }

@media (max-width: 767.98px) {
  form button {
    margin: 1.1rem 0; } }

@media (max-width: 767.98px) {
  .form-group {
    margin-bottom: 2.3rem; } }

@media (max-width: 767.98px) {
  .figure-wrapper {
    min-height: 140px; } }

@media (max-width: 767.98px) {
  .figure-wrapper.figure-promo {
    margin-top: 50px;
    margin-bottom: 50px; } }

@media (max-width: 767.98px) {
  .header-toggler .navbar-toggler-text {
    display: none; } }

@media (max-width: 767.98px) {
  .header-navbar-collpase .header-navbar-collpase-inner {
    padding-left: 0;
    padding-right: 0; } }

@media (max-width: 767.98px) {
  .header-nav {
    margin: 1.5rem 0 3rem; } }

@media screen and (max-width: 375px) {
  .header-social.social-list .social-item {
    padding: 0 0.55rem; } }

@media (max-width: 767.98px) {
  .modal-share .share-title {
    margin: 0 0 1.6rem; } }

@media (max-width: 767.98px) {
  .share-list.social-list {
    margin-left: -23px;
    margin-right: -23px; } }

@media (max-width: 767.98px) {
  .form-share-email {
    margin: 0; } }

@media (max-width: 991.98px) {
  .footer-box {
    padding-top: 4.9rem;
    padding-bottom: 6.7rem; } }

@media (max-width: 767.98px) {
  .section-contact {
    padding-top: 6.2rem;
    padding-bottom: 5.1rem; } }

@media (max-width: 767.98px) {
  .section-contact .contact-wrapper.hidden {
    display: none; } }

@media (max-width: 767.98px) {
  .section-contact .contact-tnanks-wrapper {
    left: 3.125rem; } }

.contact-info-block {
  opacity: 1;
  visibility: visible;
  tranisition: 300ms opacity ease, visibility 300ms ease; }
  @media (max-width: 767.98px) {
    .contact-info-block .contact-lead {
      font-size: 3.125rem;
      line-height: 3.75rem; } }

@media (max-width: 767.98px) {
  .form-contact {
    margin-top: 3rem; } }

@media (max-width: 767.98px) {
  .footer-social {
    margin: 1.7rem 0 1.8rem;
    font-size: 1.05rem; } }

@media (max-width: 767.98px) {
  .container,
  .container-fluid {
    padding-left: 3.125rem;
    padding-right: 3.125rem; } }

@media (max-width: 767.98px) {
  .row {
    margin-left: -3.125rem;
    margin-right: -3.125rem; } }

@media (max-width: 767.98px) {
  [class*="col"] {
    padding-left: 3.125rem;
    padding-right: 3.125rem; } }

@media (max-width: 767.98px) {
  .section-header {
    margin-top: 0;
    margin-bottom: 2rem; } }

@media (max-width: 767.98px) {
  .section-header .section-title {
    font-size: 1.875rem; } }

@media (max-width: 767.98px) {
  .section-header .section-description {
    margin: 0em 0 1.2em; } }

@media (max-width: 767.98px) {
  .section-header.header-sm .section-title {
    font-size: 1.563rem; } }

@media (max-width: 767.98px) {
  .separator {
    height: 0; } }

@media (max-width: 767.98px) {
  .articles-grid .article-item {
    border-left: none;
    border-right: none; } }

@media (max-width: 767.98px) {
  .article-card {
    min-height: 251px; } }

@media (max-width: 767.98px) {
  .article-card .article-content {
    padding: 1.5rem 1.5rem 1.5rem 2rem; } }

@media (max-width: 767.98px) {
  .article-card .article-title {
    margin: 0.5rem 0 2rem;
    line-height: 1.688rem; } }

@media (max-width: 767.98px) {
  .article-card .article-picture {
    padding-left: 10px;
    padding-right: 10px; } }

@media (max-width: 767.98px) {
  .article-data,
  .post-data {
    padding-left: 2.85rem;
    line-height: 1.8; } }

@media (max-width: 767.98px) {
  .article-data li,
  .post-data li {
    padding: 0 1rem !important; } }

@media (max-width: 767.98px) {
  .article-data .article-author img,
  .post-data .article-author img {
    position: absolute;
    left: -3.85rem; } }

@media (max-width: 767.98px) {
  .project-card.project-higlight {
    padding-top: 0;
    padding-bottom: 0; } }

@media (max-width: 767.98px) {
  .project-card.project-higlight .project-inner {
    min-height: 600px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

@media (max-width: 767.98px) {
  .project-card.project-higlight .project-inner .project-content {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    padding-top: 3.7rem;
    padding-bottom: 0; } }

@media (max-width: 767.98px) {
  .project-card.project-higlight .project-inner .project-content {
    padding-left: 3.125rem;
    padding-right: 3.125rem; } }

@media (max-width: 767.98px) {
  .project-card.project-higlight .project-title {
    font-size: 1.875rem;
    line-height: 2.813rem; } }

@media (max-width: 767.98px) {
  .project-card.project-higlight .project-picture {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 314px;
        -ms-flex: 0 0 314px;
            flex: 0 0 314px;
    height: 314px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 1.73611rem;
    padding-right: 1.73611rem; } }

@media (max-width: 767.98px) {
  .project-card.project-higlight .project-picture img {
    max-height: 238px; } }

@media (max-width: 767.98px) {
  .project-card.project-higlight .project-btn {
    margin: 0.5rem 0; } }

@media (max-width: 767.98px) {
  .section-jumbotron .jumbotron-fluid {
    overflow: hidden;
    margin-left: -3.125rem;
    margin-right: -3.125rem; } }

@media (max-width: 767.98px) {
  .section-jumbotron .jumbotron-fluid .jumbotron-content {
    padding-top: 3.7rem;
    padding-bottom: 1rem;
    padding-left: 6.25rem;
    padding-right: 6.25rem; } }

@media (max-width: 767.98px) {
  .section-jumbotron .jumbotron-fluid .jumbotron-title {
    margin-bottom: 1rem; } }

@media (max-width: 767.98px) {
  .section-jumbotron .jumbotron-fluid .jumbotron-title.jumbotron-title-with-icon {
    margin-bottom: 1.5rem;
    font-size: 1.875rem;
    line-height: 2.813rem; } }

@media (max-width: 767.98px) {
  .section-jumbotron .jumbotron-fluid .jumbotron-title .jumbotron-icon {
    font-size: 2rem; } }

@media (max-width: 767.98px) {
  .section-jumbotron .jumbotron-fluid .jumbotron-category {
    margin: -0.25rem 0 0.25rem; } }

@media (max-width: 767.98px) {
  .section-jumbotron .jumbotron-fluid .jumbotron-description {
    margin: 1rem 0; } }

@media (max-width: 767.98px) {
  .section-jumbotron .jumbotron-fluid .jumbotron-link {
    margin: 0; } }

@media (max-width: 767.98px) {
  .section-jumbotron .jumbotron-fluid .jumbotron-picture {
    padding-left: 3.75rem;
    padding-right: 3.75rem; } }

@media (max-width: 767.98px) {
  .section-jumbotron .jumbotron-fluid .jumbotron-picture.align-self-center {
    padding-left: 6.25rem;
    padding-right: 4.6875rem;
    padding-bottom: 2.3rem; } }

@media (max-width: 767.98px) {
  .social-list.social-lg .social-item {
    width: 86px;
    margin: 13px; } }

@media (max-width: 767.98px) {
  .social-list.social-lg .social-item .social-link {
    width: 86px;
    height: 86px;
    line-height: 86px; } }

@media (max-width: 767.98px) {
  .loader {
    margin-top: 4rem; } }

@media (max-width: 767.98px) {
  .owl-carousel .owl-nav {
    display: none !important; } }

@media (max-width: 767.98px) {
  .section-hero .container-fluid {
    min-height: 735px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 9.6rem; } }

@media (max-width: 767.98px) {
  .section-hero .hero-video-wrapper video {
    width: 300%;
    height: 300%; } }

@media (max-width: 767.98px) {
  .section-hero .hero-title {
    margin: 1rem 0; } }

@media (max-width: 767.98px) {
  .section-hero .hero-description {
    margin: 0.3rem 0; } }

@media (max-width: 767.98px) {
  .section-hero .hero-scroll-link {
    background: rgba(50, 58, 69, 0.2); } }

@media (max-width: 767.98px) {
  .page-home .section-hero .container {
    padding-bottom: 14rem; } }

.section-feature {
  padding-top: 2px; }

@media (max-width: 767.98px) {
  .feature-grids .feature-col {
    padding-left: 0;
    padding-right: 0; } }

@media (max-width: 767.98px) {
  .feature-grids .feature-col .feature-item {
    border-left: none;
    border-right: none; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  .feature-grids .feature-aside {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  .feature-grids .feature-aside .feature-item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%; } }

@media (max-width: 767.98px) {
  .feature-grids .project-card.project-higlight {
    padding-top: 3.3rem;
    padding-bottom: 0; } }

@media (max-width: 767.98px) {
  .feature-grids .project-card.project-higlight .project-inner {
    min-height: 540px; } }

@media (max-width: 767.98px) {
  .feature-grids .project-card.project-higlight .project-inner .project-content {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    padding-left: 3rem;
    padding-right: 3rem; } }

@media (max-width: 767.98px) {
  .feature-grids .project-card.project-higlight .project-inner .project-category {
    margin: 0.6rem 0; } }

@media (max-width: 767.98px) {
  .feature-grids .project-card.project-higlight .project-inner .project-btn {
    margin: 0.5rem 0; } }

@media (max-width: 767.98px) {
  .feature-grids .project-card.project-higlight .project-picture {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    padding-left: 2rem;
    padding-right: 2rem; } }

@media (max-width: 767.98px) {
  .section-services {
    padding-top: 90px;
    padding-bottom: 45px; } }

@media (max-width: 767.98px) {
  .services-grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: -30px; } }

@media (max-width: 767.98px) {
  .services-grid [class*="col"] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto; } }

@media (max-width: 767.98px) {
  .service-card {
    max-width: 100%;
    margin-bottom: 30px; } }

@media (max-width: 767.98px) {
  .section-jumbotron + .section-projects {
    padding-top: 5px; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  .projects-grid .project-item:nth-child(n+4) {
    display: none; } }

@media (max-width: 767.98px) {
  .projects-grid .project-item {
    border-left: 0;
    border-right: 0; }
    .projects-grid .project-item:nth-child(n+3) {
      display: none; } }

@media (max-width: 767.98px) {
  .section-highlights-articles {
    padding-top: 3rem; } }

@media (max-width: 767.98px) {
  .section-highlights-articles .section-header {
    margin-top: -1.5rem; } }

@media (max-width: 767.98px) {
  .section-highlights-articles .section-header .section-title {
    margin-bottom: 1.1rem;
    font-size: 2.5rem;
    line-height: 3.438rem; } }

@media (max-width: 767.98px) {
  .highlights-articles-grid .highlight-article-col {
    padding-left: 0;
    padding-right: 0; } }

@media (max-width: 767.98px) {
  .highlights-articles-grid .highlight-article-col .highlight-article-item {
    border-left: 0;
    border-right: 0; } }

@media (max-width: 767.98px) {
  .highlights-articles-grid .highlight-article-col .article-card.article-hero {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: row !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important; } }

@media (max-width: 767.98px) {
  .highlights-articles-grid .highlight-article-col .article-card.article-hero .article-content {
    padding: 1.5rem 1.5rem 1.5rem 2rem; } }

@media (max-width: 767.98px) {
  .highlights-articles-grid .highlight-article-col .article-card.article-hero .article-title {
    font-size: 1.063rem;
    line-height: 1.688rem; } }

@media (max-width: 767.98px) {
  .highlights-articles-grid .highlight-article-col .article-card.article-hero .article-data,
  .highlights-articles-grid .highlight-article-col .article-card.article-hero .article-description {
    display: none; } }

@media (max-width: 767.98px) {
  .highlights-articles-grid .highlight-article-col .article-card.article-hero .article-btn {
    bottom: 1.75rem; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  .highlights-articles-grid .highlight-article-aside {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  .highlights-articles-grid .highlight-article-aside .highlight-article-item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%; } }

@media (max-width: 767.98px) {
  .section-hero.section-hero-about .hero-logo {
    margin: 3.8rem -1.5rem 4rem; } }

@media (max-width: 767.98px) {
  .section-hero.section-hero-about .hero-description {
    margin: 2rem 0 6rem; } }

@media (max-width: 767.98px) {
  .section-hero.section-hero-about .hero-partner {
    margin-top: 5rem;
    margin-bottom: 0; } }

@media (max-width: 767.98px) {
  .section-priority {
    padding-top: 3.4rem;
    padding-bottom: 3.4rem; } }

@media (max-width: 767.98px) {
  .priority-grid {
    margin-top: 2.5rem;
    margin-bottom: 5.2rem; } }

@media (max-width: 767.98px) {
  .section-priority + .section-expertise {
    margin-top: 0;
    padding-top: 0.5em;
    padding-bottom: 6.5rem; } }

@media (max-width: 767.98px) {
  .slider-expertise-wrapper .col {
    padding-left: 0;
    padding-right: 0; } }

@media (max-width: 767.98px) {
  .slider-expertise .slide-item {
    width: -webkit-calc(100vw - 20px);
    width: calc(100vw - 20px);
    max-width: 405px; } }

@media (max-width: 767.98px) {
  .expertise-card {
    min-height: 410px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1rem; } }

@media (max-width: 767.98px) {
  .section-partners {
    padding-top: 5.8rem;
    padding-bottom: 5rem; } }

@media (max-width: 767.98px) {
  .partners-grid {
    margin-top: -5px;
    margin-bottom: 2.5rem; } }

@media (max-width: 767.98px) {
  .partners-grid .partner-item {
    padding-top: 3.8rem;
    padding-bottom: 3.8rem; } }

@media (max-width: 575.98px) {
  .partners-grid .partner-item {
    display: none; } }

.partners-grid .partner-item:nth-child(4n+1) {
  display: block; }

@media (max-width: 767.98px) {
  .company-stats {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: -1rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem; } }

@media (max-width: 767.98px) {
  .company-stats .stat-item {
    padding-top: 1rem;
    padding-bottom: 1rem; } }

@media (max-width: 767.98px) {
  .section-together {
    padding-top: 5.5rem; } }

@media (max-width: 767.98px) {
  .section-together .section-header .section-title {
    font-size: 2.5rem; } }

@media (max-width: 767.98px) {
  .page-profile .section-contact {
    display: none; } }

@media (max-width: 767.98px) {
  .section-profile .profile-content {
    min-height: 252px;
    padding: 1rem 0 1rem 2rem; } }

@media (max-width: 767.98px) {
  .section-profile .profile-picture {
    padding-left: 0;
    padding-right: 0; } }

@media (max-width: 767.98px) {
  .section-profile .profile-name {
    font-size: 1.25rem;
    line-height: 1.875rem; } }

@media (max-width: 767.98px) {
  .section-profile .profile-position {
    margin: 1rem 0;
    font-size: 0.75rem;
    letter-spacing: 0.075rem;
    line-height: 1; } }

@media (max-width: 767.98px) {
  .section-profile .profile-label {
    font-size: 0.938rem;
    letter-spacing: 0.094rem; } }

@media (max-width: 767.98px) {
  .section-profile-posts {
    padding-top: 3.7rem; } }

@media (max-width: 767.98px) {
  .section-profile-posts .section-header {
    margin-bottom: 0.7rem; } }

@media (max-width: 767.98px) {
  .section-profile-posts .section-header .section-title {
    margin: 0.4rem 0;
    font-size: 1.563rem;
    line-height: 2.813rem; } }

@media (max-width: 767.98px) {
  .page-projects .section-projects {
    padding-top: 0; } }

.page-projects .section-projects .projects-grid .project-item:nth-child(2n+2) .project-inner {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }
  @media (max-width: 767.98px) {
    .page-projects .section-projects .projects-grid .project-item:nth-child(2n+2) .project-inner {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }
  @media (max-width: 767.98px) {
    .page-projects .section-projects .projects-grid .project-item:nth-child(2n+2) .project-inner .project-content {
      margin-left: 0;
      margin-right: 0; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  .page-projects .section-projects .projects-grid .project-item:nth-child(n+4) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

@media (max-width: 767.98px) {
  .page-projects .section-projects .projects-grid .project-item:nth-child(n+3) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

@media (max-width: 767.98px) {
  .page-projects .projects-filter + .section-projects {
    margin-top: -6px; } }

@media (max-width: 767.98px) {
  .projects-filter {
    display: none; } }

@media (max-width: 767.98px) {
  .section-hero.section-hero-project .container {
    min-height: 655px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 2.7rem;
    padding-bottom: 0; } }

@media (max-width: 767.98px) {
  .section-hero.section-hero-project .hero-project-description {
    margin: 1.3rem 0 0;
    font-size: 1.0625rem;
    line-height: 1.7;
    word-spacing: 0; } }

@media (max-width: 767.98px) {
  .section-hero.section-hero-project .hero-project-info {
    margin: 0; } }

@media (max-width: 767.98px) {
  .section-hero.section-hero-project .hero-project-picture {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    height: 345px;
    padding-left: 1.73611rem;
    padding-right: 1.73611rem;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0); } }

@media (max-width: 767.98px) {
  .section-hero.section-hero-project .hero-project-picture img {
    max-height: 238px; } }

@media (max-width: 767.98px) {
  .section-related-projects {
    display: none; } }

@media (max-width: 767.98px) {
  .post {
    padding: 3.5rem 0 4.125rem;
    border-bottom: none; } }

@media (max-width: 767.98px) {
  .post .post-title {
    margin-bottom: 64px; } }

@media (max-width: 767.98px) {
  .post .btn-contact {
    margin-top: 50px; } }

@media (max-width: 767.98px) {
  .section-hero.section-hero-service .container {
    min-height: 655px;
    padding-top: 3.5rem;
    padding-bottom: 2rem;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; } }

@media (max-width: 767.98px) {
  .section-hero.section-hero-service .hero-service-title {
    margin: 0.1rem 0 1.8rem; } }

@media (max-width: 767.98px) {
  .section-hero.section-hero-service .hero-service-title i {
    font-size: 3rem; } }

@media (max-width: 767.98px) {
  .section-hero.section-hero-service .hero-service-description {
    margin: 1rem 0;
    font-size: 1.5625rem;
    line-height: 1.4; } }

@media (max-width: 767.98px) {
  .section-hero.section-hero-service .hero-service-quote {
    margin-bottom: 1rem;
    font-size: 1.063rem;
    line-height: 1.688rem; } }

@media (max-width: 767.98px) {
  .section-hero.section-hero-service .hero-service-info {
    line-height: 1rem; } }

@media (max-width: 767.98px) {
  .section-hero.section-hero-service .hero-service-picture {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 250px;
    padding-top: 2rem;
    padding-left: 1.73611rem;
    padding-right: 1.73611rem; } }

@media (max-width: 767.98px) {
  .section-hero.section-hero-service .hero-service-picture .hero-service-figure-caption {
    display: none; } }

@media (max-width: 767.98px) {
  .section-hero.section-hero-service.section-hero-sm .container {
    padding-top: 3.5rem; } }

@media (max-width: 767.98px) {
  .section-hero.section-hero-service.section-hero-sm .hero-service-content {
    min-height: 200px; } }

@media (max-width: 767.98px) {
  .section-hero.section-hero-service.section-hero-sm .hero-service-picture {
    height: 310px; } }

@media (max-width: 767.98px) {
  .section-hero.section-hero-service.section-hero-sm .hero-service-picture img {
    max-height: 270px; } }

@media (max-width: 767.98px) {
  .section-higlights-services {
    padding-bottom: 3.5rem; } }

@media (max-width: 767.98px) {
  .section-higlights-services .higlight-service-title {
    margin: 0 0 1.5rem;
    font-size: 1.563rem;
    line-height: 2.813rem; } }

@media (max-width: 767.98px) {
  .section-higlights-services .higlight-service-list {
    margin: 0; } }

@media (max-width: 767.98px) {
  .section-higlights-services .higlight-service-picture {
    min-height: auto;
    padding-top: 0;
    padding-bottom: 0; } }

@media (max-width: 767.98px) {
  .section-higlights-services .higlight-service-figure {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    min-width: 100%;
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0); } }

@media (max-width: 767.98px) {
  .section-higlights-services .higlight-service-figure img {
    max-width: 90%; } }

@media (max-width: 767.98px) {
  .section-higlights-services + .section-projects {
    padding-top: 0; } }

@media (max-width: 767.98px) {
  .section-timeline {
    padding-top: 60px;
    padding-bottom: 70px; } }

@media (max-width: 767.98px) {
  .section-timeline + .section-projects {
    padding-top: 3px; } }

@media (max-width: 767.98px) {
  .timeline .timeline-item {
    padding-bottom: 54px;
    text-align: left !important; } }

@media (max-width: 767.98px) {
  .timeline .timeline-item:before, .timeline .timeline-item:after {
    display: none; } }

@media (max-width: 767.98px) {
  .timeline .timeline-item .timeline-block:after {
    display: none; } }

@media (max-width: 767.98px) {
  .section-higlights-services-grid {
    margin-top: -95px; } }

@media (max-width: 767.98px) {
  .timeline-block .timeline-block-title {
    margin: 0.8rem 0 1.7rem;
    font-size: 2.5rem;
    line-height: 3.125rem; } }

@media (max-width: 767.98px) {
  .timeline-block .timeline-block-subtitle {
    margin: 1.8rem 0 1.8rem;
    font-size: 1.563rem;
    line-height: 2.188rem; } }

@media (max-width: 767.98px) {
  .section-related-posts {
    padding-bottom: 0; } }

@media (max-width: 767.98px) {
  .section-related-posts .section-header {
    margin-bottom: 1rem; } }

@media (max-width: 767.98px) {
  .section-related-posts .section-header .section-title {
    font-size: 1.5625rem; } }

@media (max-width: 767.98px) {
  .post.post-service {
    padding-bottom: 70px; } }

@media (max-width: 767.98px) {
  .post.post-service h3 {
    margin-top: 2.8rem;
    font-size: 1.563rem;
    line-height: 2.188rem; } }

.post.post-service h3.half {
  margin-top: 42px;
  margin-bottom: 45px; }

.post.post-service h3 + h6 {
  margin-top: 48px; }

@media (max-width: 767.98px) {
  .post.post-service p + h6 {
    margin-top: 48px; } }

@media (max-width: 767.98px) {
  .post.post-service .post-title {
    margin-top: 0;
    margin-bottom: 3rem;
    font-size: 1.563rem;
    line-height: 2.188rem; } }

.post.post-service .check-list + h3 {
  margin-top: 52px; }

.post.post-service .check-list + h3.half {
  margin-top: 44px; }

@media (max-width: 767.98px) {
  .page-news .header-box .header-toggler-category {
    display: none; } }

@media (max-width: 767.98px) {
  .section-hero.section-hero-news .hero-news-figure {
    margin-left: -3.125rem;
    margin-right: -3.125rem; } }

@media (max-width: 767.98px) {
  .section-hero.section-hero-news.section-hero-sm .container,
  .section-hero.section-hero-news.section-hero-sm .hero-news-figure {
    min-height: 252px; } }

@media (max-width: 767.98px) {
  .section-news {
    padding-top: 0; } }

@media (max-width: 767.98px) {
  .section-news .loader {
    margin-bottom: -10px; } }

@media (max-width: 767.98px) {
  .section-related-news {
    padding-top: 65px; } }

@media (max-width: 767.98px) {
  .section-related-news .section-header.header-sm {
    margin-bottom: 1rem; } }

@media (max-width: 767.98px) {
  .post.post-news {
    padding-top: 3.5rem;
    border-bottom: 1px solid #eeeeee; } }

@media (max-width: 767.98px) {
  .post.post-news .post-title {
    margin: 0.75rem 0 2.15rem;
    font-size: 1.5625rem;
    line-height: 2.5rem; } }
