.header-menu {
	cursor: default;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 -15px;
	list-style: none;
	line-height: 1;
}


.header-menu-item {
	margin: 5px 15px;
}


.header-menu-link {
	font-family: "Lato";
	font-size: 14px;
	font-weight: 900;
	color: #191919;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.35px;
}

.header-menu-link:hover {
	color: #f26680;
	text-decoration: none;
}