.header-logo {
	margin: 9px 0;
	line-height: 1;
}

.header-logo .logo {
	font-size: 14px;
	font-weight: 900;
	color: #191919;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 4.8px;
}

.header-logo .logo:hover {
	color: #f26680;
	text-decoration: none;
}