.header-statusbar {
	padding: 6px 0;
	background: $primary;
	.header-statusbar-inner {
		display: flex;
		justify-content: space-between;
    	align-items: center;
    	flex-wrap: wrap;
	}
}

.social-list {
	@extend .reset-list;
	cursor: default;
	@media screen and (max-width: 991px) {
		order: 3;
		width: 50%;
		margin: 5px 0;
	}
	@media screen and (max-width: 640px) {
		order: 1;
		width: 100%;
	}

	li {
		display: inline-block;
		margin: 0 10px 0 0;
		a {
			color: $dark-primary;
			text-decoration: none;
			&:hover {
				color: #fff;
			}
		}
	}
}

.address-box {
	color: $dark-primary;
	@media screen and (max-width: 991px) {
		order: 1;
		width: 50%;
		margin: 5px 0;
	}
	@media screen and (max-width: 640px) {
		order: 2;
		width: 100%;
	}

	p {
		margin: 0;
	}
}

.contact-box {
	color: $dark-primary;
	@media screen and (max-width: 991px) {
		order: 2;
		width: 50%;
		margin: 5px 0;
		text-align: right;
	}
	@media screen and (max-width: 640px) {
		order: 3;
		width: 100%;
		text-align: left;
	}

	i {
		display: inline-block;
		vertical-align: middle;
	}

	.contact-list {
		@extend .reset-list;
		cursor: default;
		display: inline-block;
		vertical-align: middle;
		li {
			display: inline-block;
			a {
				color: $dark-primary;
				text-decoration: none;
				&:hover {
					color: #fff;
				}
			}
		}
	}
}


.order-callback {
	@media screen and (max-width: 991px) {
		order: 4;
		width: 50%;
		margin: 5px 0;
		text-align: right;
	}
	@media screen and (max-width: 640px)  {
		width: 100%;
		text-align: left;
	}
}


.header-content {
	.header-content-inner {
		@media screen and (max-width: 1024px) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}
}
.header-logo {
	float: left;
	margin: 30px 0 0;
	@media screen and (max-width: 1280px) {
		width: 250px;
	}
	@media screen and (max-width: 1024px) {
		margin: 0;
	}
	@media screen and (max-width: 640px) {
		width: 180px;
	}

	.logo-link {
		color: $default;
		text-decoration: none;
	}
	.logo-img {
		display: block;
	}
	.logo-caption {
		margin: 5px 0 0;
		font-size: 16px;
		text-transform: uppercase;
		@media screen and (max-width: 1280px) {
			font-size: 12px;
		}
		@media screen and (max-width: 640px) {
			font-size: 9.5px;
		}
	}
}

.header-menu-wrap {
	float: right;
	width: calc(100% - 380px);
	@media screen and (max-width: 1280px) {
		width: calc(100% - 280px);
	} 
	@media screen and (max-width: 1024px) {
		position: fixed;
		z-index: 99;
		top: 0;
		left: 0;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    width: 100vw;
	    height: 100vh;
	    transition: 300ms;
	    transform: translateY(-100vh);
		background: rgba(0,0,0,0.8);
	}
}

.header-menu {
	@extend .reset-list;
	cursor: default;
	li {
		display: table-cell;
    	width: 1%;
    	white-space: nowrap;
    	text-align: center;
    	@media screen and (max-width: 1024px) {
    		display: block;
    		width: 100%;
    	}
		a {
			display: inline-block;
			padding: 51px 0 43px;
			border-bottom: 11px solid transparent;
			font-size: 18px;
			font-weight: 700;
			color: $primary;
			text-transform: uppercase;
			text-decoration: none;
			@media screen and (max-width: 1280px) {
				padding: 44px 0 40px;
				font-size: 16px;
			}
			@media screen and (max-width: 1024px) {
				padding: 10px 0;
				border-width: 4px;
			}

			&:hover {
				border-bottom-color: $primary;
			}
		}

		&.active {
			a {
				border-bottom-color: $primary;
			}
		}
	}
}

#burger {
	position: relative;
	z-index: 100;
	display: none;
	@media screen and (max-width: 1024px) {
		display: block;
	}
}
#burger button {
	min-width: initial;
    border: none;
    width: 37px;
    height: 37px;
    background: transparent;
    border: none;
    display: block;
    transition: 200ms;
}
#burger button span {
    width: 37px;
    height: 5px;
    background: $primary;
    border: none;
    display: block;
    position: absolute;
    top: 15px;
    left: 0;
    border-radius: 2px;
    transition: 200ms;
}

#burger button span:before{
    content: '';
    width: 37px;
    height: 5px;
    background: $primary;
    border: none;
    display: block;
    position: absolute;
    top: -13px;
    border-radius: 2px;
    transition: 200ms;

}

#burger button span:after{
    content: '';
    width: 37px;
    height: 5px;
    background: $primary;
    border: none;
    display: block;
    position: absolute;
    bottom: -13px;
    border-radius: 2px;
    transition: 200ms;
}

div#burger:hover button span:before{
    top: -15px;
}

div#burger:hover button span:after{
    bottom: -15px;
}
.mob_menu_open .header-menu-wrap {
    transform: translateY(0);
}

.mob_menu_open #burger button span {
    background: transparent;
}
.mob_menu_open #burger button span:before{
    transform: rotate(45deg);
    top: 0px!important;
}
.mob_menu_open #burger button span:after{
    bottom: 0px!important;
    transform: rotate(-45deg);
}
.mob_menu_open #burger button:hover span:before{
	background-color: #00c0e4;
}
.mob_menu_open #burger button:hover span:after{
	background-color: #00c0e4;
}

.mob_menu_open {
	overflow: hidden;
}