.section-hero {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: flex-end;
	min-height: 665px;
	padding: 80px 0;
	background-position: center center;
	background-size: cover;
	@media screen and (max-width: 1024px) {
		min-height: 450px;
	}
	@media screen and (max-width: 640px) {
		padding: 40px 0;
	}

	.hero-title {
		margin: 0 0 10px;
		font-family: $base-secondary;
		font-size: 84px;
		font-weight: 400;
		text-transform: uppercase;
		@media screen and (max-width: 1024px) {
			font-size: 50px;
		}
		@media screen and (max-width: 640px) {
			font-size: 40px;
		}
	}
	.hero-description {
		@extend .h4;
		padding: 0 0 110px;
		line-height: 1;
		text-transform: uppercase;
		@media screen and (max-width: 1024px) {
			padding: 0 0 60px;
		}
		@media screen and (max-width: 640px) {
			padding: 0 0 30px;
			font-size: 16px;
			line-height: 1.2;
		}
	}

	.hero-btn {
		position: relative;
		display: block;
		width: calc(50% + 30px);
		margin: auto;
		padding: 23px 20px;
		background: #fff;
		font-size: 42px;
		font-weight: 700;
		color: $primary;
		text-decoration: none;
		text-align: center;
		white-space: nowrap;
		@media screen and (max-width: 1024px) {
			font-size: 24px;
		}
		@media screen and (max-width: 640px) {
			width: 80%;
			padding: 15px;
			font-size: 18px;
		}

		&:before,
		&:after {
			content: "";
			position: absolute;
			top: 12px;
			height: 77px;
			width: 77px;
			border-radius: 10px;
			background: #fff;
			transform: rotate(45deg);
			@media screen and (max-width: 1024px) {
				width: 60px;
				height: 60px;
				top: 8.5px;
			}
			@media screen and (max-width: 640px) {
				width: 43px;
				height: 43px;
				top: 5.5px;
			}
		}
		&:before {
			left: -40px;
			@media screen and (max-width: 1024px) {
				left: -30px;
			}
			@media screen and (max-width: 640px) {
				left: -20px;
			}
		}
		&:after {
			right: -40px;
			@media screen and (max-width: 1024px) {
				right: -30px;
			}
			@media screen and (max-width: 640px) {
				right: -20px;
			}
		}

		span {
			position: relative;
			z-index: 1;
		}
	}
}

.section-categories {
	background: rgb(2,149,208);
	background: -moz-linear-gradient(left, rgba(2,149,208,1) 0%, rgba(15,204,194,1) 100%);
	background: -webkit-linear-gradient(left, rgba(2,149,208,1) 0%,rgba(15,204,194,1) 100%);
	background: linear-gradient(to right, rgba(2,149,208,1) 0%,rgba(15,204,194,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0295d0', endColorstr='#0fccc2',GradientType=1 );
}

.categories-list {
	@extend .reset-list;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 60px 0 0;
	@media screen and (max-width: 640px) {
		margin: 20px 0 0;
	}
}
.categories-card {
	max-width: 275px;
	margin: 25px auto;
	text-align: center;
	.categories-icon-wrap {
		position:relative;
	    margin: 0 auto 30px;
	    background:transparent;
	    border-radius:10px;
	    width: 70px;
	    height: 110px;
	    box-sizing:border-box;
	    transition: background 200ms ease-out;
	    border:4px solid transparent;
	    border-top-color: #fff;
	    border-bottom-color: #fff;
	    &:before,
	    &:after {
	    	content:"";
		    border:inherit;
		    position:absolute;
		    top:-4px;
		    left:-4px;
		    background:inherit;
		    border-radius:inherit;
		    height:100%;
		    width:100%;
	    }
	    &:before {
	    	transform:rotate(60deg);
	    }
	    &:after {
	    	transform:rotate(-60deg);
	    }

	    .categories-icon {
	    	position: absolute;
	    	z-index: 1;
	    	top: 50%;
	    	left: 50%;
	    	transform: translate(-50%, -50%);
	    	font-size: 60px;
	    	color: #fff;
	    }
	}
	.categories-title {
		margin: 0 0 15px;
		text-transform: uppercase;
		a {
			text-decoration: none;
		}
	}
	.categories-description {
		font-size: 14px;
		font-weight: 300;
	}

	&:hover {
		.categories-icon-wrap {
			background: #fff;
			.categories-icon {
				color: $primary;
			}
		}
	}
}


.section-services {
	background-size: cover;
	.slider-services {
		margin: 0 0 50px;
		.slide-item {
			padding: 0 10px;
		}
	}
}
.services-card {
	position: relative;
	width: 100%;
	max-width: 295px;
	min-height: 365px;
	margin: 30px auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	&:before,
	&:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;

	}

	&:before {
		top: 0;
		left: 0;
		background-position: 0 0, 0 100% ;
		background-repeat: no-repeat;
		-webkit-background-size: 100% 10px;
		-moz-background-size: 100% 10px;
		background-size: 100% 10px;
		background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhOGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=),url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjEwMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYTRlZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhOGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
		background-image: -webkit-linear-gradient(to right, #3acfd5 0%, #3a8ed5 100%), -webkit-linear-gradient(right, #3acfd5 0%, #3a8ed5 100%);
		background-image: -moz-linear-gradient(to right, #3acfd5 0%, #3a8ed5 100%), -moz-linear-gradient(right, #3acfd5 0%, #3a8ed5 100%);
		background-image: -o-linear-gradient(to right, #3acfd5 0%, #3a8ed5 100%), -o-linear-gradient(right, #3acfd5 0%, #3a8ed5 100%);
		background-image: linear-gradient(to right, #008dd2  0%, #3a8ed5 100%), linear-gradient(to left, #3acfd5 0%, #3a8ed5 100%);
	}
	&:after {
		right: 0;
		bottom: 0;
		background-position: 0 0, 100% 0;
		background-repeat: no-repeat;
		-webkit-background-size: 10px 100%;
		-moz-background-size: 10px 100%;
		background-size: 10px 100%;
		background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhOGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=),url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYTRlZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhOGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
		background-image: -webkit-linear-gradient(top, #008dd2 0%, #3a8ed5 100%), -webkit-linear-gradient(to top, #3acfd5 0%, #3a8ed5 100%);
		background-image: -moz-linear-gradient(top, #008dd2 0%, #3a8ed5 100%), -moz-linear-gradient(to top, #3acfd5 0%, #3a8ed5 100%);
		background-image: -o-linear-gradient(top, #008dd2 0%, #3a8ed5 100%), -o-linear-gradient(to top, #3acfd5 0%, #3a8ed5 100%);
		background-image: linear-gradient(to bottom, #008dd2  0%,  #3a8ed5  100%), linear-gradient(to top, #3acfd5 0%, #3a8ed5 100%);
	}

	.services-card-inner {
		position: relative;
		z-index: 1;
		padding: 50px 20px;
	}

	.services-title {
		/* display: table-cell;
		vertical-align: middle; */
		overflow: hidden;
		display: flex;
	    align-items: center;
	    justify-content: center;
		height: 72px;
		line-height: 1.1;
		text-transform: uppercase;
		a {
			color: inherit;
			text-decoration: none;
		}
	}
	.services-price {
		margin: 20px 0 30px;
		font-size: 30px;
		font-weight: 300;
		@media screen and (max-width: 640px) {
			font-size: 24px;
		}
		b {
			font-size: 47px;
			color: $primary;
			@media screen and (max-width: 640px) {
				font-size: 36px;
			}
		}
	}

	.btn {
		min-width: 100%;
	}
}


.section-stock {
	background-position: center center;
	background-size: cover;
}
.stock-list {
	@extend .reset-list;
	display: flex;
    flex-wrap: wrap;
    margin: 60px 0 0;
    @media screen and (max-width: 640px) {
    	margin: 30px 0 0;
    }
}
.stock-card {
	max-width: 290px;
	margin: auto;
	text-align: center;
	.stock-icon {
		position: relative;
		border: 10px solid transparent;
		padding-bottom: calc(100% - 20px);
		@media screen and (max-width: 1024px) {
			margin: 0 0 20px;
			padding-bottom: calc(60% - 20px);
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			max-width: 100%;
			max-height: 100%;
			margin: auto;
		}
	}
}