.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container {
	@media (min-width: 1366px) {
		width: 1270px;
	}
}

.overlay {
	position: relative;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba($primary, .5);
	}

	.overlay-inner {
		position: relative;
		z-index: 1;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	a {
		color: #fff;
	}
}

section,
article {
	padding: 50px 0 80px;
}

.section-header {
	margin-bottom: 20px;
	text-align: center;
	.section-title {
		margin: 0;
		text-transform: uppercase;
	}
	.section-subtitle {
		margin: 0;
		font-size: 24px;
		text-transform: uppercase;
		@media screen and (max-width: 640px) {
			font-size: 18px;
		}
	}
}

.section-dark {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	a {
		color: #fff;
	}
}


.modal {
	.close {
		position: absolute;
		top: 0;
		right: 0;
		min-width: initial;
		width: initial;
		height: initial;
		border: none;
		background: none;
		font-size: 30px;
		&:hover {
			color: darken($primary, 10%)
		}
	}
}

.slick-slider {
	outline: none;
	* {
		outline: none;
	}
}

.slick-list {
	@media screen and (max-width: 640px) {
		padding: 0 10px;
	}
}

.slick-arrow {
	z-index: 1;
	width: initial;
	min-width: initial;
	height: initial;
	font-size: 0;
	&:before {
		font-family: 'icomoon';
		font-size: 40px;
		color: $primary;
	}
}
.slick-prev {
	left: -35px;
	@media screen and (max-width: 640px) {
		left: 0;
	}

	&:before {
		content: '\f104';
	}
}
.slick-next {
	right: -35px;
	@media screen and (max-width: 640px) {
		right: 0;
	}

	&:before {
		content: '\f105';
	}
}