$base-font: "Open Sans", sans-serif;
$base-secondary: "Bebas", sans-serif;
$base-heading:  'Open Sans', serif;


$default: #000;
$default-heading: #000;
$link-color: #0087d5;


$primary: #008dd2;
$dark-primary: #0d587d;

