$heading-font: 'Roboto', sans-serif;
$base-font: 'Roboto', sans-serif;

$default: #414243;
$default-heading: #000000;

$gray: #C2C2C2;
$light-gray: #f4f6f8;

$info: #39adfc;
$primary: #2293e6;
$dark-primary: #22262C;