.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.wrapper-inner {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}


.container {
	@media (min-width: 576px) {
		max-width: 95%;
	}

	@media (min-width: 1200px) {
		max-width: 1150px;
	}
}


.section-border {
	position: relative;
	background-color: #11560d;
	&:before,
	&:after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		height: 12px;
		background-repeat: repeat-x;
	}

	&:before {
		top: 0;
		transform: translateY(-100%);
		background: url('../img/section-border-top.png') center bottom;
	}
	&:after {
		bottom: 0;
		transform: translateY(100%);
		background: url('../img/section-border-bottom.png') center top;
	}

	.section-inner {
		position: relative;
		padding-top: 35px;
		padding-bottom: 40px;
		@media (min-width: 768px) {
			padding-top: 75px;
			padding-bottom: 80px;
		}

		&:before {
			content: '';
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			right: 0;
			height: 100px;
			background: linear-gradient(to bottom, rgba(18,53,12,1) 0%,rgba(17,86,13,0) 100%);
		}
	}

	.container {
		position: relative;
		z-index: 1;
	}
}

.section-header {
	margin-bottom: 20px;
	@media (max-width: 576px) {
		text-align: center;
	}

	@media (min-width: 768px) {
		margin-bottom: 40px;
	}

	@media (min-width: 992px) {
		padding-left: 6.5%;
		padding-right: 6.5%;
	}

	.section-title {
		margin: 0;
		font-size: 30px;
		font-weight: 400;
		line-height: 1;
		text-transform: uppercase;
		@media (min-width: 768px) {
			font-size: 36px;
		}
	}

	.section-action {
		margin-top: 10px;
		margin-bottom: 10px;
		@media (min-width: 768px) {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}


.embed-responsive-wrapper {
	margin-bottom: 40px;
	padding: 3.2% 10% 3.5% 10.1%;
	background: url('../img/iframe-border.png') no-repeat center top;
	background-size: contain;
	@media (min-width: 992px) {
		margin-left: 4%;
		margin-right: 4%;
	}
}


.list {
	@extend .reset-list;
	> li {
		margin-top: 2px;
		margin-bottom: 2px;
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.social-list {
	@extend .reset-list;
	.social-item {
		display: inline-block;
		.social-link {
			display: block;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			background-color: #12260b;
			text-align: center;
			text-decoration: none;
			line-height: 30px;
		}
	}

	&.dark {
		.social-item {
			.social-link {
				background-color: #62db34;
			}
		}
	}
}


.slick-slider {
	outline: none;
	* {
		outline: none;
	}

	.slick-arrow {
		z-index: 1;
		&:before {
			content: '';
			opacity: 1;
			display: block;
			width: 42px;
			height: 42px;
			border-radius: 50%;
			background-image: url('../img/spritesheet.png');
    		background-repeat: no-repeat;
		}

		&.slick-prev {
		    transform: translate(-100%, -50%);
			&:before {
				margin-left: auto;
				background-position: -15px -62px;
			}
		}

		&.slick-next {
		    transform: translate(100%, -50%);
			&:before {
				margin-right: auto;
				background-position: -159px -62px;
			}
		}

		&:hover {
			&.slick-prev:before {
				background-position: -87px -62px;
			}
		}
		&:hover {
			&.slick-next:before {
				background-position: -15px -134px;
			}
		}
	}
}

.slick-dots {
	bottom: -35px;
	li {
		width: 14px;
		height: 14px;
		margin: 0 3px;
		button {
			opacity: .3;
			width: inherit;
			height: inherit;
			border-radius: 50%;
			background-color: #12260b;
			&:before {
				display: none;
			}
		}
		&.slick-active {
			button {
				opacity: .8;
			}
		}
	}
}

.slider-gallery {
	margin: 10px 0;
	border: 6px solid transparent;
	@media (min-width: 768px) {
		margin: 10px 96px;
		border: 25px solid transparent;
	}

	.slide-item {
		position: relative;
		margin-right: 15px;
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			right: -4px;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			transform: translate(100%, -50%);
		}
	}

	.slick-arrow {
		width: 88px;
		height: 100%;
	}
}

.slider-gallery.light {
	border-color: #62db34;
	background-color: #62db34;
	.slide-item {
		&:after {
			border: 2px solid #480e17;
			background-color: #fff;
		}
	}

	.slick-arrow {
		&.slick-prev {
			background: url('../img/section-gallery/gallery-slider-light-arrow-left.png') no-repeat center left ;
		}
		&.slick-next {
			background: url('../img/section-gallery/gallery-slider-light-arrow-right.png') no-repeat center right ;
		}
	}
}

.slider-gallery.dark {
	border-color: #12260b;
	background-color: #12260b;
	.slide-item {
		&:after {
			border: 2px solid #480e17;
			background-color: #fff;
		}
	}

	.slick-arrow {
		&.slick-prev {
			background: url('../img/section-gallery/gallery-slider-dark-arrow-left.png') no-repeat center left ;
		}
		&.slick-next {
			background: url('../img/section-gallery/gallery-slider-dark-arrow-right.png') no-repeat center right ;
		}
	}
}

.gallery-card.portrait {
	position: relative;
    width: 131px;
    height: 192px;
	border: 4px solid #fff;
	background-position: center top;
	background-size: cover;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 123px;
		height: 184px;
		background: url('../img/section-gallery/gallery-card-portrait-border.png') no-repeat top left ;
	}
}

.gallery-card.landscape {
	position: relative;
    width: 280px;
    height: 192px;
	border: 4px solid #fff;
	background-position: center top;
	background-size: cover;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 272px;
		height: 184px;
		background: url('../img/section-gallery/gallery-card-landscape-border.png') no-repeat top left ;
	}
}