html,
body {
	height: 100%;
	font-family: $base-font;
	font-size: 16px;
	line-height: 1.5;
	color: $default;
}

body {
	padding-top: 90px;
	@media (max-width: 991px) {
		padding-top: 75px;
	}
	@media (max-width: 767px) {
		padding-top: 55px;
	}
}

.overflow {
	overflow: hidden;
}

.offcanvas-open {
	overflow: hidden;
	position: relative;
	&:before {
		content: '';
		position: absolute;
		z-index: 100;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		height: 100vh;
		width: 100vw;
		background: rgba(#000, .7);
	}
}

section {
	position: relative;
	z-index: 1;
	padding-top: 20px;
	padding-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $heading-font;
}


h1,
.h1 {
	
}

h2,
.h2 {
	font-size: 30px;
	@media (max-width: 1199px) {
		font-size: 26px;
	} 
}

h3,
.h3 {
	font-size: 24px;
}

h4,
.h4 {
	font-size: 22px;
}

h5,
.h5 {
	
}

h6,
.h6 {
	font-size: 16px;
}

p {
	margin: 15px 0;
}

a {
	@extend .transition;
	color: $primary;
	text-decoration: underline;
	&:hover {
		color: darken($primary, 10%);
	}
}

img {
	max-width: 100%;
}


.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}


.text-danger {
	color: $danger;
	text-decoration: none;
}
.text-success {
	color: $success;
	text-decoration: none;
}
.text-primary {
	color: $primary;
	text-decoration: none;
}