$heading-font: 'Roboto Condensed', sans-serif;
$base-font: 'Roboto', sans-serif;
$secondary-font: 'FuturicaBlack', sans-serif;

$default: #586978;
$default-heading: #333;

$dark-danger: #af5458;
$danger: #c30b15;
$success: #2c9603;
$primary: #00529c;
$info: #6f9ab2;


$darken: #58585a;
$dark-gray: #a6a6a6;
$gray: #f3f3f3;