$heading-font: 'FiraSans', sans-serif;
$base-font: 'FiraSans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;

$main-color: #4c2e77;

$danger: #af266a;
$success: #26af7d;

$purple: #7e60aa;

$gray:  #ebebeb;
$dark-gray: #c3c1c5;
$light-gray: #f7f6f5;


$default: #4d4b51;
$default-heading: $main-color;


$global-radius: 20px;