.sidebar-nav
	nav
		margin-top: 52px
		ul
			width: 252px
			li
				margin-bottom: 11px
				a
					@include text(12px)
					letter-spacing: 0.3px
					opacity: 0.5
	.active
		opacity: 1
		&:before
			content: ''
			display: block
			float: left
			margin-top: 7px
			margin-right: 10px
			width: 33px
			height: 1px
			background-color: $white

.company
	padding-right: 70px
	&-about
		max-width: 600px
		margin: -5px 37px 0 auto
		h3
			@include page-titles
			letter-spacing: 2.4px
			margin-bottom: 20px
		p
			@include text(12px)
			letter-spacing: 0.4px
			line-height: 18px
			b
				font-weight: 700
		h4
			@include text(15px)
			text-transform: uppercase
			letter-spacing: 0.38px
			margin-top: 40px
			margin-bottom: 25px
		.slider
			.slick-arrow_left
				position: absolute
				top: calc(39%)
				left: -24px
				cursor: pointer
			.slick-arrow_right
				position: absolute
				top: calc(39%)
				right: -2px
				cursor: pointer
		.thanks-slider
			.slick-arrow_left
				position: absolute
				top: calc(50%)
				left: -24px
				cursor: pointer
			.slick-arrow_right
				position: absolute
				top: calc(50%)
				right: -2px
				cursor: pointer
			.thanks-slide
				.gradient
					position: absolute
					z-index: 1
					width: 171px
					height: 242px
					border-radius: 8px
					background-image: linear-gradient(-235deg, rgba(51, 72, 140, 0.24) 0%, #47265e 100%)
					cursor: zoom-in
					&:after
						content: ''
						position: absolute
						bottom: 21px
						right: 24px
						width: 26px
						height: 26px
						background: url(../../img/icons/zoom-in.png) no-repeat
				img
					position: relative
					z-index: -1
	&-cooperation
		margin: 100px -30px 0 auto
		max-width: 666px
		h3
			@include page-titles
			letter-spacing: 2.4px
			margin-bottom: 25px
		p
			@include text(12px)
			letter-spacing: 0.4px
			line-height: 18px
		h4
			@include text(15px)
			text-transform: uppercase
			line-height: 22px
			letter-spacing: 0.38px
			margin-top: 44px
			margin-bottom: 19px
		&_scheme
			width: 530px
			text-align: center
			border-radius: 10px
			background: rgba(252,253,254, .3)
			margin: 10px auto 20px
			padding: 12px 40px
		&_interests
			li
				display: flex
				align-items: center
				@include text(12px)
				line-height: 18px
				&:nth-of-type(n+2)
					margin-top: 15px
				img
					margin-right: 18px
	&-charity
		max-width: 633px
		margin: 150px 0 0 auto
		h3
			@include page-titles
			letter-spacing: 2.4px
			margin-bottom: 28px
		p
			@include text(12px)
			letter-spacing: 0.4px
			line-height: 18px
			a
				font-weight: 700
				letter-spacing: 0.6px
		ul
			margin: 23px 0 40px
			li
				@include text(12px)
				letter-spacing: 0.4px
				line-height: 18px
				&:nth-of-type(n+2)
					margin-top: 15px
				&:before
					content: ''
					display: block
					float: left
					width: 20px
					height: 1px
					background: $white
					margin: 7px 15px 20px 0
	&-news
		max-width: 740px
		margin: 100px 0 0 auto
		h3
			@include page-titles
			letter-spacing: 2.4px
			margin-bottom: 36px
		&_blocks
			display: flex
			justify-content: flex-start
			flex-wrap: wrap
			a
				flex: 0 1 350px
				margin-bottom: 26px
				&:nth-of-type(even)
					margin-left: 30px
	&-presentations
		max-width: 740px
		margin: 40px 0 0 auto
		h3
			@include page-titles
			letter-spacing: 2.4px
			margin-bottom: 36px
		p
			@include text(12px)
			letter-spacing: 0.4px
			line-height: 18px

.news
	h3
		@include page-titles
		letter-spacing: 2.4px
		margin-bottom: 38px
	&-all
		display: flex
		align-items: flex-start
		img
			flex: 1 1 auto
			margin-right: 30px
		&_description
			flex: 2 2 auto
			small
				@include text(12px)
				opacity: 0.5
				letter-spacing: 0.6px
			h4
				@include text(20px)
				letter-spacing: 1px
				margin: 11px 0 22px
			p
				@include text(12px)
				letter-spacing: 0.6px
				line-height: 19px
	&-back
		margin: 23px 0
		text-align: right
		padding-right: 54px
		a
			@include text(12px)
			letter-spacing: 0.4px
			opacity: 0.5
			position: relative
			&:after
				content: ''
				width: 15px
				height: 11px
				position: absolute
				top: 2px
				right: -30px
				background: url(../../img/icons/arrow.png) no-repeat

@media (max-width: 1410px)
	.company
		padding-right: 40px

@media (max-width: 1199px)
	.company
		padding-right: 0px
		&-about
			max-width: 100%
			margin-left: 0
			.slider, .thanks-slider
				margin-left: 30px
		&-cooperation
			max-width: 100%
			margin: 70px 0 0 0
		&-charity
			max-width: 100%
			margin: 120px 0 0 0
		&-news
			&_blocks
				a
					flex: 0 1 300px

@media (max-width: 767px)
	.company
		&-cooperation
			&_scheme
				width: 100%
		&-news
			&_blocks
				justify-content: center
				a
					flex: 0 1 320px
					&:nth-of-type(even)
						margin-left: 0

	.news
		&-all
			flex-direction: column
			img
				margin: 0 auto 40px

@media (max-width: 480px)
	.company
		h3
			font-size: 24px
		&-about
			.slider
				&-slide
					img
						margin: 0 auto
			.thanks-slider
				a
					display: block
					width: 171px
					margin: 0 auto
		&-news
			&_blocks
				a
					flex: 0 1 280px

	.sidebar-nav
		nav
			ul
				width: 100%