$text-color: #fbfcfc
$white: #fff
$content-color: #1f1746
$pop-up: #1f1746
$blur-color: rgba(252, 251, 251, .9)

$Lato: 'Lato', sans-serif
$Rubik-med: 'Rubik', sans-serif
$Playfair: 'Playfair Display', serif

$border: 5px