.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container {
	@media (min-width: 1200px) {
		width: 1200px;
	}
}


.section-dark {
	background: $dark-gray;
}
.section-light {
	background: $light-gray;
}

.section-header {
	.section-title {
		@extend .text-gradient;
		text-transform: uppercase;
		letter-spacing: 2px;
		line-height: 1.1;
	}

	&.header-with-aside {
		.header-aside {
			@media (max-width: 767px) {
				margin-bottom: 40px;
			}

			img {
				@media (max-width: 767px) {
					display: block;
					max-width: 180px;
					margin: auto;
				}
			}
		}
	}
}

.content-aside {
	width: 280px;
	@media (max-width: 767px) {
		float: none !important;
		margin: 0 auto 10px !important;
	}

	&.content-aside-left {
		float: left;
		margin: 0 20px 20px 0;
	}
	&.content-aside-right {
		float: right;
		margin: 0 0 20px 20px;
	}
}