button,
.btn {
	cursor: pointer;
	outline: none !important;
	border: none;
	border-radius: 0;
}

button:hover {
	transition: color 300ms ease;
}


.btn {
	position: relative;
	z-index: 1;
	display: inline-block;
	padding: 15px 20px;
	border: 1px solid #f26680;
	background-color: #f26680;
	font-size: 14px;
	font-weight: 900;
	color: #fffefe;
	letter-spacing: 0.7px;
	text-transform: uppercase;
}

.btn::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    background-color: #fff;
    will-change: transform,background-color;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition: -webkit-transform .35s;
    transition: -webkit-transform .35s;
    transition: transform .35s;
    transition: transform .35s,-webkit-transform .35s;
    -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
    transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}

.btn:hover {
	color: #f26680;
}

.btn:hover::before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}

.btn-light {
	border: 1px solid #fff;
}


.btn-sm {
	font-size: 13px;
	letter-spacing: 0.65px;
}


.btn-link {
	position: relative;
	display: inline-block;
	padding: 5px 0;
	font-size: 12px;
	font-weight: 900;
	color: #191919;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.6px;
}

.btn-link::before,
.btn-link::after {
	content: '';
    display: block;
    position: absolute;
}

.btn-link::before {
	color: currentColor;
    right: 0;
    bottom: -2px;
    height: 2px;
    width: 100%;
    -webkit-transition: width 0s ease, border-bottom 0.5s ease;
    transition: width 0s ease, border-bottom 0.5s ease;
}

.btn-link::after {
	left: 0;
    bottom: -2px;
    height: 1px;
    width: 100%;
    border-bottom: 2px solid currentColor;
    -webkit-transition: width 0.5s ease;
    transition: width 0.5s ease;
}


.btn-link:hover {
	border-bottom-color: transparent;
	color: #191919;
	text-decoration: none;
}

.btn-link:hover::before {
	width: 0;
    border-bottom: 2px solid currentColor;
    -webkit-transition: width 0.5s ease;
    transition: width 0.5s ease;
}

.btn-link:hover::after {
	width: 0;
    border-bottom: 2px solid transparent;
    -webkit-transition: all 0s ease;
    transition: all 0s ease;
}


.btn-link-lg {
	font-size: 14px;
}


.btn-block {
	display: block;
	width: 100%;
	padding-left: 15px !important;
	padding-right: 15px !important;
}


@media (min-width: 768px) {
	.btn {
		padding: 16px 40px;
	}

	.btn-sm {
		padding-left: 25px;
		padding-right: 25px;
	}
}

@media (min-width: 1200px) {
	.btn-sm {
		padding-left: 40px;
		padding-right: 40px;
	}
}