@font-face {
  font-family: 'Lato';
  src: url('../../fonts/Lato/Lato-Regular/Lato-Regular.eot');
  src: url('../../fonts/Lato/Lato-Regular/Lato-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Lato/Lato-Regular/Lato-Regular.ttf') format('truetype'),
    url('../../fonts/Lato/Lato-Regular/Lato-Regular.woff') format('woff'),
    url('../../fonts/Lato/Lato-Regular/Lato-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('../../fonts/Lato/Lato-Black/Lato-Black.eot');
  src: url('../../fonts/Lato/Lato-Black/Lato-Black.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Lato/Lato-Black/Lato-Black.ttf') format('truetype'),
    url('../../fonts/Lato/Lato-Black/Lato-Black.woff') format('woff'),
    url('../../fonts/Lato/Lato-Black/Lato-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('../../fonts/Oswald/Oswald-Regular/Oswald-Regular.eot');
  src: url('../../fonts/Oswald/Oswald-Regular/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Oswald/Oswald-Regular/Oswald-Regular.ttf') format('truetype'),
    url('../../fonts/Oswald/Oswald-Regular/Oswald-Regular.woff') format('woff'),
    url('../../fonts/Oswald/Oswald-Regular/Oswald-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('../../fonts/Oswald/Oswald-Medium/Oswald-Medium.eot');
  src: url('../../fonts/Oswald/Oswald-Medium/Oswald-Medium.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Oswald/Oswald-Medium/Oswald-Medium.ttf') format('truetype'),
    url('../../fonts/Oswald/Oswald-Medium/Oswald-Medium.woff') format('woff'),
    url('../../fonts/Oswald/Oswald-Medium/Oswald-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('../../fonts/Oswald/Oswald-Heavy/Oswald-Heavy.eot');
  src: url('../../fonts/Oswald/Oswald-Heavy/Oswald-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Oswald/Oswald-Heavy/Oswald-Heavy.ttf') format('truetype'),
    url('../../fonts/Oswald/Oswald-Heavy/Oswald-Heavy.woff') format('woff'),
    url('../../fonts/Oswald/Oswald-Heavy/Oswald-Heavy.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../../fonts/icomoon/icomoon.eot');
    src:  url('../../fonts/icomoon/icomoon.eot#iefix') format('embedded-opentype'),
        url('../../fonts/icomoon/icomoon.ttf') format('truetype'),
        url('../../fonts/icomoon/icomoon.woff') format('woff'),
        url('../../fonts/icomoon/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rouble:before {
  content: "\f2e2";
}
.icon-desktop:before {
  content: "\f1b7";
}
.icon-cancel:before {
  content: "\e900";
}
.icon-download-button:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-goal:before {
  content: "\e903";
}
.icon-incoming-call:before {
  content: "\e904";
}
.icon-instagram:before {
  content: "\e905";
}
.icon-long-arrow-left:before {
  content: "\e906";
}
.icon-megaphone:before {
  content: "\e907";
}
.icon-mouse:before {
  content: "\e908";
}
.icon-long-arrow-right:before {
  content: "\e909";
}
.icon-tag:before {
  content: "\e90a";
}
.icon-vk:before {
  content: "\e90b";
}
