.pagination {
	cursor: default;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	margin: 20px 0;
	padding: 0;
	border: none;
	border-radius: 0;
	font-size: 18px;
	font-weight: 900;
	color: #191919;
	letter-spacing: 0.9px;
	text-transform: uppercase;
}

.page-item {
	margin-left: 5px;
	margin-right: 5px;
}

.page-link {
	margin: 0;
	padding: 5px 10px;
	border: none;
	border-bottom: 1px solid transparent;
	border-radius: 0;
	background-color: transparent;
	color: #191919;
}

.page-link:hover {
	color: #191919;
	border-bottom-color: transparent;
	background-color: transparent;
}

.page-link:focus {
	box-shadow: none;
}

.page-item.active .page-link {
	border-bottom: 1px solid;
	border-radius: 0;
	background-color: transparent;
	color: #191919;
}


@media (min-width: 768px) {
	.pagination {
		margin: 45px 0;
	}
}

@media (min-width: 992px) {
	.pagination {
		margin: 65px 0;
	}
}