.pagination {
	cursor: default;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	margin: 20px 0;
	padding: 0;
	border: none;
	border-radius: 0;
	font-size: 18px;
	font-weight: 900;
	color: #191919;
	letter-spacing: 0.9px;
	text-transform: uppercase;
}

.page-item {
	margin-left: 5px;
	margin-right: 5px;
}

.page-link {
	position: relative;
	margin: 0;
	padding: 5px 10px;
	border: none;
	border-radius: 0;
	background-color: transparent;
	color: #191919;
}

.page-link:hover {
	color: #191919;
	border-bottom-color: transparent;
	background-color: transparent;
}

.page-link:focus {
	box-shadow: none;
}


.page-item.active .page-link {
	border-radius: 0;
	background-color: transparent;
	color: #191919;
}

.page-item.active .page-link::before,
.page-item.active .page-link::after {
	content: '';
    display: block;
    position: absolute;
}

.page-item.active .page-link::before {
	color: currentColor;
    right: 0;
    bottom: -2px;
    height: 2px;
    width: 100%;
    -webkit-transition: width 0s ease, border-bottom 0.5s ease;
    transition: width 0s ease, border-bottom 0.5s ease;
}

.page-item.active .page-link::after {
	left: 0;
    bottom: -2px;
    height: 1px;
    width: 100%;
    border-bottom: 2px solid currentColor;
    -webkit-transition: width 0.5s ease;
    transition: width 0.5s ease;
}

.page-item.active .page-link:hover::before {
	width: 0;
    border-bottom: 2px solid currentColor;
    -webkit-transition: width 0.5s ease;
    transition: width 0.5s ease;
}

.page-item.active .page-link:hover::after {
	width: 0;
    border-bottom: 2px solid transparent;
    -webkit-transition: all 0s ease;
    transition: all 0s ease;
}


@media (min-width: 768px) {
	.pagination {
		margin: 45px 0;
	}
}

@media (min-width: 992px) {
	.pagination {
		margin: 65px 0;
	}
}