.social {
	display: none;
}

@media (min-width: 992px) {
	.social {
		position: fixed;
		z-index: 99;
		top: 200px;
		right: 10px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
		font-size: 16px;
		color: rgba(25,25,25,.75);
		letter-spacing: 0.4px;
	}


	.social-controls {
		width: 42px;
		border: 1px solid #bababa;
	}

	.social-control {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		background-color: #fff;
		color: rgba(35,35,35,.5);
		text-decoration: none;
	}

	.social-control:not(:last-child) {
		border-bottom: 1px solid #bababa;
	}

	.social-control:hover {
		color: #232323;
		text-decoration: none;
	}

	.social-hint {
		margin: 20px 0 0;
		writing-mode: tb-rl;
	   	transform:rotate(180deg);
	}
}

@media (min-width: 1200px) {
	.social {
		right: 40px;
	}
	
	.social-controls {
		width: 50px;
	}

	.social-control {
		width: 48px;
		height: 48px;
	}
}

@media (min-width: 1440px) {
	.social {
		right: calc(50% - 1340px / 2);
	}
}