* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    background: #fff;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
}

.container-fluid {
    max-width: 2000px;
    padding-left: 8.3%;
    padding-right: 8.3%;
}

/*[class*="col"] {
    @include media-breakpoint-down(sm) {
        padding-left: $mobile-padding;
        padding-right: $mobile-padding;
    }
}*/


h1 {
    font-size: 35px;
}

h2 {
    font-size: 30px;
}

h3 {
    
}

a {
    display: inline-block;
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
    outline: none;
}

.btn {
    position: relative;
    display: inline-block;
    min-width: 120px;
    padding: 12px 22px;
    border: 1px solid transparent;
    border-radius: 30px;
    font-family: "Proxima Nova";
    font-size: 17px;
    font-weight: 300;
    text-decoration: none;
    text-align: center;
}
.btn:after {
    content: '';
    position: absolute;
    top: -7px;
    left: -7px;
    right: -7px;
    bottom: -7px;
    border: 1px solid transparent;
    border-radius: 30px;
    
}

.btn-lg {
    min-width: 141px;
    padding: 16px 14px;
    font-family: "Quiza Pro";
    font-size: 17px;
    font-style: italic;
    line-height: 26px;
}
.btn-lg:after {
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border-width: 2px;
    border-radius: 50px;
}

.btn-lg i {
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.btn-light {
    color:  #000;
    border-color: #c5c5c8;
    background: none;
}
.btn-light:after {
    border-color: #c5c5c8;
}

.btn-dark {
    border-color: #40444e;
    background: #40444e;
    color: #fff;
}
.btn-dark:after {
    border-color: #40444e;;
}

.btn-play {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    line-height: 100px;
    text-align: center;
    text-decoration: none;
}
.btn-play:before {
    content: '';
    position: absolute;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    border: 2px solid transparent;
    border-radius: 50%;
}
.btn-play:after {
    font-family: 'icomoon';
    content: '\e917';
}

.btn-play.lg {
    width: 150px;
    height: 150px;
    font-size: 64px;
    line-height: 150px;
}


.btn-play.light {
    color: #40444e;
    background-color: #fff;
}
.btn-play.light:before {
    border-color: #fff;
}


.breadcrumb {
    margin: 7px 0;
    padding: 0;
    list-style: none;
    color: #a7a7a7;
    font-family: "Proxima Nova";
    font-size: 12px;
    font-weight: 300;
    line-height: 26px;
}

.breadcrumb li {
    position: relative;
    display: inline-block;
    color: #a7a7a7;
    font-family: "Proxima Nova";
    font-size: 12px;
    font-weight: 300;
    line-height: 26px;
}
.breadcrumb li:after {
    font-family: 'icomoon';
    content: '\e916';
    display: inline-block;
    margin: 0 8px 0 12px;
    font-size: 8px;
}
.breadcrumb li:last-child:after {
    display: none;
}

.breadcrumb li a {
    color: inherit;
    text-decoration: none;
}

.breadcrumb li.prev {
    width: 27px;
    height: 27px;
    margin: 0 8px 0 0;
    border: 1px solid #cecece;
    border-radius: 50%;
    font-size: 10px;
    color: #9b9b9b;
    text-align: center;
    line-height: 28px;
}
.breadcrumb li.prev:after {
    display: none;
}

.breadcrumb .page-item.active {
    color: #444444;
}

.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}