@font-face {
    font-family: 'Proxima Nova';
    src:  url('../fonts/ProximaNova-Regular/ProximaNova-Regular.eot');
    src:  url('../fonts/ProximaNova-Regular/ProximaNova-Regular.eot#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf') format('truetype'),
        url('../fonts/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'),
        url('../fonts/ProximaNova-Regular/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src:  url('../fonts/ProximaNova-Light/ProximaNova-Light.eot');
    src:  url('../fonts/ProximaNova-Light/ProximaNova-Light.eot#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Light/ProximaNova-Light.ttf') format('truetype'),
        url('../fonts/ProximaNova-Light/ProximaNova-Light.woff') format('woff'),
        url('../fonts/ProximaNova-Light/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src:  url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot');
    src:  url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.ttf') format('truetype'),
        url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.woff') format('woff'),
        url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src:  url('../fonts/ProximaNova-Bold/ProximaNova-Bold.eot');
    src:  url('../fonts/ProximaNova-Bold/ProximaNova-Bold.eot#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Bold/ProximaNova-Bold.ttf') format('truetype'),
        url('../fonts/ProximaNova-Bold/ProximaNova-Bold.woff') format('woff'),
        url('../fonts/ProximaNova-Bold/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'Quiza Pro';
    src:  url('../fonts/QuizaPro-Regular/QuizaPro-Regular.eot');
    src:  url('../fonts/QuizaPro-Regular/QuizaPro-Regular.eot#iefix') format('embedded-opentype'),
        url('../fonts/QuizaPro-Regular/QuizaPro-Regular.ttf') format('truetype'),
        url('../fonts/QuizaPro-Regular/QuizaPro-Regular.woff') format('woff'),
        url('../fonts/QuizaPro-Regular/QuizaPro-Regular.svg#QuizaPro-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Quiza Pro';
    src:  url('../fonts/QuizaPro-Italic/QuizaPro-Italic.eot');
    src:  url('../fonts/QuizaPro-Italic/QuizaPro-Italic.eot#iefix') format('embedded-opentype'),
        url('../fonts/QuizaPro-Italic/QuizaPro-Italic.ttf') format('truetype'),
        url('../fonts/QuizaPro-Italic/QuizaPro-Italic.woff') format('woff'),
        url('../fonts/QuizaPro-Italic/QuizaPro-Italic.svg#QuizaPro-Italic') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon/icomoon.eot');
    src:  url('../fonts/icomoon/icomoon.eot#iefix') format('embedded-opentype'),
        url('../fonts/icomoon/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon/icomoon.woff') format('woff'),
        url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close-thin:before {
  content: "\e91e";
}
.icon-minus:before {
  content: "\e908";
}
.icon-home-advantages-icon-1:before {
  content: "\e91a";
}
.icon-home-advantages-icon-2:before {
  content: "\e91b";
}
.icon-home-advantages-icon-3:before {
  content: "\e91c";
}
.icon-home-advantages-icon-4:before {
  content: "\e91d";
}
.icon-phone:before {
  content: "\e909";
}
.icon-play:before {
  content: "\e917";
}
.icon-bars:before {
  content: "\e918";
  color: #41454f;
}
.icon-close:before {
  content: "\e919";
}
.icon-circle-minus:before {
  content: "\e90a";
}
.icon-plus:before {
  content: "\e90b";
}
.icon-circle-plus:before {
  content: "\e910";
}
.icon-circle-arrow-right:before {
  content: "\e900";
}
.icon-circle-arrow-left:before {
  content: "\e911";
}
.icon-circle-arrow-up:before {
  content: "\e912";
}
.icon-circle-arrow-down:before {
  content: "\e913";
}
.icon-arrow-up:before {
  content: "\e901";
}
.icon-arrow-down:before {
  content: "\e914";
}
.icon-arrow-left:before {
  content: "\e915";
}
.icon-arrow-right:before {
  content: "\e916";
}
.icon-bag:before {
  content: "\e902";
}
.icon-doc:before {
  content: "\e903";
  color: #41454f;
}
.icon-factory:before {
  content: "\e904";
  color: #41464e;
}
.icon-gift:before {
  content: "\e905";
}
.icon-lorry:before {
  content: "\e906";
}
.icon-percent:before {
  content: "\e907";
}
.icon-production:before {
  content: "\e90c";
}
.icon-watch:before {
  content: "\e90d";
}
.icon-zoom:before {
  content: "\e90e";
}
.icon-search:before {
  content: "\e90f";
}