.header {
    padding-top: 13px;
}

.header-upper {
    flex-wrap: nowrap;
}


.header-side-left,
.header-side-center,
.header-side-right {
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-side-center {
    max-width: 200px;
}


.header-side-left,
.header-side-right {
    flex: 0 0 calc(50% - 100px);
    max-width: calc(50% - 100px);
}

.header-side-right {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
    -ms-align-items: center;
    align-items: center;
}


.header-logo {
    width: 159px;
    height: 44px;
    margin: -15px auto 0;
}

.header-logo .header-logo-img {
    width: inherit;
    height: inherit;
}

.header-status-menu {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    margin: 0 -18px;
    padding: 0;
    list-style: none;
}

.header-status-menu li {
    padding: 10px 18px;
}

.header-status-menu li i {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;
}

.header-status-menu li a {
    display: inline-block;
    color: #40444e;
    font-family: "Quiza Pro";
    font-size: 14px;
    font-style: italic;
    line-height: 25px;
    text-decoration: none;
}
.header-status-menu li.selected a {
    color: #c84b4b;
}



.header-contact {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}
.header-contact .header-contact-phone,
.header-contact .header-contact-order {
}

.header-contact .header-contact-phone  {
    margin-right: 25px;
}

.header-contact .header-contact-phone a {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    color: #646873;
    letter-spacing: 3.6px;
    text-decoration: none;
    white-space: nowrap;
}

.header-contact .header-contact-phone i {
    flex: 0 0 30px;
    vertical-align: middle;
    margin: 0 10px 0 0;
    font-size: 26px;
}


.header-contact .header-contact-order .btn {
    font-family: "Quiza Pro";
    font-size: 14px;
    font-style: italic;
    white-space: nowrap;
}



.header-user-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 30px;
    color: #40444e;
}

.header-user-menu li {
    position: relative;
    display: inline-block;
    margin: 0 0 0 24px;
}

.header-user-menu li a {
    color: inherit;
    text-decoration: none;
}

.user-menu-badge {
    display: inline-block;
    position: absolute;
    top: -10px;
    right: -10px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #40444e;
    font-family: "Proxima Nova";
    font-size: 9px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    text-align: center;
}


.header-nav-wrapper {
    border-top: 1px solid #e4e4e4;
}
.header-nav-list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    height: 69px;
    margin: 0 -5px;
    padding: 0;
    list-style: none;
}

.header-nav-list .header-nav-item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex: 1 1 auto;
    padding: 0 5px;
    /*padding-left: 29px;*/
}

.header-nav-list .header-nav-item a {
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    /*max-width: 100%;*/
    padding-top: 6px;
    /*padding: 27px 0 14px;*/
    border-bottom: 3px solid transparent;
    color: #40444e;
    font-family: "Proxima Nova";
    font-size: 13px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 2.6px;
    text-decoration: none;
    white-space: nowrap;
    transition: border-color 300ms ease;
}

.header-nav-list .header-nav-item a i {
    flex: 0 0 29px;
    font-size: 17px;
    /*position: absolute;*/
    /*left: -29px;*/
}

.header-nav-list .header-nav-item a i.icon-search {
    position: relative;
    top: -2px;
    margin: -5px 0;
    font-size: 27px;
}

.header-nav-list .header-nav-item.selected a {
    color: #c84b4b;
}

.header-nav-list .header-nav-item.search {
    width: 40px;
    max-width: 40px;
}

.header-nav-list .header-nav-item a:hover,
.header-nav-list .header-nav-item.active a {
    border-color: #40444e;
}

.header-toggler {
    display: none;
    margin: 0 25px 0 0;
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
}
.header-toggler:last-child {
    margin: 0;
}

.header-toggler .header-toggler-icon {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 0 0;
    font-size: 26px;
}

.header-toggler .header-toggler-text {
    font-family: "Proxima Nova";
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}



.offcanvas {
    opacity: 0;
    position: fixed;
    z-index: 999;
    overflow-y: auto;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    background-color: #41454e;
    color: #fff;
    transform: translateX(-100%);
    transition: transform 300ms ease, opacity 300ms ease;
}


.offcanvas.active {
    opacity: 1;
    transform: translateX(0);
}

.offcanvas-open {
    overflow: hidden;
}



.offcanvas a {
    text-decoration: none;
}

.offcanvas .offcanvas-header {
    min-height: 70px;
    padding: 18px 14px;
    background-color: #231f20;
}

.offcanvas .offcanvas-body {
    padding: 4px 14px;
}


.offcanvas-header-menu {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    margin: 0 -15px;
    padding: 0;
    list-style: none;
}

.offcanvas-header-menu .offcanvas-header-menu-item {
    padding-left: 15px;
    padding-right: 15px;
}

.offcanvas-header-menu .offcanvas-header-menu-item .offcanvas-header-menu-link {
    cursor: pointer;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
    font-family: "Quiza Pro";
    font-size: 13px;
    font-style: italic;
    line-height: 17px;
    color: #fff;
}

.offcanvas-header-menu .offcanvas-header-menu-item .offcanvas-header-menu-icon {
    position: relative;
    font-size: 30px;
}

.offcanvas-header-menu .offcanvas-header-menu-item .offcanvas-header-menu-icon .icon-close {
    font-size: 24px;
}

.offcanvas-header-menu .offcanvas-header-menu-item .offcanvas-header-menu-icon .offcanvas-header-menu-badge {
    position: absolute;
    z-index: 9;
    top: -4px;
    right: -14px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #000000;
    color: #ffffff;
    font-family: "Proxima Nova";
    font-size: 9px;
    font-weight: 300;
    line-height: 25px;
    line-height: 16px;
    text-align: center;
}


.offcanvas-header-menu .offcanvas-header-menu-item .offcanvas-header-menu-text {
    display: inline-block;
    margin: 0 0 0 14px;
}




.offcanvas-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.offcanvas-menu .offcanvas-menu-item .offcanvas-menu-link {
    position: relative;
    display: block;
    padding: 14px 0;
    border-bottom: 1px solid #656b79;
    color: #ffffff;
    font-family: "Proxima Nova";
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    transition: color 300ms ease;
}

.offcanvas-menu .offcanvas-menu-item .offcanvas-menu-link i {
    display: inline-block;
    font-size: 20px;
}

.offcanvas-menu .offcanvas-menu-item .offcanvas-menu-link:hover,
.offcanvas-menu .offcanvas-menu-item.active .offcanvas-menu-link,
.offcanvas-menu .offcanvas-menu-item.selected .offcanvas-menu-link {
    color: #ff6566;
}


.offcanvas-menu .offcanvas-menu-item.has-children .offcanvas-menu-link:after {
    font-family: 'icomoon';
    content: '\e916';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 10px;
    color: inherit;
}



.offcanvas-submenu  {
    margin: 0;
    padding: 0;
    list-style: none;
}

.offcanvas-submenu .offcanvas-submenu-item .offcanvas-submenu-link {
    display: block;
    margin: 18px 0;
    color: #ffffff;
    font-family: "Quiza Pro";
    font-size: 14px;
    font-style: italic;
    line-height: 20px;
}

.offcanvas-submenu .offcanvas-submenu-item .offcanvas-submenu-link i {
    display: inline-block;
    margin: 0 4px 0 0;
    font-size:  16px;
}




