@media screen and (max-width: 1440px) {
	.section-product .product-content,
	.section-product .product-aside {
		flex: 1 1 100%;
		max-width: 100%;
	}


	.section-product .product-aside {
		position: relative;
		top: -10px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column-reverse;
		-moz-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		-o-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}


	.section-product .col-info {
		flex: 0 0 43%;
		max-width: 43%;
	}

	.section-product .col-picture {
		flex: 0 0 57%;
		max-width: 57%;
	}


	.section-product .product-title {
		font-size: 30px;
		line-height: 38px;
		letter-spacing: 6px;
	}


	.section-product .product-type .product-type-item {
		padding: 0 13px;
	}

	.section-product .product-type .product-type-item a,
	.section-product .product-type .product-type-item.active {
		font-size: 17px;
	}

	.section-product .product-type .product-type-item a {
		padding-top: 9px;
		padding-bottom: 8px;
	}


	.section-product .product-description {
		font-size: 17px;
	}


	.section-product .product-colors {
		margin-top: 23px;
		margin-bottom: 18px;
	}

	
	.product-feature {
		margin: 37px -15px 7px;
	}
	.product-feature:before,
	.product-feature:after {
		content: '';
		display: table;
		clear: both;
	}

	.product-feature .product-feature-item {
		float: left;
		width: 25%;
		padding: 17px 15px;
	}
	.product-feature .product-feature-item:after {
		top: 0;
		left: 15px;
		bottom: auto;
	}

	
	.product-actions:before,
	.product-actions:after {
		content: '';
		display: table;
		clear: both;
	}
	.product-actions .product-action-item {
		float: left;
		width: 25%;
		margin: 0;
	}

	.product-feature .product-feature-item:last-child:after  {
		display: block;
	}

	.product-action-card {
		max-width: 100%;
	}

	
	.section-product-timeline {
	    padding-top: 36px;
    	padding-bottom: 24px;
	}
	.timeline-grid .timeline-item {
	    flex: 1 1 265px;
    	max-width: 265px;
	}

	.timeline-card {
		white-space: normal;
	}
	.timeline-card .icon-factory {
		font-size: 40px;
	}

	
	.product-advantages-card  {
		margin-bottom: 15px;
	}
	.product-advantages-card .product-advantages-content,
	.product-advantages-card .product-advantages-aside {
		flex: 0 0 50%;
		max-width: 50%;
		margin-left: 0;
		margin-right: 0;
	}

	.product-advantages-card .product-advantages-title {
		margin: 30px 0 20px 40px;
		font-size: 32px;
		line-height: 45px;
		letter-spacing: 6.4px;
	}
	.product-advantages-card .product-advantages-subtitle {
		margin: 20px 0 0 40px;
		font-size: 28px;
	}
	.product-advantages-card .product-advantages-description {
		max-width: 440px;
		margin: 0 0 0 80px;
		font-size: 17px;
		line-height: 28px;
	}

	
	.section-product-advantages.fullview .product-advantages-card {
		min-height: 650px;
	}
	.section-product-advantages.fullview .product-advantages-aside .product-advantages-picutre img {
		height: 495px;
	}


	.section-product-advantages .advantages-btn {
		margin-top: 10px;
		margin-bottom: 30px;
	}

	
	.section-customers + section {
		margin-top: 26.5%;
	}
	.section-customers .section-header {
		padding-top: 10px;
		padding-left: 0;
	}

	.customers-gallery-grid {
		margin-top: -112px;
		margin-bottom: calc(-12.5% + -3px);
		padding-left: 0;
		padding-right: 0;
	}



	.section-product-tagline .product-tagline-text {
		max-width: 510px;
		font-size: 17px;
		line-height: 28px;
	}


	
	.section-product-reliability {
		padding-top: 70px;
		padding-bottom: 75px;
	}
	.section-product-reliability .product-reliability-title {
		margin: 0 0 20px 15px;
		font-size: 32px;
		letter-spacing: 6.4px;
	}
	.section-product-reliability .product-reliability-description {
		margin: 0 0 0 60px;
		font-size: 17px;
		line-height: 28px;
	}



	.section-product-gallery {
		margin-bottom: -55px;
		padding-top: 55px;
		padding-bottom: 55px;
	}

	.slider-product-gallery .swiper-button-next {
		right: 40px;
	}


	
	.section-product-promo {
		padding-top: 140px;
		padding-bottom: 65px;
	}
	.section-product-promo .product-advantages-card {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.section-product-promo .product-advantages-card .product-advantages-subtitle {
		margin-bottom: 50px;
	}
	.section-product-promo .product-advantages-card .product-advantages-description {
		margin-bottom: 55px;
	}


	.section-product-promo .product-advantages-card:nth-child(2n+1) .product-advantages-description {
		max-width: 400px;
	}



	.section-product-characteristics {
		padding-top: 90px;
	}


	.section-product-options {
		padding-top: 70px;
	}

	.product-options-grid,
	.slider-product-options {
		margin-top: -10px;
		margin-left: 10px;
		margin-right: 10px;
	}

	.product-options-grid .product-option-item,
	.slider-product-options .product-option-item {
		padding-left: 25px;
		padding-right: 25px;
	}

	.product-card.product-option-card .product-thumbnail {
		margin-bottom: 20px;
		padding-bottom: 100%;
	}



	.slider-product-accessories,
	.slider-product-testimonials,
	.slider-product-similar,
	.slider-product-higlights {
		margin-left: 40px;
		margin-right: 40px;
	}
	.slider-product-options .swiper-button-prev,
	.slider-product-accessories .swiper-button-prev,
	.slider-product-testimonials .swiper-button-prev,
	.slider-product-similar .swiper-button-prev,
	.slider-product-higlights .swiper-button-prev {
		left: -15px;
		width: 60px;
		height: 60px;
		margin-top: -30px;
		font-size: 60px;
		line-height: 60px;
	}
	.slider-product-options .swiper-button-next,
	.slider-product-accessories .swiper-button-next,
	.slider-product-testimonials .swiper-button-next,
	.slider-product-similar .swiper-button-next,
	.slider-product-higlights .swiper-button-next {
		right: -15px;
		width: 60px;
		height: 60px;
		margin-top: -30px;
		font-size: 60px;
		line-height: 60px;
	}

	
	.section-product-accessories {
		padding-bottom: 60px;
	}
	.slider-product-accessories {
		margin-left: 20px;
		margin-right: 20px;
	}
	.product-card.product-accessories-card {
		padding-left: 25px;
		padding-right: 25px;
	}

	
	.slider-product-testimonials {
		margin-top: 60px;
		margin-bottom: 10px;
	}
	.testimonial-card  .testimonial-thumbnail:before {
		top: 26px;
    	width: 73px;
    	height: 50px;
	}

	.testimonial-card .testimonial-title {
		font-size: 22px;
		letter-spacing: 4.4px;
	}

	.testimonial-card .testimonial-description {
		max-width: 415px;
		font-size: 14px;
		line-height: 26px;
	}



	.slider-product-similar {
		margin: -10px 5px 25px;
	}
	
	.product-card.product-similar-card {
		max-width: 310px;
	}

	.product-card.product-similar-card .product-thumbnail {
		margin-bottom: 20px;
	}

	.product-card.product-similar-card .product-title {
		font-size: 16px;
		line-height: 23px;
		letter-spacing: 3.2px;
	}

	.product-card.product-similar-card .product-price ins {
		font-size: 20px;
		letter-spacing: 4px;
	}



	.section-product-higlights {
		padding-top: 70px;
		padding-bottom: 50px;
	}

	.slider-product-higlights {
		margin-left: 5px;
		margin-right: 5px;
		margin-bottom: 30px;
	}

	.product-card.product-higlights-card .product-thumbnail {
		margin-bottom: 20px;
	}

	.product-card.product-higlights-card .product-title {
		margin: 14px 0 16px;
	}

	.product-card.product-higlights-card .product-footer {
		padding-top: 5px;
		padding-bottom: 5px;
	}
}


@media screen and (max-width: 1199px) {
	.section-product .col-info {
		flex: 0 0 45%;
		max-width: 45%;
	}
	.section-product .col-picture {
		flex: 0 0 55%;
		max-width: 55%;
	}

	.section-product .product-aside {
		top: -70px;
	}


	.section-product .product-header {
		max-width: 400px;
	}


	.section-product .product-title {
		margin: 20px 0 16px;
		font-size: 28px;
		line-height: 36px;
		letter-spacing: 5.6px;
	}


	.section-product .product-type .product-type-item {
		padding: 0 9px;
	}

	.section-product .product-type .product-type-item a,
	.section-product .product-type .product-type-item.active {
		font-size: 16px;
	}


	.section-product .product-description {
		font-size: 16px;
	}

	.section-product .product-colors {
		margin-top: 13px;
		margin-bottom: 13px;
	}

	
	.section-product .product-footer {
		max-width: 370px;
	}

	
	.product-feature {
		margin: 57px -15px -54px;
	}
	.product-feature .product-feature-item {
		font-size: 12px;
		line-height: 20px;
		letter-spacing: 0.6px;
	} 


	.product-actions {
		width: 50%;
	}
	.product-actions .product-action-item {
		width: 50%;
	}

	.product-action-card .product-action-title {
		max-width: 110px;
	}


	.section-product .slider-product-wrapper {
		max-width: 100%;
	}

	.slider-product .product-card {
	    padding-bottom: calc(90% - 20px);
    	border: 10px solid transparent;
	}


	.section-product .slider-product-nav-wrapper {
		flex: 1 1 360px;
		max-width: 360px;
		height: auto;
		margin: -18px auto 0;
	}


	.slider-product-nav {
		width: auto;
		height: auto;
		max-width: 330px;
		margin: -14px 0 ;
	}

	.slider-product-nav .product-nav-card {
		margin: 0;
	}

	
	.slider-product-nav-wrapper .swiper-button-prev,
	.slider-product-nav-wrapper .swiper-button-next {
		top: 50%;
		bottom: auto;
		transform: translateY(100%) rotate(-90deg);
	}
	.slider-product-nav-wrapper .swiper-button-prev {
		left: 0;
	}
	.slider-product-nav-wrapper .swiper-button-next {
		right: 0;
	}


    .section-product-timeline {
	    padding-top: 26px;
	    padding-bottom: 14px;
    }
	.timeline-grid .timeline-item {
		flex: 0 0 auto;
		max-width: none;
	}
	.timeline-card .timeline-title {
		padding: 0 15px 0 0;
		font-size: 13px;
		line-height: 18px;
	}


	.section-product-advantages {
		padding-top: 30px;
	}

	.section-product-advantages.fullview + section {
		margin-top: -30px;
	}

	.product-advantages-card .product-advantages-title {
		margin: 27px 0 14px 48px;
		font-size: 30px;
		line-height: 40px;
		letter-spacing: 6px;
	}
	.product-advantages-card .product-advantages-subtitle {
		margin: 20px 0 0 48px;
		font-size: 26px;
	}
	.product-advantages-card .product-advantages-description {
	    max-width: 360px;
		margin: 0 0 0 48px;
		font-size: 15px;
		line-height: 25px;
	}

	.section-product-advantages.fullview .product-advantages-card {
		min-height: 465px;
	}
	.section-product-advantages.fullview .product-advantages-aside .product-advantages-picutre img {
		height: 445px;
	}

	.section-product-advantages .advantages-btn {
		margin-top: 38px;
		margin-bottom: 15px;
		font-size: 15px;
	}

	
	.section-customers {
		padding-top: 135px;
	}
	.section-customers + section {
		margin-top: 13.5%;
	}

	.customers-gallery-grid {
		margin-top: -106px;
		margin-bottom: calc(-14.2857142857% + -3px);
	}
	.customers-gallery-grid .customer-gallery-col {
		width: 14.2857142857%;
	}
	.customers-gallery-grid .customer-gallery-col.large {
		width: 28.5714285714%;
	}
	
	.customers-gallery-grid .customer-gallery-col:first-child {
		padding-top: 14.2857142857%;
	}
	.customers-gallery-grid .customer-gallery-col:last-child {
		display: none;
	}


	.section-product-tagline .product-tagline-text {
		max-width: 420px;
		margin-top: 20px;
		margin-bottom: 30px;
		font-size: 15px;
		line-height: 25px;
	}


	.section-product-reliability .product-reliability-title {
		margin: 0 0 20px 20px;
		font-size: 30px;
		line-height: 40px;
		letter-spacing: 6px;
	}

	.section-product-reliability .product-reliability-description {
		margin: 0 0 0 20px;
		font-size: 15px;
		line-height: 25px;
	}

	
	.section-product-gallery {
		margin-bottom: -75px;
		padding-top: 75px;
		padding-bottom: 75px;
	}

	.slider-product-gallery:after {
		width: 10%;
		background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 50%);
	}

	.slider-product-gallery .swiper-slide {
		width: 314px;
	}

	.slider-product-gallery .swiper-button-next {
		right: 15px;
		width: 60px;
		height: 60px;
		font-size: 60px;
	}


	.section-product-promo {
		padding-top: 50px;
		padding-bottom: 55px;
	}


	.section-product-promo .product-advantages-card {
		padding-top: 25px;
		padding-bottom: 25px;
	}

	.section-product-promo .product-advantages-card .product-advantages-subtitle {
		margin-bottom: 30px;
	}

	.section-product-promo .product-advantages-card .product-advantages-description {
		margin-bottom: 0;
	}
	.section-product-promo .product-advantages-card:nth-child(2n+1) .product-advantages-description {
		max-width: 380px;
	}


	.section-product-characteristics {
		padding-top: 75px;
	}


	.characteristics-card {
		margin: 50px 30px 45px;
	}
	
	.characteristics-card .characteristics-q {
		font-size: 14px;
		line-height: 25px;
	}

	.characteristics-card .characteristics-a {
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 0.7px;
	}


	.section-product-characteristics .characteristics-btn {
		margin-top: 35px;
		margin-bottom: 35px;
		font-size: 16px;
		font-weight: 300;
	}


	.section-product-options {
		padding-top: 31px;
	}


	.slider-product-options {
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 5px;
	}
	.slider-product-options .product-option-item {
		padding-left: 45px;
		padding-right: 45px;
	}

	.product-card.product-option-card .product-thumbnail {
		margin-bottom: 24px;
	}


	.section-product-accessories {
		padding-bottom: 10px;
	}
	.slider-product-accessories {
		margin-top: 20px;
	}
	.product-card.product-accessories-card .product-order {
		margin: 8px 0;
	}


	.section-product-similar {
		padding-top: 95px;
	}


	.product-card.product-higlights-card .product-thumbnail {
		padding-bottom: 92%;
	}
}


@media screen and (max-width: 991px) {
	.section-product .col-info {
	    flex: 0 0 51.5%;
	    max-width: 51.5%;
	}

	.section-product .col-picture {
	    flex: 0 0 48.5%;
    	max-width: 48.5%;
	}

	.section-product .product-aside {
		top: -50px;
	}


	.section-product .product-type .product-type-item.active {
		font-size: 15px;
		line-height: 26px;
	}

	.section-product .product-title {
		margin: 27px 0 16px;
		font-size: 25px;
		line-height: 32px;
		letter-spacing: 5px;
	}


	.section-product .product-type .product-type-item {
		padding: 0 9px;
	}

	.section-product .product-type .product-type-item a,
	.section-product .product-type .product-type-item.active {
		font-size: 15px;
	}

	.section-product .product-type .product-type-item a {
		padding-top: 10px;
		padding-bottom: 7px;
	}



	.section-product .product-description {
		font-size: 15px;
		line-height: 25px;
	}


	.section-product .product-colors {
	    margin-top: 17px;
	    margin-bottom: 6px;
	}


	.section-product .product-footer {
		max-width: 335px;
	} 

	
	.product-feature {
		margin: 57px -15px -44px;
	}

	.product-feature .product-feature-item {
		padding-top: 21px;
		padding-bottom: 21px;
		font-size: 11px;
		line-height: 18px;
		letter-spacing: 0.55px;
	}


	.product-action-card .product-action-thumbnail {
		flex: 0 0 40px;
		width: 40px;
		height: 40px;
		font-size: 18px;
		line-height: 43px;
	}

	.product-action-card .product-action-thumbnail:after {
		top: -5px;
		left: -5px;
		right: -5px;
		bottom: -5px;
	}

	.product-action-card .product-action-title {
		max-width: 100px;
		font-size: 14px;
	}



	.slider-product .product-card {
		padding-bottom: 130%;
		border: none;
	}

	.slider-product .product-card:after {
		top: 13px;
	}


	.section-product .slider-product-nav-wrapper {
		flex: 0 0 300px;
		max-width: 300px;
	}

	.slider-product-nav .slide-item {
		width: 75px;
		height: 75px;
		margin-left: 7px;
		margin-right: 7px;
	}

	.slider-product-nav .product-nav-card {
		width: 75px;
		padding-bottom: 75px;
	}


	
	.section-product-timeline {
		padding-top: 12px;
		padding-bottom: 7px;
	}

	.timeline-grid .timeline-item {
		flex: 0 0 25%;
		max-width: 25%;
	}
	
	.timeline-card {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: flex-start;
		align-items: flex-start;
		max-width: 130px;

	}

	.timeline-card:after {
		display: none;
	}

	.timeline-card .timeline-thumbnail {
		flex: 0 0 55px;
	}

	
	.section-product-advantages {
		padding-top: 35px;
	}

	.section-product-advantages.fullview + section {
		margin-top: -20px;
	}

	.product-advantages-card {
		margin-bottom: 0;
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: center;
	}

	.product-advantages-card .product-advantages-content, 
	.product-advantages-card .product-advantages-aside {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.product-advantages-card .product-advantages-aside {
		order: 2;
	}

	.product-advantages-card .product-advantages-title  {
		margin: 15px 0 9px;
		font-size: 25px;
		line-height: 35px;
		letter-spacing: 5px;
	}

	.product-advantages-card .product-advantages-subtitle {
		margin: 20px 0 0;
		font-size: 20px;
		line-height: 25px;
	}

	.product-advantages-card .product-advantages-subtitle:before {
		display: none;
	}

	.product-advantages-card .product-advantages-description {
		max-width: 720px;
		margin: 0 auto 30px;
	}

	
	.section-product-advantages.fullview .product-advantages-aside {
		position: relative;
	}

	.section-product-advantages.fullview .product-advantages-aside .product-advantages-picutre img {
	    height: 642px;
    	margin-top: -120px;
	}


	.section-product-advantages .advantages-btn {
		margin-top: 18px;
		margin-bottom: 25px;
	}

	
	.section-customers {
		padding-top: 105px;
	}

	.customers-gallery-grid .customer-gallery-col {
		width: 20%;
	}

	.customers-gallery-grid .customer-gallery-col.large {
		width: 40%;
	}

	.customers-gallery-grid .customer-gallery-col:first-child {
		padding-top: 20%;
	}

	.customers-gallery-grid .customer-gallery-col:nth-child(n+5) {
		display: none;
	}

	.customers-gallery-grid .customer-gallery-item {}

	
	.section-product-reliability {
		padding-top: 45px;
		padding-bottom: 65px;
		text-align: center;
	}

	.section-product-reliability .product-reliability-content {
		order: -1;
	}

	.section-product-reliability .product-reliability-title {
		margin-left: 0;
		margin-right: 0;
		font-size: 25px;
		line-height: 35px;
		letter-spacing: 5px;
	}

	.section-product-reliability .product-reliability-description {
		max-width: 720px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
	}

	.section-product-reliability .product-reliability-picture img {
		width: 100%;
	}


	.slider-product-gallery .swiper-slide {
		width: 359px;
	}
	

	.section-product-promo  {
		padding-top: 5px;
	}
	.section-product-promo .product-advantages-card  {
		padding-top: 20px;
		padding-bottom: 20px;
		-webkit-background-size: 54%;
		background-size: 54%;
	    background-position: center -50px;
	    text-align: center;
	}
	.section-product-promo .product-advantages-card .product-advantages-title {
		margin:  15px 0 18px;
	}
	.section-product-promo .product-advantages-card .product-advantages-subtitle {
		margin-bottom: 15px;
	}
	.section-product-promo .product-advantages-card .product-advantages-description,
	.section-product-promo .product-advantages-card:nth-child(2n+1) .product-advantages-description {
		max-width: 720px;
		margin-bottom: 30px;
	}

	.product-advantages-card .product-advantages-picutre {
		text-align: center;
	}


	.section-product-characteristics {
		padding-top: 60px;
	}
	
	.characteristics-card  {
		max-width: 100%;
		margin: 30px 5px 25px;
		text-align: center;
	}

	.characteristics-card .characteristics-a {
		font-size: 13px;
		line-height: 20px;
		letter-spacing: 0.65px;
	}

	.section-product-characteristics .characteristics-btn {
	    margin-top: 40px;
    	margin-bottom: 25px;
	}


	.slider-product-options .swiper-button-prev, 
	.slider-product-accessories .swiper-button-prev, 
	.slider-product-testimonials .swiper-button-prev, 
	.slider-product-similar .swiper-button-prev, 
	.slider-product-higlights .swiper-button-prev {
		left: 0;
	}

	.slider-product-options .swiper-button-next, 
	.slider-product-accessories .swiper-button-next, 
	.slider-product-testimonials .swiper-button-next, 
	.slider-product-similar .swiper-button-next, 
	.slider-product-higlights .swiper-button-next {
		right: 0;
	}


	.slider-product-options {
		margin-left: 20px;
		margin-right: 20px;
	}

	.product-card.product-option-card {
		max-width: 225px;
		margin-left: auto;
		margin-right: auto;
	}


	.section-product-accessories {
		padding-top: 40px;
	}
	
	.slider-product-accessories {
		margin: 30px 40px 75px;
	}
	.slider-product-accessories .product-accessories-item {
		border: none;
	}

	.product-card.product-accessories-card {
		max-width: 598px;
		margin-left: auto;
		margin-right: auto;
	}

	.product-card.product-accessories-card .product-thumbnail {
		padding-bottom: 80%;
	}

	.product-card.product-accessories-card .product-title {
		margin: 15px 0;
	}


	.section-product-testimonials {
		padding-top: 60px;
		padding-bottom: 40px;
		text-align: center;
	}

	.slider-product-testimonials {
		margin-top: 20px;
	}


	.testimonial-card .testimonial-thumbnail-wrapper {
		max-width: 310px;
		margin-bottom: 35px;
	    padding-top: 3.5%;
	    padding-left: 3%;
	    padding-right: 3%;
	}

	.testimonial-card .testimonial-thumbnail:before {
		width: 53px;
	}

	.testimonial-card .testimonial-title {
		font-size: 18px;
		line-height: 25px;
		letter-spacing: 3.6px;
	}

	.testimonial-card .testimonial-description {
		max-width: 720px;
		margin: 0 auto 20px;
	}


	.section-product-similar {
		padding-top: 75px;
	}

	.slider-product-similar {
		margin-left: 55px;
		margin-right: 55px;
	}

	.slider-product-similar .product-similar-item {
		padding-left: 5px;
		padding-right: 5px;
	}

	.product-card.product-similar-card .product-title {
		font-size: 15px;
		letter-spacing: 3px;
	}


	.section-product-higlights {
		padding-top: 10px;
		padding-bottom: 20px;
	}

	.slider-product-higlights {
		margin-left: 55px;
		margin-right: 55px;
	}
	
	.product-card.product-higlights-card  {
		max-width: 225px;
		margin-left: auto;
		margin-right: auto;
	}
	.product-card.product-higlights-card .product-thumbnail {
		padding-bottom: 100%;
	}
}


@media screen and (max-width: 767px) {
	.section-product .product-content {
		position: static;
	}

	.section-product .product-aside {
		top: -15px;
	}

	.section-product .col-info,
	.section-product .col-picture {
		flex: 1 1 auto;
		max-width: 100%;
	}


	.section-product .col-picture {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		opacity: 0;
		visibility: hidden;
		transition: opacity 1300ms ease, visibility 1300ms ease;
	}
	.section-product .col-picture.visible {
		opacity: 1;
		visibility: visible;
	}


	.section-product .breadcrumb {
		margin: 10px 0;
	}

	
	.section-product .product-header {
		max-width: 100%;
	}

	.section-product .product-title {
		margin: 17px 0 134%;
		font-size: 22px;
		line-height: 30px;
		letter-spacing: 4.4px;
	}

	.section-product .product-description {

	}

	.section-product .product-colors {
		margin-top: 10px;
		margin-bottom: -3px;
	}


	.product-feature  {
		margin: 45px -15px -5px;
	}

	.product-feature .product-feature-item {
		width: 50%;
	}

	.product-actions {
		width: 100%;
	}


	.slider-product .product-card {
		border: 10px solid transparent;
		padding-bottom: calc(105% - 20px);
	}


	.section-product .slider-product-nav-wrapper {
		flex: 0 0 390px;
		max-width: 390px;
	}

	.slider-product-nav {
		max-width: 360px;
	}

	
	.section-product-timeline {
		padding-top: 25px;
		padding-bottom: 0;
	}

	.timeline-grid .timeline-item {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.timeline-card {
		margin-top: 15px;
		margin-bottom: 15px;
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		-o-flex-direction: row;
		flex-direction: row;
		max-width: 100%;
	}

	.timeline-card .icon-factory {
		font-size: 34px;
	}

	.timeline-card .icon-production {
		font-size: 34px;
	}

	.timeline-card .icon-doc {
		font-size: 36px;
	}

	.timeline-card .icon-lorry {
		font-size: 40px;
	}

	
	.section-product-advantages {
		padding-top: 15px;
		padding-bottom: 35px;
	}

	.product-advantages-card {
		padding-top: 10px;
		padding-bottom: 15px;
	}

	.product-advantages-card .product-advantages-title {
		margin: 15px auto 9px;
		font-size: 22px;
		line-height: 30px;
		letter-spacing: 4.4px;
	}

	.product-advantages-card .product-advantages-subtitle {
		margin: 20px 0 -5px;
		font-size: 18px;
		line-height: 25px;
	}

	.product-advantages-card .product-advantages-description {
		margin-bottom: 15px;
	}

	.product-advantages-card .product-advantages-description p {
		margin-bottom: 25px;
	}

	.section-product-advantages.fullview .product-advantages-aside .product-advantages-picutre img {
		height: 405px;
		margin-top: -80px;
	}

	
	.section-customers {
		padding-top: 30px;
		padding-bottom: 50px;
	}

	.section-customers + section {
		margin-top: 10px;
	}

	.section-customers .section-header {
		max-width: none;
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: center;
	}

	.section-customers .section-header .section-title {
		white-space: nowrap;
	}

	.customers-gallery-grid {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-top: 0;
		margin-bottom: 0;
	}

	.customers-gallery-grid .customer-gallery-col {
		width: 33.3333%;
	}
	.customers-gallery-grid .customer-gallery-col.large {
		width: 66.6666%;
	}



	.customers-gallery-grid .customer-gallery-col:first-child {
		padding-top: 0;
	}

	.customers-gallery-grid .customer-gallery-col:nth-child(2) .customer-gallery-item.half {
		display: none;
	}
	.customers-gallery-grid .customer-gallery-col:nth-child(5) {
		display: block;
		width: 33.3333%;
	}

	.customers-gallery-grid .customer-gallery-col:nth-child(n + 3) .customer-gallery-item {
		width: 100%;
	}
	.customers-gallery-grid .customer-gallery-col:nth-child(n + 3) .customer-gallery-item.color {
		display: none;
	}

	.customers-gallery-grid .customer-gallery-col:nth-child(3) .customer-gallery-item:nth-child(n + 3) {
		display: none;
	}


	.section-product-tagline .product-tagline-text {
		margin-top: 13px;
		margin-bottom: 25px;
	}

	
	.section-product-reliability {
		padding-top: 55px;
		padding-bottom: 40px;
	}

	.section-product-reliability .product-reliability-title {
		margin-bottom: 8px;
		font-size: 22px;
		line-height: 30px;
		letter-spacing: 4.4px;
	}

	.section-product-reliability .product-reliability-description {
		margin-bottom: 18px;
	}

	
	.section-product-gallery {
		margin-bottom: -65px;
		padding-top: 65px;
		padding-bottom: 65px;
	}

	.slider-product-gallery .swiper-slide {
		width: 294px;
	}


	.section-product-promo {
		padding-top: 35px;
	}

	.section-product-promo .product-advantages-card .product-advantages-subtitle {
		margin: 5px 0;
	}


	.characteristics-card {
		margin: 15px 5px 50px;
	}

	.characteristics-card .characteristics-q {
		font-size: 13px;
		line-height: 25px;
	}

	.characteristics-card .characteristics-a {
		font-size: 11px;
		line-height: 18px;
		letter-spacing: 0.55px;
	}

	.section-product-characteristics .characteristics-btn {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.slider-product-options .swiper-button-prev, 
	.slider-product-accessories .swiper-button-prev, 
	.slider-product-similar .swiper-button-prev, 
	.slider-product-higlights .swiper-button-prev {
		display: none;
	}


	.slider-product-options .swiper-button-next, 
	.slider-product-accessories .swiper-button-next, 
	.slider-product-similar .swiper-button-next, 
	.slider-product-higlights .swiper-button-next {
		display: none;
	}

	
	.slider-product-options {
		width: calc(100% + 20px);
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 25px;
	}

	.slider-product-options .product-option-item  {
		width: 228px;
		margin-right: 25px;
		padding-left: 0;
		padding-right: 0;
	}

	.slider-product-options .product-option-item:last-child {
		margin-right: 0;
	}


	.section-product-accessories {
		padding-top: 30px;
		padding-bottom: 55px;
	}

	.slider-product-accessories {
		margin-left: 0;
		margin-right: 0;
	}

	.product-card.product-accessories-card {
		padding-left: 0;
		padding-right: 0;
	}

	.product-card.product-accessories-card  .product-footer {
		flex-wrap: nowrap;
	}


	.section-product-testimonials {
		padding-top: 50px;
	}
	
	.slider-product-testimonials {
		margin-left: 0;
		margin-right: 0;
	}

	.slider-product-testimonials .swiper-button-prev,
	.slider-product-testimonials .swiper-button-next {
		top: 180px;
	}

	.testimonial-card .testimonial-description {
		line-height: 25px;
	}



	.slider-product-similar {
		width: calc(100% + 20px);
		margin: 0 0 5px;
	}

	.slider-product-similar .product-similar-item {
		width: 290px;
		margin-right: 35px;
		padding-left: 0;
		padding-right: 0;
	}

	.slider-product-similar .product-similar-item:last-child {
		margin-right: 0;
	}


	.product-card.product-similar-card .product-thumbnail {
		padding-bottom: 100%;
	}


	.section-product-higlights {
		padding-top: 55px;
		padding-bottom: 30px;
	}

	.slider-product-higlights {
		width: calc(100% + 20px);
		margin: 5px 0 10px;
	}

	.slider-product-higlights .product-higlights-item {
		width: 235px;
		margin-right: 35px;
		padding-left: 0;
		padding-right: 0;
	}

	.slider-product-higlights .product-higlights-item:last-child {
		margin-right: 0;
	}
}


@media screen and (max-width: 425px) {

	.section-product .product-header,
	.section-product .product-body  {
		text-align: center;
	}

	.section-product .product-title {
		margin: 17px 0 156%;
		font-size: 20px;
		line-height: 28px;
		letter-spacing: 4px;
		text-align: center;
	}


	.section-product .product-colors {
		margin-top: 18px;
    	margin-bottom: 7px;
	}


	.section-product .product-footer .product-price {
		margin-right: 25px;
	}

	
	.product-feature {
		margin: 27px -15px 5px;
	}

	.product-feature .product-feature-item {
		width: 100%;
		padding-top: 16px;
		padding-bottom: 6px;
		text-align: center;
	}

	.product-feature .product-feature-item:after {
		left: 50%;
		transform: translateX(-50%);
	}


	.product-actions {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}

	.product-actions .product-action-item {
		width: auto;
		margin-right: 15px;
	}

	
	.section-product .slider-product-nav-wrapper {
		flex: 0 0 295px;
		max-width: 295px;
		margin-top: -8px;
	}

	.slider-product-nav {
		max-width: 260px;
	}
	

	.section-product-timeline {
		padding-top: 20px;
		padding-bottom: 15px;
	}

	.timeline-card {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
		margin-top: 10px;
		margin-bottom: 10px;
		text-align: center;
	}

	.timeline-card .timeline-thumbnail {
		flex: 0 0 45px;
	}

	.timeline-card .icon-factory {
		font-size: 38px;
	}

	.timeline-card .icon-production {
		font-size: 36px;
	}

	.timeline-card .timeline-title {
		padding: 0;
	}

	
	.section-product-advantages {
		padding-top: 9px;
		padding-bottom: 13px;
	}

	.product-advantages-card {
		padding-top: 8px;
		padding-bottom: 8px;
	}

	.product-advantages-card .product-advantages-title {
		margin-left: -10px;
		margin-right: -10px;
		font-size: 20px;
		line-height: 28px;
		letter-spacing: 4px;
	}

	.product-advantages-card .product-advantages-subtitle {
		font-size: 17px;
	}

	.product-advantages-card .product-advantages-description {
		margin-left: -10px;
		margin-right: -10px;
	}

	
	.section-product-advantages.fullview + section {
		margin-top: 15px;
	}

	.section-product-advantages.fullview .product-advantages-aside .product-advantages-picutre img {
	    height: 255px;
    	margin-top: -40px;
	}


	.section-product-advantages .advantages-btn {
		margin-top: 28px;
		margin-bottom: 28px;
	}

	
	.section-customers {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.section-customers + section {
		margin-top: 14px;
	}

	.customers-gallery-grid {
		margin-left: -10px;
		margin-right: -10px;
	}

	.customers-gallery-grid .customer-gallery-item {
		border-width: 2px;
	}

	.customers-gallery-grid .customer-gallery-col,
	.customers-gallery-grid .customer-gallery-col.large {
		width: 50%;
	}

	.customers-gallery-grid  .customer-gallery-item.color {
		display: none;
	}

	.customers-gallery-grid .customer-gallery-col:nth-child(n+5) {
		display: block;
	}

	
	.section-product-tagline .section-header {
		margin-bottom: 10px;
	}

	.section-product-tagline .product-tagline-text {
		flex: 0 0 100%;
		max-width: 100%;
		margin: 0;
		text-align: center !important;
	}

	
	.section-product-reliability  {
		padding-top: 45px;
		padding-bottom: 30px;
	}

	.section-product-reliability .product-reliability-title {
		font-size: 20px;
		line-height: 28px;
		letter-spacing: 4px;
	}

	
	.section-product-gallery {
		margin-bottom: -45px;
		padding-top: 45px;
		padding-bottom: 45px;
	}

	.slider-product-gallery:after {
	    width: 20%;
	    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 80%);
	    background: -o-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 80%);
	    background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 80%);
	}

	.slider-product-gallery .swiper-slide {
		width: 195px;
	}

	
	.section-product-promo {
		padding-bottom: 35px;
	}

	.section-product-promo .product-advantages-card {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.section-product-promo .product-advantages-card .product-advantages-subtitle,
	.section-product-promo .product-advantages-card .product-advantages-description {
		margin-left: -10px;
		margin-right: -10px;
	}

	
	.section-product-characteristics {
		padding-top: 45px;
	}

	.characteristics-grid .characteristics-item {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.characteristics-grid {
		margin-top: 5px;
	}

	.characteristics-card {
		margin: 10px 5px 9px;
	}

	.characteristics-card .characteristics-q {
		margin: 0;
	}


	
	.product-card.product-accessories-card {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		text-align: center;
	}

	.product-card.product-accessories-card .product-aside, 
	.product-card.product-accessories-card .product-content {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.product-card.product-accessories-card .product-price {
		margin: 0 20px;
	}



	.slider-product-testimonials {
		margin-bottom: 50px;
	}

	.slider-product-testimonials .swiper-button-prev,
	.slider-product-testimonials .swiper-button-next {
		display: none;
	}


	.section-product-similar {
		padding-top: 60px;
	}

	.section-product-higlights {
		padding-top: 35px;
	}
}





























