.form-catalog-filter {}

.form-catalog-filter .form-catalog-title {
    display: inline-block;
    vertical-align: middle;
    color: #40444e;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.9px;
}

.form-catalog-filter .form-catalog-group {
    cursor: default;
    display: inline-block;
    vertical-align: middle;
}

.form-catalog-filter .filter-checkbox {
    display: inline-block;
}


.filter-checkbox {
    position: relative;
}

.filter-checkbox input[type="checkbox"] {
    display: none;
}

.filter-checkbox input[type="checkbox"] + label {
    display: inline-block;
}

.filter-checkbox input[type="checkbox"] + label span {
    cursor: pointer;
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 8px 20px;
    color: #8b8b8b;
    font-family: "Quiza Pro";
    font-size: 18px;
    font-style: italic;
    line-height: 26px;
}
.filter-checkbox input[type="checkbox"] + label span:after {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #a9adb1;
    border-radius: 30px;
    transition: border-color 300ms ease;
}

.filter-checkbox input[type="checkbox"]:checked + label span {
    padding-left: 0;
    padding-right: 0;
    color: #40444e;
}
.filter-checkbox input[type="checkbox"]:checked + label span:after {
    border-radius: 0;
    border-color: transparent;
    border-bottom: 2px solid #40444e;
}

.filter-checkbox input[type="checkbox"] + label span,
.filter-checkbox input[type="checkbox"]:checked + label span,
.filter-checkbox input[type="checkbox"] + label span:after {
    transition: color 300ms ease, padding 300ms ease;
}



.products-grid {
    width: 100%;
}

.product-card {
    position: relative;
}

.product-card .product-header {}
.product-card .product-body {}
.product-card .product-footer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    padding: 20px 0;
}

.product-card .product-thumbnail {}

.product-card .product-title {
    color: #40444e;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 3.6px;
}


.product-card .product-description {
    color: #525252;
    font-family: "Quiza Pro";
    font-size: 14px;
    font-style: italic;
    line-height: 25px;
}

.product-card .product-colors {
    cursor: default;
    margin: 0;
    padding: 0;
    list-style: none;
}
.product-card .product-colors li {
    display: inline-block;
    margin: 4px 3px;
}

.product-price {}
.product-price ins {
    display: block;
    color: #40444e;
    font-family: "Proxima Nova";
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 4px;
    text-decoration: none;
}
.product-price del {
    display: block;
    color: #c84b4b;
    font-family: "Quiza Pro";
    font-size: 13px;
    font-style: italic;
    line-height: 25px;
    text-decoration: line-through;
}




.product-color {
    position: relative;
}

.product-color input[type="radio"] {
    display: none;
}

.product-color input[type="radio"] + label {
    display: block;
    height: 22px;
}

.product-color input[type="radio"] + label span {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 22px;
    height: 22px;
    margin: 0;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.product-color input[type="radio"] + label span:after {
    opacity: 0;
    content: '';
    position: absolute;
    z-index: 9;
    top: -4px;   
    left: -4px;
    right: -4px;
    bottom: -4px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: opacity 300ms ease;
}

/* color fill */ 
.product-color.color-blue input[type="radio"] + label span {
    background-image: url('../images/colors/color-blue.png')
}
.product-color.color-black input[type="radio"] + label span {
    background-image: url('../images/colors/color-black.png')
}
.product-color.color-gray input[type="radio"] + label span {
    background-image: url('../images/colors/color-gray.png')
}

/* color stripe */
.product-color.color-stripe-black-gray input[type="radio"] + label span {
    background-image: url('../images/colors/color-stripe-black-gray.png')
}
.product-color.color-stripe-brown-gray input[type="radio"] + label span {
    background-image: url('../images/colors/color-stripe-brown-gray.png')
}
.product-color.color-stripe-pink-black input[type="radio"] + label span {
    background-image: url('../images/colors/color-stripe-pink-black.png')
}

.product-color input[type="radio"]:checked + label span:after {
    opacity: 1;
}


.product-color input[type="radio"] + label span,
.product-color input[type="radio"]:checked + label span,
.product-color input[type="radio"] + label span:after {
    transition: background-color 300ms linear;
}