.product-card {
    position: relative;
    margin: 35px 0;
}

.product-header {}
.product-body {}


.product-gallery,
.product-thumbnail {
    position: relative;
    padding-bottom: 102%;
}

.product-gallery  .product-picture,
.product-thumbnail .product-picture {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    transition: 300ms opacity ease, 300ms visibility ease;
}

.product-gallery  .product-picture {
    opacity: 0;
    visibility: visible;
}

.product-gallery  .product-picture.active {
    opacity: 1;
    visibility: visible;
}

.product-title {
    margin: 14px 0 8px;
    color: #40444e;
    font-family: "Proxima Nova", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 3.6px;
}


.product-description {
    margin: 0;
    color: #525252;
    font-family: "Quiza Pro";
    font-size: 14px;
    font-style: italic;
    line-height: 25px;
}


.product-compare {}
.product-compare-title {
    margin: 10px 0;
    color: #373737;
    font-family: "Quiza Pro";
    font-size: 17px;
    font-style: italic;
    line-height: 25px;
}

.product-compare-list {
    margin: 0 0 5px;
    padding: 0;
    list-style: none;
    color: #414141;
    font-family: "Quiza Pro";
    font-size: 14px;
    font-style: italic;
    line-height: 20px;
}
.product-compare-list li {
    position: relative;
    padding: 10px 0 10px 40px;
}
.product-compare-list li:before {
    position: absolute;
    top: 50%;
    left: 0;
    font-family: 'icomoon';
    font-style: normal;
    font-size: 30px;
    transform: translateY(-50%);
}
.product-compare-list.positive li:before {
    content: '\e910';
    color: #44a251;
}
.product-compare-list.negative li:before {
    content: '\e90a';
    color: #c74c4b;
}


.product-colors {
    cursor: default;
    margin: 4px 0;
    padding: 0;
    list-style: none;
}
.product-colors .product-color-item {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 22px;
    height: 22px;
    margin: 4px 3px;
    border-radius: 50%;
    -webkit-background-size: cover;
    background-size: cover;
}
.product-colors .product-color-item:before {
    opacity: 0;
    content: '';
    position: absolute;
    z-index: 9;
    top: -4px;   
    left: -4px;
    right: -4px;
    bottom: -4px;
    border: 4px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: opacity 300ms ease;
}
.product-colors .product-color-item.sale:after {
    content: '%';
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    color: #e8e8e9;
    font-family: "Proxima Nova", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
}

.product-colors.lg {}

.product-colors.lg .product-color-item {
    width: 40px;
    height: 40px;
    margin: 6px;
}

.product-colors.lg .product-color-item:before {
    top: -7px;
    left: -7px;
    right: -7px;
    bottom: -7px;
    border-width: 7px;
}

.product-colors.lg .product-color-item.sale:after {
    line-height: 40px;
}

.product-colors .product-color-item.active:before {
    opacity: 1;
}

.product-price {
    margin: 0 20px 0 0;
}

.product-price {}
.product-price ins {
    position: relative;
    z-index: 1;
    display: block;
    color: #40444e;
    font-family: "Proxima Nova", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 4px;
    text-decoration: none;
    white-space: nowrap;
}
.product-price ins:before {
    content: '';
    position: absolute;
    z-index: -1;
    left: -8px;
    right: 30px;
    bottom: 0;
    height: 11px;
    background: #e8e8e9;
}
.product-price del {
    display: inline-block;
    vertical-align: middle;
    color: #c84b4b;
    font-family: "Quiza Pro";
    font-size: 13px;
    font-style: italic;
    line-height: 25px;
    text-decoration: line-through;
    white-space: nowrap;
}

.product-price .product-price-label {
    display: inline-block;
    vertical-align: middle;
    min-width: 52px;
    margin: 0 10px 0 0;
    border-radius: 20px;
    background-color: #bb5757;
    color: #ffffff;
    font-family: "Quiza Pro";
    font-size: 14px;
    font-style: italic;
    line-height: 25px;
    text-align: center;
}

.product-price .product-price-hint {
    position: relative;
    top: 5px;
    margin: 0;
    color: #7e7e7e;
    font-family: "Quiza Pro";
    font-size: 13px;
    font-style: italic;
    line-height: 15px;
}

.product-price.lg ins {
    margin: 30px 0 10px;
    font-size: 34px;
    line-height: 26px;
    letter-spacing: 6.8px;
}

.product-price.lg ins:before {
    right: 0;
    height: 23px;
    background-color: #fff;
}

.product-price.lg del {
    font-size: 17px;
    line-height: 16px;
}


.product-order {
    /*min-width: 124px;*/
    outline: none;
    padding-left: 9px;
    padding-right: 9px;
    text-align: left;
}
.product-order.btn-lg {
    padding-left: 14px;
    padding-right: 14px;
}

.product-order i {
    display: inline-block;
    width: 26px;
    height: 26px;
    margin: 0 10px 0 0;
    border-radius: 50%;
    background: #fff;
    vertical-align: middle;
    font-size: 14px;
    color: #40444e;
    text-align: center;
    line-height: 26px;
}
.product-order.btn-lg i {
    width: 30px;
    height: 30px;
    line-height: 30px;
}




/*.product-color {
    position: relative;
}

.product-color input[type="radio"] {
    display: none;
}

.product-color input[type="radio"] + label {
    display: block;
    height: 22px;
}

.product-color input[type="radio"] + label span {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 22px;
    height: 22px;
    margin: 0;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-background-size: cover;
    background-size: cover;
}

.product-color input[type="radio"] + label span:before {
    opacity: 0;
    content: '';
    position: absolute;
    z-index: 9;
    top: -4px;   
    left: -4px;
    right: -4px;
    bottom: -4px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: opacity 300ms ease;
}
.product-card .product-colors .product-color-item.sale .product-color input[type="radio"] + label span:after {
    content: '%';
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    width: 22px;
    color: #e8e8e9;
    font-family: "Proxima Nova", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
}

 color fill  
.product-color.color-blue input[type="radio"] + label span {
    background-image: url('../images/colors/color-blue.png')
}
.product-color.color-black input[type="radio"] + label span {
    background-image: url('../images/colors/color-black.png')
}
.product-color.color-gray input[type="radio"] + label span {
    background-image: url('../images/colors/color-gray.png')
}

/* color stripe */
/*.product-color.color-stripe-black-gray input[type="radio"] + label span {
    background-image: url('../images/colors/color-stripe-black-gray.png')
}
.product-color.color-stripe-brown-gray input[type="radio"] + label span {
    background-image: url('../images/colors/color-stripe-brown-gray.png')
}
.product-color.color-stripe-pink-black input[type="radio"] + label span {
    background-image: url('../images/colors/color-stripe-pink-black.png')
}
*/
/*.product-color input[type="radio"]:checked + label span:before {
    opacity: 1;
}*/


/*.product-color input[type="radio"] + label span,
.product-color input[type="radio"]:checked + label span,
.product-color input[type="radio"] + label span:before {
    transition: background-color 300ms linear;
}*/


.product-helptext {
    display: inline-block;
    margin: 8px 0;
    padding: 0 10px 0 6px;
    background-color: #e8e8e9;
    color: #464646;
    font-family: "Quiza Pro";
    font-size: 13px;
    font-style: italic;
    line-height: 25px;
    line-height: 1.8;
}

.product-promotions {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    margin: 8px 0;
    padding: 10px 12px;
    background-color: #e8e8e9;
}

.product-promotions .product-promotions-thumbnail {
    flex: 0 0 40px;
    width: 40px;
    margin: 0 10px 0 0;
}
.product-promotions .product-promotions-thumbnail img {
    display: block;
}

.product-promotions .product-promotions-text {
    flex: 1 1 auto;
    color: #464646;
    font-family: "Quiza Pro";
    font-size: 13px;
    font-style: italic;
    line-height: 25px;
}
.product-promotions .product-promotions-text a {
    color: inherit;
    text-decoration: underline;
}


.product-footer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-align-items: center;
    align-items: center;
    padding: 8px 0;
}