.section-gallery {
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 40px;
}

.gallery-slider {
    position: relative;
    z-index: 1;
}

.gallery-slider::before,
.gallery-slider::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 90px;
    height: 134px;
    background: url('../../images/pattern-plus.png');
}

.gallery-slider::before {
    top: -20px;
    left: 15%;
}

.gallery-slider::after {
    left: 70%;
    bottom: -30px;
    background-position: bottom;
}


.gallery-slider .slide-item {
    width: 80vw;
    margin-left: 10px;
    margin-right: 10px;
}

.gallery-slider .slick-arrow {
    display: none !important;
}


@media (min-width: 576px) {
    .section-gallery {
        padding-top: 60px;
        padding-bottom: 60px;
    }


    .gallery-slider::before, 
    .gallery-slider::after {
        width: 120px;
    }

    .gallery-slider .slide-item {
        width: 70vw;
        margin-left: 30px;
        margin-right: 30px;
    }

    .gallery-slider .slick-arrow {
        display: inline-block !important;
    }

    .gallery-slider .slick-prev {
        left: 6.5%;
    }
    
    .gallery-slider .slick-next {
        right: 6.5%;
    }
}

@media (min-width: 768px) {
    .section-gallery {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .gallery-slider .slide-item {
        width: 570px;
    }

    .gallery-slider .slick-prev {
        left: calc(50% - 670px / 2) ;
    }
    
    .gallery-slider .slick-next {
        right: calc(50% - 670px / 2) ;
    }
}

@media (min-width: 1200px) {
    .section-gallery {
        padding-top: 100px;
        padding-bottom: 135px;
    }

    .section-gallery .section-header {
        margin-bottom: 75px;
    }


    .gallery-slider::before,
    .gallery-slider::after {
        width: 211px;
        height: 134px;
    }

    .gallery-slider::before {
        top: -55px;
        left: 30%;
    }
    
    .gallery-slider::after {
        left: 70%;
        bottom: -54px;
    }


    .gallery-slider .slide-item {
        width: 570px;
        margin-left: 50px;
        margin-right: 50px;
    }


    .gallery-slider .slick-prev {
        left: calc(50% - 710px / 2) ;
    }
    
    .gallery-slider .slick-next {
        right: calc(50% - 710px / 2) ;
    }
}