.footer {
	background: #3d4857;
	.container {
		@media (max-width: 1199px) {
			width: 100%;
		}
	}
}

.footer-statubar {
	border-bottom: 5px solid #fff;
	background-color: #3d4857;
	background-image: linear-gradient(to bottom, #0387cb 0%, #25adf5 100%);
}

// footer menu
.footer-nav {
	> li {
		overflow: hidden;
		box-shadow: 0 6px 10px rgba(94, 110, 113, 0.3);
		transform: skewX(-20deg); 
		> a {
			padding: 7px 25px;
			background: none !important;
			font-size: 20px;
			color: #fff !important;
			transform: skewX(20deg); 
			@media (max-width: 1024px) {
				font-size: 16px;
			}
		}

		&:hover,
		&.active {
			@extend .horizontal-gradient-green;
			> a {
				color: #fff
				
			}
		}
	}
}

.footer-body {
	.footer-content {
		display: flex;
		align-items: center;
		padding-top: 15px;
		padding-bottom: 15px;
		@media (max-width: 767px) {
			display: block;
			text-align: center;
		}
	}
}

.footer-logo {
	margin: 5px 0;
}

.footer-message {
	position: relative;
	flex: 1;
	padding: 0 30px 0 20px;
	line-height: 1;
	@media (max-width: 767px) {
		padding: 0 10px;
	}

	.message-title {
		margin: 0;
		color: $info;
		text-shadow: 0 1px 1px rgba(61, 72, 87, 0.46);
		text-transform: uppercase;
		letter-spacing: 1.14px;
	}
	.message-label {
		position: relative;
		float: right;
		margin-bottom: 10px;
		@media (max-width: 767px) {
			float: none;
			margin: 10px 0;
		}
	}
}

.footer-contact {
	text-align: right;
	@media (max-width: 767px) {
		text-align: center;
	}
	
	.contact-phone {
		color: #fff;
		a {
			font-size: 30px;
			font-weight: 700;
			color: inherit;
			text-transform: uppercase;
			text-shadow: 0 1px 1px rgba(61, 72, 87, 0.46);
			letter-spacing: 1.05px;
			span {
				font-size: 18px;
				letter-spacing: 0.63px;
			}
		}
	}
	.contact-map {
		font-size: 16px;
		font-weight: 300;
		i {}
	}
}