.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.sprite-ruler {
    width: 37px;
    height: 32px;
    background-position: -5px -5px;
}

.sprite-ruler-active {
    width: 37px;
    height: 32px;
    background-position: -52px -5px;
}

.sprite-space {
    width: 31px;
    height: 27px;
    background-position: -99px -5px;
}

.sprite-space-active {
    width: 31px;
    height: 27px;
    background-position: -140px -5px;
}

.sprite-budget {
    width: 31px;
    height: 29px;
    background-position: -181px -5px;
}

.sprite-budget-active {
    width: 31px;
    height: 29px;
    background-position: -222px -5px;
}

.sprite-project {
    width: 31px;
    height: 27px;
    background-position: -263px -5px;
}

.sprite-project-active {
    width: 31px;
    height: 27px;
    background-position: -304px -5px;
}

.sprite-design {
    width: 31px;
    height: 29px;
    background-position: -345px -5px;
}

.sprite-design-active {
    width: 31px;
    height: 29px;
    background-position: -386px -5px;
}

.sprite-materials {
    width: 31px;
    height: 21px;
    background-position: -427px -5px;
}

.sprite-materials-active {
    width: 31px;
    height: 21px;
    background-position: -468px -5px;
}

.sprite-photo {
    width: 35px;
    height: 31px;
    background-position: -509px -5px;
}

.sprite-photo-active {
    width: 35px;
    height: 31px;
    background-position: -554px -5px;
}

.sprite-opinions {
    width: 35px;
    height: 31px;
    background-position: -599px -5px;
}

.sprite-opinions-active {
    width: 35px;
    height: 31px;
    background-position: -644px -5px;
}

.sprite-safety {
    width: 26px;
    height: 30px;
    background-position: -689px -5px;
}

.sprite-safety-active {
    width: 26px;
    height: 30px;
    background-position: -725px -5px;
}

.sprite-advice {
    width: 31px;
    height: 31px;
    background-position: -761px -5px;
}

.sprite-advice-active {
    width: 31px;
    height: 31px;
    background-position: -802px -5px;
}

.sprite-magic {
    width: 44px;
    height: 44px;
    background-position: -843px -5px;
}

.sprite-pencil {
    width: 44px;
    height: 44px;
    background-position: -897px -5px;
}

.sprite-appliances {
    width: 44px;
    height: 38px;
    background-position: -951px -5px;
}

.sprite-furniture {
    width: 42px;
    height: 42px;
    background-position: -1005px -5px;
}

.sprite-all {
    width: 30px;
    height: 40px;
    background-position: -1057px -5px;
}

.sprite-all-active {
    width: 30px;
    height: 40px;
    background-position: -1097px -5px;
}

.sprite-wood {
    width: 42px;
    height: 28px;
    background-position: -1137px -5px;
}

.sprite-wood-active {
    width: 42px;
    height: 28px;
    background-position: -1189px -5px;
}

.sprite-mdf {
    width: 24px;
    height: 41px;
    background-position: -1241px -5px;
}

.sprite-mdf-active {
    width: 24px;
    height: 41px;
    background-position: -1275px -5px;
}

.sprite-plastic {
    width: 35px;
    height: 37px;
    background-position: -1309px -5px;
}

.sprite-plastic-active {
    width: 35px;
    height: 37px;
    background-position: -1354px -5px;
}

.sprite-paint {
    width: 36px;
    height: 38px;
    background-position: -1399px -5px;
}

.sprite-paint-active {
    width: 36px;
    height: 38px;
    background-position: -1445px -5px;
}

.sprite-econom {
    width: 38px;
    height: 35px;
    background-position: -1491px -5px;
}

.sprite-econom-active {
    width: 38px;
    height: 35px;
    background-position: -1539px -5px;
}

.sprite-instock {
    width: 11px;
    height: 9px;
    background-position: -1587px -5px;
}

.sprite-more {
    width: 32px;
    height: 32px;
    background-position: -1608px -5px;
}

.sprite-location {
    width: 11px;
    height: 19px;
    background-position: -1650px -5px;
}

.sprite-backcall {
    width: 15px;
    height: 15px;
    background-position: -1671px -5px;
}

.sprite-list {
    width: 11px;
    height: 9px;
    background-position: -1696px -5px;
}

.sprite-reliable {
    width: 38px;
    height: 63px;
    background-position: -1717px -5px;
}

.sprite-reliable-active{
    width: 38px;
    height: 63px;
    background-position: -1765px -5px;
}

.sprite-convenient {
    width: 52px;
    height: 59px;
    background-position: -1813px -5px;
}

.sprite-convenient-active {
    width: 52px;
    height: 59px;
    background-position: -1875px -5px;
}

.sprite-production {
    width: 58px;
    height: 65px;
    background-position: -1937px -5px;
}

.sprite-production-active {
    width: 58px;
    height: 65px;
    background-position: -2005px -5px;
}
