.news-card {
	position: relative;
	font-size: 14px;
	color: rgba(39,38,38,.65);
	letter-spacing: 0.4px;
	line-height: 1.5;
}

.news-card .news-header {
	margin: 0 0 15px;
}

.news-card .news-image {
	margin: 0;
}

.news-card .news-image img {
	position: absolute;
	top: 0;
    left: 50%;
	height: 100%;
	width: auto;
	max-width: none;
    transform: translateX(-50%);
}

.news-card .news-image-link {
	overflow: hidden;
	position: relative;
	display: block;
	padding-bottom: 70%;
	text-decoration: none;
}

.news-card .news-image-link:hover {
	text-decoration: none;
}


.news-card .news-title {
	display: inline-block;
	margin: 0;
	font-family: 'Oswald';
	font-size: 16px;
	font-weight: 900;
	color: #272626;
	text-transform: uppercase;
	letter-spacing: 0.9px;
	text-decoration: none;
	line-height: 2;
}

.news-card .news-time {
	display: block;
	margin: 0 0 5px;
	font-size: 14px;
	color: rgba(25,25,25,.65);
	letter-spacing: 0.4px;

}