.section-furniture {
	.furniture-media {
		@include media-breakpoint-down(md) {
			max-width: 500px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 30px;
		}
		
		img {
			border-radius: $radius;
		}
	}

	.furniture-content {
		@include media-breakpoint-up(lg) {
			margin-right: 100px;
		}
	}
}

.furniture-features {
	margin-top: 40px;
}