@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700");
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot");
  src: url("../fonts/icomoon/icomoon.eot#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf") format("truetype"), url("../fonts/icomoon/icomoon.woff") format("woff"), url("../fonts/icomoon/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-map-marker:before {
  content: "\f041"; }

.icon-phone:before {
  content: "\f095"; }

.icon-twitter:before {
  content: "\f099"; }

.icon-facebook:before {
  content: "\f09a"; }

.icon-facebook-f:before {
  content: "\f09a"; }

.icon-google-plus:before {
  content: "\f0d5"; }

.icon-envelope:before {
  content: "\f0e0"; }

.icon-angle-left:before {
  content: "\f104"; }

.icon-angle-right:before {
  content: "\f105"; }

.icon-angle-up:before {
  content: "\f106"; }

.icon-angle-down:before {
  content: "\f107"; }

.icon-youtube-play:before {
  content: "\f16a"; }

.icon-instagram:before {
  content: "\f16d"; }

.icon-long-arrow-left:before {
  content: "\f177"; }

.icon-long-arrow-right:before {
  content: "\f178"; }

.icon-vk:before {
  content: "\f189"; }

.icon-odnoklassniki:before {
  content: "\f263"; }

.reset-list, .aside-menu, .breadcrumbs, .pagination, .header-nav-list, .offcanvas .offcanvas-menu-list, .footer-nav-list, .product-info {
  margin: 0;
  padding: 0;
  list-style: none; }

.transition, a, .btn, .slick-dots li button, .category-card, .offcanvas, .footer-logo, .product-card {
  -webkit-transition: 300ms ease;
  -o-transition: 300ms ease;
  transition: 300ms ease; }

.overlay-danger {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#506c84), color-stop(1%, #506c84), to(#274966));
  background-image: -webkit-linear-gradient(bottom, #506c84 0%, #506c84 1%, #274966 100%);
  background-image: -o-linear-gradient(bottom, #506c84 0%, #506c84 1%, #274966 100%);
  background-image: linear-gradient(to top, #506c84 0%, #506c84 1%, #274966 100%); }

.overlay-light {
  background: rgba(255, 255, 255, 0.7); }

html,
body {
  height: 100%;
  background: #f9f9f9;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2857142857;
  color: #9d9e9f; }

section {
  padding-top: 30px;
  padding-bottom: 65px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #284a54; }

h1,
.h1 {
  margin: .5em 0;
  font-size: 48px;
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase; }
  @media (max-width: 1024px) {
    h1,
    .h1 {
      font-size: 44px; } }
  @media (max-width: 767px) {
    h1,
    .h1 {
      font-size: 30px; } }

h2,
.h2 {
  margin: 0.83em 0;
  font-size: 48px;
  font-weight: 700; }
  @media (max-width: 1024px) {
    h2,
    .h2 {
      font-size: 44px; } }
  @media (max-width: 767px) {
    h2,
    .h2 {
      font-size: 34px; } }

h3,
.h3 {
  font-size: 30px;
  margin: 0.4em 0; }
  @media (max-width: 991px) {
    h3,
    .h3 {
      font-size: 24px; } }

h4,
.h4 {
  margin: 0.5em 0;
  font-size: 24px; }
  @media (max-width: 991px) {
    h4,
    .h4 {
      font-size: 20px; } }
  @media (max-width: 767px) {
    h4,
    .h4 {
      font-size: 16px; } }

h5,
.h5,
.category-card .category-title,
.news-card .news-title {
  margin: 0.5em 0;
  font-size: 18px; }

h6,
.h6,
.promo-card .promo-title {
  font-size: 16px; }

p {
  font-weight: 400; }

del {
  font-size: 14px;
  font-weight: 400;
  color: #7d7d7d; }

ins {
  display: block;
  font-size: 24px;
  font-weight: 700;
  color: #c63d19;
  text-decoration: none; }

time {
  display: inline-block;
  margin: 10px 0 5px;
  font-size: 13px;
  font-style: italic;
  color: #d0d0d0; }

a {
  color: #2a81ac;
  text-decoration: underline; }

img {
  max-width: 100%; }

.form-group {
  margin: 10px 0; }

.btn {
  display: inline-block;
  min-width: 208px;
  padding: 17px 15px 16px;
  border: none;
  background: #2a81ac;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  text-decoration: none; }
  .btn:hover {
    background: #257298;
    color: #fff;
    text-decoration: none; }

.btn-xs {
  min-width: auto;
  padding: 6px 15px 7px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font-size: 14px;
  font-weight: 700; }

.btn-fluid {
  display: block;
  width: 100%; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%; }

.upper-part {
  overflow: hidden;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding-top: 115px; }
  @media (max-width: 991px) {
    .upper-part {
      padding-top: 65px; } }

.down-part {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

@media (min-width: 1200px) {
  .container {
    width: 1200px; } }

.offcanvas-open {
  overflow: hidden; }

.section-gray {
  background: #f9f9f9; }

.section-header {
  text-align: center; }

.display-header .display-title {
  margin: 0.1em 0 0.3em;
  font-weight: 400;
  color: #333333;
  text-transform: none;
  letter-spacing: 0; }
  @media (max-width: 767px) {
    .display-header .display-title {
      margin: .4em 0;
      line-height: 1.2; } }

.block .block-header .block-title {
  font-size: 36px;
  font-weight: 400; }

.content-wrapper {
  padding-top: 35px;
  padding-bottom: 75px; }

.content-wrapper.content-with-aside .content-aside .content-aside-toggle {
  display: none;
  margin: 0 0 15px; }
  @media (max-width: 767px) {
    .content-wrapper.content-with-aside .content-aside .content-aside-toggle {
      display: block; } }

@media (min-width: 768px) {
  .content-wrapper.content-with-aside .content-aside .content-aside-inner {
    display: block !important; } }

@media (max-width: 767px) {
  .content-wrapper.content-with-aside .content-aside .content-aside-inner {
    display: none; } }

.content-wrapper.content-with-aside .content-inner {
  padding-left: 50px; }
  @media (max-width: 991px) {
    .content-wrapper.content-with-aside .content-inner {
      padding-left: 20px; } }
  @media (max-width: 767px) {
    .content-wrapper.content-with-aside .content-inner {
      padding-left: 10px; } }
  .content-wrapper.content-with-aside .content-inner .display-header,
  .content-wrapper.content-with-aside .content-inner .breadcrumbs {
    padding: 0 20px; }

.aside-menu {
  position: relative;
  min-height: 700px;
  margin: 40px 0 60px;
  border: 2px solid #cfe4ee;
  border-right: 1px solid #93c1d7; }
  @media (max-width: 767px) {
    .aside-menu {
      min-height: auto;
      margin: 40px 0;
      padding-bottom: 30px; } }
  .aside-menu:after {
    content: '';
    position: absolute;
    top: -2px;
    right: 0;
    width: 7px;
    background: #b5d5e5; }
  .aside-menu li {
    position: relative;
    border-bottom: 1px solid #cfe4ee; }
    .aside-menu li a {
      display: table-cell;
      width: 500px;
      height: 64px;
      padding: 10px 30px;
      font-size: 16px;
      font-weight: 400;
      color: #333;
      text-decoration: none;
      vertical-align: middle;
      -webkit-transition: color 300ms ease-out;
      -o-transition: color 300ms ease-out;
      transition: color 300ms ease-out; }
      .aside-menu li a:after {
        opacity: 0;
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        height: 0;
        width: 0;
        border: 32px solid transparent;
        border-right-width: 0;
        border-left-width: 26px;
        border-left-color: #358db8; }
        @media (max-width: 767px) {
          .aside-menu li a:after {
            display: none; } }
      @media (max-width: 767px) {
        .aside-menu li a {
          height: 50px;
          padding: 10px 15px; } }
    .aside-menu li:hover a, .aside-menu li.active a {
      color: #fff;
      background: #358db8; }
      .aside-menu li:hover a:after, .aside-menu li.active a:after {
        opacity: 1;
        right: -25px; }

.aside-block {
  margin: 70px 0;
  padding: 0 25px;
  -webkit-box-shadow: 0 5px 18px rgba(0, 0, 0, 0.09);
          box-shadow: 0 5px 18px rgba(0, 0, 0, 0.09);
  border: 1px solid rgba(153, 153, 153, 0.5);
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: #ffffff; }
  @media (max-width: 767px) {
    .aside-block {
      margin: 30px 0; } }
  .aside-block .aside-block-title {
    margin: 0;
    padding: 15px 0 0;
    font-weight: 500;
    text-align: center; }

.aside-card {
  position: relative;
  padding: 15px 0;
  border-bottom: 2px dotted rgba(153, 153, 153, 0.5);
  font-size: 16px;
  font-weight: 400;
  color: #595959; }
  .aside-card:last-child {
    border-bottom: none; }
  .aside-card .aside-card-title {
    font-size: 18px;
    font-weight: 400; }
    .aside-card .aside-card-title a {
      color: #358db8;
      text-decoration: none; }
  .aside-card .aside-card-thumbnail {
    padding: 10px 0;
    text-align: center; }
    .aside-card .aside-card-thumbnail .aside-card-thumbnail-img {
      height: 65px; }

.aside-service {
  margin: 40px 0; }

.breadcrumbs li {
  display: inline-block;
  position: relative;
  font-size: 12px;
  font-weight: 400;
  color: rgba(153, 153, 153, 0.8); }
  .breadcrumbs li:after {
    content: '/';
    display: inline-block;
    padding: 0 4px 0 8px;
    vertical-align: middle; }
  .breadcrumbs li:last-child:after {
    display: none; }
  .breadcrumbs li a {
    color: inherit;
    text-decoration: none; }
    .breadcrumbs li a:hover {
      color: #333333;
      text-decoration: underline; }
  .breadcrumbs li.active {
    color: #706e6e; }

.pagination {
  cursor: default;
  overflow: hidden;
  margin: 35px 0;
  padding: 14px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background-color: #f1f3f5;
  text-align: center; }
  .pagination li {
    display: inline-block;
    padding: 0 4px; }
    @media (max-width: 767px) {
      .pagination li {
        padding: 10px 4px; } }
    .pagination li a {
      display: block;
      width: 27px;
      height: 27px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      font-size: 14px;
      font-weight: 400;
      color: #358db8;
      text-align: center;
      line-height: 27px;
      text-decoration: none; }
      .pagination li a:hover {
        color: #2a6f90; }
    .pagination li i {
      display: inline-block;
      margin: 0 4px;
      font-size: 14px;
      vertical-align: middle; }
    .pagination li.active a {
      background: #358db8;
      font-weight: 500;
      color: #fff !important; }
    .pagination li.first, .pagination li.last, .pagination li.previous, .pagination li.next {
      padding: 0 18px; }
      .pagination li.first a, .pagination li.last a, .pagination li.previous a, .pagination li.next a {
        width: auto; }
    @media (max-width: 767px) {
      .pagination li.first, .pagination li.last, .pagination li.previous, .pagination li.next {
        float: left;
        width: 50%;
        padding-top: 0;
        padding-bottom: 0; } }

.label {
  display: inline-block;
  padding: 5px 15px 4px;
  -webkit-border-top-right-radius: 5px;
          border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
          border-bottom-right-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center; }

.label-success {
  background: #1db7a7;
  color: #fff; }

.label-warning {
  background: #ff4800;
  color: #fff; }

.label-sale {
  position: absolute;
  z-index: 8;
  top: 0;
  right: 30px;
  width: 48px;
  height: 69px;
  background: url("../img/icons/label-sale.png") no-repeat right top;
  -webkit-background-size: contain;
          background-size: contain; }

.slick-slider {
  outline: none; }
  .slick-slider * {
    outline: none; }

.slick-arrow {
  z-index: 1;
  width: 25px;
  height: 76px;
  -webkit-background-size: contain !important;
          background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important; }
  .slick-arrow:before {
    display: none; }

.slick-prev {
  background-image: url("../img/icons/icon-left.png") !important; }
  @media (max-width: 991px) {
    .slick-prev {
      left: 0; } }

.slick-next {
  background-image: url("../img/icons/icon-right.png") !important; }
  @media (max-width: 991px) {
    .slick-next {
      right: 0; } }

.slick-dots li {
  width: 18px;
  height: 18px; }
  .slick-dots li button {
    width: inherit;
    height: inherit;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: rgba(255, 255, 255, 0.5); }
    .slick-dots li button:before {
      display: none; }
  .slick-dots li:hover button, .slick-dots li.slick-active button {
    background: #fff; }

.section-hero {
  position: relative;
  padding-top: 0;
  padding-bottom: 0; }
  .section-hero .hero-title {
    color: #1b2f35;
    text-shadow: 0 2px 0 rgba(255, 255, 255, 0.75); }
    @media (max-width: 767px) {
      .section-hero .hero-title {
        font-size: 24px; } }
    .section-hero .hero-title span {
      color: #358db8; }
  .section-hero .hero-controls {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    height: 76px;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    @media (max-width: 767px) {
      .section-hero .hero-controls {
        display: none; } }
    .section-hero .hero-controls .slick-arrow {
      position: absolute;
      left: initial;
      right: initial;
      bottom: initial; }
    .section-hero .hero-controls .slick-prev {
      left: 0; }
    .section-hero .hero-controls .slick-next {
      right: 0; }

.slider-hero {
  margin: 0 !important; }
  .slider-hero .slide-item {
    padding: 95px 0 65px;
    background-position: center top;
    -webkit-background-size: cover;
            background-size: cover;
    background-color: #999999; }
    @media (max-width: 767px) {
      .slider-hero .slide-item {
        padding-top: 30px;
        padding-bottom: 45px; } }
  .slider-hero .slick-dots {
    bottom: 15px; }

.categories-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 10px 0 -20px; }

.category-card {
  position: relative;
  max-width: 335px;
  margin: 30px auto;
  border: 10px solid #f2f0f0;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  background: #f2f0f0;
  text-align: center;
  -webkit-box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
          box-shadow: 0 0 15px rgba(255, 255, 255, 0.2); }
  @media (max-width: 767px) {
    .category-card {
      margin: 10px auto; } }
  .category-card .category-link {
    position: absolute;
    z-index: 9;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px; }
  .category-card .category-inner {
    overflow: hidden;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    background: #fff; }
  .category-card .category-thumbnail {
    position: relative;
    border: 10px solid transparent;
    padding-bottom: -webkit-calc(67% - 20px);
    padding-bottom: calc(67% - 20px); }
    .category-card .category-thumbnail .category-thumbnail-img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      max-width: 100%;
      max-height: 100%;
      margin: auto; }
  .category-card .category-title {
    margin: 0;
    padding: 15px 0;
    color: #2a81ac; }
  .category-card:hover {
    border-color: #b5d5e5;
    -webkit-box-shadow: 0 5px 40px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 40px rgba(0, 0, 0, 0.2); }

.section-promo {
  overflow: hidden;
  padding-bottom: 35px;
  background: #fff; }
  .section-promo .section-header .section-title {
    margin: 0; }

.promo-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 40px -20px; }
  .promo-grid .promo-col {
    padding: 0 30px; }
  .promo-grid .promo-side-left {
    border-right: 1px solid #e3eff4; }
    @media (max-width: 991px) {
      .promo-grid .promo-side-left {
        border-right: none; } }

.promo-card {
  overflow: hidden;
  padding: 20px 0 25px;
  border-bottom: 1px solid #e3eff4; }
  @media (min-width: 768px) and (max-width: 991px) {
    .promo-card {
      float: left;
      width: 50%;
      padding-left: 10px;
      padding-right: 10px;
      border-bottom: none; } }
  @media (max-width: 767px) {
    .promo-card {
      max-width: 335px;
      margin: auto; } }
  .promo-card:last-child {
    border-bottom: none; }
  .promo-card .promo-aside {
    float: left;
    width: 40%; }
    @media (max-width: 767px) {
      .promo-card .promo-aside {
        float: none;
        width: 100%; } }
  .promo-card .promo-thumbnail {
    position: relative;
    padding-bottom: 50%; }
    @media (max-width: 767px) {
      .promo-card .promo-thumbnail {
        padding-bottom: 100px; } }
    .promo-card .promo-thumbnail .promo-thumbnail-link {
      position: absolute;
      z-index: 9;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    .promo-card .promo-thumbnail .promo-thumbnail-img {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      max-width: 100%;
      max-height: 100%; }
  .promo-card .promo-inner {
    overflow: hidden; }
  .promo-card .promo-header {
    padding: 5px 0; }
  .promo-card .promo-title {
    margin: 0;
    font-weight: 400;
    text-decoration: underline; }
  .promo-card .promo-body {
    padding: 5px 0;
    font-weight: 400; }
  .promo-card .promo-footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }

@media (min-width: 768px) and (max-width: 991px) {
  .promo-card.promo-card-lg {
    float: none;
    width: 100%; } }

.promo-card.promo-card-lg .promo-aside {
  float: left;
  width: 50%; }
  @media (max-width: 767px) {
    .promo-card.promo-card-lg .promo-aside {
      float: none;
      width: 100%; } }

.promo-card.promo-card-lg .promo-thumbnail {
  padding-bottom: 64%; }
  .promo-card.promo-card-lg .promo-thumbnail .promo-thumbnail-img {
    max-width: -webkit-calc(100% - 30px);
    max-width: calc(100% - 30px); }

.section-services {
  overflow: hidden; }

.services-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 -30px; }
  @media (max-width: 767px) {
    .services-grid {
      margin: 0; } }
  .services-grid .service-item {
    padding: 0 30px;
    border-right: 1px solid #e3eff4; }
    @media (max-width: 767px) {
      .services-grid .service-item {
        padding: 0 10px; } }
    .services-grid .service-item:nth-child(2n+2) {
      border-right: none; }

.service-card .service-thumbnail {
  float: left;
  overflow: hidden;
  max-width: 40%;
  margin: 30px 0; }
  @media (max-width: 1024px) {
    .service-card .service-thumbnail {
      max-width: 100px; } }
  @media (max-width: 991px) {
    .service-card .service-thumbnail {
      max-width: 60px; } }
  @media (max-width: 767px) {
    .service-card .service-thumbnail {
      float: none;
      max-width: 100%;
      margin: 25px 0 5px;
      text-align: center; } }
  @media (max-width: 767px) {
    .service-card .service-thumbnail .service-thumbnail-img {
      max-width: 60px; } }

.service-card .service-inner {
  overflow: hidden;
  padding: 0 0 0 30px; }
  @media (max-width: 767px) {
    .service-card .service-inner {
      padding: 0 10px; } }

.service-card .service-title a {
  color: inherit;
  text-decoration: none; }

.service-card .service-body {
  font-weight: 400; }

.service-card .service-footer {
  padding: 30px 0 0;
  text-align: center; }

.section-news {
  overflow: hidden;
  background: #fff; }

.news-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  margin: -20px 0 30px; }
  @media (min-width: 1366px) {
    .news-grid {
      width: -webkit-calc(100% + 120px);
      width: calc(100% + 120px);
      margin-left: -60px;
      margin-right: -60px; } }

.news-card {
  position: relative;
  max-width: 335px;
  margin: 30px auto; }
  .news-card .news-thumbnail {
    position: relative;
    padding-bottom: 67%;
    background-position: center;
    -webkit-background-size: cover;
            background-size: cover; }
    .news-card .news-thumbnail .news-thumbnail-link {
      position: absolute;
      z-index: 9;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
  .news-card .news-title {
    margin-top: 0;
    font-weight: 400; }
  .news-card .news-body {
    font-size: 13px;
    font-weight: 400; }

.section-map {
  padding-top: 0;
  padding-bottom: 0; }

#map {
  height: 410px; }

.section-partners {
  overflow: hidden;
  padding-bottom: 40px;
  background: #fff; }

@media (min-width: 1366px) {
  .slider-partners {
    margin: 0 -40px; } }

.partner-card {
  position: relative;
  height: 100px; }
  .partner-card .partner-link {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .partner-card .partner-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto; }

.header-box {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  background: #c63d19;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22); }
  @media (max-width: 991px) {
    .header-box {
      background: #fff; } }
  @media (min-width: 1366px) {
    .header-box .container {
      position: relative;
      width: 1360px;
      left: 50%;
      -webkit-transform: translateX(-52%);
          -ms-transform: translateX(-52%);
              transform: translateX(-52%);
      margin-left: 0;
      margin-right: 0; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .header-box .container {
      width: 95%; } }
  .header-box .header-side-left {
    position: relative;
    height: 115px;
    background: #358db8; }
    .header-box .header-side-left:before {
      content: '';
      position: absolute;
      top: 0;
      right: 100%;
      height: 100%;
      width: 50vw;
      background: #358db8; }
    .header-box .header-side-left:after {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      right: -36px;
      height: 0;
      width: 0;
      border: 58px solid transparent;
      border-right-width: 0;
      border-left-width: 37px;
      border-left-color: #358db8; }
      @media (max-width: 991px) {
        .header-box .header-side-left:after {
          content: '';
          position: absolute;
          z-index: 1;
          top: 0;
          right: -24px;
          height: 0;
          width: 0;
          border: 33px solid transparent;
          border-right-width: 0;
          border-left-width: 24px;
          border-left-color: #358db8; } }
    @media (max-width: 991px) {
      .header-box .header-side-left {
        height: 65px; } }
  .header-box .header-side-right {
    position: relative;
    height: 115px;
    padding: 0 25px;
    background: #fff; }
    .header-box .header-side-right:after {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      right: -36px;
      height: 0;
      width: 0;
      border: 58px solid transparent;
      border-right-width: 0;
      border-left-width: 37px;
      border-left-color: #fff; }
      @media (max-width: 991px) {
        .header-box .header-side-right:after {
          display: none; } }
    @media (max-width: 991px) {
      .header-box .header-side-right {
        height: 65px;
        padding: 5px 10px;
        text-align: right; } }
    @media (max-width: 767px) {
      .header-box .header-side-right {
        padding: 10px; } }

.header-logo {
  position: relative;
  margin: 10px 0; }
  @media (max-width: 1199px) {
    .header-logo {
      margin: 30px 0; } }
  @media (max-width: 1024px) {
    .header-logo {
      margin: 35px 0; } }
  @media (max-width: 991px) {
    .header-logo {
      margin: 15px 0; } }
  @media (max-width: 767px) {
    .header-logo {
      margin: 24px 0; } }
  .header-logo .hero-logo-img {
    max-width: 430px; }

.header-statusbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  max-width: 98%;
  margin: auto;
  padding: 15px 0; }
  @media (max-width: 991px) {
    .header-statusbar {
      display: inline-block;
      vertical-align: middle; } }

.header-tagline {
  display: inline-block;
  max-width: 210px;
  padding: 0 5px;
  font-size: 12px;
  font-style: italic;
  color: #333333; }
  @media (max-width: 1199px) {
    .header-tagline {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1; } }
  @media (max-width: 991px) {
    .header-tagline {
      display: none; } }

.header-contact {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: inline-block;
  padding: 0 5px;
  font-size: 24px;
  font-weight: 700;
  color: #c63d19; }
  @media (max-width: 1199px) {
    .header-contact {
      font-size: 20px; } }
  @media (max-width: 767px) {
    .header-contact {
      font-size: 14px; } }
  .header-contact a {
    color: inherit;
    text-decoration: none; }
  .header-contact b {
    font-weight: 900; }

.header-address {
  display: inline-block;
  max-width: 320px;
  padding: 0 5px;
  font-size: 12px;
  font-style: italic;
  color: #333333; }
  @media (max-width: 1199px) {
    .header-address {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1; } }
  @media (max-width: 991px) {
    .header-address {
      display: none; } }

.header-nav {
  max-width: 85%;
  margin: auto; }
  @media (max-width: 1024px) {
    .header-nav {
      max-width: 100%;
      padding: 15px 0 0; } }
  @media (max-width: 991px) {
    .header-nav {
      display: none; } }

.header-nav-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  .header-nav-list > li > a {
    position: relative;
    display: inline-block;
    padding: 17px 0;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 2px 0 #ffffff; }
    .header-nav-list > li > a:after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 10px;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      width: 0;
      border-bottom: 3px solid #358db8;
      -webkit-transition: .25s;
      -o-transition: .25s;
      transition: .25s; }
      @media (max-width: 1024px) {
        .header-nav-list > li > a:after {
          bottom: -5px; } }
    .header-nav-list > li > a:hover:after {
      width: 100%; }
    @media (max-width: 1024px) {
      .header-nav-list > li > a {
        padding: 0; } }
  .header-nav-list > li.open > a:after {
    width: 100%; }
  .header-nav-list .dropdown-menu {
    min-width: 100%;
    -webkit-border-radius: 0;
            border-radius: 0; }
    .header-nav-list .dropdown-menu > li > a {
      padding: 8px 15px;
      font-size: 14px;
      font-weight: 500; }

.header-toggle {
  display: none;
  width: 32px;
  border: none;
  margin: 0 0 0 10px;
  padding: 0;
  background: none;
  vertical-align: middle; }
  @media (max-width: 991px) {
    .header-toggle {
      display: inline-block; } }
  @media (max-width: 767px) {
    .header-toggle {
      margin: 0 0 0 5px; } }
  .header-toggle span {
    display: block;
    height: 2px;
    margin: 8px 0;
    background: #2a81ac; }

.offcanvas {
  opacity: 0;
  position: fixed;
  overflow-y: scroll;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%); }
  .offcanvas .offcanvas-header {
    position: relative;
    padding: 10px; }
    .offcanvas .offcanvas-header .offcanvas-close {
      position: absolute;
      top: 5px;
      right: 10px;
      border: none;
      padding: 0;
      background: none;
      font-size: 34px;
      color: #2a81ac; }
  .offcanvas .offcanvas-body {
    padding: 15px; }
  .offcanvas .offcanvas-menu-list > li {
    border-bottom: 1px solid #e3eff4; }
    .offcanvas .offcanvas-menu-list > li > a {
      display: block;
      padding: 12px 0;
      font-size: 18px;
      font-weight: 500;
      color: #000;
      text-decoration: none; }
  .offcanvas .offcanvas-menu-list .dropdown-menu {
    position: relative;
    width: 100%;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none; }
    .offcanvas .offcanvas-menu-list .dropdown-menu li a {
      display: inline-block;
      padding: 8px 0; }
  .offcanvas .offcanvas-footer {
    padding: 15px; }
  .offcanvas .offcanvas-contact {
    font-size: 20px; }
  .offcanvas .offcanvas-address {
    padding: 10px 0 0; }
  .offcanvas.offcanvas-active {
    opacity: 1;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0); }

.footer-box {
  overflow: hidden;
  padding: 35px 0 15px;
  background: #358db8;
  color: #fff; }
  .footer-box a {
    color: inherit; }
  @media (min-width: 1366px) {
    .footer-box .container {
      width: 1300px; } }

.footer-logo {
  max-width: 310px;
  opacity: .5; }
  @media (max-width: 991px) {
    .footer-logo {
      margin: auto; } }
  .footer-logo .footer-logo-img {
    max-width: 310px;
    width: 100%; }
  .footer-logo:hover {
    opacity: 1; }

.footer-nav-list {
  margin: 15px -20px;
  font-size: 18px;
  font-weight: 400;
  text-align: right; }
  @media (max-width: 1024px) {
    .footer-nav-list {
      font-size: 16px;
      margin: 20px -6px; } }
  @media (max-width: 991px) {
    .footer-nav-list {
      margin: 40px 0;
      text-align: center; } }
  .footer-nav-list li {
    display: inline-block;
    padding: 0 20px; }
    @media (max-width: 1024px) {
      .footer-nav-list li {
        padding: 0 6px; } }
    .footer-nav-list li a:hover {
      color: rgba(255, 255, 255, 0.8);
      text-decoration: none; }

@media (max-width: 991px) {
  .footer-statusbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; } }

.footer-address {
  margin: 40px 0;
  font-size: 18px;
  font-weight: 400;
  text-align: right; }
  @media (max-width: 1024px) {
    .footer-address {
      margin: 35px 0; } }
  @media (max-width: 991px) {
    .footer-address {
      margin: 25px 0;
      text-align: center; } }

.footer-copyright {
  opacity: .5;
  margin: 35px 0;
  font-size: 12px;
  font-weight: 400; }
  @media (max-width: 991px) {
    .footer-copyright {
      margin: 15px 0;
      text-align: center; } }

.products-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .products-grid .product-item {
    padding-top: 20px;
    padding-bottom: 20px; }

.product-card {
  position: relative;
  max-width: 260px;
  margin: auto;
  border: 3px solid #e7e7e7;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background: #fff;
  text-align: center; }
  .product-card:hover {
    border-color: #b5d5e5;
    -webkit-box-shadow: 0 5px 40px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 40px rgba(0, 0, 0, 0.2); }
  .product-card .product-link {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .product-card .label {
    position: absolute;
    z-index: 1;
    top: 15px;
    left: -3px; }
  .product-card .product-thumbnail {
    position: relative;
    padding-bottom: -webkit-calc(75% - 20px);
    padding-bottom: calc(75% - 20px);
    border: 10px solid transparent; }
    @media (max-width: 767px) {
      .product-card .product-thumbnail {
        padding-bottom: -webkit-calc(75% - 10px);
        padding-bottom: calc(75% - 10px);
        border: 5px solid transparent; } }
    .product-card .product-thumbnail .product-thumbnail-img {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      max-width: 100%;
      max-height: 100%; }
  .product-card .product-title {
    overflow: hidden;
    height: 36px;
    margin: 0.7em 0;
    padding: 0 15px;
    font-size: 14px;
    font-weight: 700; }
  .product-card .product-footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 75px;
    padding: 10px 15px; }
    @media (max-width: 991px) {
      .product-card .product-footer {
        min-height: 65px; } }
    @media (max-width: 767px) {
      .product-card .product-footer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        min-height: 100px;
        padding: 5px 10px; } }
  .product-card .product-price {
    text-align: left;
    white-space: nowrap; }
    .product-card .product-price del {
      font-size: 12px; }
    .product-card .product-price ins {
      font-size: 30px;
      font-weight: 500; }
      @media (max-width: 991px) {
        .product-card .product-price ins {
          font-size: 20px; } }
    .product-card .product-price span {
      font-weight: 400; }
  .product-card .product-action {
    margin: 5px 0; }
    @media (max-width: 991px) {
      .product-card .product-action {
        margin: 0; } }
    @media (max-width: 767px) {
      .product-card .product-action {
        width: 100%;
        margin: 10px 0 5px; } }

@media (max-width: 767px) {
  .product-box .product-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; } }

.product-box .product-aside {
  float: left;
  width: 59%;
  margin: 0 30px 0 0;
  padding: 30px 10px; }
  @media (max-width: 1199px) {
    .product-box .product-aside {
      width: 50%; } }
  @media (max-width: 767px) {
    .product-box .product-aside {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2;
      float: none;
      width: 100%;
      max-width: 325px;
      margin: auto; } }

.slider-product-wrap {
  position: relative; }
  .slider-product-wrap .slider-product {
    border: 1px solid rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 2px 13px rgba(0, 0, 0, 0.13);
            box-shadow: 0 2px 13px rgba(0, 0, 0, 0.13); }
    .slider-product-wrap .slider-product .slide-item .product-thumbnail {
      position: relative;
      padding-bottom: 61%; }
      .slider-product-wrap .slider-product .slide-item .product-thumbnail .product-thumbnail-link {
        position: absolute;
        z-index: 9;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
        .slider-product-wrap .slider-product .slide-item .product-thumbnail .product-thumbnail-link:before {
          content: '';
          position: absolute;
          z-index: 1;
          top: 10px;
          left: 15px;
          width: 65px;
          height: 53px;
          background: url("../img/icons/icon-zoom.png") no-repeat 0 0;
          -webkit-background-size: contain;
                  background-size: contain; }
        .slider-product-wrap .slider-product .slide-item .product-thumbnail .product-thumbnail-link .product-thumbnail-img {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          max-width: 100%;
          max-height: 100%;
          margin: auto; }
  .slider-product-wrap .slider-product-nav {
    margin: 50px 0 -20px;
    padding: 0 20px; }
    .slider-product-wrap .slider-product-nav .slide-item {
      padding: 0 10px; }
      .slider-product-wrap .slider-product-nav .slide-item .product-thumbnail {
        position: relative;
        height: 95px;
        background-position: center;
        -webkit-background-size: cover;
                background-size: cover;
        background-color: #f9f9f9; }
        @media (max-width: 1199px) {
          .slider-product-wrap .slider-product-nav .slide-item .product-thumbnail {
            height: 65px; } }
    .slider-product-wrap .slider-product-nav .slick-arrow {
      width: 18px;
      height: 45px; }
    .slider-product-wrap .slider-product-nav .slick-prev {
      left: 0; }
    .slider-product-wrap .slider-product-nav .slick-next {
      right: 0; }

.product-details-block {
  overflow: hidden;
  padding: 25px 10px 25px 10px; }

.product-price-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-bottom: 1px solid rgba(153, 153, 153, 0.3);
  font-size: 14px;
  color: #358db8; }
  @media (max-width: 767px) {
    .product-price-grid {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1; } }
  .product-price-grid .product-price-col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .product-price-grid .product-price-col:first-child {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1; }
    .product-price-grid .product-price-col .product-price-item {
      margin: 0;
      padding: 5px 0; }
  .product-price-grid del {
    font-size: 24px;
    color: #b8b7b7;
    line-height: 1; }
    @media (max-width: 991px) {
      .product-price-grid del {
        font-size: 16px; } }
  .product-price-grid ins {
    font-size: 48px;
    font-weight: 700;
    color: #358db8;
    line-height: 1; }
    @media (max-width: 991px) {
      .product-price-grid ins {
        font-size: 26px; } }
    .product-price-grid ins span {
      font-weight: 400; }
  .product-price-grid .product-price-label {
    font-size: 24px;
    font-weight: 700;
    color: #c63d19; }

.product-info {
  max-width: 300px;
  font-weight: 400;
  color: #333; }
  @media (max-width: 767px) {
    .product-info {
      -webkit-box-ordinal-group: 4;
      -webkit-order: 3;
          -ms-flex-order: 3;
              order: 3;
      max-width: 100%; } }
  .product-info li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 3px 0; }
    .product-info li p {
      position: relative;
      width: 50%;
      margin: 0; }
      .product-info li p:first-child {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        font-weight: 700; }
        .product-info li p:first-child:after {
          content: '';
          -webkit-box-flex: 1;
          -webkit-flex: 1;
              -ms-flex: 1;
                  flex: 1;
          margin: 4px 5px;
          border-bottom: 1px dotted #333; }

.product-description {
  margin: -18px 0;
  color: #808080;
  line-height: 1.5; }
  @media (max-width: 991px) {
    .product-description {
      clear: both; } }
  @media (max-width: 767px) {
    .product-description {
      -webkit-box-ordinal-group: 5;
      -webkit-order: 4;
          -ms-flex-order: 4;
              order: 4; } }
  .product-description p {
    color: inherit; }

.similar-box {
  border-top: 1px solid rgba(153, 153, 153, 0.3); }

.similar-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: -webkit-calc(100% + 20px);
  width: calc(100% + 20px);
  margin: -20px -10px; }
  @media (max-width: 767px) {
    .similar-grid {
      width: 100%;
      margin-left: 0;
      margin-right: 0; } }
  .similar-grid .similar-item {
    padding-top: 20px;
    padding-bottom: 20px; }
    @media (min-width: 768px) and (max-width: 1199px) {
      .similar-grid .similar-item:nth-child(1n+4) {
        display: none; } }
