.header-statusbar {
    overflow: hidden;
    padding: 5px 0;
    border-bottom: 1px solid #d1d4d7;
    @media (max-width: 767px) {
        display: none;
    }

    .container {
        @media (max-width: 1199px) {
            width: 100%;
        }
    }
    .header-statusbar-inner {
        padding: 0 50px;
        @media (max-width: 1199px) {
            padding: 0 15px;
        }
    }
}
.header-statusbar-menu {
    @extend .reset-list;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
        font-size: 14px;
        a {
            color: $default;
            text-decoration: none;
            i {
                display: inline-block;
                width: 24px;
                font-size: 15px;
            }
        }
    }
}

.header-logo {
    width: 214px;
    @media (max-width: 1199px) {
        width: 164px;
    }
    @media (max-width: 991px) {
        padding: 6px 0;
    }
    @media (max-width: 767px) {
        width: 44px;
        padding: 12px 0;
    }

    img {
        display: block;
    }

    .logo-desktop {
        @media (max-width: 767px) {
            display: none;
        }
    }
    .logo-mobile {
        display: none;
        @media (max-width: 767px) {
            display: block;
        }
    }
}



// header menu
.header-menu {
    @extend .reset-list;
    cursor: default;
    font-family: $base-heading;
    li {
        display: inline-block;
        padding: 0 10px;
        font-size: 14px;

        a {
            display: inline-block;
            padding: 45px 0;
            border-bottom: 5px solid transparent;
            text-transform: uppercase;
            text-decoration: none;
            &:hover {
                color: $default;
            }
        }

        &.active {
            a {
                color: $default;
            }
        }
    }
}

// header contact 
.header-contact {
    display: flex;
    align-items: center;
    font-family: $base-heading;
    .header-contact-icon {
        padding: 0 5px;
        font-size: 32px;
        color: #a3a8af;
        @media (max-width: 767px) {
            font-size: 24px;
        }
    }

    .header-contact-inner {
        font-size: 14px;
        @media (max-width: 767px) {
            font-size: 12px;
        }

        p {
            margin: 0;
            font-family: $fontArial;
            color: #a3a8af;
        }
        a {
            display: inline-block;
            border-bottom: 1px dotted $info;
        }

        .phone {
            display: block;
            margin: 5px 0;
            border-bottom: none;
            font-size: 22px;
            color: #000;
            line-height: 1;
            @media (max-width: 767px) {
                font-size: 20px;
            }
        }
    }
}


.header-box {
    border-bottom: 1px solid #d1d4d7;
    .container {
         @media screen and (max-width: 1199px) {
            width: 100%;
         }
    }
    .header-content-inner {
        overflow: hidden;
        display: flex;
        align-items: center;
        @media screen and (max-width: 991px) {
            display: block;
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }

    .header-logo {
        float: left;
        flex: 0 0 auto;
    }
    .header-menu-wrap {
        width: 100%;
        padding: 0 30px;
        @media screen and (min-width: 992px) and (max-width: 1199px) {
            padding: 0 15px;
        }
        @media screen and (max-width: 991px) {
            display: none;
        }

        .header-menu {
            display: table;
            width: 100%;
            text-align: center;
            li {
                display: table-cell;
            }
        }
    }
    .header-contact {
        float: right;
        flex: 0 0 auto;
    }
}

.page-home {
    .header-menu {
        li {
            a {
                &:hover {
                    border-color: $warning;
                } 
            }
            &.active {
                a {
                    border-color: $warning;
                }
            }
        }
    }
}

// header fixed
.header-fixed {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    background: #495260;
    transform: translateY(-100%);
    @extend .transition;

    &.is-visible {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .container {
         @media screen and (max-width: 1199px) {
            width: 100%;
         }
    }

    .header-fixed-inner  {
       /*  display: table; */
       display: flex;
       align-items: center;
    }

    .header-logo,
    .header-menu,
    .header-contact {
        /* display: table-cell;
        vertical-align: middle; */
    }

    .header-logo {
        flex: 0 0 auto;
        width: 55px !important;
        padding: 0;
        @media (min-width: 768px) and (max-width: 991px) {
            flex: 1 0 auto;
        }
    }

    .header-menu {
        flex: 1 0 auto;
        padding: 0 10px;
        @media (max-width: 991px) {
            display: none;
        }

        li {
            margin: 0;
            padding: 0 20px;
            @media (min-width: 992px) and (max-width: 1199px) {
                padding: 0 5px;
            }

            a {
                padding: 0;
                border: none;
                font-size: 13px;
                letter-spacing: 0.4px;
                color: #fff;
            }
        }
    }

    .header-contact {
        flex: 0 0 auto;
        /* white-space: nowrap; */
        @media (max-width: 767px) {
            flex: 1 0 auto;
            justify-content: center;
        }
        .phone {
            margin: 0 30px 0 0;
            font-size: 18px;
            color: #a3a8af;
            @media (min-width: 992px) and (max-width: 1199px) {
                font-size: 14px;
                
            }
            @media (max-width: 1199px) {
                margin: 0 15px 0 0;
            }
            @media (max-width: 767px) {
                margin: 0;
            }
        }
        .btn {
            @media (max-width: 1199px) {
                padding-left: 15px;
                padding-right: 15px;
            }
            @media (max-width: 767px) {
                display: none;
            }
        }
    }

    .off-canvas-toggle {
        margin: 0 0 0 15px;
        @media (max-width: 767px) {
            margin: 0 0 0 27px;
        }

        a {
            &:before,
            &:after,
            span {
                background: #a3a8af;
            }
        }
    }
}

/*  offcanvas  */
.off-canvas-wrap {
    overflow: hidden;
    z-index: 2;
    transition: transform 0.5s;
}

.close-off-canvas {
   position: fixed;
   z-index: 101;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.8);
   opacity: 0;
   visibility: hidden;
   transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}

.off-canvas-toggle {
    float: right;
    display: none;
    min-width: initial;
    margin: 25px 0 25px 30px;
    padding: 0;
    border: none;
    background: none;
    vertical-align: middle;
    @media screen and (max-width: 991px) {
        display: inline-block;
    }
    @media screen and(max-width: 767px) {
        margin: 25px 0 25px 15px;
    }
    /* @media screen and(max-width: 375px) {
      margin-left: 5px;
    } */

    a {
        position: relative;
        display: block;
        border: none;
        transition: transform 100ms ease-in-out;
        text-decoration: none;

        &:after,
        &:before {
         content: '';
         position: relative;
         display: block;
         width: 28px;
         height: 2px;
         background-color: #000;
         transition: transform 450ms ease-out;
         transform-origin: 85% 60%;
        }

        span {
            display: block;
            width: 28px;
            height: 2px;
            background-color: #000;
            margin: 5px 0;
            transition: transform 400ms ease-out;
        }
    }
}


.off-canvas-sidebar {
   position: fixed;
   right: 0;
   top: 0;
   background: #fff;
   z-index: 1;
   height: 100%;
   width: 240px;
   padding: 0;
   overflow: auto;
   will-change: transform;
   transition: transform 0.5s;
   transform: translate3d(240px, 0, 0);

   @media screen and (min-width: 992px) {
      display: none;
   }

   .off-canvas-menu {
      border-top: 1px solid #e0e0e0;

      ul {
         list-style: none;
         padding: 0;
         margin: 0;

         .sub-menu {
            display: none;
            background-color: rgba(216, 216, 216, 0.25);
         }

         li {
            position: relative;
            padding: 0;
            text-transform: uppercase;

            &.current-menu-item {
               background-color: #fff;

               & > a {
                  color: $warning;
               }
            }
         }

         a {
            display: block;
            position: relative;
            padding: 15px;
            border-bottom: 1px solid #e0e0e0;
            text-decoration: none;
            color: $default;
         }

         i {
            margin: 0 10px 0 0;
         }

         li.menu-item-has-children {

            & > a {
               padding-right: 55px;
            }

            & > .sub-menu-toggle {
               display: block;
               color: $default;
               position: absolute;
               right: 0;
               top: 0;
               font-size: 37px;
               line-height: 55px;
               width: 55px;
               text-align: center;
               border-left: 1px solid #e0e0e0;
               cursor: pointer;
               z-index: 5;

               &:before {
                  content: '+';
                  display: inline-block;
                  transition: transform 200ms ease-in-out, color 200ms ease-in-out;
               }
            }

            &.opened {

               & > .sub-menu-toggle {
                  &:before {
                     color: $default;
                     transform: rotate(45deg);
                  }
               }
            }
         }

      }
   }
}

body.off-canvas-opened {

   @media screen and (max-width: 991px) {
      overflow: hidden;

      .off-canvas-toggle a {
         text-decoration: none;

         &:before {
            transform: rotate(-45deg);
         }

         &:after {
            transform: rotate(45deg);
         }

         span {
            transform: scale(0);
         }
      }

      .off-canvas-wrap {
         transform: translate3d(-240px, 0, 0);
      }

      .close-off-canvas {
         opacity: 1;
         visibility: visible;
      }

      .off-canvas-sidebar {
         transform: translate3d(0, 0, 0);
      }
   }
}
