.respondent-card {
	margin: 0 20px 10px 0;
	padding: 20px 20px 20px;
	background: $light-gray;
	@media (max-width: 767px) {
		float: none !important;
		max-width: 475px;
		margin: 0 auto 15px;
	}

	&.pull-right {
		margin: 0 0 10px 20px;
	}

	img {
		width: 100%;
	}

	figcaption {
		margin-top: 10px;
		font-style: normal;
		color: $default;
	}
}