$base: "Helvetica Neue", Helvetica, "Helvetica", Arial, sans-serif;
$base-heading: "Helvetica Neue", Helvetica, "Helvetica", Arial, sans-serif;
$second-base-heading: 'Bonkers';

$default-heading: #262526;
$default: #262526;

$primary: #0a4d7d;
$light-primary: #2a5885;

$info: #3ab0e2;
$dark-info: #2962d8;
$danger: #c73735;
$success: #81c340;

$warning: #e7ac44;
$orange:  #f26221;

$dark: #5e6977;

$link-color: #2962d8;