@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');

.header,
.footer {
	height: 80px;
	background-color: #e3e3e3;
}

.landing-page .container,
.landing-page .container-fluid {
	padding-left: 15px;
	padding-right: 15px;
}

.landing-page .container {
	max-width: 1140px;
	margin: auto;
}

.landing-page .row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
	box-sizing: border-box;
}

.landing-page .col {
	position: relative;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.landing-page .col.half {
	flex: 0 0 50%;
	max-width: 50%;
}


body.landing-page {
	max-width: 2160px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	font-weight: 300;
	color: #000000;
}

.landing-page img {
	max-width: 100%;
}


.landing-section-hero {
	padding-top: 50px;
	padding-bottom: 15px;
	text-align: center;
}

.landing-section-hero .hero-card {
	display: block;
	color: inherit;
	text-decoration: none;
}

.landing-section-hero .hero-card:hover {
	text-decoration: none;
}

.landing-section-hero .hero-figure {
	margin-bottom: 45px;
}

.landing-section-hero .hero-title {
	margin: 2px 0;
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 2.16px;
	text-transform: uppercase;
}
.landing-section-hero .hero-subtitle {
	margin: 2px 0;
    font-size: 40px;
	font-weight: 100;
}
.landing-section-hero .hero-price {
	display: inline-block;
	margin: 10px 0;
	padding: 15px 0;
	border-top: 1px solid #e52420;
	font-size: 28px;
	letter-spacing: 2.16px;
}

.landing-section-hero .hero-price b {
	font-size: 36px;
	font-weight: 700;
}


.landing-section-higlight {
	position: relative;
	padding-top: 180px;
	padding-bottom: 200px;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
}
.landing-section-higlight:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.7);
}

.landing-section-higlight .higlight-content {
	position: relative;
	z-index: 1;
	max-width: 700px;
	padding-left: 70px;
	padding-right: 70px;
}

.landing-section-higlight .higlight-title {
	margin: 0 0 40px;
	font-weight: 300;
    letter-spacing: -1.44px;
}

.landing-section-higlight .higlight-title  b {
	font-weight: 700;
}

.landing-section-higlight .higlight-description {
	line-height: 1.2;
}


.landing-section-presentation {
	overflow: hidden;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	height: auto !important;
	min-height: 660px;
	padding-top: 70px;
	padding-bottom: 70px;
}

.landing-section-presentation .cd-floating-background {
	position: absolute;
	width: 100%;
}

.landing-section-presentation .row {
	-ms-align-items: center;
	align-items: center;
}

.landing-section-presentation .presentation-content {
	margin-left: auto;
}

.landing-section-presentation .presentation-figure {
	margin: 0 40px;
	transform: translateZ(250px);

}

.landing-section-presentation  .presentation-title {
	margin: 70px 0 40px;
    font-weight: 400;
    letter-spacing: -1.3px;
}

.landing-section-presentation  .presentation-description {
	line-height: 1.2;
}



.landing-section-functions {
	height: auto !important;
	padding-top: 55px;
	padding-bottom: 70px;
	background-color: #eeeeee;
}

.landing-section-functions .cd-floating-background img:first-child {
	position: absolute;
	top: -60px;
	right: 0;
  	transform: translateZ(50px);
}

.landing-section-functions .cd-floating-background img:nth-child(2) {
	position: absolute;
    top: 110px;
    right: 80px;
	transform: translateZ(150px);
}


.landing-section-functions .functions-list {
	margin: 0 0 -25px 45px;
	padding: 0;
	list-style: none;
	font-size: 20px;
	font-weight: 300;
}

.landing-section-functions .functions-list .function-item {
	max-width: 835px;
	margin-bottom: 25px;
}

.landing-section-functions .functions-list .function-item:first-child {
	max-width: 435px;
}
.landing-section-functions .functions-list .function-item:nth-child(2) {
	max-width: 530px;
}
.landing-section-functions .functions-list .function-item:nth-child(3) {
	max-width: 580px;
}
.landing-section-functions .functions-list .function-item:nth-child(4) {
	max-width: 630px;
}
.landing-section-functions .functions-list .function-item:nth-child(5) {
	max-width: 710px;
}

.landing-section-functions .functions-list  .function-title {
	margin: 0 0 15px;
	font-size: 35px;
	font-weight: 400;
	color: #333333;
}

.cd-background-wrapper {
  overflow: hidden;
  perspective: 4000px;
}

.cd-floating-background {
  transform-style: preserve-3d;
}

.cd-floating-background.is-absolute {
  position: absolute;
}


.landing-section-gallery {
	padding-top: 170px;
	padding-bottom: 140px;
}

.landing-section-gallery .gallery-card {
	padding-bottom: 70%;
	background-position: center;
	-webkit-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
}

.landing-section-gallery .slider-gallery {
	margin-left: -15px;
	margin-right: -15px;
}

.landing-section-gallery .slider-gallery .slide-item {
	width: 950px;
	opacity: 0.3;
	transition: 300ms ease opacity;
}

.landing-section-gallery .slider-gallery .slide-item.slick-current {
	opacity: 1;
}


.landing-section-specifications {
	padding-top: 100px;
	padding-bottom: 15px;
	background-color: #eeeeee;
}


.landing-section-promo {
	padding-top: 95px;
	padding-bottom: 80px;
	text-align: center;
}

.landing-section-promo .promo-card {
	color: inherit;
	text-decoration: none;
}

.landing-section-promo .promo-card:hover {
	text-decoration: none;
}

.landing-section-promo .promo-figure {
	margin-bottom: 45px;
}

.landing-section-promo .promo-title {
	margin: 2px 0;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 2.16px;
	text-transform: uppercase;
}

.landing-section-promo .promo-subtitle  {
    margin: 2px 0;
    font-size: 30px;
    font-weight: 100;
}

.landing-section-promo .promo-price {
    display: inline-block;
    margin: 10px 0;
    padding: 15px 0;
    border-top: 1px solid #e52420;
    font-size: 28px;
    letter-spacing: 2.16px;
}

/* slick slider custom */ 
.slick-slider * {
	outline: none;
}

.landing-section .slick-arrow {
	z-index: 9;
	width: 136px;
	height: 100%;
	transition: opacity 300ms ease;
}
.landing-section .slick-arrow.slick-disabled {
	opacity: 0;
}

.landing-section .slick-arrow:before {
	content: '';
	display: block;
	width: 40px;
	height: 140px;
	margin-left: auto;
	margin-right: auto;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}

.landing-section .slick-prev {
	left: 0px;
}
.landing-section .slick-prev:before {
	background-image: url('../images/maxvi-landing/icons/slide-left.png') !important;
}

.landing-section .slick-next {
	right: 0px;
}
.landing-section .slick-next:before {
	background-image: url('../images/maxvi-landing/icons/slide-right.png') !important;
}


@media screen and (max-width: 991px) {
	body.landing-page {
		font-size: 20px;
	}

	.landing-section-higlight {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.landing-section-higlight .higlight-content {
		padding-left: 40px;
		padding-right: 40px;
	}

	.landing-section-higlight .higlight-title,
	.landing-section-higlight .higlight-description {
		line-height: 1.3;
	}

	.landing-section-higlight .higlight-title {
		margin-bottom: 20px;
	}


	.landing-section-presentation {
		min-height: 400px;
	}
	.landing-section-presentation .presentation-title {
		margin: 20px 0;
	}
	.landing-section-presentation .presentation-description {
		line-height: 1.3;
	}

	.landing-section-presentation .presentation-media {
		flex: 0 0 40%;
		max-width: 40%;
	}
	.landing-section-presentation .presentation-figure {
		position: relative;
		width: 100%;
		margin: 0;
	}

	.landing-section-presentation .presentation-figure img {
		position: absolute;
		top: 50%;
		right: 0;
		max-width: none;
		transform: translateY(-50%);
	}

	.landing-section-presentation .presentation-content {
		flex: 0 0 60%;
		max-width: 60%;
	}

	
	.landing-section-functions .functions-list {
		margin-left: 25px;
		font-size: 18px;
		line-height: 1.3;
	}
	.landing-section-functions .functions-list .function-item:nth-child(2) {
	    max-width: 440px;
	}
	.landing-section-functions .functions-list .function-item:nth-child(3) {
	    max-width: 530px;
	}
	.landing-section-functions .functions-list .function-title {
		font-size: 28px;
	}


	.landing-section-functions .cd-floating-background img:first-child {
		top: -40px;
    	right: 10px;
		width: 170px
	}
	.landing-section-functions .cd-floating-background img:nth-child(2) {
	    top: 60px;
	    right: 40px;
	    width: 260px;
	}

	
	.landing-section-gallery {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	.landing-section-gallery .slider-gallery .slide-item {
		width: 80vw;
	}


	.landing-section-specifications {
		padding-top: 80px;
	}


	.landing-section-promo {
		padding-top: 80px;
		padding-bottom: 60px;
	}

	.landing-section-promo .promo-figure {
		margin-bottom: 15px;
	}


	.landing-section .slick-arrow:before {
		width: 30px;
	}
}

@media screen and (max-width: 767px) {
	body.landing-page {
		font-size: 16px;
	}

	.landing-section-hero .hero-title,
	.landing-section-hero .hero-subtitle,
	.landing-section-hero .hero-price b {
		font-size: 30px;
	}
	.landing-section-hero .hero-price {
		font-size: 20px;
	}


	.landing-section-higlight {
		padding-top: 40px;
		padding-bottom: 40px;
		background-attachment: initial;
	}

	.landing-section-higlight .higlight-content {
		padding-left: 30px;
		padding-right: 30px;
	}
	
	
	.landing-section-presentation {
		min-height: 200px;
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.landing-section-presentation .presentation-media {
		flex: 0 0 30%;
		max-width: 30%;
	}

	.landing-section-presentation .presentation-content {
		flex: 0 0 70%;
		max-width: 70%;
	}

	.landing-section-presentation .presentation-figure img {
		width: 280px;
	}

	
	.landing-section-functions {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column-reverse;
		-moz-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		-o-flex-direction: column-reverse;
		flex-direction: column-reverse;
		padding-top: 40px;
		padding-bottom: 510px;
	}

	.landing-section-functions .cd-floating-background img:first-child {
		top: 30px;
		right: 50%;
	    transform: translateX(90%) translateZ(50px)
	}
	.landing-section-functions .cd-floating-background img:nth-child(2) {
		top: 90px;
		right: 50%;
		transform: translateX(35%) translateZ(150px)
	}

	
	.landing-section-functions .functions-list {
		margin-left: 15px;
	}

	.landing-section-functions .functions-list .function-item:first-child,
	.landing-section-functions .functions-list .function-item:nth-child(2),
	.landing-section-functions .functions-list .function-item:nth-child(3) {
		max-width: 100%;
	}

	.landing-section-functions .functions-list .function-title {
		font-size: 24px;
	}


	.landing-section-gallery {
		padding-top: 40px;
		padding-bottom: 40px;
	}


	.landing-section-specifications {
		padding-top: 40px;
	}


	.landing-section-promo {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.landing-section-promo .promo-title {
		font-size: 28px;
	}

	.landing-section-promo .promo-subtitle,
	.landing-section-promo .promo-price {
		font-size: 24px;
	}


	.landing-section .slick-arrow {
		width: 55px;
	}
	.landing-section .slick-arrow:before {
		width: 25px;
	}
}

@media screen and (max-width: 425px) {
	.landing-section-presentation .presentation-media {
		flex: 0 0 30%;
		max-width: 30%;
	}

	.landing-section-presentation .presentation-content {
		flex: 0 0 80%;
		max-width: 80%;
	}

	.landing-section-presentation .presentation-figure img {
		width: 170px;
	}

	.landing-section .slick-arrow:before {
		width: 15px;
	}
}