.section-news {
	position: relative;
	padding-top: 45px;
	padding-bottom: 45px;
	background-color: #eeeeee;
}

.section-news .news-grid {
	margin-top: 45px;
	margin-bottom: -20px;
}

.section-news .news-grid .news-item {
	margin-bottom: 30px;
}