@media (min-width: 1200px) and (min-aspect-ratio: 16/9) {
	.p18-speakers .p18-speakers-video {
    	top: 50%;
    	left: 50%;
    	transform: translate(-50%, -50%);
		width: 100%;
		height: auto;
	}
}

@media (min-width: 1200px) and (max-aspect-ratio: 16/9) {
	.p18-speakers .p18-speakers-video {
    	left: 50%;
    	transform: translateX(-50%);
		width: auto;
		height: 100%;
	}
}

@media (max-width: 1199px) {
	.p18-speakers .p18-speakers-video {
		top: 50%;
		left: 50%;
		height: 100% !important;
		width: auto !important;
		transform: translate(-50%, -50%);
	}


	/* section  sim */
	.p18-sim .content-wrapper {
		-webkit-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}

	.p18-sim .p18-media-figure {
		float: none;
		margin: 40px auto 0;
	}
	/* section  sim end */
}


@media (max-width: 991px) {
	.p18-title {
		font-size: 34px;
	}

	.p18-subtitle {
		font-size: 30px;
	}

	/* section battery */
	.p18-battery {
		min-height: 640px;
	}
	/* section battery end */

	/* section display */
	.p18-display .p18-media-figure {
		height: 460px;
	}

	.p18-display .p18-typography-container {
		padding-top: 60px;
		padding-bottom: 40px;
	}

	.p18-display .p18-media-figure {
		height: 460px;
		margin: -45px 0 -50px 20px;
	}

	.p18-display .p18-media-figure .p18-media {
		width: 585px;
	}
	/* section display end */
	
	
	/* section  speakers */
	.p18-speakers {
		min-height: 640px;
	}
	/* section  speakers end */
   

	/* section  features */
	.p18-features-grid .p18-feature-item {
		flex: 0 0 33.3333%;
		max-width: 33.3333%;
	}
	/* section  features end */
}

@media (max-width: 767px) {
	.p18-landing .container {
		padding-left: 30px;
		padding-right: 30px;
	}

	.p18-landing .p18-typography-container {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.p18-title {
		font-size: 30px !important;
		line-height: 1.35;
	}

	.p18-subtitle {
		font-size: 26px;
	}

	.p18-description {
		margin: 0 0 20px;
		font-size: 18px;
		line-height: 1.5;
	}

	
	/* section battery */
	.p18-battery {
		min-height: auto;
		padding-top: 0;
		padding-bottom: 0;
	}

	.p18-battery .content-wrapper {
		-webkit-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}

	.p18-battery .p18-media-figure {
		height: 420px;
		margin: 0;
		text-align: center;
	}
	/* section battery end */

	
	/* section display */
	.p18-display {
		padding-top: 0;
		padding-bottom: 0;
	}

	.p18-display .p18-media-figure {
		height: 420px;
		margin: -50px 0 -50px 20px;
		text-align: center;
	}
	/* section display end */


	/* section power */
	.p18-power .p18-media-container {
		padding-top: 0;
		padding-bottom: 0;
	}

	.p18-power .p18-media-figure {
		
	}
	/* section power end */

	
	/* section design */
	.p18-design {
		padding-top: 0;
		padding-bottom: 0;
	}

	.p18-design .p18-media-figure {
		height: 420px;
		width: 280px;
		margin: auto;
		text-align: center;
	}

	.p18-display .p18-media-figure .p18-media {
		width: 445px;
	}
	/* section design end */
	
	
	/* section speakers */
	.p18-speakers {
		min-height: auto;
		padding-top: 0;
		padding-bottom: 0;
	}
	
	.p18-speakers .p18-media-figure {
		width: 230px;
		margin: 0 auto;
	}
	/* section speakers end */


	/* section sim */
	.p18-sim {
		padding-top: 0;
		padding-bottom: 0;
	}

	.p18-sim .p18-media-figure {
		width: 440px;
		margin: 0 auto 30px;
	}
	/* section sim end */
	

	/* section features */
	.p18-features-grid .p18-feature-item {
		flex: 0 0 50%;
		max-width: 50%;
	}
	/* section  features end */
}


@media (max-width: 576px) {
	.p18-landing .container {
		padding-left: 15px;
		padding-right: 15px;
	}
	
	/* section sim */
	.p18-sim .p18-media-figure .p18-media-sim {
		margin-bottom: 20%;
	}

	.p18-sim .p18-media-figure .p18-media-micro-sim {
		margin: 0 0 7% -83%;
	}
	/* section sim end */
}

@media (max-width: 375px) {
	/* section  features */
	.p18-features-grid .p18-feature-item {
		flex: 0 0 100%;
		max-width: 100%;
	}
	/* section  features end */
}

@media (min-width: 1200px) {
	.p18-landing  .flex-lg-nowrap {
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
	}
}