.p100-landing {
	overflow: hidden;
	max-width: 2160px;
	margin: auto;
	background: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #010101;
	line-height: 1.25;
}

.p100-landing section {
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.p100-landing img {
	max-width: 100%;
}


.p100-landing .container {
	position: relative;
	width: 100%;
	max-width: 1220px;
	padding-left: 50px;
	padding-right: 50px;
}

.p100-landing .section-dark,
.p100-landing .section-dark .p100-title,
.p100-landing .section-dark .p100-subtitle,
.p100-landing .section-dark .p100-description {
	color: #fff;
}


.p100-landing .d-flex {
	-webkit-display: flex;
	-ms-display: flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.p100-landing .d-flex.row:before,
.p100-landing .d-flex.row:after {
	display: none;
}

.p100-landing .flex-nowrap {
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}


.p100-landing .justify-content-center {
	justify-content: center;
}


.p100-landing .align-items-start {
	align-items: start;
}

.p100-landing .align-items-center {
	align-items: center;
}

.p100-landing .align-self-center {
	align-self: center;
}

.p100-landing .align-self-end {
	align-self: flex-end;
}



.p100-title {
	margin: 0 0 20px;
	font-size: 50px;
	font-weight: 900;
	line-height: 1.2;
}

.p100-title span {
	font-weight: 300;
}

.p100-title .text-lead {
	font-size: 180%;
	font-weight: 900;
	line-height: 1.2;
}

.p100-description {
	margin: 0 0 45px;
	font-size: 18px;
	font-weight: 400;
}

.p100-media-figure {
	opacity: 1 !important;
	margin: 0;
}

.p100-media-figure .p100-media {
	max-width: 100%;
	max-height: 100%;
}


/* section intro */
.p100-intro {
	overflow: hidden;
	height: 710px;
	background-color: #0e1626;
	color: #fff;
}

.p100-intro::after {
	opacity: 0.3;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	content: '';
}

.p100-intro .container,
.p100-intro .content-wrapper {
	position: relative;
	z-index: 9;
	height: inherit;
}

.p100-intro .p100-title,
.p100-intro .p100-subtitle,
.p100-intro .p100-description {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	color: inherit;
}

.p100-intro .p100-title {
	top: 170px;
	max-width: 365px;
	font-size: 61px;
}

.p100-intro .p100-title .text-lead {
	font-size: 210%;
	line-height: 1;
}

.p100-intro .p100-description {
	top: 330px;
	max-width: 330px;
}

.p100-intro .p100-intro-logo {
	display: block;
}


.p100-intro .p100-media-figure {
	position: absolute;
	top: 15px;
	left: 50%;
	width: 393px;
	height: 693px;
	transform: translateX(-50%);
}

.p100-intro .p100-media-figure[data-aos=fade-left] {
	transform: translateX(100px);
}

.p100-intro .p100-media-figure[data-aos=fade-left].aos-animate {
	transform: translateX(-50%);
}

.p100-intro .p100-intro-video {
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
}
/* section intro end */


/* section presentation */
.p100-presentation {
	height: 765px;
	background-color: #fff;
}

.p100-presentation .p100-typography-container {
	position: relative;
	z-index: 9;
}

.p100-presentation .p100-title,
.p100-presentation .p100-subtitle,
.p100-presentation .p100-description {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}

.p100-presentation .p100-title {
	position: absolute;
}

.p100-presentation .p100-title::after {
	position: absolute;
	height: 1px;
	background: currentColor;
	content: '';
}


.p100-presentation .p100-presentation-title-camera {
	top: 80px;
	text-align: right;
}

.p100-presentation .p100-presentation-title-camera::after {
	top: 145%;
    left: 80%;
    width: 50%;
	transform: rotate(65deg);
	transition: width 1s linear;
}

.p100-presentation .p100-presentation-title-camera[data-aos]::after {
	width: 0;
}

.p100-presentation .p100-presentation-title-camera.aos-animate[data-aos]::after {
	width: 50%;
}


.p100-presentation .p100-presentation-title-sos {
	top: 450px;
	max-width: 62%;
	text-align: right;
}

.p100-presentation .p100-presentation-title-sos::after {
	top: 17%;
    left: 100%;
    width: 120%;
    transform: rotate(-6deg);
	transition: width 1s linear;
}

.p100-presentation .p100-presentation-title-sos[data-aos]::after {
	width: 0;
}

.p100-presentation .p100-presentation-title-sos.aos-animate[data-aos]::after {
	width: 120%;
}


.p100-presentation .p100-presentation-title-fm {
	top: 540px;
}

.p100-presentation .p100-presentation-title-fm::after {
	top: -20%;
    right: 100%;
    width: 45%;
    transform: rotate(30deg);
	transition: width 1s linear;
}

.p100-presentation .p100-presentation-title-fm[data-aos]::after {
	width: 0;
}

.p100-presentation .p100-presentation-title-fm.aos-animate[data-aos]::after {
	width: 45%;
}



.p100-presentation .p100-media-figure {
	position: absolute;
	top: 50px;
	left: 50%;
	width: 403px;
	height: 685px;
	transform: translateX(-50%);
}

.p100-presentation .p100-media-figure[data-aos=fade-down] {
	transform: translate(-50%, -100px);
}

.p100-presentation .p100-media-figure[data-aos=fade-down].aos-animate {
	transform: translate(-50%, 0);
}
/* section presentation end */


/* section flashlight */
.p100-flashlight {
	overflow: hidden;
	height: 805px;
	background-color: #4d06a5;
}

.p100-flashlight .container,
.p100-flashlight .content-wrapper {
	height: inherit;
}

.p100-flashlight .p100-title,
.p100-flashlight .p100-subtitle,
.p100-flashlight .p100-description {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}

.p100-flashlight .p100-title {
	top: 365px;
}

.p100-flashlight .p100-title::after {
	position: absolute;
	top: 65%;
    right: 103%;
	width: 35%;
	height: 1px;
	background: currentColor;
	transition: width 500ms linear;
	content: '';
}

.p100-flashlight .p100-title[data-aos]::after {
	width: 0;
}

.p100-flashlight .p100-title.aos-animate[data-aos]::after {
	width: 35%;
}

.p100-flashlight .p100-media-figure {
	position: absolute;
	top: 80px;
	left: 50%;
	width: 485px;
	height: 655px;
	transform: translateX(-50%);
}

.p100-flashlight .p100-media-figure[data-aos=fade-right] {
	transform: translate(calc(-50% - 100px), 0);
}

.p100-flashlight .p100-media-figure[data-aos=fade-right].aos-animate {
	transform: translate(-50%, 0);
}
/* section flashlight end */


/* section battery */
.p100-battery {
	overflow: hidden;
	height: 755px;
	background-color: #000000;
}

.p100-battery .p100-title,
.p100-battery .p100-subtitle,
.p100-battery .p100-description {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}

.p100-battery .p100-title {
	top: 170px;
}

.p100-battery .p100-description {
	top: 320px;
}

.p100-battery .p100-media-figure {
	position: absolute;
	top: 45px;
	left: 50%;
	width: 215px;
	height: 610px;
	transform: translateX(-50%);
}

.p100-battery .p100-media-figure[data-aos=fade-right] {
	opacity: 0 !important;
	transform: translate(calc(-50% - 100px), 0);
}

.p100-battery .p100-media-figure[data-aos=fade-right].aos-animate {
	opacity: 1 !important;
	transform: translate(-50%, 0);
}
/* section battery end */


/* section features */
.p100-features {
	padding-top: 70px;
	padding-bottom: 70px;
}

.p100-features .p100-title {
	font-size: 35px;
	text-align: center;
}

.p100-feature-card {
	font-size: 14px;
	font-weight: 300;
	text-align: center;
	color: #434343;
}

.p100-feature-media {
	width: 110px;
	height: 110px;
	margin: 0 auto 15px;
}

.p100-feature-title {
	margin: 0 0 10px;
	font-size: 18px;
	font-weight: 900;
	line-height: 1.38;
	color: inherit;
}


.p100-features-grid {
	display: -ms-flex;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
	margin: 45px -10px -30px;
}

.p100-features-grid:before,
.p100-features-grid:after {
	display: none;
}

.p100-features-grid .p100-feature-item {
	flex: 0 0 20%;
	max-width: 20%;
	margin-bottom: 30px;
	padding-left: 10px;
	padding-right: 10px;
}
/* section features end */

.text-nowrap {
	white-space: nowrap;
}