$default: #acacac;
$default-heading: #505050;


$primary: #0e76bd;
$info: #00abe1;


$light-success: #a3ee0f;
$success: #5ed200;

$warning: #ffb200;
$dark-warning: #ff8400;

$gray: #acacac;
$light-gray: #efefef;

$base-font: 'Scada', sans-serif;
$base-heading: 'Scada', sans-serif;