.menu-toggle {
    cursor: pointer;
    overflow: hidden;
    width: 35px;
    height: 35px;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    color: #C9B462;
    font-size: 35px;
}

.menu-toggle .icon-close {
    display: none;
    font-size: 28px;
}

.menu-toggle.active .icon-burger {
    display: none;
}

.menu-toggle.active .icon-close {
    display: block;
}

.menu-toggle:focus {
    outline: none;
}

.menu {
    -webkit-display: flex;
    -ms-display: flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -25px;
    padding: 0;
    list-style: none;
}

.menu a {
    color: #626262;
    font-size: 12px;
    text-decoration: none;
}

.menu a:hover {
    color: #626262;
    text-decoration: underline;
}

.menu .menu-item {
    padding-left: 25px;
    padding-right: 25px;
}