.gallery-box {
	.gallery-grid {
		.gallery-item {
			width: 25%;
			@media (max-width: 1199px) {
				width: 33.333%;
			}
			@media (max-width: 990px) {
				width: 50%;
			}
			@media (max-width: 424px) {
				width: 100%;
			}
		}
	}
}