@media (max-width: 1024px) {
	.c3n-title {
		margin: 0 0 20px;
	}
}


@media (max-width: 991px) {
	.c3n-landing .container {
		padding-left: 40px;
		padding-right: 40px;
	}

	.c3n-title {
		font-size: 34px;
	}

	.c3n-restyle,
	.c3n-screen,
	.c3n-texture,
	.c3n-flashlight,
	.c3n-design {
		height: 620px;
	}

	/* section restyle */
	.c3n-restyle .c3n-title {
		top: 200px;
	}

	.c3n-restyle #c3n-restyle-parallax {
		top: 0;
		bottom: -50px;
	}
	/* section restyle end */


	/* seciton screen */
	.c3n-screen .c3n-title {
		top: 215px;
	}

	.c3n-screen .c3n-description {
		top: 330px;
	}

	.c3n-screen .c3n-media-figure {
		top: 0px;
		left: 60px;
		width: 220px;
		height: 563px;
	}

	.c3n-screen-bg {
		left: 0;
		right: calc(50% - 250px);
	}
	/* seciton screen end */

	
	/* section texture */
	.c3n-texture .c3n-title {
		top: 205px;
	}

	.c3n-texture .c3n-description {
		top: 380px;
	}

	.c3n-texture .c3n-media-figure {
		top: 60px;
		right: 15px;
		width: 410px;
		height: 520px;
	}
	/* section texture end */


	/* section flashlight */
	.c3n-flashlight .c3n-title {
		top: 220px;
		width: 315px;
	}

	.c3n-flashlight .c3n-description {
		top: 355px;
	}

	.c3n-flashlight .c3n-media-figure {
		width: 695px;
		height: 510px;
	}

	.c3n-flashlight .c3n-flashlight-bg {
		top: 180px;
	}

	.c3n-flashlight .c3n-flashlight-bg:nth-child(2) {
		top: 420px;
	}
	/* section flashlight end */


	/* section design */
	.c3n-design .c3n-description {
		top: 135px;
	}
	/* section design end */


	/* section  features */
	.c3n-features-grid .c3n-feature-item {
		flex: 0 0 33.3333%;
		max-width: 33.3333%;
	}
	/* section  features end */
}

@media (max-width: 767px) {
	.c3n-landing .container {
		padding-left: 30px;
		padding-right: 30px;
	}

	.c3n-landing .content-inner {
		margin-bottom: 40px;
		text-align: center;
	}


	.c3n-title {
		margin: 0 0 15px;
		font-size: 30px !important;
		line-height: 1.35;
	}

	.c3n-description {
		margin: 0 0 20px;
		font-size: 18px;
		line-height: 1.5;
	}


	.c3n-restyle,
	.c3n-screen,
	.c3n-texture,
	.c3n-flashlight,
	.c3n-design {
		height: 540px;
	}

	.c3n-restyle .content-wrapper,
	.c3n-screen .content-wrapper,
	.c3n-texture .content-wrapper,
	.c3n-flashlight .content-wrapper,
	.c3n-design .content-wrapper {
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.c3n-restyle .c3n-title,
	.c3n-screen .c3n-title,
	.c3n-screen .c3n-description,
	.c3n-texture .c3n-title,
	.c3n-texture .c3n-description,
	.c3n-flashlight .c3n-title,
	.c3n-flashlight .c3n-description,
	.c3n-design .c3n-title,
	.c3n-design .c3n-description {
		width: 315px;
		margin-left: auto;
		margin-right: auto;
	}


	/* section restyle */
	.c3n-restyle .c3n-typography-container {
		height: 170px;
	}

	.c3n-restyle .c3n-title {
		top: 30px;
		font-size: 26px !important;
	}

	.c3n-restyle #c3n-restyle-parallax {
		top: 190px;
	}
	/* section restyle end */


	/* section screen */
	.c3n-screen .c3n-typography-container {
		height: 240px;
	}

	.c3n-screen .c3n-media-container {
		height: 300px;
	}

	.c3n-screen .c3n-title {
		top: 85px;
	}

	.c3n-screen .c3n-description {
		top: 180px;
	}

	.c3n-screen .c3n-media-figure {
		left: 50%;
		height: 300px;
		transform: translateX(-50%);
	}

	.c3n-screen .c3n-media-figure[data-aos=fade-up] {
		transform: translate(-50%, 100px)
	}

	.c3n-screen .c3n-media-figure[data-aos^=fade][data-aos^=fade].aos-animate {
		transform: translate(-50%, 0);
	}

	.c3n-screen .c3n-screen-bg {
		left: 0;
		right: 0;
		-webkit-clip-path: polygon(0 0%, 100% 35%, 0 100%);
		clip-path: polygon(0 0%, 100% 35%, 0 100%);
	}
	/* section screen end */


	/* section texture */
	.c3n-texture .content-wrapper {
		-webkit-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}

	.c3n-texture .c3n-typography-container {
		height: 170px;
	}

	.c3n-texture .c3n-media-container {
		height: 370px;
	}

	.c3n-texture .c3n-title {
		top: 30px;
	}

	.c3n-texture .c3n-description {
		top: 120px;
	}

	.c3n-texture .c3n-media-figure {
		top: 0;
		left: 50%;
		right: auto;
		width: 300px;
		height: 370px;
		transform: translateX(-50%);
	}

	.c3n-texture .c3n-media-figure[data-aos=fade-up] {
		transform: translate(-50%, 100px)
	}

	.c3n-texture .c3n-media-figure[data-aos^=fade][data-aos^=fade].aos-animate {
		transform: translate(-50%, 0);
	}

	.c3n-texture .c3n-texture-bg {
		-webkit-clip-path: polygon(-75% 0%, 100% 0%, 100% 100%);
		clip-path: polygon(-75% 0%, 100% 0%, 100% 100%);
	}
	/* section texture end */


	/* section flashlight */
	.c3n-flashlight .c3n-typography-container {
		height: 230px;
	}

	.c3n-flashlight .c3n-media-container {
		height: 310px;
	}

	.c3n-flashlight .c3n-title {
		top: 30px;
	}

	.c3n-flashlight .c3n-description {
		top: 165px;
	}

	.c3n-flashlight .c3n-media-figure {
		top: 0;
		left: 20%;
	}

	.c3n-flashlight .c3n-flashlight-bg {
		top: 380px;
	}

	.c3n-flashlight .c3n-flashlight-bg:nth-child(2) {
		display: none;
	}
	/* section flashlight end */


	/* section design */
	.c3n-design .c3n-typography-container {
		height: 220px;
	}

	.c3n-design #c3n-design-parallax {
		top: 150px;
	}
	/* section design end */


	/* section features */
	.c3n-features-grid .c3n-feature-item {
		flex: 0 0 50%;
		max-width: 50%;
	}
	/* section  features end */
}

@media (max-width: 350px) {
	.c3n-title {
		font-size: 24px !important;
	}

	.c3n-restyle .c3n-title,
	.c3n-screen .c3n-title,
	.c3n-screen .c3n-description,
	.c3n-texture .c3n-title,
	.c3n-texture .c3n-description,
	.c3n-flashlight .c3n-title,
	.c3n-flashlight .c3n-description,
	.c3n-design .c3n-title,
	.c3n-design .c3n-description {
		width: 280px;
		margin-left: auto;
		margin-right: auto;
	}


	/* section screen */
	.c3n-screen .c3n-description {
		top: 160px;
	}
	/* section screen end */


	/* section texture */
	.c3n-texture .c3n-description {
		top: 105px;
	}
	/* section texture end */


	/* section flashlight */
	.c3n-flashlight .c3n-description {
		top: 135px;
	}
	/* section flashlight end */


	/* section design */
	.c3n-design .c3n-description {
		top: 110px;
	}
	/* section design end */


	/* section  features */
	.c3n-features-grid .c3n-feature-item {
		flex: 0 0 100%;
		max-width: 100%;
	}
	/* section  features end */
}

@media (min-width: 1200px) {
	.c3n-landing  .flex-lg-nowrap {
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
	}
}