.reset-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.transition {
	transition: 300ms ease;
}


.vertical-gradient {
	background-image: linear-gradient(to bottom, #0387cb 0%, #25adf5 100%);
}

.horizontal-gradient {
	background-image: linear-gradient(to right, #0488cc 0%, #23abf3 100%);
}
.horizontal-gradient-green {
	background-color: rgb(0,113,135);
	filter-gradient: (#007187, #00bfc7, horizontal);
	background-image: (linear-gradient(left, rgba(0,113,135,1) 0%,rgba(0,191,199,1) 100%));
}


.text-gradient {
	@extend .horizontal-gradient;
	-webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
