.footer-contact-box {
    margin-bottom: 20px;
}

.footer-contact {
    margin: 0 0 15px;
    font-size: 22px;
    font-weight: 700;
    line-height: 1;
    color: #F2453B;
}

.footer-contact:hover {
    color: #F2453B;
    text-decoration: none;
}