.card-step {
    position: relative;
    max-width: 280px;
    margin: auto;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

.card-step-label {
    position: relative;
    z-index: 9;
    top: 0;
    left: 0;
    height: 70px;
    margin: 0 0 -40px;
    text-align: right;
}

.card-step-thumbnail {
    position: relative;
    max-width: 200px;
    padding-bottom: 210px;
    margin: 0 auto 20px;
}

.card-step-thumbnail .card-step-media {
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto auto;
}