$heading-font: 'Roboto', sans-serif;
$base-font: 'Roboto', sans-serif;


$default: #000000;

$dark: #000;
$dark-gray: #4c4c4c;
$gray: #a3a3a3;
$light-gray: #ebebeb;
$light: #fff;

$warning: #ff9800;
$success: #5ba30d;
$dark-success: #035b4b;
$cyan: #21c89d;