/*@media (max-width: 1199px) {
	.t8-features-grid, 
	.t8-equipment-grid {
		flex-wrap: wrap;
	}

	.t8-features-grid .t8-feature-item {
		flex: 0 0 33.333%;
		max-width: 33.333%;
	}

	.t8-equipment-grid .t8-equipment-item {
		flex: 0 0 20%;
		max-width: 20%;
	}
}

@media (max-width: 991px) {
	.t8-landing .content-wrapper {
		min-height: 500px;
	}


	.t8-design .t8-design-bg {
		background-position: 0 0 !important;
	}


	.t8-flashlight .content-left {
		padding-bottom: 400px;
	}

	.t8-flashlight .t8-flashlight-bg {
		left: 0;
		bottom: 60px;
	    height: 550px;
	}


	.t8-features {
		padding-top: 120px;
	}

	.t8-features:before {
		height: 150px;
	}
}


@media (max-width: 767px) {
	.t8-landing .content-wrapper {
		min-height: auto;
	}

	.t8-landing .content-inner {
		padding-top: 35px;
		padding-bottom: 35px;
	}


	.t8-title {
		margin: 15px 0;
		font-size: 30px;
		line-height: 1.35;
	}


	.t8-design,
	.t8-speakers {
		padding-bottom: 320px;
	}

	.t8-design .t8-design-bg,
	.t8-speakers .t8-speakers-bg {
		top: auto;
		height: 320px;
		bottom: 0;
	}


	.t8-design .t8-design-bg {
		background-position: center top !important;
	}


	.t8-speakers .t8-speakers-bg {
		background-position: center right !important;
	}


	.t8-flashlight {
		padding-bottom: 240px;
	}

	.t8-flashlight .content-inner + .content-inner {
		margin-top: -35px;
	}

	.t8-flashlight .t8-flashlight-bg {
		height: 420px;
		left: 5px;
		bottom: 15px;
	}


	.t8-keyboard .media {
		overflow: hidden;
		position: relative;
		max-width: 320px;
		height: 320px;
		margin: auto;
		transform: translateY(60px);
	}

	.t8-keyboard .media .aos-animate {
		transform: translateY(0);
	}

	
	.t8-features-grid {
		margin-top: 15px;
	}

	.t8-features-grid .t8-feature-item,
	.t8-equipment-grid .t8-equipment-item {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.t8-equipment-card {
		font-size: 16px;
	}
}

@media (max-width: 375px) {
	.t8-landing {
		font-size: 16px;
		line-height: 1.5;
	}

	.t8-title {
		font-size: 24px;
	}

	.t8-features-grid .t8-feature-item {
		flex: 0 0 100%;
		max-width: 100%;
	}
}


@media (min-width: 1200px) {
	.container {
		width: 1200px;
		padding-left: 50px;
		padding-right: 50px;
	}
}*/