$heading-font: 'Roboto Condensed', sans-serif;
$base-font: 'Roboto Condensed', sans-serif;
$secondary-font: 'Roboto', sans-serif;

$default: #4a4c51;
$default-heading: #922f3b;


$success: #bbcc5f;
$warning: #d0843a;
$light-warning:  #f7c347;
$info: #e9f0f3;

$gray: #f3f3f3;
$light-gray: #9c9fa9;