.footer-box {
	@extend .danger-gradient;
	border-bottom: 27px solid rgba(#6d283d, .8);
	color: #fff;
	@include media-breakpoint-down(md) {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.footer-col-aside,
	.footer-col-content {
		padding-top: 20px;
		padding-bottom: 20px;
		@include media-breakpoint-down(md)  {
			padding-top: 0;
			padding-bottom: 0;
		}
	}

	.footer-col-aside  {
		position: relative;
		z-index: 1;
		&:after {
			content: '';
			opacity: 0.4;
			position: absolute;
			z-index: -1;
			top: 0;
			right: 0;
			bottom: 0;
			width: 40vw;
			background-color: #792f46;
			@include media-breakpoint-down(md) {
				display: none;
			}
		}
	}

	.footer-col-content {
		padding-left: 35px;
	}
}

.footer-logo {
	margin: 5px 0;
	text-align: center;
	&-link {
		display: block;
		color: #ffffff;
		font-family: "Montserrat";
		font-size: 24px;
		font-weight: 500;
		text-decoration: none;
		&:hover {
			color: inherit;
			text-decoration: none;
		}
	}

	&-img {
		display: block;
		margin: auto;
		width: 98px;
	}
}

.footer-menu-wrapper {
	display: flex;
	@include media-breakpoint-down(sm) {
		flex-direction: column;
	}

	.footer-menu-block {
		padding: 0 20px;
		border-right: 2px solid rgba(#792f46, .2);
		@include media-breakpoint-down(sm) {
			padding: 0;
			border: none;
		}
	}
}

.footer-menu-list {
	@extend .reset-list;
	padding-top: 5px;
	padding-bottom: 20px;
	border-bottom: 2px solid #952a60;
	line-height: 1.3;
	.footer-menu-item {
		display: inline-block;
		margin-right: 22px;
		@include media-breakpoint-down(md)  {
			padding-top: 5px;
			padding-bottom: 5px;
		}

		&:last-child {
			margin-right: 0;
		}

		.footer-menu-link {
			font-size: 18px;
			font-weight: 500;
			color: #fff;
		}
	}
}

.footer-submenu-list {
	@extend .reset-list;
	line-height: 1.3;
	.footer-submenu-item {
		.footer-submenu-link {
			font-size: 14px;
			font-weight: 400;
			color: #fff;
		}
	}
}


.footer-actions {
	@extend .reset-list;
	margin: 25px 0;
	@include media-breakpoint-down(md) {
		text-align: center;
	}

	.footer-action-item {
		.footer-action-link {
			border-bottom: 1px dotted $warning;
			color: $warning;
			font-size: 16px;
			font-weight: 500;
			&:hover {
				border-bottom-color: transparent;
				text-decoration: none;
			}
		}
	}
}


.footer-tagline {
	margin: -5px 0 10px;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.43;
	text-align: center;
	@include media-breakpoint-down(sm) {
		margin: 15px 0;
	}
}


.footer-info,
.footer-hint {
	font-size: 8px;
	font-weight: 400;
	line-height: 1.125;
	a {
		color: #fff;
	}

	p {
		margin: 0 0 10px;
	}
}


.footer-info {
	margin: 25px 0 15px;
}


.footer-hint  {
	max-width: 155px;
	margin: 10px 0;
	@include media-breakpoint-down(sm) {
		display: none;
	}
}


.payment-systems-list {
	@extend .reset-list;
	margin: 20px 0;
	@include media-breakpoint-down(sm) {
		margin: 15px 0;
		text-align: center;
	}
	
	.payment-system-item {
		padding: 5px 0;
	}
}


