.section-hero {
	position: relative;
	padding-bottom: 0;
	background-size: cover;
	background-position: center;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: url('../img/mask.png');
	}

	.section-header {
		.section-title {
			color: #fff;
			-webkit-text-fill-color: #fff;
		}
	}
}

.hero-list {
	@extend .reset-list;
	margin: 0 0 35px;
	color: #fff;
	.hero-list-item {
		display: flex;
		align-items: center;
		margin: 0 0 10px;
	}
	
	.hero-item-icon {
		display: block;
		flex: 0 0 50px;
		width: 49px;
		height: 57px;
	}
	.hero-item-description {
		@extend .h4;
		flex: 1;
		line-height: 1;
		padding: 0 20px;
	}
}

.callback-box {
	@extend .vertical-gradient;
	padding: 10px 0;
	.callback-inner {
		position: relative;
		z-index: 1;
		display: flex;
		align-items: center;
		@media (max-width: 991px) {
			display: block;
			padding: 0 10px;
		}
	}
	.callback-title {
		flex: 0 0 300px;
		margin: 0;
		padding: 0 10px;
		font-size: 25px;
		font-weight: 700;
		line-height: 25px;
		text-transform: uppercase;
		letter-spacing: 0.23px;
		color: #fff;
	}
	.form-callback {
		flex: 1;
	}
}


.section-services {
	padding-top: 60px;
	padding-bottom: 0;
}
.services-list {
	@extend .reset-list;
	cursor: default;
	display: flex;
	flex-wrap: wrap;
	margin: 60px 0 -20px;
	@media (max-width: 767px) {
		margin: 20px 0 -20px;
	}

	.service-item {
		position: relative;
		max-width: 550px;
		
	}
}
.service-card {
	position: relative;
	max-width: 550px;
	margin: 0 0 20px;

	.service-inner {
		overflow: hidden;
		height: 420px;
		margin: 0 0 0 -30px;
		box-shadow: 15px 0px 12px -4px rgba(0, 0, 0, 0.1);
		transform: skewX(-18deg);
	}

	.service-link {
		position: absolute;
		z-index: 9;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.service-title {
		@extend .sprite;
		@extend .sprite-bubble;
		overflow: hidden;
		margin: 0 0 0 30px;
		padding-left: 10px;
		padding-right: 10px;
		font-size: 20px;
		font-weight: 400;
		color: #fff;
		text-align: center;
		line-height: 60px;
		white-space: nowrap;
		transform: skewX(18deg);
	}

	.service-thumb {
		position: absolute;
		top: 0;
		left: -90px;
		right: -20px;
		bottom: 0;
		img {
			position: absolute;
			
			left: 0;
			right: 0;
			bottom: 0;
			max-width: 100%;
			max-height: 100%;
			margin: auto;
		}
	}

	.service-action {
		position: absolute;
		right: -10px;
		bottom: 0;
		min-width: 200px;
		transform: skewX(18deg);
	}

	

	&:hover {
		.service-title {
			@extend .sprite-bubble-active;
		}
		.service-action {
			@extend .btn.hover;
		}
	}
}


.steps-list {
	@extend .reset-list;
	display: flex;
	flex-wrap: wrap;
	margin: 40px 0 15px;
	counter-reset: step_count;
	.step-item {
		&:before {
			position: absolute;
			z-index: 9;
			width: 100%;
			height: 300px;
			font-size: 120px;
			font-weight: 800;
			color: #fff;
			line-height: 300px;
			text-align: center;
			counter-increment: step_count; 
	    	content: counter(step_count); 
	    	@media (max-width: 1024px)  {
	    		height: 200px;
	    		line-height: 200px;
	    		font-size: 100px;
	    	}
		}
	}
}

.step-card {
	position: relative;
	max-width: 410px;
	margin: 0 auto 20px;
	text-align: center;
	.step-header {
	}
	.step-body {

	}

	.step-thumb {
		position: relative;
		width: 300px;
		height: 300px;
		margin: 0 auto 15px;
		border-radius: 50%;
		background-size: cover;
		background-position: center;
		background-color: $gray;
		box-shadow: 0 6px 10px rgba(94, 110, 113, 0.3);
		@media (max-width: 1024px)  {
			width: 200px;
			height: 200px;
		}

		&:before {
			content: '';
			position: absolute;
			top: 15px;
			left: 15px;
			right: 15px;
			bottom: 15px;
			border-radius: 50%;
			background: url('../img/mask.png');
			@media (max-width: 1024px)  {
				top: 10px;
				left: 10px;
				right: 10px;
				bottom: 10px;
			}
		}
	}

	.step-title {
		@extend .h3;
		min-height: 90px;
		font-weight: 700;
		text-transform: none;
		-webkit-text-fill-color: $default-heading;
		span {
			display: block;
			margin: 10px 0 0;
			font-size: 18px;
			@media (max-width: 1024px) {
				font-size: 16px;
			}
		}
	}

	.step-time {
		font-size: 24px;
		img {
			display: inline-block;
			margin: 0 10px;
			vertical-align: middle;
		}
	}
}


.section-calc {
	position: relative;
	min-height: 400px;
	padding-top: 65px;
	padding-bottom: 65px;
	background-size: cover;
	background-position: center;
	background-color: $info;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 15px;
		background: url('../img/mask.png');
	}

	.section-header {
		.section-title {
			color: #fff;
			-webkit-text-fill-color: #fff;
		}
	}
}


.calc-box {
	position: relative;
	&:before,
	&:after {
		content: '';
		display: table;
		clear: both;
	}

	.range-box {
		display: flex;
		align-items: center;
		margin: 30px 0;
		font-size: 25px;
		font-weight: 400;
		color: #fff;
		@media (max-width: 991px) {
			flex-wrap: wrap;
		}

		.range-title {
			width: 200px;
			margin: 0;
		}
		.range-slider {
			flex: 1;
			@media (max-width: 991px) {
				width: 100%;
				order: 1;
				flex: 0 0 auto;
				margin-top: 15px;
			}
		}
		.range-field {
			cursor: default;
			width: 195px;
			padding: 0 0 0 20px;
			white-space: nowrap;
			output {
				display: inline-block;
			}
			span {
				@media (max-width: 1024px) {
					font-size: 18px;
				}
			}
		}
	}

	.result-box {
		max-width: 280px;
		margin: -60px 0 0;
		text-align: center;
		@media (max-width: 991px) {
			margin: 0 auto;
		}

		.result-title {
			@extend .h4;
			margin: 0 0 20px;
			font-weight: 700;
			color: #fff;
			text-transform: uppercase;
			line-height: 1;
		}
		.result {
			@extend .text-gradient;
			height: 140px;
			border: 10px solid $primary;
			-moz-border-image: -moz-linear-gradient(to right, #007387 0%, #00c1c8 100%);
			-webkit-border-image: -webkit-linear-gradient(to right, #007387 0%, #00c1c8 100%);
			border-image: linear-gradient(to right, #007387 0%, #00c1c8 100%);
			border-image-slice: 1;
			font-size: 50px;
			font-weight: 900;
			line-height: 120px;
			@media (max-width: 1024px) {
				font-size: 36px;
			}
		}
	}
}

.credit-request-box {
	margin: 55px 0 0;
	.credit-request-title {
		margin: 0 0 30px;
		font-weight: 700;
		color: #fff;
		text-transform: uppercase;
		letter-spacing: 0.23px;
	}
}
.form-credit-request {
	button {
		margin-top: 55px;
	}
}


.section-faq {
	padding-top: 60px;
	padding-bottom: 10px;
}
.panel-group {
	.panel {
		margin: 20px 0;
		.panel-heading {
			.panel-title {
				position: relative;
				margin: 0;
				font-size: 24px;
				font-weight: 400;
				letter-spacing: 0;
				color: $default-heading;
				text-transform: none;
				a {
					display: inline-block;
					padding: 0 0 0 40px;
					color: inherit;
				}
				i {
					position: absolute;
					top: 0;
					left: 0;
				}

				&:hover {
					a {
						color: $link-color;
					}
				}
			}
		}

		.panel-body {
			padding: 10px 0 10px 40px;
		}
	}
}

.section-faq-request {
	.section-header {
		.section-title {
			@extend .h4;
			letter-spacing: 0.23px;
		}
	}

	.form-faq-request {
		margin: 0 0 20px;
		button {
			margin-top: 35px;
		}
	}
}


.section-top-article {
	padding-top: 70px;
	padding-bottom: 70px;
	.section-header {
		.section-title {

		}
	}
}


// range slider
.rangeslider {
	height: 7px;
	border: none;
	border-radius: 0;
	background-color: #ffffff;
	box-shadow: none;
	.rangeslider__fill {
		border-radius: 0;
		box-shadow: none;
		background-color: $info;
	}
	.rangeslider__handle {
		width: 24px;
		height: 24px;
		border: none;
		border-radius: 0;
		background-image: linear-gradient(to right, #007286 0%, #00b0ba 100%);
		&:after {
			display: none;
		}
	}
}


#range-sum-input,
#range-time-input {
	display: none;
	opacity: 0;
	visibility: hidden;

}

#range-sum-output,
#range-time-output {
	padding: 0;
	height: initial !important;
	width: initial !important;
	border: none;
	background-color: transparent !important;
	font-size: 36px;
	font-weight: 700;
	color: #fff;
	@media (max-width: 1024px) {
		font-size: 30px;
	}
}