.footer {
	padding-top: 55px;
	padding-bottom: 55px;
	background: rgba(0,0,0, .8);
	.footer-inner {
		display: flex;
		justify-content: space-between;
	}
}

.footer-logo {
	@extend .header-logo;
}

.footer-nav {
	@extend .header-nav;
	.footer-nav-list {
		@extend .header-nav-list;
		@extend .reset-list;
		li {
			display: inline-block;
			a {
				color: #fff;
				text-decoration: none;
			}
		}
	}
}

.copyright {
	margin: 45px 0 0;
	font-size: 14px;
}