$base-font: "Roboto", sans-serif;
$base-heading: 'Roboto', sans-serif;
$base-secondary: 'Indie Flower', sans-serif;


$default: rgba(#1A1F16, .8);
$default-heading: #1A1F16;


$dark-gray: #848484;
$medium-gray: #c7c7c7;
$light-gray: #e8e8e8;


$global-radius: 10px;
$global-shadow: 0 2px 4px rgba(0,0,0,0.18);
$global-shadow-hover: 12px 14px 30px rgba(0, 0, 0, 0.10);