@media (min-width: 576px) {
	.section-hero {
		padding-top: 120px;
		padding-bottom: 55px;
	}

	.hero-title {
		margin: 0 0 22px;
		font-size: 50px;
	}
} 

@media (min-width: 768px) {
	.hero-description {
		margin: 0 0 35px;
	}

	.section-hero .lang {
		margin-top: 65px;
	}

	.section-hero .icon-mouse {
		bottom: 55px;
	}
}

@media (min-width: 992px) {
	.section-hero {
		padding-top: 190px;
		padding-bottom: 55px;
	}
}