@media (min-width: 768px) {
	.section-services {
		padding-top: 80px;
		padding-bottom: 80px;
	}
} 

@media (min-width: 992px) {
	.section-services {
		padding-top: 130px;
		padding-bottom: 130px;
	}
}