@media (min-width: 768px) {
	.section-news {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	.section-news .news-grid {
		margin-top: 65px;
		margin-bottom: -20px;
	}
}

@media (min-width: 992px) {
	.section-news {
		padding-top: 130px;
		padding-bottom: 130px;
	}
}