@media (min-width: 768px) {
	.section-about {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	.section-about .about-description {
		margin: 35px 0 45px;
		font-size: 32px;
	}
}

@media (min-width: 992px) {
	.section-about {
		padding-top: 140px;
		padding-bottom: 140px;
	}

	.section-about .about-description {
		margin: 45px 0 55px;
		font-size: 36px;
	}
}