.photogallery-grid {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	.photogallery-item {
		margin: 0 0 30px;
	}
}

.photogallery-card {
	position: relative;

	.photogallery-link {
		position: absolute;
		z-index: 9;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.photogallery-label {
		position: absolute;
		z-index: 8;
		left: 0;
	}

	.photogallery-header {
		min-height: 51px;
		padding: 12px 15px;
		border: 1px solid $light-gray;
		.photogallery-title {
			margin: 0;
		}
	}

	.photogallery-thumb {
		position: relative;
		margin: 0 0 8px;
		padding-bottom: 65%;
		background-position: center;
		background-color: $medium-gray;
		background-size: cover;
	}

	.photogallery-body {
		.photogallery-info-list {
			li {
				max-width: 200px;
			}
		}
	}
}
.photogallery-info {
	display: flex;
	justify-content: space-between;
	padding: 10px 15px;
	line-height: 1.2;
	background: $light-gray;
	@media (max-width: 475px) {
		display: block;
	}
	
	.photogallery-info-list {
		@extend .reset-list;
		a {
			font-weight: 500;
		}
	}
}