$base-font: "Roboto", sans-serif;
$base-heading:  'Roboto', sans-serif;
$base-secondary: 'Roboto Condensed', sans-serif;


$default: #272930;
$default-heading: #272930;

$success: #1b9c9b;
$dark-success: #0d5b5f;
$link-color: #1b9c9b;


$black: #272930;
$dark-gray: #acaaaa;
$medium-gray: #c8c8c8;
$light-gray: #ebebea;