// font
$base-font: 'Open Sans', sans-serif;
$heading-font: 'Montserrat', cursive;


// colors
$heading-color: #081e4b;
$text-color: #000000;

$primary: #081e4b;
$info: #547ec6;
$danger: #e42b1a;
$success: #12a812;

$gray: #bababa;
$light-gray: #f7f7f7;