* {
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #272626;
	letter-spacing: 0.45px;
	line-height: 1.66;
}

body {
	
}


h1 {

}


a {
	transition: color 300ms ease;
}

img {
	max-width: 100%;
}