.offcanas-toggle{
	cursor: pointer;
	width: 32px;
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	background-color: transparent;
}

.offcanas-toggle span {
	display: block;
	height: 2px;
	margin: 8px 0;
	background-color: #191919;
}