.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	background-image: linear-gradient(90deg, transparent 49.90%, rgba(231,231,231,.23) 49.90%, rgba(231,231,231,.23) 50%, transparent 50%, transparent 99.90%, rgba(231,231,231,.23) 99.90%, rgba(231,231,231,.23) 100%);
	background-size: 770px 770px;
	background-position: center;
}

.content {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}


.container {
	max-width: 100%;
	padding-left: 20px;
	padding-right: 20px;
}


.main .container {
	padding-left: 20px;
	padding-right: 20px;
}


.section-striped {
	position: relative;
}

.section-striped:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: linear-gradient(90deg, transparent 49.90%, rgba(231,231,231,.23) 49.90%, rgba(231,231,231,.23) 50%, transparent 50%, transparent 99.90%, rgba(231,231,231,.23) 99.90%, rgba(231,231,231,.23) 100%);
	background-size: 770px 770px;
	background-position: center;
}


.section-header {
	margin-bottom: 20px;
}

.section-title {
	margin: 0;
	font-family: 'Oswald';
	font-size: 36px;
	font-weight: 900;
	text-transform: uppercase;
	line-height: 1;
}

.reset-list {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	list-style: none;
}

.reset-list:not(.row) {
	margin-left: 0;
	margin-right: 0;
}