@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,500,500i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');


@font-face {
  font-family: 'icon-font';
  src: url('../fonts/icon-font/icon-font.eot');
  src: url('../fonts/icon-font/icon-font.woff') format('woff'), 
       url('../fonts/icon-font/icon-font.ttf') format('truetype'), 
       url('../fonts/icon-font/icon-font.svg#icon-font') format('svg');
  font-weight: normal;
  font-style: normal;
} 



[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
   font-family: 'icon-font' !important;
   speak: none;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;
 
   /* Better Font Rendering =========== */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }


.icon-check:before {
  content: "\e900";
  color: #68aa52;
}
.icon-angle-double-right:before {
  content: "\e901";
  color: #68aa52;
}
.icon-phone:before {
  content: "\e902";
  color: #79b466;
}
.icon-libra:before {
  content: "\e903";
  color: #68aa52;
}
.icon-time:before {
  content: "\e904";
  color: #68aa52;
}
.icon-cheese:before {
  content: "\e905";
  color: #68aa52;
}
.icon-bear:before {
  content: "\e906";
  color: #68aa52;
}
.icon-soup:before {
  content: "\e907";
  color: #68aa52;
}
.icon-grill:before {
  content: "\e908";
  color: #68aa52;
}
.icon-salad:before {
  content: "\e909";
  color: #68aa52;
}
.icon-burger:before {
  content: "\e90a";
  color: #68aa52;
}
.icon-pancakes:before {
  content: "\e90b";
  color: #68aa52;
}
.icon-pasta:before {
  content: "\e90c";
  color: #68aa52;
}
.icon-pizza:before {
  content: "\e90d";
  color: #68aa52;
}
.icon-fish:before {
  content: "\e90e";
  color: #68aa52;
}
.icon-chicken:before {
  content: "\e90f";
  color: #68aa52;
}
.icon-meat:before {
  content: "\e910";
  color: #68aa52;
}
.icon-draniki:before {
  content: "\e911";
  color: #68aa52;
}
.icon-garnish:before {
  content: "\e912";
  color: #68aa52;
}
.icon-sauces:before {
  content: "\e913";
  color: #68aa52;
}
.icon-bread:before {
  content: "\e914";
  color: #68aa52;
}
.icon-dessert:before {
  content: "\e915";
  color: #68aa52;
}
.icon-fruit:before {
  content: "\e916";
  color: #68aa52;
}
.icon-icecream:before {
  content: "\e917";
  color: #68aa52;
}
.icon-cocktails:before {
  content: "\e918";
  color: #68aa52;
}
.icon-location:before {
  content: "\e919";
  color: #79b466;
}
.icon-close .path1:before {
  content: "\e91a";
  color: rgb(227, 11, 92);
}
.icon-close .path2:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-calendar:before {
  content: "\e91c";
  color: #7b7777;
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-vk:before {
  content: "\f189";
}
.icon-odnoklassniki:before {
  content: "\f263";
}