$base-font: "Fira Sans", sans-serif;
$base-heading: 'Fira Sans', sans-serif;


$default: #000;
$default-heading: #000;



$success: #68aa52;
$light-success: #9ac65a;
$dark-success: #5d8f38;
$danger: #e30b5c;
$dark-danger: #bf2f64;

$medium-gray:  #ebebeb;

$link-color: $success;