.article .article-title {
	margin: 0 0 25px;
}


.article h1,
.article .h1,
.article h2,
.article .h2,
.article h3,
.article .h3,
.article h4,
.article .h4,
.article h5,
.article .h5,
.article h6,
.article .h6 {
	margin: 1.5em 0 .5em;
}


.article-navigation {
	margin-top: 20px;
	margin-bottom: 0;
}

.article-page-link {
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #151D28;
	text-decoration: none;
}

.article-page-link:hover {
	color: #151D28;
	text-decoration: none;
}

.article-page-link svg {
	margin: 0 0 0 15px;
}


@media (min-width: 576px) {
	.article .article-title {
		margin: 0 0 35px;
	}
}

@media (min-width: 768px) {
	.article-page-link {
		font-size: 14px;
	}
}

@media (min-width: 1200px) {
	.article .article-title {
		margin: 0 0 30px;
	}

	
	.article-navigation {
		margin-top: 55px;
	}
}