.decor__1 {
	display: none;
}

.wrapper {
	padding: 10px 0;
}


.catalog_list .catalog_item__tall {
    width: calc(33.3333% - 20px);
    padding: 17px 0 12px;
    border: 1px solid transparent;
}


.catalog_list .catalog_item__tall .catalog_figure {
	position: relative;
}

.catalog_list .catalog_item__tall .catalog_figure,
.catalog_list .catalog_item__tall .catalog_figure a {
    height: auto;
}

.catalog_list .catalog_item__tall .catalog_figure a:before {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.catalog_list .catalog_item__tall .catalog_figure img {
	left: 0;
	width: 100%;
	min-width: 100%;
	margin: 0;
}


.catalog_list .catalog_item__tall .catalog_figure_preview {
	top: 50%;
	transform: translateY(-50%);
}

.catalog_list .catalog_item__tall .catalog_eximg {
	left: -84px;
	right: 0;
	bottom: 0;
	width: auto;
	height: auto;
	border: 1px solid #f2f2f2;
	background: #f6f6f6;
}

.catalog_list .catalog_item__tall .catalog_eximg .catalog_eximg_container {
	width: 84px;
}

.catalog_list .catalog_item__tall .catalog_eximg.catalog_eximg__scrollable .catalog_eximg_container .catalog_eximg_scrollarea {
	height: 430px;
}


@media (max-width: 991px) {
	.layout,
	.layout_inner {
		width: 100%;
		min-width: 100%;
	}
	

	.catalog_options {
		text-align: center;
	}

	.catalog_option {
		margin: 0 5px 15px;
	}

	.catalog_list .catalog_item__tall {
		width: calc(50% - 20px);
	}
}

@media (max-width: 767px) {
	.catalog_list .catalog_item__tall {
		display: block;
		width: calc(100% - 30px);
		margin-left: auto;
		margin-right: auto;
	}
}