@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,700');

@font-face {
	font-family: 'AMG';
	src: url('../fonts/AMGAnahitSemiSerif/AMGAnahitSemiSerif.eot');
	src: url('../fonts/AMGAnahitSemiSerif/AMGAnahitSemiSerif.eot?iefix') format('eot'),
		 url('../fonts/AMGAnahitSemiSerif/AMGAnahitSemiSerif.woff') format('woff'),
		 url('../fonts/AMGAnahitSemiSerif/AMGAnahitSemiSerif.ttf') format('truetype'),
		 url('../fonts/AMGAnahitSemiSerif/AMGAnahitSemiSerif.svg#AMGAnahitSemiSerif') format('svg');
	font-weight: normal;
	font-style: normal;
}

