$heading-font: 'AMG', sans-serif;
$base-font: 'Fira Sans', sans-serif;

$default: #333;
$default-heading: #72234D;

$gray: #C2C2C2;
$light-gray: #eef0f2;

$info: #39adfc;
$primary: #2293e6;
$dark-primary: #22262C;