$base: 'Roboto';
$base-heading: 'Roboto';

$default-heading: #3f464c;
$default: #8897b1;

$info: #53aee2;
$danger: #f8593a;
$success: #7dc755;
$successL: #e1ffe9;

$dark: #5e6977;

$grey: #f3f3f3;