.header-nav {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	margin-left: -19px;
	margin-right: -19px;
}

.header-nav .nav-link {
	display: block;
	padding: 25px 10px;
	transition: background-color 300ms ease;
	color: #000000;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	letter-spacing: 0.4px;
	text-decoration: none;
}

.header-nav .nav-link:hover {
	background-color: #f3ba20;
	text-decoration: none;
}

.header-nav .nav-item.is-active .nav-link {
	background-color: #f3ba20;
}

@media (min-width: 1200px) {
	.header-nav .nav-link {
		padding: 25px 19px;
	}
}