.header-contact {
	margin: 2px 0;
	line-height: 1;
	text-align: right;
}

.header-contact .contact-phone {
	font-size: 13px;
	font-weight: 900;
	color: inherit;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.6px;
}

.header-contact .contact-phone:hover {
	color: #f26680;
	text-decoration: none;
}


.header-contact .contact-action {
	cursor: pointer;
	position: relative;
	margin: 12px 0 0;
	padding: 0;
	border: none;
	border-radius: 0;
	background-color: transparent;
	font-size: 10px;
	font-weight: 900;
	color: #f26680;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.6px;
}

.header-contact .contact-action::before,
.header-contact .contact-action::after {
	content: '';
    opacity: 1;
    display: block;
    position: absolute;
}

.header-contact .contact-action::before {
	color: currentColor;
    left: 1px;
    bottom: -8px;
    height: 2px;
    width: 0;
    -webkit-transition: width 0s ease, border-bottom 0.5s ease;
    transition: width 0s ease, border-bottom 0.5s ease;
}

.header-contact .contact-action::after {
	right: 0;
    bottom: -8px;
    height: 2px;
    width: 0;
    border-bottom: 2px solid currentColor;
    -webkit-transition: width 0.5s ease;
    transition: width 0.5s ease;
}


.header-contact .contact-action:hover {
	color: #f26680;
	text-decoration: none;
}

.header-contact .contact-action:hover::before {
	width: calc(100% - 1px);
    border-bottom: 2px solid currentColor;
    -webkit-transition: width 0.5s ease;
    transition: width 0.5s ease;
}

.header-contact .contact-action:hover::after {
	width: 100%;
    border-bottom: 2px solid transparent;
    -webkit-transition: all 0s ease;
    transition: all 0s ease;
}


@media (min-width: 576px) {
	.header-contact {
		margin-top: 0;
		margin-bottom: 0;
	}
	
	.header-contact .contact-phone {
		font-size: 24px;
	}

	.header-contact .contact-action {
		font-size: 12px;
	}
}