.page-news {
	.header-box {
		.header-toggler-category {
			@include media-breakpoint-down(sm) {
				display: none;
			}
		}
	}
}

.section-hero.section-hero-news  {
	.hero-news-figure {
		@include media-breakpoint-down(sm) {
			margin-left: -$mobile-padding;
			margin-right: -$mobile-padding;
		}
	}
}
.section-hero.section-hero-news.section-hero-sm {
	.container,
	.hero-news-figure  {
		@include media-breakpoint-down(sm) {
			min-height: 252px;
		}
	}
}


.display-article {
	.display-article-content {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
	
	.display-article-title {
		@include media-breakpoint-down(sm) {
			margin: 0.1rem 0 1.8rem;
		}
	}
	.display-article-description {
		@include media-breakpoint-down(sm) {
			margin: 1rem 0;
			font-size: 1.5625rem;
			line-height: 1.4;
		}
	}

	.display-article-picture  {
		@include media-breakpoint-down(sm) {
			position: relative;
			display: flex;
			flex-direction: column;
			flex: 0 0 100%;
			justify-content: flex-end;
			height: 250px;
			padding-top: 2rem;
			padding-left: $mobile-padding / 1.8;
			padding-right: $mobile-padding / 1.8;
		}
		.display-article-figure  {
			@include media-breakpoint-down(sm) {
				height: 250px;
			}
		}
	}
}


.section-news {
	@include media-breakpoint-down(sm) {
		padding-top: 0;
	}

	.loader {
		@include media-breakpoint-down(sm) {
			margin-bottom: -10px;
		}
	}
}
.section-related-news {
	@include media-breakpoint-down(sm) {
		padding-top: 65px;
	}
	.section-header.header-sm {
		@include media-breakpoint-down(sm) {
			margin-bottom: 1rem;
		}
	}
}

.post.post-news {
	@include media-breakpoint-down(sm) {
		padding-top: 3.5rem;
		border-bottom: 1px solid $gray-300;
	}

	.post-title {
		@include media-breakpoint-down(sm) {
			margin: 0.75rem 0 2.15rem;
			font-size: 1.5625rem;
			line-height: 2.5rem;
		}
	}
}