html,
body {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.container {
	@media (min-width: 1200px) {
		width: 1165px;
	}
}

.section-header {
	position: relative;
	margin-bottom: 30px;
	padding-top: 17px;
    padding-bottom: 18px;
	background: $danger;
	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		width: 50%;
		background: $danger;
	}
	&:before {
		left: -50%;
	}
	&:after {
		right: -50%;
	}

	.section-title {
		margin: 0;
		color: #fff;
		text-transform: uppercase;
	}
}

.label {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	width: 112px;
	height: 112px;
	border-radius: 50%;
	background-color: #ff4c00;
	font-size: 16px;
	font-weight: 700;
	line-height: 1;
	@media (max-width: 991px) {
		width: 80px;
		height: 80px;
		font-size: 10px;
	}
	span {
		display: block;
		font-size: 48px;
		@media (max-width: 991px) {
			font-size: 30px;
		}
	}
}
.label-danger {
	background: $danger;
	color: #fff;
}


.table-responsive {
	@media (max-width: 991px) {
		width: 100%;
	    margin-bottom: 15px;
	    overflow-y: hidden;
	    -ms-overflow-style: -ms-autohiding-scrollbar;
	    border: 1px solid #ddd;
	}

	th,
	td {
		@media (max-width: 991px) {
			white-space: nowrap;
		}
	}
}

.read-more-wrap {
	@media (max-width: 767px) {
		text-align: center !important;
	}
}

.pagination {
	@extend .reset-list;
	margin: 35px 0;
	font-size: 0;
	text-align: center;
	li {
		display: inline-block;
		border: 1px solid $danger;
		border-left-width: 0;
		line-height: 1;
		a {
			display: inline-block;
			width: 46px;
			height: 46px;
			font-size: 20px;
			font-weight: 400;
			color: $default;
			text-decoration: none;
			text-align: center;
			line-height: 46px;
			@media (max-width: 767px) {
				width: 32px;
				height: 32px;
				font-size: 16px;
				line-height: 32px;
			}
		}
		&:first-child {
			border-left-width: 1px;
		}

		&.previous,
		&.next {

		}
		
		&.active {
			a {
				color: $danger;
				font-weight: 700;
			}
		}
	}
}