$default: #515050;
$default-heading: #515050;
$secondary-heading: #000;

$gray: #c9c8c8;
$dark-gray: #48443e;

$success: #539700;
$light-success: #f1fde2;

$warning:  #ff7940;
$light-warning: #fa864a;
$danger: #ff4c00;


$primary: #4380d3;
$dark-primary: #05316d;
$light-primary: #6996d3;

$base-font: 'SegoeUI', sans-serif;
$base-heading: 'SegoeUI', sans-serif;
