.card-stage {
    padding: 60px;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 15px 50px rgba(142, 142, 142, 0.5);
    font-size: 18px;
}

.card-stage .card-stage-title {
    margin: 0;
    color: #222222;
    font-size: 36px;
}