.card-paradigm {
    position: relative;
}

.card-paradigm .card-paradigm-thumbnail {
    width: 100px;
    height: 100px;
    margin: 0 auto 10px;
    border-radius: 50%;
    border: 1px dashed rgba(255, 255, 255, 0.5);
}

.card-paradigm .card-paradigm-title {
    margin: 0 0 10px;
    color: #C9B462;
    font-size: 24px;
}