// font
$base-font: 'Montserrat', sans-serif;
$heading-font: 'Pacifico', cursive;


// colors
$heading-color: #05274f;
$text-color: #263441;

$main-color: #05274f;
$secondary-color: #44b0d2;


$gray: #9fa6b0;
$light-gray: #f2f6f7;