.section-about {
	overflow: hidden;
	.media {
		position: relative;
		max-width: 370px;
		margin: 15px auto 0;
		@media (min-width: 768px) {
			height: 100%;
			max-width: none;
			margin: 0;
		}

		img {
			@media (min-width: 768px) {
				position: absolute;
				max-width: none;
				max-height: 100%;
			}
		}
	}
}