.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.upper-part {
	flex: 1 0 auto;
}
.down-part {
	flex: 0 0 auto;
}

.offcanvas-open {
	overflow: hidden;
}

.container {
	@media (min-width: 1280px) {
		width: 1200px;
	}
}

.container-fluid {
	max-width: 1900px;
	padding: 0 150px;
	margin: auto;
	@media (max-width: 1900px) {
		padding: 0 50px;
	}
	@media (max-width: 767px) {
		padding: 0 15px;
	}
}


.display-header {
	padding-top: 15px;
	padding-bottom: 15px;
	.display-title {
		font-weight: 900;
		letter-spacing: 2.5px;
	}
}

.section-header {
	text-align: center;
	.section-title {
		@extend .h1;
		font-weight: 700;
		letter-spacing: -4.62px;
		text-transform: none;
	}
}

.section-description {
	margin: -50px 0 30px;
	@media (max-width: 1024px) {
		margin: -15px 0 30px;
	}
}

.section-header-columns {
	display: flex;
	align-items: center;
	@media (max-width: 1199px) {
		flex-wrap: wrap;
	}

	.section-header-side-left,
	.section-header-side-right {
		flex: 1;
	}
	.section-header-side-left {
		text-align: right;
	}
	.section-header-side-right {
		text-align: left;
	}
	.section-header-side-center {}

	// .section-header-side-left {
	// 	@media (max-width: 1199px) {
	// 		flex: 1;
	// 		order: 1;
	// 	}
	// }
	// .section-header-side-center {
	// 	flex: 0 0 auto;
	// 	padding: 0 20px;
	// 	@media (max-width: 1199px) {
	// 		flex: 1 1 auto;
	// 		order: 3;
	// 		width: 100%;
	// 		padding: 10px 0;
	// 	}
	// }
	// .section-header-side-right {
	// 	flex: 1;
	// 	text-align: right;
	// 	@media (max-width: 1199px) {
	// 		order: 2;
	// 		flex: 0 0 auto;
	// 	}
	// }

	.section-title {
		@extend .h1;
		letter-spacing: 2.5px;
		text-transform: none;
	}

	a {
		font-size: 18px;
		font-weight: 500;
	}
}

.separate {
	height: 92px;
	background: url('../img/line.png') repeat-x 0 0;
}

.social-list {
	@extend .reset-list;
	margin: 0 -6px;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: -0.98px;
	color: #808080;
	text-transform: uppercase;
	li {
		display: inline-block;
		padding: 0 6px;
		a {
			color: inherit;
		}
	}
}


.rating-list {
	@extend .reset-list;
	margin: 10px 0 0;
	.rating-item {
		display: inline-block;
		padding: 0 5px;
		font-size: 36px;
		color: #fff;
		&.rating-item-active {
			color: $secondary-color;
		}
	}
}

.video-wrapper {
	margin: 20px 0;
}




// slider
.slick-slider {
	outline: none;
	* {
		outline: none;
	}
}

.slick-arrow {
	z-index: 1;
	width: 43px;
	height: 43px;
	background-size: contain !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	&:before {
		display: none;
	}

	&.slick-prev {
		background-image: url('../img/icons/arrow-left.png');
	}
	&.slick-next {
		background-image: url('../img/icons/arrow-right.png');
	}
}

.slick-dots {
	position: relative;
	li {
		width: 17px;
		height: 17px;
		border-radius: 50%;
		background: rgba(#fff, .3);
		button {
			width: inherit;
			height: inherit;
			&:before {
				display: none;
			}
		}

		&.slick-active {
			background: rgba(#fff, .65);
		}
	}
}




