.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.upper-part {
	flex: 1 0 auto;
}
.down-part {
	flex: 0 0 auto;
}

.offcanvas-open {
	overflow: hidden;
}

.container {
	@media (min-width: 1280px) {
		width: 1200px;
	}
}

.container-fluid {
	margin: auto;
	padding: 0 10px;
	@media (min-width: 768px) {
		width: 740px;
		
	} 
	@media (min-width: 991px) {
		width: 960px;
	} 
	@media (min-width: 1199px) {
		width: 1024px;
	} 
	@media (min-width: 1280px) {
		width: 1200px;
	} 
	@media (min-width: 1366px) {
		width: 1286px;
	} 
	@media (min-width: 1440px) {
		width: 1360px;
	} 
	@media (min-width: 1680px) {
		width: 1600px;
	}
	@media (min-width: 1920px) {
		width: 1620px;
	}
	@media (max-width: 767px) {
		padding: 0 10px;
	}
}


.display-header {
	padding-top: 15px;
	padding-bottom: 15px;
	.display-title {
		font-weight: 900;
		letter-spacing: 0;
	}
}

.section-header {
	text-align: center;
	.section-title {
		@extend .h1;
		font-weight: 700;
		letter-spacing: -2px;
		text-transform: none;
		@media (max-width: 991px) {
			letter-spacing: -1.2px;
		}
	}
}

.section-description {
	margin: -15px 0 30px;
}

.section-header-columns {
	display: flex;
	align-items: center;
	@media (max-width: 1199px) {
		flex-wrap: wrap;
	}
	@media (max-width: 767px) {
		flex-direction: column;
	}

	.section-header-side-left,
	.section-header-side-right {
		flex: 1;
		@media (max-width: 767px) {
			padding: 10px;
		}
	}
	.section-header-side-left {
		text-align: right;
	}
	.section-header-side-right {
		text-align: left;
	}
	.section-header-side-center {
		padding: 0 40px;
	}


	.section-title {
		@extend .h1;
		letter-spacing: -2px;
		text-transform: none;
		@media (max-width: 991px) {
			letter-spacing: -1.2px;
		}
		@media (max-width: 767px) {
			margin: 15px 0;
		}
	}

	a {
		display: inline-block;
		padding: 5px 0 0;
		font-size: 18px;
		font-weight: 500;
		text-decoration: underline;
		color: #c07349;
		&:hover {
			color: #5b9eef;
		}
	}
}

.separate {
	margin: 0;
	height: 10px;
	background: linear-gradient(to right, #ad5389, #3c1053);
}

.social-list {
	@extend .reset-list;
	margin: 0 -6px;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: -0.98px;
	color: #808080;
	text-transform: uppercase;
	li {
		display: inline-block;
		padding: 0 6px;
		a {
			color: inherit;
		}
	}
}


.rating-list {
	@extend .reset-list;
	margin: 10px 0 0;
	.rating-item {
		display: inline-block;
		padding: 0 5px;
		font-size: 36px;
		color: #fff;
		@media (max-width: 1680px)  {
			font-size: 30px;
		}

		&.rating-item-active {
			color: $secondary-color;
		}
	}
}

.video-wrapper {
	margin: 20px 0;
}




// slider
.slick-slider {
	outline: none !important;
	* {
		outline: none !important;
	}
}

.slick-arrow {
	z-index: 1;
	width: 43px;
	height: 43px;
	&:before {
		content:'';
		display: block;
		width: 43px;
		height: 43px;
		margin: auto;
		background-size: contain !important;
		background-repeat: no-repeat !important;
		background-position: center !important;
	}

	&.slick-prev {
		@media (max-width: 767px) {
			left: 0 !important;
		}

		&:before {
			background-image: url('../img/icons/arrow-left.png');
		}
	}
	&.slick-next {
		@media (max-width: 767px) {
			right: 0 !important;
		}

		&:before {
			background-image: url('../img/icons/arrow-right.png');
		}
	}
}

.slick-dots {
	position: relative;
	li {
		width: 17px;
		height: 17px;
		border-radius: 50%;
		background: rgba(#fff, .3);
		&:before {
			display: none;
		}

		button {
			width: inherit;
			height: inherit;
			&:before {
				display: none;
			}
		}

		&.slick-active {
			background: rgba(#fff, .65);
		}
	}
}




