* {
	box-sizing: border-box !important;
}

html, 
body {
	height: 100%;
	font-family: $base-font, sans-serif;
	font-size: 16px;
	line-height: 1.25;
}

body {
	overflow-x: hidden;
}


section,
article {
	padding: 50px 0 80px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 20px;
	font-family: $base-heading;
	color: $default-heading;
	line-height: 1.2;
	@media screen and (max-width: 1024px) {
		
	}
}

h1,
.h1 {
	font-size: 54px;
	font-weight: 300;
	@media screen and (max-width: 1024px) {
		
	}
}
h2,
.h2 {
	font-size: 48px;
	font-weight: 300;
	@media screen and (max-width: 1024px) {
		
	}
}
h3,
.h3 {
	font-size: 38px;
	@media screen and (max-width: 1024px) {
		
	}
}
h4,
.h4 {
	font-size: 24px;
	@media screen and (max-width: 1024px) {
		
	}
}
h5,
.h5 {
	font-size: 18px;
	@media screen and (max-width: 1024px) {
		
	}
}
h6,
.h6 {
	font-size: 14px;
	line-height: 1.4285;
	@media screen and (max-width: 1024px) {
		
	}
}

p {
	margin: 0 0 40px;
}

a {
	color: $link-color;
	text-decoration: none;
	@extend .transition;
	&:hover {
		color: $default;
	}
}


img {
	max-width: 100%;
}


form {
	font-size: 14px;
	line-height: 1.2857;
	color: #a3a8af;
}
input,
textarea {
	outline: none;
	display: block;
	height: 60px;
	width: 100%;
	padding: 0 20px;
	border: 1px solid #d2d4d8;
	border-radius: 4px;
	background: #fff;
	font-size: 14px;
	color: #a3a8af;

	&::-webkit-input-placeholder {color:#a3a8af;}
	&::-moz-placeholder          {color:#a3a8af;}
	&:-moz-placeholder           {color:#a3a8af;}
	&:-ms-input-placeholder      {color:#a3a8af;}
}
textarea {
	resize: none;
	height: 120px;
	padding: 20px;
}

.form-group {
	margin: 0 0 20px;
	label {
		display: block;
		margin: 0 0 5px;
	}
}

button,
.btn {
	outline: none;
	display: inline-block;
	padding: 15px 20px 12px;
	border: none;
	border-radius: 3px;
	background: $warning;
	font-family: $base-heading;
	font-size: 11px;
	font-weight: 700;
	color: $default-heading;
	text-align: center;
	text-transform: uppercase;
}

.btn-lg {
	padding: 22px 20px 20px;
	font-size: 14px;
}

.btn-outline {
	border: 1px solid #e8e9eb;
	background: transparent;
}
.btn-rounded {
	border-radius: 30px;
}
.btn-fluid {
	width: 100%;
}

.btn-more {
	padding: 13px 22px 11px;
	border: 1px solid #e8e9eb;
	background: transparent;
	font-size: 14px;
	font-weight: 300;
	color: $link-color;
	&:hover {
		background: #e8e9eb;
		color: #fff;
	}
}


.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}