$radius: 5px;

// font
$base-font: 'Montserrat', sans-serif;
$heading-font: 'Montserrat', sans-serif;


// colors
$heading-color: #312f35;
$text-color: #312f35;


$success: #81b847;
$warning: #fdd23b;
$secondary: #a3a3a4;
$gray: #d4d4d4;