.reset-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.transition {
	transition: 300ms ease;
}



.gradient-horizontal-gray {
	background: linear-gradient(to right, rgba(197,198,201,1) 0%,rgba(224,224,226,1) 100%);
}