@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');


@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot');
  src:  url('../fonts/icomoon/icomoon.eot#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon/icomoon.woff') format('woff'),
    url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// .icon-time:before {
//   content: "\e900";
// }
// .icon-car-front:before {
//   content: "\e901";
// }
// .icon-list-check:before {
//   content: "\e902";
// }
// .icon-ship:before {
//   content: "\e903";
// }
// .icon-machine:before {
//   content: "\e904";
// }
// .icon-box:before {
//   content: "\e905";
// }
// .icon-money:before {
//   content: "\e906";
// }
// .icon-moto:before {
//   content: "\e907";
// }
// .icon-build:before {
//   content: "\e908";
// }
// .icon-house:before {
//   content: "\e909";
// }
// .icon-calendar:before {
//   content: "\e90a";
// }
// .icon-location-3d:before {
//   content: "\e90b";
// }
// .icon-location:before {
//   content: "\e90c";
// }
// .icon-calc:before {
//   content: "\e90d";
// }
// .icon-list:before {
//   content: "\e90e";
// }
// .icon-car:before {
//   content: "\e90f";
// }
// .icon-thumb:before {
//   content: "\e910";
// }


.icon-time:before {
  content: "\e909";
}
.icon-car-front:before {
  content: "\e90a";
}
.icon-list-check:before {
  content: "\e90b";
}
.icon-ship:before {
  content: "\e90c";
}
.icon-machine:before {
  content: "\e90d";
}
.icon-box:before {
  content: "\e90e";
}
.icon-money:before {
  content: "\e90f";
}
.icon-moto:before {
  content: "\e910";
}
.icon-build:before {
  content: "\e911";
}
.icon-house:before {
  content: "\e912";
}
.icon-calendar:before {
  content: "\e913";
}
.icon-location-3d:before {
  content: "\e914";
}
.icon-location:before {
  content: "\e915";
}
.icon-calc:before {
  content: "\e916";
}
.icon-list:before {
  content: "\e917";
}
.icon-car:before {
  content: "\e918";
}
.icon-thumb:before {
  content: "\e919";
}
.icon-guarantees-item-1:before {
  content: "\e900";
}
.icon-guarantees-item-2:before {
  content: "\e901";
}
.icon-guarantees-item-3:before {
  content: "\e902";
}
.icon-guarantees-item-4:before {
  content: "\e903";
}
.icon-guarantees-item-5:before {
  content: "\e904";
}
.icon-guarantees-item-6:before {
  content: "\e905";
}
.icon-bussiness-step-1:before {
  content: "\e906";
}
.icon-bussiness-step-2:before {
  content: "\e907";
}
.icon-bussiness-step-3:before {
  content: "\e908";
}