// section hero
.section-hero {
	position: relative;
	min-height: 550px;
	margin-top: -110px;
	padding-top: 125px;
	padding-bottom: 0;
	background-position: center;
	background-size: cover;
	.hero-title {
		@extend .text-gradient-purple;
		span {
			@extend .h2;
			display: block;
			margin: 0;
		}

		.lead {
			@extend .h1;
			@extend .text-gradient-pink;
			display: inline-block;
			margin: 0;
		}
	}

	.hero-list {
		@extend .h4;
		font-weight: 500;
		line-height: 1.6666666667;
		color: $purple;
		@media (max-width: 767px) {
			font-size: 16px;
		}
	}

	.hero-action {
		margin: 35px 0 30px;
	}
}

.hero-achievements {
	.achievement-title {
		color: $purple;
	}

	.achievements-list{
		@extend .reset-list;
		@extend .gradient-purple;
		position: relative;
		display: inline-block;
		margin: 0 -20px -80px;
		padding: 0 30px 0 0;
		border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;
		color: #fff;
		@media (max-width: 767px) {
			overflow: hidden;
			display: block;
			width: 100%;
			padding: 0;
		}
		&:before {
			content: '';
			position: absolute;
			left: -50vw;
			height: 100%;
			width: 50vw;
			background: #665675;
		}

		.achievement-item{
			display: inline-block;
			max-width: 220px;
			margin: 0 20px;
			vertical-align: top;
			@media (max-width: 991px) {
				max-width: 180px;
				margin: 0 10px;
			}
			@media (max-width: 767px) {
				float: left;
				width: 50%;
				max-width: 50%;
				margin: 0;
				padding: 0 10px;
			}
		}
	}
}

.achievement-card {
	padding: 10px 0 20px;
	color: inherit;
	text-align: center;
	.achievement-thumbnail {
		position: relative;
		height: 70px;
		margin: 10px 0;
		@media (max-width: 991px) {
			height: 55px;
		}

		.achievement-icon {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			max-width: 100%;
			max-height: 100%;
			margin: auto;
		}
	}
	.achievement-value {
		font-size: 18px;
		font-weight: 300;
		@media (max-width: 991px) {
			font-size: 16px;
		}
	}
}



// section services
.section-services {
	padding-top: 120px;
}
.services-grid {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px -15px;
	.service-item {
		display: flex;
	}
}


.service-card {
	@extend.gradient-pink;
	display: flex;
	position: relative;
	width: 100%;
	margin: 15px 0;
	padding: 3px;
	text-align: center;
	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 50%;
		width: 5px;
		height: 40px;
		background: #fff;
		transform: translateY(-50%);
	}
	&:before {
		left: 0;
	}
	&:after {
		right: 0;
	}

	.service-link {
		position: absolute;
		z-index: 9;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
	}

	.service-inner {
		@extend .transition;
		width: 100%;
		padding: 0 5px;
		background: #fff;
	}
	.service-thumbnail {
		height: 120px;
		@media (max-width: 768px) {
			height: 80px;
		}

		.service-icon {
			font-size: 80px;
			line-height: 120px;
			color: $default;
			@media (max-width: 768px) {
				font-size: 60px;
				line-height: 80px;
			}
		}
	}

	.service-title,
	.service-text {
		margin: 0;
		padding: 10px 0;
		color: $default;
		letter-spacing: 0;
		@media (max-width: 767px) {
			font-size: 14px;
		}
	}

	.service-text {
		font-size: 16px;
		font-weight: 400;
		text-transform: none;
	}

	&:hover {
		.service-inner {
			background-color: transparent;
			.service-icon,
			.service-title,
			.service-text {
				color: #fff;
			}
		}
	}
}

.service-item-help {
	flex: 1;
	@media (max-width: 767px) {
		flex: 1 0 100%;
	}

	.service-help-title {
		@extend .text-gradient-purple;
		margin: 0;
		padding: 15px 0;
		font-weight: 700;
	}

	.service-help-action {
		margin: 5px 0 25px;
	}

	&:hover {
		.service-inner {
			background-color: #fff;
			.service-icon,
			.service-title {
				color: $default;
			}
		}
	}
}



// section calc
.section-calc {}

.rangeslider {
	background: #fff;
}
.rangeslider--horizontal {
	margin: 20px 0;
	height: 6px;
	border-radius: 4px;
	box-shadow: none;
	background: $gray;
}
.rangeslider__fill {
	background-image: linear-gradient(to right, #b7677f 0%, #cb7e95 100%);
	box-shadow: none;
}
.rangeslider__handle {
	top: -14px !important;
	width: 28px;
	height: 28px;
	border: none;
	box-shadow: 0 2px 3px rgba(125, 124, 124, 0.8);
	background: #fff;
	&:after {
		display: none;
	}
}

.range-sum-box,
.range-time-box {
	margin: 0 0 15px;
}

.range-field {
	display: flex;
	padding: 20px 0;
	@media (max-width: 767px) {
		display: block;
	}

	.range-title {
		flex: 0 0 80px;
		margin: 0;
		padding: 15px 0;
		font-size: 18px;
		font-weight: 400;
		text-transform: uppercase;
		@media (max-width: 991px) {
			flex: 0 0 65px;
		}
	}

	.range-input-wrap {
		flex: 0 0 180px;
		width: 180px;
		@media (max-width: 767px)  {
			width: 100%;
			margin: 55px 0 0;
		}
	}
	.range-input {
		width: 180px;
		height: 50px;
		border: 2px solid $gray;
		font-size: 24px;
		font-weight: 700;
		color: $purple;
		text-align: center;
		@media (max-width: 767px) {
			width: 100%;
		}
	}

	.range-slider-wrap {
		flex: 1;
		padding: 0 20px;
		@media (max-width: 767px) {
			padding: 0;
		}
	}
}

.range-slider {
	position: relative;
	.range-sum-value-left,
	.range-sum-value-right,
	.range-time-value-left,
	.range-time-value-right {
		font-size: 18px;
		font-weight: 400;
		@media (max-width: 991px) {
			font-size: 16px;
		}
	}

	.range-sum-value-left,
	.range-time-value-left {
		float: left;
	}

	.range-sum-value-right,
	.range-time-value-right {
		float: right;
	}
}

.result-box {
	position: relative;
	min-height: 280px;
    margin-top: -80px;
    margin-bottom: 15px;
	padding: 10px 0;
	background: $light-pink;
	text-align: center;
	@media (max-width: 767px) {
		margin-top: 0;
	}

	.result-block {
		position: relative;
		padding: 20px 15px 15px;
		&:after {
			content: "";
			position: absolute;
			left: 50%;
			bottom: 0;
			height: 2px;
			width: 90%;
			max-width: 225px;
			background: $purple;
			transform: translateX(-50%);
		}
		&:last-child:after {
			display: none;
		}

		.result-title {
			margin: 0;
			text-transform: uppercase;
			letter-spacing: 0.8px;
		}

		.result,
		.result-percent {
			@extend .text-gradient-pink;
			font-size: 44px;
			font-weight: 700;
			@media (max-width: 991px) {
				font-size: 34px;
			}
		}
	}
}

.calc-hint {
	padding: 15px 0;
	font-size: 16px;
	font-weight: 700;
	@media (max-width: 767px) {
		font-size: 14px;
		font-weight: 400;
	}
}

// section example
.section-example {
	.form-order {
		margin: 55px 0 -10px;
		@media (max-width: 767px) {
			margin: 20px 0;
		}
	}
}

.slider-example {
	margin: 15px 0;
	.slide-item {}
}

.example-card {
	.example-aside {}
	.example-inner {
		max-width: 470px;
	}

	.example-thumbnail-wrap {
		position: relative;
		max-width: 480px;
		padding: 20px;
		background: url('../img/page-home/example/example-thumbnail-border.png') no-repeat 0 0 ;
		background-size: contain;
		@media (max-width: 767px) {
			margin-bottom: 20px;
		}
		.example-thumbnail {
			padding-bottom: 66%;
			background-position: center;
			background-size: cover;
		}
	}

	.example-header {
		.example-title {
			margin: 0 0 0.4em;
			text-transform: uppercase;
			letter-spacing: 0.73px;
		}
		.example-subtitle {
			margin: 1em 0;
		}
	}

	.example-body {
		.example-price {
			@extend .h2;
			@extend .text-gradient-pink;
			margin: 0.6em 0;
			white-space: nowrap;
			@media (max-width: 767px) {
				font-size: 24px;
			}
		}
		.example-info {
			@extend .reset-list;
			display: flex;
			justify-content: space-between;
			margin: 0 0 25px;
			@media (max-width: 767px) {
				display: block;
			}

			.example-info-col {
				flex: 0 0 185px;
				@media (max-width: 767px) {
					margin: 20px 0;
				}
			}
		}
	}

	.example-body {}
}


// section steps
.section-steps {
	.hint-box {
		margin-top: -70px;
		@media (max-width: 991px) {
			margin: 20px 0;
		}
	}
}

.steps-grid {
	display: flex;
	flex-wrap: wrap;
	margin: 0 0 -15px;
	padding: 0 10px;
	.step-item {
		padding: 0;
	}
}


.step-card {
	margin: 0 0 15px;
	.step-header {
		min-height: 100px;
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size: contain;
		.step-title {
			margin: 0.5em 0;
			font-weight: 700;
		}
		.step-count {
			@extend .gradient-pink;
			margin: 55px 0 25px;
			width: 55px;
			height: 55px;
			border-radius: 50%;
			font-size: 30px;
			font-weight: 300;
			color: #fff;
			text-align: center;
			line-height: 55px;
		}
	}
	.step-body {
		a[href^="tel:"]  {
			display: inline-block;
			margin: 5px 0;
			font-weight: 700;
			color: $default;
			border-bottom: none;
		}

		.link-location {
			display: inline-block;
			margin: 5px 0;
		}
	}
}

.propose-box {
	margin: 10px 0;
	.propose-title {
		margin: 0.3em 0;
		font-weight: 700;
		text-transform: uppercase;
	}

	.propose-description {
		margin: -5px 0;
	}
}
.propose-btn-aside {
	margin: 20px 0;
}

// section contact
.section-contact {
	padding-bottom: 0;
	.contact-container {
		@extend .gradient-purple;
	}

	&.section-contact-pink {
		margin-bottom: -80px;
		.contact-container {
			@extend .gradient-vertical-pink;
		}
	}
}

.contact-grid {
	display: flex;
	flex-wrap: wrap;
	padding: 10px 0 20px;
	.contact-item {}
}

.contact-card {
	margin: 20px 0;
	color: #fff;
	a {
		color: inherit;
		border-bottom: none;
	}

	.contact-thumbnail {
		float: left;
		margin: 0 10px 0 0;
		.contact-thumbnail-icon {
			height: 60px;
		}
	}

	.contact-inner {
		overflow: hidden;
		color: inherit;
		.contact-title {
			margin: 0;
			letter-spacing: 0.73px;
			text-transform: uppercase;
		}
	}
	.contact-value {
		margin: 0;
		padding: 10px 0;
	}
}


#map {
	height: 450px;
	margin: 30px 0 0;
	background: $gray;
}


// section about
.section-about {}

.gallery-grid {
	display: flex;
	flex-wrap: wrap;
	margin: 0 0 -20px;
}

.gallery-card {
	margin: 20px auto;
	padding: 15px;
	background: url('../img/page-home/gallery/gallery-item-border.png') no-repeat 0 0 ;
	background-size: contain;
	@media (max-width: 767px) {
		max-width: 425px;
	}

	.gallery-thumbnail {
		padding-bottom: 65%;
		background-position: center;
		background-size: cover;
	}
}


// section conditions
.section-conditions {
	.hint-box {
		margin-top: -70px;
	}
}


// section documents
.section-documents {}

.documents-grid {
	display: flex;
	flex-wrap: wrap;
	margin: 0 0 -30px;
}


.document-card {
	margin: 0 0 20px;
	.document-thumbnail {
		float: left;
		width: 110px;
		margin: 10px 10px 10px 0;
		.document-thumbnail-icon {}
	}

	.document-inner {
		overflow: hidden;
		padding: 5px 0;
		.document-title {
			min-height: 42px;
			margin: 1.1em 0 0.9em;
			text-transform: uppercase;
			letter-spacing: 0;
		}
	}
}



// section blog
.section-blog {}

.articles-grid {
	display: flex;
	flex-wrap: wrap;
	margin: 15px 0 30px;
}





