.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.upper-part {
	flex: 1 0 auto;
}
.down-part {
	flex: 0 0 auto;
}

.container {
	@media (min-width: 1280px) {
		width: 1200px;
	}
	@media (max-width: 1199px) {
		width: 95%;
	}
}


.wrapper-content {
	overflow: hidden;
	position: relative;
	&:before {
		content: '';
		position: absolute;
		top: 1790px;
		right: 75vw;
		height: 1424px;
		width: 1424px;
		transform: rotate(45deg);
		background: $light-pink;
		@media (max-width: 991px) {
			height: 704px;
			width: 704px;
		}
	}

	&:nth-child(2) {
		&:before {
			top: -435px;
			right: initial;
			left: 72vw;
			@media (max-width: 991px) {
				top: -180px;
			}
		}
	}

	&:last-child {
		padding-bottom: 80px;
	}
}

.section-header,
.display-header {
	.section-title,
	.display-header-title {
		@extend .text-gradient-purple;
		font-weight: 700;
	}
}

.display-header-wrap {
	margin-bottom: -20px;
	padding-top: 20px;
}

.section-header-columns,
.display-header-columns  {
	display: flex;
	align-items: center;
	@media (max-width: 767px) {
		flex-direction: column;
	}
	.section-header-side-left,
	.display-header-side-left {
		flex: 1;
	}
	.section-header-side-right,
	.display-header-side-right {
		flex: 0 0 auto;
	}
}


.header-controls {
	margin: 0 -7px;
	.header-control-left,
	.header-control-right  {
		position: relative;
		display: inline-block;
		top: initial;
		left: initial;
		right: initial;
		bottom: initial;
		margin: 0 7px;
		transform: none;
	}
}


// breadcrumbs
.breadcrumbs {
	@extend .reset-list;
	margin: 15px 0;
	@media (max-width: 767px) {
		margin: 0 0 15px;
	}

	li {
		display: inline-block;
		position: relative;
		font-size: 16px;
		font-weight: 400;
		color: #c6c5ca;
		&:after {
			content: '/';
			display: inline-block;
			padding: 0 0 0 4px;
			vertical-align: middle;
			color: $purple;
		}
		&:last-child:after {
			display: none;
		}
	}
}

// pagination
.pagination {
	@extend .reset-list;
	cursor: default;
	margin: 10px 0 -10px;
	font-size: 24px;
	line-height: 45px;
	li {
		display: inline-block;
		margin: 5px 0;
		a {
			display: block;
			width: 45px;
			height: 45px;
			border-bottom: none;
			border-radius: 50%;
			text-align: center;
		}
		&:hover {
			a {
				background-color: rgba($purple, .5);
				color: #fff;
			}
		}

		&.active {
			a {
				background: $purple;
				font-weight: 700;
				color: #fff;
			}
		}
	}
}

.hint-box {
	padding: 25px 30px;
	background: $light-pink;
	text-align: center;
	text-transform: uppercase;
	@media (max-width: 768px) {
		padding: 15px 20px;
	}
	@media (max-width: 767px) {
		margin: 20px 0 !important;
	}

	.hint-title {
		@extend .text-gradient-purple;
		margin: 0;
		line-height: 1.35;
	}
	.hint-title-separate {
		padding: 30px 0;
		border-top: 2px solid $purple;
		border-bottom: 2px solid $purple;
	}

	.hint-lead {
		@extend .text-gradient-pink;
		margin: 20px 0;
		padding: 20px 0;
		border-top: 2px solid $purple;
		border-bottom: 2px solid $purple;
		font-size: 30px;
		font-weight: 700;
		letter-spacing: 1.04px;
		text-transform: uppercase;
		span {
			font-size: 44px;
		}
	}
}


// article

.article-card {
	.article-statusbar {
		@extend .reset-list;
		padding: 22px 0;
		color: $dark-gray;
		li {
			display: inline-block;
			padding: 0 12px;
			border-right: 1px solid $dark-gray;
			line-height: 1;
			&:last-child {
				border-right: none;
			}

			time {
				margin: 0;
			}
		}
	}

	.article-thumbnail {
		position: relative;
		padding-bottom: 66%;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		.article-thumbnail-link {
			position: absolute;
			z-index: 9;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border-bottom: none;
		}
	}

	.article-title {
		@extend .h6;
		margin: 1.4em 0 .5em;
		padding: 0 15px;
		text-transform: uppercase;
		letter-spacing: 0.9px;
		a {
			border-bottom: none;
		}
	}
}

.article-vertical {
	margin: 0 0 20px;
	border: 3px solid $light-gray;
	.article-header {}
	.article-thumbnail {
		margin: 0 -3px;
	}
	.article-body {
		padding: 10px 15px;
	}
	.article-footer {
		padding: 10px 15px 25px;
	}
}

.article-horizontal {
	border-bottom: 2px solid $light-gray;
	.article-statusbar {
		overflow: hidden;
		position: relative;
		left: -12px;
		@media (min-width: 769px) {
			padding: 0;
		}
	}

	.article-thumbnail {
		float: left;
		width: 50%;
		margin-right: 20px;
		padding-bottom: 32%;
		@media (max-width: 768px) {
			float: none;
			width: 100%;
			padding-bottom: 65%;
		}
	}

	.article-title {
		margin: 0.7em 0 0.7em;
		line-height: 1.4;
		@media (max-width: 768px) {
			padding: 0;
		}
	}

	.article-footer {
		padding-bottom: 30px;
	}
}


// modal
.modal {
	.modal-dialog {
		@media (min-width: 991px) {
			width: 650px;
		}
		
		.modal-content {
			border: none;
			border-radius: 0;
			box-shadow: none;
			background-color: $light-gray;
			color: #fff;
		}
	}

	.close {
		@extend .gradient-purple;
		position: absolute;
		top: 0;
		right: 0;
		width: 25px;
		height: 25px;
		padding: 0;
		border: none;
		font-size: 36px;
		line-height: 25px;
		color: #fff;
		text-align: center;
	}

	.modal-header {
		padding: 20px 35px 5px;
		border: none;
		@media (max-width: 991px) {
			padding-bottom: 0;
		}
	}
	.modal-title {
		@extend .text-gradient-purple;
		margin: 0;
	}
	.modal-subtitle {
		margin: 4px 0 18px;
		font-size: 18px;
		font-weight: 300;
		color: #bd6d85;
	}

	.modal-body {
		padding: 5px 25px 35px;
	}
}


// slider
.slick-slider {
	outline: none;
	* {
		outline: none;
	}
}

.slick-arrow {
	opacity: 1;
	z-index: 1;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	background-size: contain;
	background-repeat: no-repeat;
	&:before {
		display: none;
	}
}
.slick-prev {
	background-image: url('../img/icons/arrow-left.svg') !important;
}
.slick-next {
	background-image: url('../img/icons/arrow-right.svg') !important;
}

















