.form-title {
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 25px;
}

.form-control {
    display: block;
    width: 100%;
    height: 55px;
    margin: 0;
    padding: 0 5px 0 15px;
    border: none;
    border-radius: 5px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(230, 229, 233, 0.8);
    color: #000;
    font-size: 16px;
    letter-spacing: 0.01em;
}

.form-control::placeholder {
    color: rgba(35, 29, 26, 0.5);
}

.form-control:focus {
    outline: none;
}

.form .btn[type='submit'] {
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-group {
    border: 1px solid rgba(35, 29, 26, 0.15);
    border-radius: 10px;
}

.input-group .form-control {
    border-radius: inherit;
    box-shadow: none;
}

.input-group .btn {
    margin: 7px;
}


.custom-control {
    min-height: 30px;
    padding-left: 35px;
}

.custom-control i {
    margin-left: 10px;
}

.custom-control-input {
    width: 19px;
    height: 19px;
}

.custom-control-label {
    cursor: pointer;
    font-size: 16px;
    color: #231D1A;
}

.custom-control-label::before {
    left: -35px;
    width: 19px;
    height: 19px;
    border: 1px solid rgba(35, 29, 26, 0.15);
    border-radius: 50%;
}

.custom-control-label::after {
    left: -35px;
    width: 19px;
    height: 19px;
}


.custom-control-label a {
    color: #2D2C45;
    text-decoration: none;
}

.custom-control-label a:hover {
    color: #2D2C45;
    text-decoration: underline;
}

.custom-control-input:checked ~ .custom-control-label::before {
    border-color: rgba(35, 29, 26, 0.15);
    background-color: transparent;
}

.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none;
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
    border-color: rgba(35, 29, 26, 0.15);
}

/* radio */
.custom-radio.custom-control {
    min-height: 35px;
}

.custom-radio i,
.custom-radio .custom-control-label {
    line-height: 25px;
}

.custom-radio .custom-control-label::before {
    top: 0;
    width: 25px;
    height: 25px;
    border: 12px solid #FFFFFF;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(93, 167, 181, 0.23);
    transition: border-width 300ms ease;
}

.custom-radio .custom-control-label::after {
    display: none;
} 

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    border-width: 6px;
    border-color: #fff;
    background: #F04637;
    box-shadow: 0px 0px 10px rgba(93, 167, 181, 0.23);
}
/* radio end */

/* checkbox */
.custom-checkbox .custom-control-label::before {
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0px 4px 30px rgba(225, 225, 228, 0.8);
}

.custom-checkbox .custom-control-label::after {
    opacity: 0;
    visibility: hidden;
    content: '\f17b';
    padding: 0 3px;
    border-radius: 3px;
    background: none;
    color: #fff;
    font-family: 'icomoon';
    font-size: 14px;
    line-height: 1.375;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background: #F04637;
    box-shadow: none;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    opacity: 1;
    visibility: visible;
    background: #F04637;
}


.custom-checkbox-outline .custom-control-label {
    font-size: 12px;
    color: rgba(35, 29, 26, 0.5);
}

.custom-checkbox-outline .custom-control-label::before {
    background: none;
    box-shadow: none;
}

.custom-checkbox-outline .custom-control-label::after {
    color: #000;
}

.custom-checkbox-outline .custom-control-input:checked ~ .custom-control-label::before {
    background: none;
}

.custom-checkbox-outline .custom-control-input:checked ~ .custom-control-label::after {
    opacity: 1;
    visibility: visible;
    background: none;
}
/* checkbox end */

.form-light .form-control {
	border: 1px solid rgba(255, 255, 255, 0.5);
	background-color: transparent;
	box-shadow: none;
	color: rgba(255, 255, 255, 1);
}

.form-light .form-control::placeholder {
	color: rgba(255, 255, 255, 0.8);
}

.form-light .custom-control-label {
	color: rgba(255, 255, 255, 0.5);
}

.form-light .custom-control-label::before {
    border-color: rgba(255, 255, 255, 0.5);
}

.form-light .custom-control-label::after {
    color: #fff;
}

.form-light .custom-control-label a {
	color: rgba(255, 255, 255, 0.5);
}

.form-light .custom-control-label a:hover {
	color: rgba(255, 255, 255, 1);
}

.form-light .custom-control-input:checked ~ .custom-control-label::before,
.form-light .custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
	border-color: rgba(255, 255, 255, 0.5);
}

@media (min-width: 768px) {
    .form-control {
        padding: 0 22px;
    }
}