* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	background-color: #fff;
	color: #000;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.66;
}

body {
	padding-top: 52px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.content-wrapper {
	flex: 1 0 auto;
}

.footer-box {
	flex: 0 0 auto;
}

.container {
	max-width: 100%;
}


#bg0 {
	cursor: pointer;
	opacity: 0;
	visibility: hidden;
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.85);
	transition: opacity 300ms ease, visibility 300ms ease;
}

body.is-open #bg0 {
	opacity: 1;
	visibility: visible;
}


@media (min-width: 576px) {
	html,
	body {
		font-size: 18px;
	}
}

@media (min-width: 768px) {
	body {
		padding-top: 66px;
	}
}

@media (min-width: 992px) {
	body {
		padding-top: 0;
	}

	.container {
		padding-left: 30px;
		padding-right: 30px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1200px;
		padding-left: 15px;
		padding-right: 15px;
	}
}