.catalog-title {
	display: block;
	width: 100%;
	margin: 0 0 20px;
	padding: 12px 15px;
	border: none;
	border-radius: 20px;
	background-color: #6c851c;
	color: #fefefe;
	font-size: 20px;
	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;
	text-align: center;
}

.catalog-title.catalog-toggle {
	cursor: pointer;
}

.catalog-title.catalog-toggle:focus {
	outline: none;
}


.catalog-nav {
	display: none;
	margin: 0 0 80px;
	font-size: 17px;
}

.catalog-nav .nav-link {
	position: relative;
	padding: 3px 8px;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0;
}

.catalog-nav .nav-link:hover {
	color: #7d9305;
}



.catalog-nav .nav-link.is-active {
	position: relative;
	z-index: 1;
	padding-top: 7px;
	padding-bottom: 7px;
	border-radius: 20px;
	background-color: #ebfa87;
}

.catalog-nav .nav-link.is-active:after {
	content: '';
	position: absolute;
	z-index: -1;
	bottom: 0;
	left: 50%;
	width: 20px;
	height: 20px;
	background-color: #ebfa87;
	transform: translate(-50%, 50%) rotate(45deg);
}

.catalog-nav .nav-link.is-active:hover {
	color: currentColor;
}


.catalog-subnav {
	display: none;
	max-width: 260px;
	margin: 15px 0 15px 20px;
	line-height: 1.8;
	text-align: left;
}

.catalog-nav .nav-link.is-active + .catalog-subnav {
	display: block;
}


.catalog-subnav .nav-item {
	position: relative;
	padding: 0 0 0 20px;
}

.catalog-subnav .nav-item::before {
	content: '';
	position: absolute;
	top: 12px;
	left: 0;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: currentColor;
}

.catalog-subnav .nav-link {
	display: inline-block;
	padding: 0;
	font-size: 15px;
	font-weight: 400;
}

@media (min-width: 768px) {
	.catalog-title {
		margin: 0;
	}

	.catalog-nav {
		display: block !important;
	}
}

@media (min-width: 1200px) {
	.catalog-nav {
		text-align: center;
	}

	.catalog-title {
		padding: 22px 15px;
	}
}