.header-box {
	position: relative;
	z-index: 9;
	padding-bottom: 15px;
	background: rgba(#fff, .8);
	box-shadow: 0 2px 8px rgba(45, 60, 79, 0.2);
	@media (max-width: 768px) {
		display: none;
	}
}

.header-statusbar {
	@extend .gradient-purple;
	color: #fff;
	.header-statusbar-inner {
		display: flex;
	}
}

.header-content {
	.header-content-inner {
		display: flex;
		.header-content-left, 
		.header-content-right {
			padding: 10px;
		}

		.header-content-left {
			flex: 1 1 auto;
		}
		.header-content-right {
			flex: 0 0 auto;
			text-align: right;
		}
	}
}

.header-logo {
	padding: 5px 0;
	a {
		border: none;
		font-size: 24px;
		font-weight: 700;
		letter-spacing: 1.2px;
		color: inherit;
		text-transform: uppercase;
	}
}

.header-address {
	flex: 1;
	padding: 10px 0;
	font-weight: 300;
	color: inherit;
}

.header-nav {
	flex: 1;
	text-align: right;
	.header-nav-list {
		@extend .reset-list;
		cursor: default;
		margin: 0 -7px;
		padding: 10px 0;
		font-weight: 300;
		li {
			display: inline-block;
			padding: 0 4px;
			a {
				color: inherit;
				border-color: rgba(#fff, .8);
			}
			&:hover {
				a {
					border-bottom-color: transparent;
				}
			}

			&.active {
				a {
					border-bottom-color: transparent;
					color: rgba(#fff, .4);
				}
			}
		}
	}
}


.header-hotlinks {
	@extend .reset-list;
	padding: 8px 0;
	.hotlink-item {
		display: inline-block;
	}
}

.hotlink-card {
	max-width: 225px;
	padding: 10px 0;
	@media (max-width: 1024px) {
		max-width: 205px;
	}
	.hotlink-thumbnail {
		float: left;
		margin: 0 10px 0 0;
		.hotlink-icon {
			font-size: 34px;
			color: $dark-pink;
		}
	}
	.hotlink-value {
		overflow: hidden;
		padding: 0 0 3px;
		font-size: 16px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 0.8px;
		@media (max-width: 1024px) {
			font-size: 14px;
		}

		a {
			text-transform: none;
			letter-spacing: 0;
		}
	}
}



.header-services {
	margin: -10px 0;
	@media (max-width: 1024px) {
		margin: 13px 0 0;
	}

	.service-title {
		display: inline-block;
		margin: 0 50px 0 45px;
		font-size: 16px;
		font-weight: 400;
		@media (max-width: 1024px) {
			margin: 0 30px 0 0;
		}
	}

	.services-menu {
		@extend .reset-list;
		curosor: default;
		display: inline-block;
		margin: 0 -5px;
		font-size: 24px;
		@media (max-width: 1024px) {
			font-size: 18px;
		}

		li {
			display: inline-block;
			padding: 0 10px;
			text-transform: uppercase;
			letter-spacing: 0.73px;
			&:hover {
				a {
					border-bottom-color: transparent;
				}
			}

			&.active {
				a {
					border-bottom-color: transparent;
					color: $dark-pink;
				}
			}
		}
	}
}


.header-contact {
	padding: 12px 0;
	font-size: 36px;
	letter-spacing: 3.25px;
	@media (max-width: 1160px) {
		font-size: 22px;
	}

	b {
		letter-spacing: 0;
	}

	a {
		@extend .text-gradient-pink;
		display: inline-block;
		border-bottom: none;
	}
}


.header-actinos {
	@extend .reset-list;
	display: flex;
	justify-content: space-between;
	max-width: 365px;
	margin: 0 -5px 0 20px;
	font-size: 16px;
	@media (max-width: 1160px) {
		flex-direction: column;
	}

	li {
		padding: 5px;
	}
}



.header-mobile {
	display: none;
	position: relative;
	z-index: 9;
	padding: 10px 0;
	background: #fff;
	box-shadow: 0 2px 8px rgba(45, 60, 79, 0.2);
	@media (max-width: 768px) {
		display: block;
	}
}

.mobile-logo {
	margin: 10px 0;
	font-weight: 700;
	text-transform: uppercase;
	a {
		border-bottom: none;
	}
}

.mobile-phone {
	display: inline-block;
	margin: 0 10px;
	vertical-align: middle;
	@media (max-width: 767px) {
		font-size: 12px;
	}
	
	a {
		border-bottom: none;
	}
}

.mobile-toggle {
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	span {
		display: block;
		width: 100%;
		height: 2px;
		margin: 8px 0;
		background: $purple;
	}
}



// offcanvas
.offcanvas {
	@extend .transition;
	opacity: 0;
	transform: translateX(100%);
	position: fixed;
	overflow-y: scroll;
	z-index: 99;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: $light-pink;
	&.offcanvas-active {
		opacity: 1;
		transform: translateX(0);
	}

	.offcanvas-header {
		padding: 20px 20px;
		border-bottom: 1px solid rgba($purple, .1);
	}
	.offcanvas-logo {
		font-weight: 700;
		text-transform: uppercase;
		a {
			border-bottom: none;
		}
	}
	.offcanvas-close {
		position: absolute;
		top: 0;
		right: 0;
		width: 25px;
		height: 25px;
		border: none;
		padding: 0;
		background: $purple;
		font-size: 36px;
    	line-height: 25px;
    	color: #fff;
    	text-align: center;
	}

	.offcanvas-body {
		padding: 10px 20px;
	}
	.offcanvas-menu {
		@extend .reset-list;
		li {
			border-bottom: 1px solid rgba($purple, .1);
			a {
				display: block;
				padding: 12px 0;
				border-bottom: none;
				text-transform: uppercase;
				letter-spacing: .9px;
			}
		}
	}
	.offcanvas-footer {
		padding: 10px 20px;
	}

	.offcanvas-contact {
		margin: 10px 0;
		font-size: 20px;
	}
	.offcanvas-address {
		margin: 20px 0;
		font-size: 14px;
	}
}


.offcanvas-open {
	overflow: hidden;
}






