.reset-list {
	margin: 0;
	padding: 0;
	list-style: none;
}


.gradient-purple {
	background-image: linear-gradient(to right, #665675 0%, #776184 100%);
}

.gradient-pink {
	background-image: linear-gradient(to right, #b7677f 0%, #cb7e95 100%);
}

.text-gradient {
	@extend .gradient-purple;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gradient-light {
	@extend .gradient-pink;
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.transition {
	transition: 300ms ease;
}
