.section-bid {
	.container {
		padding-bottom: 40px;
		border-bottom: 2px solid $light-gray;
	}

	.section-header {
		.section-title {
			font-weight: 400;
			text-transform: uppercase;
		}
	}
}

.section-gallery {
	padding-top: 40px;
	padding-bottom: 40px;
}