.section-plan-hero {
	padding-top: 0;
	padding-bottom: 0;
	background: $dark-gray;
	.plan-hero-inner  {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		.slider-plan {
			order: 1;
			flex: 1 1 auto;
		}
		.slider-plan-nav-wrapper {
			overflow: hidden;
			order: 3;
			flex: 1;
			padding: 10px 25px;
			@media (max-width: 1024px) {
				order: 2;
				flex: 1 1 auto;
				padding: 10px 0;
			}
		}

		.plan-prefer-box {
			order: 2;
			flex: 0 0 300px;
			padding: 5px 0;
			@media (max-width: 1024px) {
				order: 3;
				flex: 1 1 auto;
				padding: 10px 0;
			}
		}
		.newsletter-box {
			order: 4;
			flex: 0 0 250px;
			@media (max-width: 1024px) {
				margin: 10px 0;
			}
		}
	}

	.newsletter-box {
		margin: 3px 0;
		.newsletter-title {
			span {
				color: #fff;
			}
		}
	}
}

.slider-plan {
	position: relative;
	&:before,
	&:after {
		content:'';
		position: absolute;
		z-index: 1;
		top: 0;
		bottom: 0;
		width: 80px;
		background: $dark-gray;
		@media (max-width: 767px) {
			display: none;
		}
	}
	&:before {
		left: 0;
	}
	&:after {
		right: 0;
	}

	.slide-plan {
		padding-bottom: 39%;
		background-size: cover;
		background-position: center;
		@media (max-width: 640px) {
			padding-bottom: 400px;
		}

		.slide-plan-title {
			@extend .overlay-light;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			margin: 0;
			padding: 5px 100px;
			font-weight: 400;
			text-align: center;
			@media (max-width: 767px) {
				padding: 5px;
			}
		}
	}

	&:hover {
		.slick-prev {
			@media (min-width: 768px) and (max-width: 1366px) {
				left: 70px;
			}
		}
		.slick-next {
			@media (min-width: 768px) and (max-width: 1366px) {
				right: 70px;
			}
		}
	}
}
.slider-plan-nav {
	.slide-item {
		@extend .transition;
		opacity: .7;
		width: 75px;
		padding: 0 5px;
		&:hover,
		&.slick-current {
			opacity: 1;
		}
	}
	.slide-plan-thumbnail {
		cursor: poiner;
		width: 65px;
		height: 44px;
		background-position: center;
		background-size: cover;
	}
}

.slider-plan-action {
	@extend .reset-list;
	position: absolute;
	z-index: 9;
	top: 0;
	right: 0;
	width: 80px;
	margin: 5px 0;
	text-align: center;
	@media (max-width: 767px)  {
		left: 0;
		width: initial;
		margin: 0;
		background: rgba($dark-gray, .9);
	}

	li {
		padding: 10px 0;
		@media (max-width: 767px) {
			display: inline-block;
			vertical-align: middle;
			padding: 0 15px;
		}
	}
}


.plan-prefer-box {
	.plan-prefer-title {
		font-weight: 400;
		color: #fff;
	}
	.plan-prefer-list {
		@extend .reset-list;
		font-size: 18px;
		color: $gray;
		li {
			position: relative;
			display: inline-block;
			padding: 0 4px 0 0;
			border-right: 1px solid $gray;
			line-height: 1;
			&:last-child {
				border-right: none;
			}
		}
	}
}


.section-plan-details {
	.plan-details-inner {
		display: flex;
		@media (max-width: 1024px) {
			display: block;
		}

		.plan-details-col {
			padding: 0 45px;
			border-left: 2px solid $dark-gray;
			border-right: 2px solid $dark-gray;
			&:first-child {
				border-left: none;
			}
			&:last-child {
				border-right: none;
			}

			@media (max-width: 1024px) {
				border: none !important;
			}
			@media (max-width: 767px) {
				padding: 0 35px;
			}
		}
	}

	.social-list {
		position: absolute;
		top: 0;
		left: 0;
	}
}

.plan-detail-box {
	@media (max-width: 1024px) {
		margin: 10px 0;
	}

	.plan-detail-title,
	.plan-detail-subtitle {
		text-align: center;
	}
	.plan-detail-title {
		margin: 0 0 10px;
	}
	.plan-detail-subtitle {
		margin: 10px 0;
		font-size: 1em;
	}
}

.plan-metrics-grid {
	@extend .reset-list;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	width: 90%;
	max-width: 565px;
	margin: 20px auto 35px;
	border: 1px solid #e6e7e8;
	text-align: center;
	.plan-metrics-item {
		padding: 5px;
		background: $light-gray;
		.plan-metrics-title {
			font-size: 1.125em;
			margin: 9px 0;
			font-weight: 700;
		}
		.plan-metrics-value {
			margin: 5px 0;
			font-size: 1.125em;
			font-weight: 700;
			color: $gray;
		}

		@media (min-width: 768px) {
			&:nth-child(2n),
			&:nth-child(2n+5) {
				background: $gray;
				.plan-metrics-value {
					color: #fff;
				}
			}
			&:nth-child(2n+6) {
				background: $light-gray;
				.plan-metrics-value {
					color: $gray;
				}
			}
		}

		@media (max-width: 767px) {
			&:nth-child(1), 
			&:nth-child(4), 
			&:nth-child(5),
			&:nth-child(8) {
				background: $gray;
				.plan-metrics-value {
					color: #fff;
				}
			}
		}
	}
}


.form-choose-package {
	max-width: 325px;
	margin: auto;
	counter-reset: groups;
	.form-group {
		position: relative;
		margin-bottom: 10px;
		&:before {
			counter-increment: groups;
	    	content: counter(groups);
			position: absolute;
			top: 50%;
			padding: 0 10px;
			transform: translate(-100%, -50%);
			font-size: 20px;
			font-weight: 400;
			color: $default;
			line-height: 1;
		}
	}

	.select-custom-wrap {
		.select {
			height: 42px;
			.select-styled {
				line-height: 40px;
				&:after {
					top: 9px;
				}
			}
		}
	}
}


.plan-hint-box {
	max-width: 265px;
	margin: 3.75rem auto;
	padding: 0.625em 0.625rem 1.875em;
	border: 1px solid $dark-gray;
	background: $gray;
	text-align: center;
	@media (max-width: 767px) {
		margin: 1.5625em auto 0.625em;
	}

	.plan-hint-title {
		margin: 5px 0;
		font-size: 1.75em;
		font-weight: 400;
		color: $primary;
	}
	.plan-hint-description {
		font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
		font-size: 18px;
		color: #484d51;
		line-height: 1.2;
	}
}

.section-plan-description {
	padding-top: 0;
	padding-bottom: 5px;
}

.section-plan-floors {
	padding-top: 5px;
	padding-bottom: 5px;
	.tab-content {
		padding: 20px 80px;
		background: #fff;
		@media (max-width: 767px) {
			padding: 100px 10px 20px;
		}
	}
}
.image-flip-container {
	position: relative;
	z-index: 1;
	width: 95%;
	margin: auto;
	perspective: 1000;
	.image-flip-card {
		padding-bottom: 90%;
		transform-style: preserve-3d;
		transition: all 1.0s linear;
		&.active {
			transform: rotateY(180deg);

		}
	}
	.face {
		position: absolute;
		width: 100%;
		height: 100%;
		backface-visibility: hidden;
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}
	.face.back {
		display: block;
		transform: rotateY(180deg);
	}

	.image-flip-btn {
		@extend .h3;
		position: absolute;
		z-index: 9;
		top: 40px;
		right: -50px;
		min-width: 245px;
		font-weight: 400;
		text-transform: capitalize;
		@media (max-width: 767px) {
			top: 0;
			right: 50%;
			transform: translate(50%, -125%);
		}
	}
}


.section-similar {
	padding-bottom: 0;
}
.similar-grid {
	display: flex;
	flex-wrap: wrap;
}

.similar-card {
	position: relative;
	margin: 0 auto 20px;
	text-align: center;
	@media (max-width: 767px) {
		max-width: 475px;
	}

	.similar-link {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.similar-thumb {
		padding-bottom: 65%;
		background-color: $dark-gray;
		background-position: center;
		background-size: cover;
	}

	.similar-inner {
		padding: 15px 5px 20px;
		background: $light-gray;
	}
	.similar-title {
		font-size: 1.125em;
		font-weight: 700;
	}
	.similar-info {
		@extend .reset-list;
		font-size: 1.125em;
		li {
			display: inline-block;
			padding: 0 4px 0 8px;
			border-left: 1px solid $dark-gray;
			line-height: 1;
			&:first-child {
				border-left: none;
			}
		}
	}
}