$heading-font: 'Open Sans', sans-serif;
$base-font: 'Open Sans', sans-serif;
$secondary-font: 'FuturaPT', sans-serif;

$default: #000;
$default-heading: #000;

$gray: #969696;
$dark-gray: #202729;
$light-gray: #eef0f2;

// $info: #4d6aa9;
$primary: #1e4eee;
$dark-primary: #22262C;