$heading-font: 'Open Sans', sans-serif;
$base-font: 'Open Sans', sans-serif;
$secondary-font: 'FuturaPT', sans-serif;

$default: #1d0f00;
$default-heading: #31271a;

$gray: #555555;
$dark-gray: #201600;
$light-gray: #eef0f2;

$info: #4d6aa9;
$primary: #4d5ea1;
$dark-primary: #22262C;