.about-hero {
	position: relative;
	margin-bottom: 50px;
	padding-top: 25px;
	padding-bottom: 25px;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	color: #ffffff;
	font-size: 24px;
	font-weight: 400;
	line-height: 1.16;
}

.about-hero::before {
	content: '';
	opacity: 0.8;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #003300;
}