html,
body {
	height: 100%;	
	background: #fff;	
	font-family: $base-font;
	color: $default;
}
html {
	font-size: 16px;
}
body {
	font-size: 1.063rem;
	font-weight: 300;
	line-height: 1.875rem;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

section {
	padding-top: 8.5rem;
	padding-bottom: 8.5rem;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	margin: 50px 0;
	font-family: $base-heading;
	color: $heading;
}


h1,
.h1 {
	font-size: 3.125rem; 
	line-height: 4.063rem;
}

h2,
.h2 {
	font-size: 2.5rem;
	line-height: 3.438rem;
}

h3,
.h3 {
	font-size: 1.875rem;
	line-height: 2.813rem;
}

h4,
.h4 {
	font-size: 1.25rem;
	line-height: 1.875rem;
}

h5,
.h5 {
	font-size: 1.063rem;
	font-weight: 300;
	line-height: 1.688rem;
}

h6,
.h6 {
	font-family: $base-font;
	font-size: 0.938rem;
	font-weight: 400;
	letter-spacing: 0.094rem;
	text-transform: uppercase;
}

p {
	margin: 0 0 30px;
	word-spacing: $default-word-spacing;
	&:last-child {
		margin-bottom: 0;
	}
}

a {
	color: $heading;
	text-decoration: none;
	transition: 300ms color ease;
	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
	}
}

address {
	margin: 2rem 0 1rem;
	font-size: 0.938rem;
	font-weight: 400;
	letter-spacing: 0.094rem;
	line-height: 1.125rem;
	text-transform: uppercase;
	color: $heading;
}


.figure-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 540px;
	margin: 3.125rem auto;
}

figure {
	margin: 0;
	img {
		flex-shrink: 0;
	}
}
img {
	max-width: 100%;
}



form {
	button {
		margin: 2rem 0;
	}
}

label {
	display: block;
	font-size: 0.938rem;
	letter-spacing: 0.094rem;
	text-transform: uppercase;
	color: $heading;
}

input,
textarea {
	outline: none;
	display: block;
	width: 100%;
	padding: 0;
	border: none;
	border-radius: 0;
	border-bottom: 2px solid $gray-300;
	background-color: transparent;
	box-shadow: none;
	transition: border-color 300ms ease;
	font-size: 17px;
	font-weight: 300;
	&:focus {
		border-bottom-color: $gray-500;
	}
}




input[type="radio"] {
    display:none;
}
input[type="radio"] + label {
	font-family: $base-heading;
	font-size: 1.25rem;
	color: $heading;
	text-transform: none;
	letter-spacing: 0;
    white-space: nowrap;
}
input[type="radio"] + label span {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 10px 0 0;
    border: 1px solid $gray-500;
    border-radius: 50%;
    vertical-align: middle;
    &:after {
    	content: '';
    	opacity: 0;
    	position: absolute;
    	top: 50%;
    	left: 50%;
    	width: 8px;
    	height: 8px;
    	border-radius: 50%;
    	background: $heading;
    	transform: translate(-50%, -50%);
    	transition: opacity 300ms ease;
    }
}

input[type="radio"] + label span {
     background-color: #fff;
}

input[type="radio"]:checked + label span:after {
     opacity: 1;
}


textarea {
	overflow: hidden;
	resize: none;
	height: auto;
	min-height: 50px;
	line-height: 50px;
	vertical-align: baseline;
	background: linear-gradient(
	  to bottom,
	  transparent,
	  transparent 48px,
	  $gray-300 2px,
	  $gray-300
	);
	background-size: 100% 50px;
	background-position: 0 50px;
}

button {
	outline: none !important;
}

.btn {
	display: inline-block;
	padding: 0.8rem 0.75rem;
	border-radius: 30px;
	font-size: 0.938rem;
	text-decoration: none;
	letter-spacing: 0.094rem;
	text-transform: uppercase;
	&:hover,
	&:focus,
	&:active {
		box-shadow: none;
		text-decoration: none;
	}
}

.btn-link {
	padding: 0.2rem 0;
	border-radius: 0;
	border-bottom: 1px solid $gray-300;
	font-size: 0.75rem;
	letter-spacing: 0.075rem;
	text-transform: uppercase;
	color: $heading;
	&.btn-lg {
		font-size: 1rem;
	}
}

.btn-arrow {
	padding: 0;
	border-bottom: none;
	font-size: 1.5rem;
}

.btn-outline-dark {
	border-color: $gray-500;
}


.form-group {
	margin-bottom: 2.5rem;
}

.floating-placeholder {
	position: relative;
	width: 100%;
	min-height: 52px;
	label {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		transform-origin: 0 0em;
		transition: top 300ms ease, color 300ms ease;
		line-height: 50px;
	}
	input,
	textarea {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		height: 50px;
		line-height: 50px;
	}

	&.floating-placeholder-float {
		label {
			top: -25px;
			color: $gray-500;
		}
		input,
		textarea {
			position: relative;
		}
	}
}







.text-success {
	color: $success !important;
}
.text-warning {
	color: $warning !important;
}
.text-info {
	color: $info !important;
}
.text-primary {
	color: $primary !important;
}
.text-pink {
	color: $pink !important;
}
.text-cyan {
	color: $cyan !important;
}
.text-purple {
	color: $purple !important;
}

.text-lead {
	font-size: 1.25rem;
	line-height: 2.188rem;
}

.bg-success {
	background-color: $success !important;
}
.bg-warning {
	background-color: $warning !important;
}
.bg-info {
	background-color: $info !important;
}
.bg-primary {
	background-color: $primary !important;
}
.bg-pink {
	background-color: $pink !important;
}
.bg-cyan {
	background-color: $cyan !important;
}
.bg-purple {
	background-color: $purple !important;
}
.bg-beige {
	background-color: $beige !important;
}
.bg-light {
	background: $gray-200 !important;
}

.alert-success {
	border-color: darken($success, 10%);
	background-color: $success !important;
}
.alert-warning {
	border-color: darken($warning, 10%);
	background-color: $warning !important;
}
.alert-info {
	border-color: darken($info, 10%);
	background-color: $info !important;
}
.alert-primary {
	border-color: darken($primary , 10%);
	background-color: $primary !important;
}
.alert-pink {
	border-color: darken($pink, 10%);
	background-color: $pink !important;
}
.alert-cyan {
	border-color: darken($cyan, 10%);
	background-color: $cyan !important;
}
.alert-purple {
	border-color: darken($purple, 10%);
	background-color: $purple !important;
}


