// section contact
.section-contact {
	overflow: hidden;
	position: relative;
	min-height: 32rem;
	padding-top: 9.5rem;
	padding-bottom: 7rem;
	transition: opacity 300ms ease, visibility 300ms ease;

	.contact-wrapper {
		&.hidden {
			opacity: 0;
			visibility: hidden;
		}
	}
	.contact-tnanks-wrapper  {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		z-index: 9;
		top: 50%;
		left: 0;
		width: 100%;
		transform: translateY(-30%);
		transition: opacity 300ms ease, visibility 300ms ease, transform 300ms ease;
		&.d-block {
			opacity: 1;
			visibility: visible;
			transform: translateY(-50%);
		}
		.contact-thanks {
			max-width: 670px;
			margin-left: auto;
			margin-right: auto;
			.thanks-btn {
				margin: 3rem 0;
			}
		}
	}
}
.contact-info-block {
	display: none;
	.contact-title {
		margin: 0;
		text-transform: uppercase;
	}
	.contact-lead {
		margin: 1rem 0;
		line-height: 3.8rem;
	}
}
.form-contact {
	max-width: 670px;
}

// footer
.footer-box {
	overflow: hidden;
	position: relative;
	padding-top: 7.5rem;
	padding-bottom: 6rem;
	background: #fff;
	font-family: $secondary-font;
	font-size: 0.688rem;
	font-weight: 400;
	line-height: 1.25rem;
	text-align: center;
	color: $gray-500;
}

.awwwords {
	margin: 1.5rem 0;
}

.footer-social {
	margin: 2rem 0;
}

.withLove {
	margin: -0.7rem 0 1.5rem !important;
}


.copyright-list {
	@extend .reset-list;
	li {
		position: relative;
		display: inline-block;
		padding: 0 10px;
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			right: 0;
			height: 10px;
			width: 1px;
			background: $gray-500;
			transform: translate(-50%, -50%);
		}
		&:last-child:after {
			display: none;
		}
	}
}

.footer-up {
	position: absolute;
	z-index: 9;
	left: 50%;
	bottom: -50px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: $gray-300;
	font-size: 1.5rem;
	color: #fff;
	text-align: center;
	text-decoration: none;
	line-height: 58px;
	transform: translateX(-50%);
	&:hover,
	&:focus {
		color: darken(#fff, 5%);
	}
}