.header-box {
	// position: relative;
	background: #fff;
	transition: background-color 300ms ease;
	#header-navbar {
		padding: 1.55rem 2rem;
		transition: background-color 300ms ease;
		background-color: transparent;
	}


	.header-brand {
		position: absolute;
		z-index: 9;
		left: 50%;
		opacity: 1;
		visibility: visible;
		width: 68px;
		height: 20px;
		margin: 0;
		padding: 0;
		transform: translateX(-50%);
		.navbar-brand-img {
			width: inherit;
			height: inherit;
			vertical-align: top;
		}
	}


	.header-toggler {
		min-height: 32px;
		padding: 0;
		border: none;
		border-radius: 0;
		background: none;
		font-size: 0.938rem;
		font-weight: 400;
		text-transform: uppercase;
		color: $heading;
		.navbar-toggler-icon {
			width: 2rem;
			height: 2rem;
			background: none;
			font-size: 2rem;
		}

		.navbar-toggler-text {
			font-size: 0.938rem;
			font-weight: 400;
			letter-spacing: 0.094rem;
		}
	}

	.header-back {
		font-size: 1.75rem;
		a {
			color: $heading;
			text-decoration: none;
		}
	}

	&.header-sticky {
		@extend .fixed-top;
		animation:  header-animation 300ms;
		.header-brand {
			opacity: 0;
			visibility: hidden;
		}
	}
	&.fixed-top {
		background: transparent;
		.header-toggler {
			color: #fff;
		}
	}
	&.fixed-top.header-sticky {
		background: #fff;
		.header-toggler {
			color: $heading;
		}
	}
}

.header-box.header-sticky:not(.header-fixed) + .main {
	padding-top: 82px;
}

@keyframes header-animation {
  0%   { 
  	opacity: 0;
  	transform: translateY(-100%); 
  }
  100% { 
  	opacity: 1;
  	transform: translateY(0); 
  }
}


.header-navbar-collpase {
	z-index: 99;
	opacity: 0;
	visibility: hidden;
	position: fixed;
	overflow: visible;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
	background: #fff;
	text-align: center;
	transition: visibility 300ms ease, opacity 300ms ease;
	&.show {
		opacity: 1;
		visibility: visible;
	}

	.header-navbar-collpase-inner {
		position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    overflow: auto;
	    -webkit-overflow-scrolling: touch;
	}

	.header-navbar-header {
		width: 100%;
		padding: 1.55rem 2rem;
		.header-brand {
			opacity: 1 !important;
			visibility: visible !important;
		}
		.header-toggler {
			color: $heading !important;
		}
	}


	.header-nav {
		@extend .reset-list;
		flex: 0 0 auto;
		margin: 7.9rem 0 3rem;
		font-size: 1.063rem;
		font-weight: 400;
		text-transform: uppercase;
		.nav-item {
			.nav-link {
				padding: 0.95rem 0;
				color: $gray-500;
				letter-spacing: $default-spacing;
				text-decoration: none;
				&:hover {
					color: $heading;
				}
			}
			&.active {
				.nav-link {
					color: $heading;
				}
			}
		}
	}
}

.header-social.social-list {
	flex: 0 0 auto;
	margin: 4.5rem 0;
    font-size: 1.2rem;
	.social-item {
		padding: 0 1.85rem;
	}
}