// section hero
.section-hero {
	overflow: hidden;
	position: relative;
	display: flex; 
	flex-direction: row;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
	background-position: center;
	background-size: cover;
	background-color: $gray-300;
	.container,
	.container-fluid {
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    min-height: 950px;
	    padding-top: 5rem;
	    padding-bottom: 5rem;
	}

	.hero-title,
	.hero-description,
	.hero-btn {
		position: relative;
		z-index: 8;
		color: #fff;
	}

	.hero-title {
		margin: 2rem 0;
	}
	.hero-description {
		@extend .h4;
		margin: 1rem 0;
		line-height: 1.875rem;
	}
	.hero-btn {
		margin: 0.5rem 0;
		font-size: 1.5rem;
	}

	.hero-scroll-link {
		position: absolute;
		z-index: 9;
		left: 50%;
		bottom: -50px;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		background: rgba($gray-800, .05);
		transform: translateX(-50%);
		font-size: 1.5rem;
		color: #fff;
		text-align: center;
		line-height: 58px;
	}


	.hero-video-wrapper {
		position: absolute;
	    left: 0;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    z-index: 1;
	    background-size: cover;
	    background-position: center;
	    video {
	    	min-width: 100%;
		    min-height: 100%;
		    -o-object-fit: cover;
		    object-fit: cover;
		    position: relative;
		    z-index: 5;
		    left: 50%;
		    transform: translateX(-50%);
	    }
	}
}

// section feature
.section-feature {
	padding-top: 5px;
	padding-bottom: 5px;
}
.feature-grids{

	.feature-col {
		display: flex;
		.feature-item {
			display: flex;
			width: 100%;
			border: 3px solid transparent;
		}
	}


	.feature-aside {
		display: flex;
		flex-direction: column;
		.feature-item {
			flex: 1 1 auto;
		}
	}


	.project-card.project-higlight {
		padding-top: 4rem;
		padding-bottom: 2rem;
		.project-inner {
			.project-content {
				padding-left: 3rem;
			}
		}

		.project-btn {
			margin: 1.3rem 0;
		}
	}
}

// sectino services
.section-serivices {}
.services-grid {
	margin-bottom: -25px;
}
.service-card {
	max-width: 470px;
	margin: 0 0 25px;
	.service-header {
		display: flex;
		padding: 0.5rem 0 0.75rem;
		.service-brand {
			flex: 0 0 60px;
			padding: 5px 0;
			font-size: 2.35rem;
		}
		.service-title {
			margin: 0;
		}
	}

	.service-body {
		padding: 5px 0;
		font-weight: 300;
		word-spacing: $default-word-spacing;
	}
	.service-footer {
		padding: 15px 0;
	}
}


// section projects
.section-projects {}
.projects-grid {
	margin-left: -3px;
	margin-right: -3px;
	.project-item {
		border: 3px solid transparent;
	}
}


// section hihlights articles
.section-highlights-articles {
	padding-top: 0;
	.section-header {
		margin-top: -1.5rem;
	}
}
.highlights-articles-grid  {
	.highlight-article-col {
		display: flex;
		.highlight-article-item {
			display: flex;
			width: 100%;
			border: 3px solid transparent;
		}
	}
	.highlight-article-aside {
		display: flex;
		flex-direction: column;
		.highlight-article-item {
			flex: 1 1 auto;
		}
	}
}



// .block {
// 	@include image-2x("logo2x.png", contain);

// }

