.post {
	padding: 9.2rem 0 5.325rem;
	border-bottom: 1px solid $gray-300;
	
	h3 {
		margin: 75px 0 40px;
	}

	h4 {
		margin: 0 0 38px;
		line-height: 2.188rem;
	}

	h5 {
		margin: 0 0 27px;
	}

	h6 {
		margin: 0 0 27px;
	}

	p {
		margin: 0 0 30px;
		span {
			color: $heading;
		}
		a {
			color: $heading;
			text-decoration: underline;
		}
	}

	p + h4 {
		margin-top: 40px;
	}

	p + h6 {
		margin-top: 90px;
	}

	p + ul {
		margin-top: -30px;
		margin-bottom: 30px;
	}


	.post-title {
		margin: 0 0 90px;
	}

	.btn-contact {
		margin-top: 100px;
	}
	.figure-promo + .btn-contact {
		margin-top: 0;
		margin-bottom: 37px;
	}

	.related-links {
		@extend .reset-list;
		margin: 1rem 0;
		li {
			padding: 0.63rem 0;
		}
	}
	h3 + .related-links {
		margin: -1rem 0 2rem;
	}
}