.container {
	@include media-breakpoint-up(sm) {
		max-width: calc(100% - 30px);
	}
	@media (min-width: 1440px) {
		max-width: 1410px;
	}
}


.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.content {
  	flex: 1 0 auto;
}
.footer {
  	flex: 0 0 auto;
}

.offcanvas-open {
	overflow: hidden;
	height: 100%;
	.wrapper {
		overflow: hidden;
	}
}


.section-header {
	margin-bottom: 5.5rem;
	text-align: center;
	.section-title {
		@extend .h1;
		margin: -0.7rem 0 0.5rem;
	}
	.section-description {
		margin: 0.5rem 0;
	}
}

.section-jumbotron {
	padding-top: 0;
	padding-bottom: 0;
}
.jumbotron {
	padding: 0;
	color: #fff;
	.jumbotron-content {
		padding-top: 8rem;
		padding-bottom: 5rem;
	}
	.jumbotron-title,
	.jumbotron-category,
	.jumbotron-description,
	.jumbotron-link {
		color: inherit;
	}

	.jumbotron-title {
		margin: 0 0 2.5rem;
		.jumbotron-icon {
			margin: 0 1.5rem 0 0;
			font-size: 3rem;
			vertical-align: baseline;
		}

	}
	.jumbotron-category {
		margin: 0.25rem 0 0.5rem;
		font-size: 0.938rem;
		font-weight: 400;
		letter-spacing: 0.094rem;
		text-transform: uppercase;
	}
	.jumbotron-description {
		margin: 1rem 0 2rem;
	}
	.jumbotron-link {
		margin: 1rem 0 2.5rem;
	}

	.jumbotron-picture {
		text-align: center;
	}
}


.project-card {
	overflow: hidden;
	position: relative;
	z-index: 1;
	display: flex;
	width: 100%;
	padding-top: 25px;
	padding-bottom: 25px;
	.project-overlay {
		position: absolute;
		z-index: 0;
		top: -15px;
		left: -15px;
		right: -15px;
		bottom: -15px;
		filter: $default-blur;
		background-position: center;
		background-size: cover;
	}

	.project-inner {
		display: flex;
		width: calc(100% + 30px);
		.project-picture {}
		.project-content {
			padding: 0 0 0 2rem;
		}
	}

	.project-title,
	.project-category,
	.project-btn {
		position: relative;
		z-index: 9;
		color: #fff;
	}
	.project-title {
		margin: 1rem 0 2.5rem;
	}
	.project-category {
		font-family: $base-font;
		font-weight: 300;
		text-transform: uppercase;
		letter-spacing: 0.094rem;
	}
	.project-btn {
		position: absolute;
		bottom: 0.5rem;
		margin: 0;
	}


	.project-picture {
		padding-left: 0;
		padding-right: 0;
		text-align: center;
	}

	&.project-higlight {
		min-height: 540px;
		padding-top: 6rem;
		padding-bottom: 6rem;
		.project-inner {
			.project-content {
				padding: 0;
			}
		}
		.project-title {
			margin: 0.5rem 0;
		}
		.project-category {
			margin: 0.5rem 0;
		}
		.project-btn {
			position: relative;
			left: 0;
			bottom: 0;
			margin: 2rem 0;
		}
	}
}

.articles-grid {
	margin-left: -3px;
	margin-right: -3px;
	.article-item {
		display: flex;
		border: 3px solid transparent;
	}
}

.article-card {
	overflow: hidden;
	position: relative;
	display: flex;
	width: 100%;
	min-height: 265px;
	background: $gray-200;
	.article-picture {
		overflow: hidden;
		position: relative;
		background-position: center;
		background-size: cover;
		.article-picture-overlay {
			position: absolute;
			top: -5px;
			left: -5px;
			right: -5px;
			bottom: -5px;
			background-position: center;
			background-size: cover;
			filter: $default-blur;
		}
		img {
			position: absolute;
			z-index: 1;
			top: 50%;
			left: 50%;
			max-width: 90%;
			transform: translate(-50%, -50%);
		}
	}

	.article-content {
		// padding: 1.5rem 0.5rem 1.5rem 2rem;
		padding: 1.5rem 2rem;
	}
	.article-title {
		margin: 1rem 0 2.5rem;
	}
	.article-category {
		margin: 0.5rem 0;
		font-family: $base-font;
		font-weight: 300;
		color: $gray-500;
		letter-spacing: $default-spacing;
	}
	.article-btn  {
		position: absolute;
		bottom: 1.75rem;
	}

	&[class*='bg'] {
		.article-title,
		.article-category,
		.article-btn {
			color: #fff;
		}
	}

	&.article-higlight {
		.article-content {
			padding: 2.5rem 3rem;
			.article-title {
				margin: 0.5rem 0 2rem;
			}
		}

		.article-btn {
			bottom: 3rem;
		}
	}

	&.article-card-project {
		.article-picture {
			filler: $default-blur;
		}
	}
}
.article-data {
	@extend .reset-list;
	margin: 1.5rem 0;
	font-size: 0.75rem;
	font-weight: 400;
	letter-spacing: 0.075rem;
	text-transform: uppercase;
	color: $gray-500;
	li {
		position: relative;
		display: inline-block;
		padding: 0 1rem;
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			right: 0;
			height: 10px;
			width: 1px;
			transform: translateY(-50%);
			background: $gray-500;
		}

		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
			&:after {
				display: none;
			}
		}
	}
}
.article-author {
	img {
		display: inline-block;
		margin: 0 1rem 0 0;
		width: 40px;
		height: 40px;
		border-radius: 50%;
	}
}

.social-list {
	@extend .reset-list;
	font-size: 1.35rem;
	.social-item {
		display: inline-block;
		padding: 0 10px;
		.social-link {
			color: $gray-500;
		}
	}
}





