$base-font: 'Work Sans', sans-serif;
$secondary-font: Arial, "Helvetica Neue", Helvetica, sans-serif;
$base-heading: 'Playfair Display', serif;

$default-blur: blur(30px);
$default-spacing: 0.1em;
$default-word-spacing: 0;

$mobile-padding: 3.125rem;


// colors
$default: #95989a;
$heading: #323a45;

$success: #acd1a6;
$warning: #fcb033;
$info:  #a9d5ee;;
$primary: #007bb6;
$pink: #f3c6b5;
$cyan: #9ad1d4;
$purple: #d0c4ef;
$beige: #f7f6f4;


$gray-800: #323a45;
$gray-500: #a9afb7;
$gray-300: #eeeeee;
$gray-200: #f9f9fb;


// brand
$facebook: #3B5998;
$twitter: #00ACED;
$linkedin: #007BB6;
$instagram: #517FA4;