.portfolio-slide-card {
	position: relative;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.portfolio-slide-card .portfolio-slide-thumbnail {
	position: relative;
}


.portfolio-slide-card .portfolio-slide-description {
	max-width: 265px;
	margin: 20px auto 10px;
	font-size: 16px;
	letter-spacing: 0.4px;
}