.service-card {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	width: 100%;
	padding: 20px 20px 25px;
	font-size: 14px;
	letter-spacing: 0.4px;
	line-height: 1.5;
	color: rgba(252, 250, 250, .3);
	text-decoration: none;
}

.service-card:hover {
	background-color: #262626;
	color: rgba(252, 250, 250, .3);
	text-decoration: none;
}

.service-card .service-title {
	margin: 0 0 10px;
	font-family: 'Oswald';
	font-weight: 900;
	font-size: 22px;
	color: #fcfafa;
	line-height: 1.66;
	letter-spacing: 1.1px;
	text-transform: uppercase;
}

.service-card .service-description {
	flex: 1;
	margin: 0 0 20px;
}

.service-card .service-price {
	margin: 0 0 10px;
	font-family: 'Lato';
	font-size: 20px;
	font-weight: 900;
	color: #f26680;
	letter-spacing: 1px;
}

.service-card .service-price .icon-rouble {
	display: inline-block;
	margin-left: -5px;
	font-weight: inherit;
}


.service-card.service-card-sm .service-title {
	font-size: 20px;
	letter-spacing: 1px;
}


@media (min-width: 768px) {
	.service-card {
		font-size: 16px;
	}

	.service-card .service-price {
		font-size: 26px;
	}
}

@media (min-width: 1200px) {
	.service-card {
		padding: 60px 40px 65px;
	}

	.service-card .service-description {
		margin: 0 0 45px;
	}


	.service-card.service-card-sm {
		padding: 50px 30px;
	}

	.service-card.service-card-sm .service-price {
		margin: 0 0 20px;
		font-size: 32px;
	}
}

@media (min-width: 1366px) {
	.service-card .btn {
		padding-left: 60px;
		padding-right: 60px;
	}
}