.cooperation-card {
	font-size: 16px;
	color: rgba(39, 38, 38, .75);
	line-height: 1.5;
	letter-spacing: 0.4px;
}

.cooperation-card .cooperation-title {
	margin: 0 0 10px;
	font-family: 'Oswald';
	font-size: 18px;
	font-weight: 900;
	color: #272626;
	text-transform: uppercase;
	letter-spacing: 0.9px;
}