.portrait-card {
	width: 370px;
	padding: 40px 35px;
	border: 1px solid #d1d1d1;
	background-color: #fff;
	font-size: 15px;
	color: rgba(39, 38, 38, .75);
	line-height: 1.5;
	letter-spacing: 0.4px;
}

.portrait-card .portrait-media {
	overflow: hidden;
	width: 90px;
	height: 90px;
	margin-right: 15px;
	border-radius: 50%;
	box-shadow: 4px 4px 18px 3px rgba(127, 127, 127, 0.44);
}

.portrait-card .portrait-name {
	margin: 10px 0;
	font-size: inherit;
	color: #272626;
	font-weight: 900;
	text-transform: uppercase;
}

.portrait-card .portrait-description {
	margin-top: 15px;
	margin-bottom: 15px;
}

.portrait-card .portrait-info {
	color: #272626;
}


.portrait-card.highlighted {
	position: relative;
	z-index: 1;
	width: 320px;
	margin-left: -95px;
	margin-right: -95px;
	padding: 20px 20px 25px;
	border: none;
	box-shadow: 6px 6px 39px 4px rgba(88, 88, 88, 0.3);
	font-size: 16px;
}

.portrait-card.highlighted .portrait-media {
	width: 80px;
	height: 80px;
}

.portrait-card.highlighted .portrait-info {
	font-size: 12px;
}

@media (min-width: 576px) {
	.portrait-card.highlighted {
		width: 470px;
		margin-left: -95px;
		margin-right: -95px;
		padding: 30px 35px;
	}

	.portrait-card.highlighted .portrait-media {
		width: 100px;
		height: 100px;
	}

	.portrait-card.highlighted .portrait-info {
		font-size: inherit;
	}
}