.portfolio-card {
	overflow: hidden;
	position: relative;
	display: block;
	width: 100%;
	padding: 20px 20px 25px;
	background-color: #191919;
	transition: transform .3s;
	font-size: 14px;
	color: rgba(252,250,250,.65);
	text-decoration: none;
}

.portfolio-card  .portfolio-image-figure {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	height: 290px;
	margin: 0 -40px 0 0;
}

.portfolio-card  .portfolio-image-figure img {
	height: inherit;
	max-width: none;
}


.portfolio-card .portfolio-title {
	position: relative;
	z-index: 1;
	height: 56px;
	margin: 0;
	font-family: 'Oswald';
	font-size: 22px;
	font-weight: 500;
	color: #fcfafa;
	text-transform: uppercase;
}

.portfolio-card .portfolio-title.title-sm {
	margin-top: 3px;
	margin-bottom: 3px;
	font-size: 20px;
	line-height: 1.2;
}

.portfolio-card  .portfolio-label {
	margin: 0;
	white-space: nowrap;
}


.portfolio-card  .portfolio-results {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-right: -10px;
}

.portfolio-card .portfolio-result {
	flex: 0 0 50%;
	max-width: 50%;
	padding-left: 10px;
	padding-right: 10px;
}

.portfolio-card .portfolio-result-title {
	margin: 0;
	font-family: 'Oswald';
	font-size: 24px;
	font-weight: 500;
	color: #fffeff;
}


.portfolio-card.portfolio-danger {
	background-color: #ff3855;
}

.portfolio-card.portfolio-warning {
	background-color: #f78c35;
}

.portfolio-card.portfolio-primary {
	background: linear-gradient(to top, #63add7 0%, #427dbf 100%);
}

.portfolio-card.portfolio-purple {
	background-color: #824ca5;
}

.portfolio-card:hover {
	transform: translateY(-8px);
	color: rgba(252,250,250,.65);
	text-decoration: none;
}


@media (min-width: 1200px) {
	.portfolio-card {
		padding: 45px 40px;
	}

	.portfolio-card .portfolio-title {
		font-size: 34px;
	}

	.portfolio-card  .portfolio-title.title-sm {
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 30px;
	}
}