.news-card {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
	border: 1px solid #959496;
	.news-header {
		position: relative;
		flex: 0;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-image: linear-gradient(to top, #2b2a2d 0%, rgba(43, 42, 45, 0) 100%);
		}

		.news-thumbnail {
			padding-bottom: 76.5%;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}

		.news-info {
			position: absolute;
			z-index: 1;
			left: 25px;
			bottom: 10px;
		}
	}

	.news-title {
		margin: 8px 0;
		color: $warning;
		letter-spacing: 0.6px;
	}

	.news-date {
		margin: 0;
		font-size: 16px;
		color: #fefdfc;
		letter-spacing: 0.78px;
	}


	.news-body {
		flex: 1;
		padding: 20px 20px 10px;
		font-size: 16px;
		line-height: 1.5;	
		letter-spacing: 0.4px;
	}


	.news-footer {
		flex: 0;
		padding: 0 20px 20px;
	}

	.news-action {
		font-family: $heading;
		font-size: 16px;
		font-weight: 700;
		letter-spacing: 0.8px;
		color: $default;
		i {
			display: inline-block;
			vertical-align: middle;
			font-size: 24px;
		}
	}
}


.news-grid {
	margin-bottom: -30px;
	.news-item {
		display: flex;
	}
}